General/Correo Datos Ventas - e80tfOpD4TdBh8EF.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T09:13:23.128Z",
  "folder_calculated": "General",
  "folder_name": "General",
  "id": "e80tfOpD4TdBh8EF",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Correo Datos Ventas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7872b127-b6c8-4d2e-bf88-84bc0e9eea23",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1632,
        -544
      ],
      "id": "5f83faeb-2187-42c6-8d19-747cdcad6d45",
      "name": "Webhook",
      "webhookId": "7872b127-b6c8-4d2e-bf88-84bc0e9eea23"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos el pedido del output del nodo GraphQL\nconst order = items[0].json.data.order;\n\n// Sucursal: si no hay fulfillment, ponemos \"Sin sucursal\"\nconst branch = order.fulfillments && order.fulfillments.length > 0 \n    ? order.fulfillments[0].location.name \n    : \"Sin sucursal\";\n\n// Método de pago: si no hay transacciones, ponemos \"Desconocido\"\nconst paymentMethod = order.transactions && order.transactions.length > 0 \n    ? order.transactions[0].formattedGateway \n    : \"Desconocido\";\n\n// Creamos un array con cada producto como fila\nlet result = [];\n\norder.lineItems.edges.forEach(itemEdge => {\n    const item = itemEdge.node;\n    result.push({\n        \"NOMBRE DE PRODUCTO\": item.title,\n        \"COSTE DE PRODUCTO\": item.originalUnitPriceSet.shopMoney.amount + \" \" + item.originalUnitPriceSet.shopMoney.currencyCode,\n        \"MÉTODO DE PAGO\": paymentMethod,\n        \"SUCURSAL\": branch\n    });\n});\n\n// Devolver en formato que n8n entiende como tabla\nreturn result.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -544
      ],
      "id": "d8735ae5-f6e0-4e09-8270-298b488570db",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gj4W5JT98BZYR-XSb06YS8xBy_MV2sIdZ9wROdbQ3v8",
          "mode": "list",
          "cachedResultName": "Informe Diario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gj4W5JT98BZYR-XSb06YS8xBy_MV2sIdZ9wROdbQ3v8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gj4W5JT98BZYR-XSb06YS8xBy_MV2sIdZ9wROdbQ3v8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE DE PRODUCTO": "={{ $json['NOMBRE DE PRODUCTO'] }}",
            "COSTE DE PRODUCTO": "={{ $json['COSTE DE PRODUCTO'] }}",
            "MÉTODO DE PAGO": "={{ $json['MÉTODO DE PAGO'] }}",
            "SUCURSAL DE VENTA": "={{ $json.SUCURSAL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOMBRE DE PRODUCTO",
              "displayName": "NOMBRE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COSTE DE PRODUCTO",
              "displayName": "COSTE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SUCURSAL DE VENTA",
              "displayName": "SUCURSAL DE VENTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        -544
      ],
      "id": "a3217a6b-00e3-4b93-bb36-3f4276f25339",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2024-07/graphql.json",
        "query": "query getOrder($id: ID!) {\n  order(id: $id) {\n    id\n    name\n    createdAt\n    email\n    totalPriceSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n    lineItems(first: 10) {\n      edges {\n        node {\n          title\n          quantity\n          originalUnitPriceSet {\n            shopMoney {\n              amount\n              currencyCode\n            }\n          }\n        }\n      }\n    }\n    fulfillments {\n      id\n      location {\n        name\n        address {\n          address1\n          city\n          province\n          country\n          zip\n        }\n      }\n    }\n    transactions(first: 5) {\n      formattedGateway\n      kind\n      status\n    }\n    customer {\n      firstName\n      lastName\n      email\n    }\n  }\n}\n\n",
        "variables": "={\n  \"id\": \"gid://shopify/Order/{{ $json.body.id }}\"\n}\n",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -544
      ],
      "id": "8e12a512-d98b-4ffc-b3b5-8b199d655ceb",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T09:13:23.133Z",
      "createdAt": "2025-12-03T09:13:23.133Z",
      "role": "workflow:owner",
      "workflowId": "e80tfOpD4TdBh8EF",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-03T13:11:07.000Z",
  "versionId": "75a97aa4-ca4b-4d89-97ad-49c4f872e5fa"
}