workflows/3EsLWbaigVn4UtgZ.json
{
  "active": true,
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Empleados Vigentes - Bizneo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Empleados Total - Bizneo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empleados Total - Bizneo": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empleados Vigentes - Bizneo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No existe en Shopify": {
      "main": [
        [
          {
            "node": "Crear Clientes en Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coincidencias con Shopify": {
      "main": [
        [
          {
            "node": "No existe en Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Coincidencias con Shopify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coincidencias con Shopify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coincidencias con Shopify1": {
      "main": [
        [
          {
            "node": "Existe en Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe en Shopify": {
      "main": [
        [
          {
            "node": "Quitar etiqueta del Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-29T08:38:38.521Z",
  "id": "3EsLWbaigVn4UtgZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Employed Bizneo->ShopifyAccount",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "body.users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        -400
      ],
      "id": "45a760ba-0331-4121-b335-3b0fe4f25cb8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -400
      ],
      "id": "3ab4b5db-4ca3-4d90-adc3-0a582335e33e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://snowink.bizneohr.com/api/v1/users?page_size=25",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "SFMyNTY.g2gDdAAAAAJ3AmlkbQAAACRhMDZkZGIwNi03NjZjLTQ0ZDMtYTI1YS02MmZiMTUyNWMxZmZ3CmNvbXBhbnlfaWRiAO2ucG4GAF89AKebAWIAAVGA.w1Gue36eFFL5B9iPAWqon1Te_4w1rJr4zAVkhHcrfho"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.pagination.page_number >= $response.body.pagination.total_pages }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -400
      ],
      "id": "5b67e43a-e752-422e-aed1-6d6cdf38b128",
      "name": "Empleados Total - Bizneo",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YqcZgPXbzzYxxmpV",
          "name": "Bizneo Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los usuarios\nconst users = $input.all();\nconst today = new Date();\n\n// Procesamos la lista sin eliminar a nadie\nconst processedUsers = users.map(item => {\n  const contracts = item.json.work_contracts;\n  \n  // Por defecto asumimos que NO está activo\n  let isVigente = false;\n\n  if (contracts && Array.isArray(contracts)) {\n    // Comprobamos si tiene al menos un contrato válido\n    isVigente = contracts.some(c => {\n      // Condición 1: Indefinido (end_at null)\n      if (c.end_at === null) return true;\n      // Condición 2: Fecha futura o presente\n      return new Date(c.end_at) >= today;\n    });\n  }\n\n  // Devolvemos el usuario añadiendo la propiedad 'isVigente'\n  return {\n    json: {\n      ...item.json,\n      isVigente: isVigente // true o false\n    }\n  };\n});\n\nreturn processedUsers;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -400
      ],
      "id": "947357d1-c4f4-4286-9e47-8f84d6ed4ae5",
      "name": "Empleados Vigentes - Bizneo"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los resultados de la búsqueda de Shopify\nconst items = $input.all();\n\n// ⚠️ IMPORTANTE: Pon aquí el nombre EXACTO del nodo anterior (el filtro de vigentes)\n// Si no lo has renombrado, suele ser \"Code\" o \"Code1\". Míralo en tu lienzo.\nconst previousNodeName = \"Empleados Vigentes - Bizneo\"; \n\n// Traemos los datos originales de ese nodo para tener los nombres a mano\nconst originalItems = $(previousNodeName).all();\n\nconst missingEmployees = items.map((item, index) => {\n  const edges = item.json.data?.customers?.edges;\n\n  // Si 'edges' está vacío, significa que NO se encontró el cliente\n  if (!edges || edges.length === 0) {\n    \n    // RECUPERACIÓN DE DATOS:\n    // Usamos el índice para encontrar a la persona correcta en la lista original\n    let originalData;\n    \n    // Intentamos usar pairedItem (forma moderna)\n    if (item.pairedItem && item.pairedItem.length > 0) {\n        const originalIndex = item.pairedItem[0].item;\n        originalData = originalItems[originalIndex].json;\n    } else {\n        // Plan B: Usamos el índice directo (funciona si el flujo es lineal)\n        originalData = originalItems[index].json;\n    }\n\n    return {\n      json: {\n        status: \"NO EXISTE EN SHOPIFY\",\n        first_name: originalData.first_name,\n        last_name: originalData.last_name,\n        email: originalData.email\n      }\n    };\n  }\n  \n  return null; // Si se encontró (edges tiene datos), lo ignoramos aquí\n}).filter(item => item !== null); // Limpiamos los nulos\n\nreturn missingEmployees;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -480
      ],
      "id": "8f53ad8d-7ce6-4b8a-832a-f09fe97020f0",
      "name": "No existe en Shopify"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query ($searchTerm: String!) {\n  customers(first: 10, query: $searchTerm) {\n    edges {\n      node {\n        id\n        email\n        tags\n        state\n      }\n    }\n  }\n}",
        "variables": "={\n  \"searchTerm\": \"email:{{ $json.email }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        480,
        -480
      ],
      "id": "0659e536-41ba-46af-af4a-aeb02daf5c45",
      "name": "Coincidencias con Shopify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "Rules"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "mutation customerCreate($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      email\n      firstName\n      lastName\n      tags\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $json.first_name }}\",\n    \"lastName\": \"{{ $json.last_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"tags\": [\"Empleado\"]\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        1136,
        -480
      ],
      "id": "7b714ecd-9205-46f7-8248-63d2653a9b3c",
      "name": "Crear Clientes en Shopify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "Rules"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49060fd7-75f1-49d7-a819-efbde25f8788",
              "leftValue": "={{ $json.isVigente }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        -400
      ],
      "id": "6264d3d7-e93d-4f1d-9618-01bd44c95d7f",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query ($searchTerm: String!) {\n  customers(first: 10, query: $searchTerm) {\n    edges {\n      node {\n        id\n        email\n        tags\n        state\n      }\n    }\n  }\n}",
        "variables": "={\n  \"searchTerm\": \"email:{{ $json.email }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        480,
        -320
      ],
      "id": "47b0c96f-b024-4405-b77f-8a85fdc2a10b",
      "name": "Coincidencias con Shopify1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "Rules"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los resultados de la búsqueda de Shopify\nconst items = $input.all();\n\n// ⚠️ IMPORTANTE: Pon aquí el nombre EXACTO del nodo donde tenías la lista original de empleados.\n// Si estás en la rama de \"Bajas\" (False), asegúrate de que este nombre apunte al nodo correcto \n// (probablemente el nodo \"Code\" clasificador o el \"If\").\nconst previousNodeName = \"Empleados Vigentes - Bizneo\"; \n\n// Traemos los datos originales de ese nodo para tener los nombres a mano\nconst originalItems = $(previousNodeName).all();\n\nconst foundEmployees = items.map((item, index) => {\n  const edges = item.json.data?.customers?.edges;\n\n  // CAMBIO CLAVE: Verificamos si 'edges' TIENE datos (length > 0)\n  // Esto significa que el cliente YA EXISTE en Shopify\n  if (edges && edges.length > 0) {\n    \n    // Obtenemos el ID de Shopify (necesario para editar/borrar tags después)\n    const shopifyCustomer = edges[0].node;\n\n    // RECUPERACIÓN DE DATOS ORIGINALES (BIZNEO):\n    // Usamos la misma lógica robusta para encontrar el dato original\n    let originalData;\n    \n    if (item.pairedItem && item.pairedItem.length > 0) {\n        const originalIndex = item.pairedItem[0].item;\n        originalData = originalItems[originalIndex].json;\n    } else {\n        originalData = originalItems[index].json;\n    }\n\n    return {\n      json: {\n        status: \"ENCONTRADO EN SHOPIFY\",\n        shopify_id: shopifyCustomer.id,   // <--- ESTO ES LO IMPORTANTE PARA EL SIGUIENTE NODO\n        shopify_email: shopifyCustomer.email,\n        current_tags: shopifyCustomer.tags, // Útil para ver qué etiquetas tiene ahora\n        // Datos originales de Bizneo (por si los necesitas para logs)\n        bizneo_first_name: originalData.first_name,\n        bizneo_last_name: originalData.last_name\n      }\n    };\n  }\n  \n  return null; // Si NO se encontró (edges vacío), lo ignoramos aquí\n}).filter(item => item !== null); // Limpiamos los nulos y nos quedamos solo con los encontrados\n\nreturn foundEmployees;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -320
      ],
      "id": "57315a37-61f5-45f4-a00b-3b421f1c9949",
      "name": "Existe en Shopify"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "mutation removeEmployeeTag($id: ID!, $tags: [String!]!) {\n  tagsRemove(id: $id, tags: $tags) {\n    node {\n      id\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"id\": \"{{ $json.shopify_id }}\",\n  \"tags\": [\"Empleado\"]\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        1136,
        -320
      ],
      "id": "be5c8642-9b62-4589-9d97-673f7bc77f50",
      "name": "Quitar etiqueta del Cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "Rules"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-29T08:38:38.527Z",
      "createdAt": "2025-11-29T08:38:38.527Z",
      "role": "workflow:owner",
      "workflowId": "3EsLWbaigVn4UtgZ",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-12T09:20:12.000Z",
  "versionId": "6b743954-f0db-44bd-838b-3dfaf77584e3"
}