workflows/4HBBHGfAtdrOJKbPb09St.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-16T09:23:23.000Z",
    "createdAt": "2026-03-16T09:23:20.965Z",
    "versionId": "dedbb337-c38b-4c0d-8e88-d653bf2f921b",
    "workflowId": "4HBBHGfAtdrOJKbPb09St",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "asignar-etiquetas",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1152,
          -1008
        ],
        "id": "9d5e1b50-6243-47bd-9abb-6ecc0e466774",
        "name": "Webhook",
        "webhookId": "94a058d3-1765-48d2-ab0c-68823e15508a"
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos el contenido de las dos columnas del Excel\nlet colecciones = $json[\"Aparece en las Colecciones\"] || \"\";\nlet generales = $json[\"Aparece en las Colecciones Generales\"] || \"\";\n\n// 2. Combinamos ambos textos en uno solo separado por el símbolo |\nlet textoCompleto = colecciones + \" | \" + generales;\n\n// 3. Dividimos el texto en etiquetas individuales usando el separador |\nlet listaCruda = textoCompleto.split('|');\n\n// 4. Aplicamos las reglas de limpieza:\nlet etiquetasLimpias = listaCruda.map(tag => {\n  return tag\n    .replace(/\\b(Hombre|Mujer|Niño|Niña|Niños|Niñas)\\b/gi, '') // 1. Quita Hombre, Mujer, etc.\n    .trim()                                                    // 2. Borra espacios al principio y final\n    .toLowerCase();                                            // 3. Todo a minúsculas\n});\n\n// 5. Eliminamos duplicados (ej: si \"Bolsos\" aparecía en ambas columnas) y etiquetas vacías\nlet resultadoFinal = [...new Set(etiquetasLimpias)].filter(t => t !== \"\");\n\n// 6. Enviamos el resultado al siguiente nodo incluyendo el ID del producto de Shopify\nreturn {\n  tagsToApply: resultadoFinal,\n  productId: $node[\"Webhook\"].json.body.admin_graphql_api_id\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          -1008
        ],
        "id": "ebf65859-297e-49b1-819d-7c74021890e7",
        "name": "Procesar Etiquetas"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "query": "mutation tagsAdd($id: ID!, $tags: [String!]!) {\n  tagsAdd(id: $id, tags: $tags) {\n    node {\n      id\n    }\n    userErrors {\n      message\n    }\n  }\n}",
          "variables": "={\n  \"id\": \"{{ $json.productId }}\",\n  \"tags\": {{ JSON.stringify($json.tagsToApply || []) }}\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          -288,
          -1008
        ],
        "id": "72482c9d-a19a-42d6-af91-24a3c30ab0a0",
        "name": "GraphQL1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1K-Yh9Vge0Nxd11Je2xTyu7DNmrG4IQG7Pi1zGKJN6a4",
            "mode": "list",
            "cachedResultName": "COLECCIONES NUEVAS PARA NUANCE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K-Yh9Vge0Nxd11Je2xTyu7DNmrG4IQG7Pi1zGKJN6a4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1912077756,
            "mode": "list",
            "cachedResultName": "COLECCIONES DE CADA TIPO DE PRODUCTO",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K-Yh9Vge0Nxd11Je2xTyu7DNmrG4IQG7Pi1zGKJN6a4/edit#gid=1912077756"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Tipo de Producto",
                "lookupValue": "={{ $json.body.product_type }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -736,
          -1008
        ],
        "id": "b1a1e168-acad-408b-b7ac-21bfc46adeb2",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets info@tailwind.es"
          }
        }
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "query": "query obtenerMetafieldSexo($productId: ID!) {\n  product(id: $productId) {\n    id\n    title\n    metafield(namespace: \"custom\", key: \"sexo\") {\n      value\n      references(first: 10) {\n        nodes {\n          ... on Metaobject {\n            id\n            handle\n            field(key: \"nombre\") {\n              value\n            }\n          }\n        }\n      }\n    }\n  }\n}",
          "variables": "={\n  \"productId\": \"gid://shopify/Product/{{ $json.body.id }}\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          -944,
          -800
        ],
        "id": "30ebb9e9-173e-417d-9ee2-27141165b453",
        "name": "GraphQL",
        "credentials": {
          "httpHeaderAuth": {
            "id": "THkhgrtze1uBo6Ft",
            "name": "Token Informes Shopify"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "257a1733-6205-4c3c-ad08-832a0c33d2e5",
                "leftValue": "={{ $json.data.product.metafield.value }}",
                "rightValue": "=[\"gid://shopify/Metaobject/266829693275\",\"gid://shopify/Metaobject/266829726043\"]",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "49f5f782-d20e-4837-83f1-d1e30d5918cd",
                "leftValue": "={{ $json.data.product.metafield.value }}",
                "rightValue": "[\"gid://shopify/Metaobject/266829726043\",\"gid://shopify/Metaobject/266829693275\"]",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -736,
          -800
        ],
        "id": "5dc82f9e-1641-46a4-a5dd-950e9e30b39e",
        "name": "If"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "query": "mutation addInfantilTag($id: ID!, $tags: [String!]!) {\n  tagsAdd(id: $id, tags: $tags) {\n    userErrors {\n      field\n      message\n    }\n    node {\n      id\n    }\n  }\n}",
          "variables": "={\n  \"id\": \"{{ $json.data.product.id }}\",\n  \"tags\": [\"infantil\"]\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          -512,
          -816
        ],
        "id": "2746be40-c3f1-4f2a-807f-fb33c2a53f8c",
        "name": "GraphQL2",
        "credentials": {
          "httpHeaderAuth": {
            "id": "THkhgrtze1uBo6Ft",
            "name": "Token Informes Shopify"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "GraphQL",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Procesar Etiquetas": {
        "main": [
          [
            {
              "node": "GraphQL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Procesar Etiquetas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GraphQL": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "GraphQL2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version dedbb337",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "dedbb337-c38b-4c0d-8e88-d653bf2f921b",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Etiquetas": {
      "main": [
        [
          {
            "node": "GraphQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Procesar Etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GraphQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-09T09:58:40.330Z",
  "id": "4HBBHGfAtdrOJKbPb09St",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "asignar_etiquetas_productos_para_colecciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asignar-etiquetas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        -1008
      ],
      "id": "9d5e1b50-6243-47bd-9abb-6ecc0e466774",
      "name": "Webhook",
      "webhookId": "94a058d3-1765-48d2-ab0c-68823e15508a"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el contenido de las dos columnas del Excel\nlet colecciones = $json[\"Aparece en las Colecciones\"] || \"\";\nlet generales = $json[\"Aparece en las Colecciones Generales\"] || \"\";\n\n// 2. Combinamos ambos textos en uno solo separado por el símbolo |\nlet textoCompleto = colecciones + \" | \" + generales;\n\n// 3. Dividimos el texto en etiquetas individuales usando el separador |\nlet listaCruda = textoCompleto.split('|');\n\n// 4. Aplicamos las reglas de limpieza:\nlet etiquetasLimpias = listaCruda.map(tag => {\n  return tag\n    .replace(/\\b(Hombre|Mujer|Niño|Niña|Niños|Niñas)\\b/gi, '') // 1. Quita Hombre, Mujer, etc.\n    .trim()                                                    // 2. Borra espacios al principio y final\n    .toLowerCase();                                            // 3. Todo a minúsculas\n});\n\n// 5. Eliminamos duplicados (ej: si \"Bolsos\" aparecía en ambas columnas) y etiquetas vacías\nlet resultadoFinal = [...new Set(etiquetasLimpias)].filter(t => t !== \"\");\n\n// 6. Enviamos el resultado al siguiente nodo incluyendo el ID del producto de Shopify\nreturn {\n  tagsToApply: resultadoFinal,\n  productId: $node[\"Webhook\"].json.body.admin_graphql_api_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -1008
      ],
      "id": "ebf65859-297e-49b1-819d-7c74021890e7",
      "name": "Procesar Etiquetas"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "query": "mutation tagsAdd($id: ID!, $tags: [String!]!) {\n  tagsAdd(id: $id, tags: $tags) {\n    node {\n      id\n    }\n    userErrors {\n      message\n    }\n  }\n}",
        "variables": "={\n  \"id\": \"{{ $json.productId }}\",\n  \"tags\": {{ JSON.stringify($json.tagsToApply || []) }}\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -288,
        -1008
      ],
      "id": "72482c9d-a19a-42d6-af91-24a3c30ab0a0",
      "name": "GraphQL1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1K-Yh9Vge0Nxd11Je2xTyu7DNmrG4IQG7Pi1zGKJN6a4",
          "mode": "list",
          "cachedResultName": "COLECCIONES NUEVAS PARA NUANCE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K-Yh9Vge0Nxd11Je2xTyu7DNmrG4IQG7Pi1zGKJN6a4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1912077756,
          "mode": "list",
          "cachedResultName": "COLECCIONES DE CADA TIPO DE PRODUCTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K-Yh9Vge0Nxd11Je2xTyu7DNmrG4IQG7Pi1zGKJN6a4/edit#gid=1912077756"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Tipo de Producto",
              "lookupValue": "={{ $json.body.product_type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        -1008
      ],
      "id": "b1a1e168-acad-408b-b7ac-21bfc46adeb2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets info@tailwind.es"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "query": "query obtenerMetafieldSexo($productId: ID!) {\n  product(id: $productId) {\n    id\n    title\n    metafield(namespace: \"custom\", key: \"sexo\") {\n      value\n      references(first: 10) {\n        nodes {\n          ... on Metaobject {\n            id\n            handle\n            field(key: \"nombre\") {\n              value\n            }\n          }\n        }\n      }\n    }\n  }\n}",
        "variables": "={\n  \"productId\": \"gid://shopify/Product/{{ $json.body.id }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -944,
        -800
      ],
      "id": "30ebb9e9-173e-417d-9ee2-27141165b453",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "THkhgrtze1uBo6Ft",
          "name": "Token Informes Shopify"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "257a1733-6205-4c3c-ad08-832a0c33d2e5",
              "leftValue": "={{ $json.data.product.metafield.value }}",
              "rightValue": "=[\"gid://shopify/Metaobject/266829693275\",\"gid://shopify/Metaobject/266829726043\"]",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "49f5f782-d20e-4837-83f1-d1e30d5918cd",
              "leftValue": "={{ $json.data.product.metafield.value }}",
              "rightValue": "[\"gid://shopify/Metaobject/266829726043\",\"gid://shopify/Metaobject/266829693275\"]",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        -800
      ],
      "id": "5dc82f9e-1641-46a4-a5dd-950e9e30b39e",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "query": "mutation addInfantilTag($id: ID!, $tags: [String!]!) {\n  tagsAdd(id: $id, tags: $tags) {\n    userErrors {\n      field\n      message\n    }\n    node {\n      id\n    }\n  }\n}",
        "variables": "={\n  \"id\": \"{{ $json.data.product.id }}\",\n  \"tags\": [\"infantil\"]\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -512,
        -816
      ],
      "id": "2746be40-c3f1-4f2a-807f-fb33c2a53f8c",
      "name": "GraphQL2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "THkhgrtze1uBo6Ft",
          "name": "Token Informes Shopify"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.tailwind.es",
            "x-forwarded-for": "34.52.148.27",
            "x-forwarded-proto": "https",
            "content-length": "1362",
            "user-agent": "Shopify-Captain-Hook",
            "accept": "*/*",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-shopify-api-version": "2026-01",
            "x-shopify-event-id": "bb09da57-c21b-4658-a5b9-a167db9cdbe5",
            "x-shopify-hmac-sha256": "aCPxCChfgBeJnA/QXXeULW/Z4GbxaXYqbVhqj1ykPhM=",
            "x-shopify-product-id": "10386265342299",
            "x-shopify-shop-domain": "surfin-store-spain.myshopify.com",
            "x-shopify-topic": "products/create",
            "x-shopify-triggered-at": "2026-03-16T09:17:45.737948239Z",
            "x-shopify-webhook-id": "25c3b130-5898-5d27-9cb5-b69e479d83bb"
          },
          "params": {},
          "query": {},
          "body": {
            "admin_graphql_api_id": "gid://shopify/Product/10386265342299",
            "body_html": "",
            "created_at": "2026-03-16T10:17:45+01:00",
            "handle": "adricacas2",
            "id": 10386265342299,
            "product_type": "",
            "published_at": "2026-03-16T10:17:46+01:00",
            "template_suffix": "",
            "title": "ADRICACAS2",
            "updated_at": "2026-03-16T10:17:46+01:00",
            "vendor": "SUMMIT SPORT",
            "status": "active",
            "published_scope": "global",
            "tags": "",
            "variants": [
              {
                "admin_graphql_api_id": "gid://shopify/ProductVariant/52598371483995",
                "barcode": "",
                "compare_at_price": null,
                "created_at": "2026-03-16T10:17:45+01:00",
                "id": 52598371483995,
                "inventory_policy": "deny",
                "position": 1,
                "price": "0.00",
                "product_id": 10386265342299,
                "sku": null,
                "taxable": true,
                "title": "Default Title",
                "updated_at": "2026-03-16T10:17:45+01:00",
                "option1": "Default Title",
                "option2": null,
                "option3": null,
                "image_id": null,
                "inventory_item_id": 54641986535771,
                "inventory_quantity": 0,
                "old_inventory_quantity": 0
              }
            ],
            "options": [
              {
                "name": "Title",
                "id": 13211571781979,
                "product_id": 10386265342299,
                "position": 1,
                "values": [
                  "Default Title"
                ]
              }
            ],
            "images": [],
            "image": null,
            "media": [],
            "variant_gids": [
              {
                "admin_graphql_api_id": "gid://shopify/ProductVariant/52598371483995",
                "updated_at": "2026-03-16T09:17:45.000Z"
              }
            ],
            "has_variants_that_requires_components": false,
            "category": {
              "admin_graphql_api_id": "gid://shopify/TaxonomyCategory/na",
              "name": "Uncategorized",
              "full_name": "Uncategorized"
            }
          },
          "webhookUrl": "https://n8n.tailwind.es/webhook/asignar-etiquetas",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "e80tfOpD4TdBh8EF"
  },
  "shared": [
    {
      "updatedAt": "2026-03-09T09:58:40.335Z",
      "createdAt": "2026-03-09T09:58:40.335Z",
      "role": "workflow:owner",
      "workflowId": "4HBBHGfAtdrOJKbPb09St",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-16T09:23:20.964Z",
  "versionId": "dedbb337-c38b-4c0d-8e88-d653bf2f921b"
}