workflows/584ehV8qDkwoHzoLSDP1n.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-03T13:37:12.000Z",
    "createdAt": "2026-02-03T13:37:11.443Z",
    "versionId": "204d611a-24d9-4692-a652-28439c78bb44",
    "workflowId": "584ehV8qDkwoHzoLSDP1n",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months",
                "triggerAtHour": 5
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -1104,
          32
        ],
        "id": "4c23fe05-5690-420a-8ad4-66ef9230ed65",
        "name": "Inicio de Mes (Día 1)"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1tsvxi9_RbsJ9PZzj89QC4KmPOSeOUlI2FnsqcM4vmoY",
            "mode": "id"
          },
          "name": "=PRUEBAPRUEBAPRUEBAPRUEBA COMPLETO - {{ $json.NOMBRE_MES }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -768,
          32
        ],
        "id": "0b17272d-1aa2-4c3f-8811-2d74745ef031",
        "name": "Crear Informe Maestro",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "N7JXWgOiVoyCTaVL",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "8GDVj673ag0hCrVt",
            "mode": "list",
            "cachedResultName": "Informe Mensual"
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -416,
          -208
        ],
        "id": "966d2a0c-85d6-4139-a9f7-7b3cdf1cc36c",
        "name": "Obtener Informes Diarios"
      },
      {
        "parameters": {
          "jsCode": "// Lógica de limpieza original + Agrupación de Top Productos\nconst inputItems = items;\nconst uniqueStrings = new Set();\nconst uniqueItems = [];\nconst productCounts = {};\n\n// 1. Limpieza de duplicados\nfor (const item of inputItems) {\n    const itemString = JSON.stringify(item.json);\n    if (!uniqueStrings.has(itemString)) {\n        uniqueStrings.add(itemString);\n        uniqueItems.push(item);\n        \n        // 2. Contar para Ranking\n        const prodName = item.json['NOMBRE DE PRODUCTO'];\n        if(prodName && prodName !== 'SEPARADOR') {\n             if(!productCounts[prodName]) productCounts[prodName] = 0;\n             productCounts[prodName]++;\n        }\n    }\n}\n\nreturn uniqueItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          -208
        ],
        "id": "82dd14a4-55b7-4056-bc0b-58fae0131f59",
        "name": "Limpiar y Analizar Productos"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "url_shopify",
                "name": "url_proxima",
                "value": "=https://rulesshop.myshopify.com/admin/api/2025-01/orders.json?limit=250&status=any&created_at_min={{ $('Configurar Fechas').item.json.FECHA_INICIO }}&created_at_max={{ $('Configurar Fechas').item.json.FECHA_FIN }}&fields=id,name,total_price,user_id",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -416,
          272
        ],
        "id": "baac2c47-e3e0-4413-a657-02e685aeea0f",
        "name": "Prep Shopify"
      },
      {
        "parameters": {
          "url": "={{ $json.url_proxima }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -240,
          272
        ],
        "id": "02d692ea-c717-4ecf-ab9a-d95d81b2eb37",
        "name": "Shopify API",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond_link",
                "leftValue": "={{ $('Shopify API').item.json.headers.link }}",
                "rightValue": "next",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          80,
          272
        ],
        "id": "3fed2932-cb89-43c4-86f1-8df62a10ec7c",
        "name": "Hay más páginas?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "next_url",
                "name": "url_proxima",
                "value": "={{ $json.headers.link.match(/<([^>]+)>;\\s*rel=\"next\"/)[1] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          256
        ],
        "id": "74a1ce84-d763-4d42-96a6-b66b3a056bbe",
        "name": "Set Next Page"
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst listaAcumulada = staticData.listaTemporal || [];\nconst nuevosPedidos = $('Shopify API').item.json.body.orders || [];\nconst listaCompleta = listaAcumulada.concat(nuevosPedidos);\nstaticData.listaTemporal = [];\nreturn listaCompleta.map(p => ({ json: p }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          464
        ],
        "id": "76818f9e-1abd-4a3f-89be-6bcfe16956ff",
        "name": "Unir Todos los Pedidos"
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.listaTemporal) staticData.listaTemporal = [];\n\n// 1. Capturamos los datos de entrada (incluidos los encabezados/headers)\n// Usamos items[0] porque en n8n v1+ items es el array de entrada\nconst inputData = items[0].json;\nconst pedidos = inputData.body.orders;\n\n// 2. Guardamos los pedidos en la mochila\nstaticData.listaTemporal.push(...pedidos);\n\n// 3. ¡IMPORTANTE! Devolvemos los 'headers' hacia afuera.\n// Así el siguiente nodo podrá leer el link de la página siguiente.\nreturn {\n  json: {\n    status: 'accumulating',\n    headers: inputData.headers\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -80,
          272
        ],
        "id": "c388a069-3ddc-418e-a9d0-8903192a2fb1",
        "name": "Acumular en Memoria"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Crear Informe Maestro').first().json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Bonos Empleados",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.numero_fila }}",
              "BONOS INDIVIDUALES": "={{ $json[\"Nombre Empleado\"] }}",
              "TOTAL VENDIDO": "={{ $json[\"Total Vendido\"] }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "BONOS INDIVIDUALES",
                "displayName": "BONOS INDIVIDUALES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TOTAL VENDIDO",
                "displayName": "TOTAL VENDIDO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "BONO 90€",
                "displayName": "BONO 90€",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "BONO 120€",
                "displayName": "BONO 120€",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "BONO 150€",
                "displayName": "BONO 150€",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "BONO 200€",
                "displayName": "BONO 200€",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          768,
          480
        ],
        "id": "f894e18e-33b5-4bc9-9b5a-58b0663b6a26",
        "name": "Escribir Empleados",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "RUTA 1: VENTAS\nEl ID del archivo viene del nodo principal, así que ahora podemos escribir directamente.",
          "height": 140,
          "width": 304,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -416,
          -352
        ],
        "id": "0e2c598a-0376-4192-9f43-55beb6d61e0a",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "RUTA 2: BONOS\nShopify procesa todo y al final escribe en el archivo creado al principio.",
          "height": 140,
          "width": 304,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -448,
          64
        ],
        "id": "2597c927-aa51-4003-a949-419b2158cda7",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          0,
          -208
        ],
        "id": "2d5428b2-70e7-4119-8684-7fbcf096a603",
        "name": "Bucle: Uno a Uno"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Crear Informe Maestro').first().json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Top Productos",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.fila_excel }}",
              "NOMBRE PRODUCTO": "={{ $json.Producto }}",
              "VARIANTE": "={{ $json.Variante }}",
              "PRECIO": "={{ $json.Precio }}",
              "UNIDADES VENDIDAS": "={{ $json.Unidades }}",
              "TOTAL": "={{ $json.Total }}",
              "TICKETS VENDIDOS": "={{ $json.Skatepark_Entradas_Vendidas }}",
              "PRECIO TOTAL": "={{ $json.Skatepark_Ingresos_Totales }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "NOMBRE PRODUCTO",
                "displayName": "NOMBRE PRODUCTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "VARIANTE",
                "displayName": "VARIANTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRECIO",
                "displayName": "PRECIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UNIDADES VENDIDAS",
                "displayName": "UNIDADES VENDIDAS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TOTAL",
                "displayName": "TOTAL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TICKETS VENDIDOS",
                "displayName": "TICKETS VENDIDOS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRECIO TOTAL",
                "displayName": "PRECIO TOTAL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          736,
          -528
        ],
        "id": "7f3e3a25-1af8-4209-af52-c9387dc6cbcb",
        "name": "Escribir detalle",
        "alwaysOutputData": false,
        "executeOnce": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $json.ID_Documento }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Hoja 1",
            "mode": "name"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          160,
          -96
        ],
        "id": "d2ef4873-7d36-41a0-ac61-3662612885c1",
        "name": "Leer Informe de ese Día",
        "alwaysOutputData": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id_fecha",
                "name": "NOMBRE_MES",
                "value": "={{ $today.minus({months: 1}).setLocale('es').format('MMMM').toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "id_rango_inicio",
                "name": "FECHA_INICIO",
                "value": "={{ $today.minus({months: 1}).startOf('month').format('yyyy-MM-dd') }}T00:00:00Z",
                "type": "string"
              },
              {
                "id": "id_rango_fin",
                "name": "FECHA_FIN",
                "value": "={{ $today.minus({months: 1}).endOf('month').format('yyyy-MM-dd') }}T23:59:59Z",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -944,
          32
        ],
        "id": "4e18e961-e82a-44bc-a08f-203fb6bdb947",
        "name": "Configurar Fechas"
      },
      {
        "parameters": {
          "jsCode": "// 1. Recuperamos la lista de pedidos (Input)\nconst orders = items.map(item => item.json);\n\n// 2. Diccionario de Nombres\nconst employeeMap = {\n    \"126641570139\": \"Arturo Fernandez Caballero\",\n    \"126890148187\": \"Sandra Rogel Aguilera\",\n    \"126889361755\": \"Alejandro Pavon\",\n    \"127346573659\": \"Facundo Altamirano Pozzi\",\n    \"127144952155\": \"Jose Maria Restoy Varela\",\n    \"126790828379\": \"Florencia cielo Alarcon\",\n    \"115464700251\": \"Miguel Navarro\",\n    \"126641602907\": \"Eugenia La Piettra\",\n    \"126759141723\": \"Lorenzo Jimenez\",\n    \"127472533851\": \"Pablo roldan\",\n    \"127149113691\": \"Facundo Pereira\",\n    \"127346606427\": \"Nerea Fernández\",\n    \"125804478811\": \"Anabel Labella\",\n    \"127578997083\": \"Cesar Moreno\",\n    \"126889165147\": \"Julio Hermoso Fernández\",\n    \"126766121307\": \"Unai Rodríguez Alarcón\",\n    \"127048155483\": \"Gerardo Cairo\",\n    \"126888640859\": \"Facundo Altamirano Pozzi\",\n    \"123965866331\": \"Thomas Fontoura\",\n    \"126895620443\": \"Fabio Cortés Martín\",\n    \"126953292123\": \"Carlota Ramirez Palacios\",\n    \"126905516379\": \"André Ferreira\", \n    \"126888149339\": \"Alejandro Vasallo Bancalero\",\n    \"126905123163\": \"Ana Isabel Robles González\",\n    \"127310987611\": \"Paula Perez\",\n    \"114932875611\": \"Emiliano Martinez Verdecchia\",\n    \"125110976859\": \"Adrián Azorín\",\n    \"127346704731\": \"Rober Alonso\",\n    \"114884346203\": \"Lorena Verdecchia\",\n    \"126812389723\": \"Cuenta Multiusuario\",\n    \"115083706715\": \"Antonio Gabriel Lopez Moreno\"\n};\n\n// Objeto para acumular las ventas por ID\nconst salesSummary = {};\n\n// 3. Bucle para SUMAR ventas\nfor (const order of orders) {\n    const userId = order.user_id;\n    if (!userId) continue;\n\n    let price = parseFloat(order.total_price);\n    if (isNaN(price)) price = 0;\n\n    if (salesSummary[userId]) {\n        salesSummary[userId] += price;\n    } else {\n        salesSummary[userId] = price;\n    }\n}\n\n// 4. Transformar a lista temporal\nlet tempResults = [];\nfor (const [id, total] of Object.entries(salesSummary)) {\n    const nombre = employeeMap[id] || \"Desconocido (\" + id + \")\";\n    tempResults.push({\n        nombre: nombre,\n        total: parseFloat(total.toFixed(2))\n    });\n}\n\n// 5. Ordenar de mayor a menor venta\ntempResults.sort((a, b) => b.total - a.total);\n\n// 6. Generar JSON final con NUMERO DE FILA ACTUALIZADO\nconst finalResults = tempResults.map((item, index) => {\n    return {\n        json: {\n            \"numero_fila\": index + 31, // <--- Ahora empieza en 30\n            \"Nombre Empleado\": item.nombre,\n            \"Total Vendido\": item.total\n        }\n    };\n});\n\nreturn finalResults;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          464
        ],
        "id": "78b07875-794e-4a6d-9100-1bc799bff8a6",
        "name": "Calcular Ranking Empleados"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Crear Informe Maestro').first().json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Top Productos",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.fila_excel }}",
              "NOMBRE PRODUCTO": "=",
              "VARIANTE": "=",
              "PRECIO": "={{ $json.Marca }}",
              "UNIDADES VENDIDAS": "={{ $json.Unidades }}",
              "TOTAL": "={{ $json.Total }}",
              "TICKETS VENDIDOS": "=",
              "PRECIO TOTAL": "="
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "NOMBRE PRODUCTO",
                "displayName": "NOMBRE PRODUCTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "VARIANTE",
                "displayName": "VARIANTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRECIO",
                "displayName": "PRECIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UNIDADES VENDIDAS",
                "displayName": "UNIDADES VENDIDAS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TOTAL",
                "displayName": "TOTAL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TICKETS VENDIDOS",
                "displayName": "TICKETS VENDIDOS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRECIO TOTAL",
                "displayName": "PRECIO TOTAL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          736,
          -384
        ],
        "id": "29c8e054-4eea-484f-a4ff-d2de119feb59",
        "name": "Escribir marcas",
        "alwaysOutputData": false,
        "executeOnce": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          336,
          -80
        ],
        "id": "9c7d312d-251d-4683-ac7e-4c48146e1346",
        "name": "Espera 1m",
        "webhookId": "57665f85-f34c-4a9b-81e3-71d620974b94"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "KvNMRefeRetJtcGA",
            "mode": "list",
            "cachedResultName": "marcas_summit",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/KvNMRefeRetJtcGA"
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          192,
          -384
        ],
        "id": "4fe4230d-1851-46a4-9da2-77eac8f7bc95",
        "name": "Tabla Marcas"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Crear Informe Maestro').first().json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Top Productos",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.fila_excel }}",
              "NOMBRE PRODUCTO": "=",
              "VARIANTE": "=",
              "PRECIO": "={{ $json.Sucursal }}",
              "UNIDADES VENDIDAS": "={{ $json.Transacciones }}",
              "TOTAL": "={{ $json.Total }}",
              "TICKETS VENDIDOS": "=",
              "PRECIO TOTAL": "="
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "NOMBRE PRODUCTO",
                "displayName": "NOMBRE PRODUCTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "VARIANTE",
                "displayName": "VARIANTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRECIO",
                "displayName": "PRECIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UNIDADES VENDIDAS",
                "displayName": "UNIDADES VENDIDAS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TOTAL",
                "displayName": "TOTAL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TICKETS VENDIDOS",
                "displayName": "TICKETS VENDIDOS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRECIO TOTAL",
                "displayName": "PRECIO TOTAL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          736,
          -240
        ],
        "id": "3bed7595-6d03-4345-9471-9458e4d05a69",
        "name": "Escribir sucursales",
        "alwaysOutputData": false,
        "executeOnce": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "batchSize": 10,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          608,
          464
        ],
        "id": "d7771f33-ed1d-406c-8497-25446ab020a1",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "// 1. CONFIGURACIÓN Y DATOS\nconst staticData = $getWorkflowStaticData('global');\nconst allSales = staticData.allProducts || [];\n\nif (allSales.length === 0) {\n    return [{ json: { mensaje: \"⚠️ Ejecuta el bucle primero.\" } }];\n}\n\n// NORMALIZACIÓN DE MARCAS: Limpiamos espacios y pasamos a MAYÚSCULAS\nconst LISTA_MARCAS = items\n    .map(item => (item.json['Nombre_del_Proveedor'] || '').toString().trim().toUpperCase())\n    .filter(marca => marca.length > 1);\n\n// Ordenamos por longitud de mayor a menor para evitar que \"NIKE\" se coma a \"NIKE SB\"\nLISTA_MARCAS.sort((a, b) => b.length - a.length);\n\n// Contenedores\nconst productStats = {};\nconst brandStats = {};\nconst branchStats = {};\n\n// Configuración Skatepark\nlet skateparkCount = 0;\nlet skateparkRevenue = 0;\nconst SKATEPARK_NAME = \"TICKET ENTRADA SKATEPARK\";\nconst FILA_SUCURSALES = 26; \n\n// 2. PROCESAMIENTO ÚNICO (Con Normalización)\nfor (const sale of allSales) {\n    // --- LA REGLA DE ORO: NORMALIZACIÓN ---\n    // Convertimos a texto, quitamos espacios fantasma y pasamos a MAYÚSCULAS\n    const productName = (sale['NOMBRE DE PRODUCTO'] || \"SIN NOMBRE\").toString().trim().toUpperCase();\n    const branchName = (sale['SUCURSAL DE VENTA'] || \"N/A\").toString().trim().toUpperCase();\n    const variantOriginal = (sale['VARIANTE'] || '').toString().trim(); \n    const variantKey = variantOriginal.toUpperCase(); \n\n    // Limpieza números (mantienes tu lógica original que estaba perfecta)\n    let priceStr = (sale['PRECIO PAGADO'] || '0').toString();\n    let costStr = (sale['COSTE DE PRODUCTO'] || '0').toString();\n    let unitPriceStr = (sale['PRECIO DE PRODUCTO'] || '0').toString();\n    \n    const paidPrice = parseFloat(priceStr.replace(',', '.')) || 0;\n    const cost = parseFloat(costStr.replace(',', '.')) || 0;\n    const listPrice = parseFloat(unitPriceStr.replace(',', '.')) || 0;\n\n    // Lógica Skatepark (buscamos en el nombre ya en mayúsculas)\n    if (productName.includes(SKATEPARK_NAME)) {\n        skateparkCount += 1;\n        skateparkRevenue += paidPrice;\n        continue; \n    }\n\n    if (productName !== \"SIN NOMBRE\") {\n        // A) PRODUCTOS\n        const prodKey = `${productName} - ${variantKey}`;\n        \n        if (!productStats[prodKey]) {\n            productStats[prodKey] = {\n                Producto: productName, \n                Variante: variantOriginal, // Guardamos la original para que quede bonita en el Excel\n                Precio: listPrice,\n                Ventas: 0, Unidades: 0, Beneficio: 0\n            };\n        }\n        productStats[prodKey].Ventas += paidPrice;\n        productStats[prodKey].Unidades += 1;\n        productStats[prodKey].Beneficio += (paidPrice - cost);\n\n        // B) MARCAS\n        let detectedBrand = \"OTRAS\"; // Usamos mayúsculas por consistencia\n        \n        for (const marca of LISTA_MARCAS) {\n            // Si la marca es un número (ej. \"686\"), usamos Regex de coincidencia exacta\n            if (!isNaN(marca)) {\n                const regex = new RegExp(`\\\\b${marca}\\\\b`);\n                if (regex.test(productName)) {\n                    detectedBrand = marca;\n                    break;\n                }\n            } else {\n                // Si es texto normal\n                if (productName.includes(marca)) {\n                    detectedBrand = marca;\n                    break;\n                }\n            }\n        }\n\n        // Parche manual para The North Face (buscando en mayúsculas)\n        if (detectedBrand === \"OTRAS\" && (productName.includes(\"NORTH FACE\") || productName.includes(\" TNF \"))) {\n            detectedBrand = \"THE NORTH FACE\";\n        }\n\n        if (!brandStats[detectedBrand]) {\n            brandStats[detectedBrand] = { Marca: detectedBrand, Ventas: 0, Unidades: 0 };\n        }\n        brandStats[detectedBrand].Ventas += paidPrice;\n        brandStats[detectedBrand].Unidades += 1;\n    }\n\n    // C) SUCURSALES\n    if (branchName !== \"N/A\" && branchName !== \"\") {\n        if (!branchStats[branchName]) {\n            branchStats[branchName] = { Sucursal: branchName, Ventas: 0, Transacciones: 0 };\n        }\n        branchStats[branchName].Ventas += paidPrice;\n        branchStats[branchName].Transacciones += 1;\n    }\n}\n\n// 3. GENERAR RESULTADOS (TOP 10 y demás lógica original)\nconst finalOutput = [];\n\n// --- PRODUCTOS ---\nconst sortedProds = Object.values(productStats).sort((a, b) => \n    b.Unidades !== a.Unidades ? b.Unidades - a.Unidades : b.Ventas - a.Ventas\n).slice(0, 10);\n\nsortedProds.forEach((p, i) => {\n    const item = {\n        tipo: \"producto\",\n        fila_excel: i + 2,\n        Producto: p.Producto,\n        Variante: p.Variante,\n        Precio: parseFloat(p.Precio.toFixed(2)),\n        Unidades: p.Unidades,\n        Total: parseFloat(p.Ventas.toFixed(2)),\n        Beneficio: parseFloat(p.Beneficio.toFixed(2))\n    };\n    if (i === 0) {\n        item.Skatepark_Entradas_Vendidas = skateparkCount;\n        item.Skatepark_Ingresos_Totales = parseFloat(skateparkRevenue.toFixed(2));\n    }\n    finalOutput.push({ json: item });\n});\n\n// --- MARCAS ---\nconst sortedBrands = Object.values(brandStats)\n    .filter(b => b.Marca !== \"OTRAS\")\n    .sort((a, b) => b.Unidades !== a.Unidades ? b.Unidades - a.Unidades : b.Ventas - a.Ventas)\n    .slice(0, 10);\n\nsortedBrands.forEach((b, i) => {\n    finalOutput.push({\n        json: {\n            tipo: \"marca\",\n            fila_excel: i + 14, \n            Marca: b.Marca,\n            Unidades: b.Unidades,\n            Total: parseFloat(b.Ventas.toFixed(2))\n        }\n    });\n});\n\n// --- SUCURSALES ---\nconst sortedBranches = Object.values(branchStats).sort((a, b) => b.Ventas - a.Ventas);\n\nsortedBranches.forEach((b, i) => {\n    finalOutput.push({\n        json: {\n            tipo: \"sucursal\",\n            fila_excel: i + FILA_SUCURSALES, \n            Sucursal: b.Sucursal,\n            Transacciones: b.Transacciones,\n            Total: parseFloat(b.Ventas.toFixed(2))\n        }\n    });\n});\n\n// 4. LIMPIEZA FINAL\nstaticData.allProducts = [];\n\nreturn finalOutput;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          -384
        ],
        "id": "504c552c-d8b0-4d63-abb6-a9ec3f46e91b",
        "name": "Calculo_Maestro"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.tipo }}",
                      "rightValue": "producto",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "e3281762-2b3c-41e1-bcd5-6d1e82e10c0d"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "bd5f0dee-b77a-43e9-a0d6-b1df7ccd262c",
                      "leftValue": "={{ $json.tipo }}",
                      "rightValue": "marca",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "395d8bc3-96de-4d5b-be62-bec164fe3c72",
                      "leftValue": "={{ $json.tipo }}",
                      "rightValue": "sucursal",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          512,
          -400
        ],
        "id": "654cadb9-d4c2-4198-b6da-69e0bd56aa55",
        "name": "Elegir tipo de input"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "query": "query findCustomerAndCreditID($query: String!) {\n  customers(first: 1, query: $query) {\n    edges {\n      node {\n        id\n        email\n        # Buscamos también la cuenta de crédito del cliente\n        storeCreditAccounts(first: 1) {\n          edges {\n            node {\n              id\n            }\n          }\n        }\n      }\n    }\n  }\n}",
          "variables": "={\n  \"query\": \"email:{{ $json.Correo }}\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          960,
          736
        ],
        "id": "143b2690-f56b-4f55-9a4c-c9e59e4a8d15",
        "name": "GraphQL",
        "credentials": {
          "httpHeaderAuth": {
            "id": "THkhgrtze1uBo6Ft",
            "name": "Token Informes Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. INPUT ACTUAL (items): Son los datos que vienen de \"Get row(s)\" (Correos)\nconst datosCorreos = items;\n\n// 2. INPUT ANTERIOR: Recuperamos los datos del nodo \"Calcular Ranking Empleados1\" (Ventas)\n// NOTA: Asegúrate de que el nombre dentro de $('...') sea EXACTO al de tu nodo morado\nlet datosVentas = [];\ntry {\n  datosVentas = $('Calcular Ranking Empleados').all();\n} catch (e) {\n  return [{ json: { error: \"No encuentro el nodo 'Calcular Ranking Empleados1'. Revisa el nombre.\" } }];\n}\n\n// 3. Creamos el mapa para buscar correos (Nombre -> Correo)\nconst mapaCorreos = {};\n\ndatosCorreos.forEach(fila => {\n  const datos = fila.json;\n  \n  // En tu captura de \"Get row(s)\", la columna del nombre se llama \"Nombre\" (no \"Nombre Empleado\")\n  // Usamos .trim() porque en tu captura se ven saltos de línea (\"\\n\")\n  const nombreKey = (datos[\"Nombre\"] || \"\").toString().trim();\n  const email = (datos[\"Correo\"] || \"\").toString().trim(); // Limpiamos el \\n del correo\n  \n  if (nombreKey && email) {\n    mapaCorreos[nombreKey] = email;\n  }\n});\n\n// 4. Procesamos las VENTAS (iteramos sobre datosVentas, NO sobre items)\nconst resultados = [];\n\nfor (const item of datosVentas) {\n  const empleado = item.json;\n  \n  // Aquí sí existen estas columnas porque estamos leyendo del nodo de Ranking\n  const ventas = parseFloat(empleado[\"Total Vendido\"]);\n  const nombreVentas = (empleado[\"Nombre Empleado\"] || \"\").toString().trim();\n  \n  let bonoValor = 0;\n\n  // --- LÓGICA DEL BONO ---\n  if (ventas >= 30000) {\n    bonoValor = 200;\n  } else if (ventas >= 26000) {\n    bonoValor = 150;\n  } else if (ventas >= 22000) {\n    bonoValor = 120;\n  } else if (ventas >= 18000) {\n    bonoValor = 90;\n  }\n\n  // --- GENERACIÓN DEL OUTPUT ---\n  if (bonoValor > 0) {\n    \n    // Buscamos el correo usando el nombre limpio\n    const correoEncontrado = mapaCorreos[nombreVentas];\n\n    resultados.push({\n      json: {\n        \"Nombre Empleado\": nombreVentas,\n        \"Total Vendido\": ventas,\n        \"BONO\": `BONO ${bonoValor}€`,\n        \"MontoBono\": bonoValor,\n        // Si no encuentra el correo, pondrá null.\n        \"Correo\": correoEncontrado || \"No encontrado\"\n      }\n    });\n  }\n}\n\nreturn resultados;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          736
        ],
        "id": "f1e8abd2-0441-4ba7-8f11-558506473f74",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "m14tPVcEZzewnVMX",
            "mode": "list",
            "cachedResultName": "empleados",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/m14tPVcEZzewnVMX"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Nombre",
                "keyValue": "={{ $json[\"Nombre Empleado\"] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          608,
          736
        ],
        "id": "23a0b84f-a080-49b8-beb3-cf051b28b93a",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos los resultados de Shopify (Input actual)\nconst shopifyInput = items;\n\n// 2. Obtenemos los datos originales del bono (Code in JavaScript)\nlet bonusInput = [];\ntry {\n  bonusInput = $('Code in JavaScript').all();\n} catch (error) {\n  return [{ json: { error: \"No se encuentran datos del nodo 'Code in JavaScript'\" } }];\n}\n\n// 3. Mapeamos los bonos por correo (limpiando espacios)\nconst mapaBonos = {};\nbonusInput.forEach(item => {\n  const data = item.json;\n  if (data.Correo) {\n    const emailLimpio = data.Correo.toString().trim().toLowerCase();\n    mapaBonos[emailLimpio] = data;\n  }\n});\n\nconst resultadosFinales = [];\n\n// 4. Procesamos la respuesta de Shopify\nfor (const item of shopifyInput) {\n  const shopifyData = item.json;\n\n  // Verificamos si Shopify encontró al cliente\n  if (shopifyData.data && \n      shopifyData.data.customers && \n      shopifyData.data.customers.edges && \n      shopifyData.data.customers.edges.length > 0) {\n    \n    const clienteNode = shopifyData.data.customers.edges[0].node;\n    const emailShopify = clienteNode.email.trim().toLowerCase();\n\n    // Cruzamos con el bono original\n    const bonoOriginal = mapaBonos[emailShopify];\n\n    if (bonoOriginal) {\n      \n      // Intentamos obtener la ID de la cuenta de crédito\n      let creditAccountId = null;\n      if (clienteNode.storeCreditAccounts && \n          clienteNode.storeCreditAccounts.edges && \n          clienteNode.storeCreditAccounts.edges.length > 0) {\n        creditAccountId = clienteNode.storeCreditAccounts.edges[0].node.id;\n      }\n\n      // IMPORTANTE: Ahora devolvemos el resultado SIEMPRE, tenga o no cuenta de crédito.\n      // Si no tiene cuenta, 'CreditAccountID' será null.\n      resultadosFinales.push({\n        json: {\n          \"CustomerID\": clienteNode.id,\n          \"CreditAccountID\": creditAccountId, // Puede ser null si el cliente es nuevo\n          \"MontoBono\": bonoOriginal.MontoBono.toString(),\n          \"EtiquetaBono\": bonoOriginal.BONO,\n          \"Email\": emailShopify,\n          \"TieneCuentaCredito\": creditAccountId ? true : false // Bandera de ayuda\n        }\n      });\n    }\n  }\n}\n\nreturn resultadosFinales;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          736
        ],
        "id": "311e9e07-8adc-40b5-8354-b12975b32cfc",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "query": "mutation storeCreditAccountCredit($id: ID!, $creditInput: StoreCreditAccountCreditInput!) {\n  storeCreditAccountCredit(id: $id, creditInput: $creditInput) {\n    storeCreditAccountTransaction {\n      id\n      amount {\n        amount\n        currencyCode\n      }\n      balanceAfterTransaction {\n        amount\n        currencyCode\n      }\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}\n",
          "variables": "={\n  \"id\": \"{{ $json.CreditAccountID }}\",\n  \"creditInput\": {\n    \"creditAmount\": {\n      \"amount\": \"{{ $json.MontoBono }}\",\n      \"currencyCode\": \"EUR\"\n    }\n  }\n}\n"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          1552,
          736
        ],
        "id": "2c8ee8bf-99fc-4bef-8ea0-06a5bec51363",
        "name": "GraphQL1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "THkhgrtze1uBo6Ft",
            "name": "Token Informes Shopify"
          }
        }
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "query": "mutation AddCustomerTag($id: ID!, $tags: [String!]!) {\n  tagsAdd(id: $id, tags: $tags) {\n    node {\n      id\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={\n  \"id\": \"{{ $json.CustomerID }}\",\n  \"tags\": [\"{{ $json.EtiquetaBono }}\"]\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          1360,
          736
        ],
        "id": "59ef37c4-27e6-4de1-9613-f17fd0b0371f",
        "name": "GraphQL2",
        "credentials": {
          "httpHeaderAuth": {
            "id": "THkhgrtze1uBo6Ft",
            "name": "Token Informes Shopify"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $json.Email }}",
          "subject": "=¡Tienes {{ $json.MontoBono }}€ de saldo disponible en tienda! 🎁",
          "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; }\n  .email-container { max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 40px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n  .header { text-align: center; padding-bottom: 20px; border-bottom: 1px solid #eeeeee; }\n  .header h1 { color: #333333; margin: 0; font-size: 24px; }\n  .content { padding: 30px 0; color: #555555; line-height: 1.6; }\n  .credit-box { background-color: #e6fffa; border: 1px solid #38b2ac; color: #234e52; padding: 15px; text-align: center; border-radius: 6px; margin: 20px 0; font-size: 18px; font-weight: bold; }\n  .info-text { font-size: 14px; color: #666; text-align: center; margin-top: -10px; margin-bottom: 20px; font-style: italic; }\n  .warning-box { background-color: #fffaf0; border-left: 4px solid #ed8936; padding: 15px; margin: 20px 0; font-size: 14px; color: #744210; }\n  .footer { text-align: center; font-size: 12px; color: #999999; margin-top: 30px; border-top: 1px solid #eeeeee; padding-top: 20px; }\n</style>\n</head>\n<body>\n\n<div class=\"email-container\">\n  <div class=\"header\">\n    <h1>¡Saldo añadido correctamente!</h1>\n  </div>\n\n  <div class=\"content\">\n    <p>Hola,</p>\n    \n    <p>Queremos informarte que hemos actualizado tu cuenta de cliente. Tienes un nuevo bono de crédito listo para usar.</p>\n\n    <div class=\"credit-box\">\n      Has recibido: {{ $json.MontoBono }}€\n    </div>\n\n    <div class=\"info-text\">\n      *Si ya disponías de saldo anterior en tu cuenta, este importe <strong>se ha sumado</strong> a tu total actual.\n    </div>\n\n    <p>Puedes utilizar este crédito para adquirir cualquier producto en <strong>todas nuestras tiendas</strong>.</p>\n\n    <div class=\"warning-box\">\n      <strong>⚠️ Recordatorio importante:</strong><br>\n      Si decides pagar utilizando tu crédito de tienda, el sistema <u>no permitirá aplicar otros códigos de descuento</u> o cupones promocionales en ese mismo pedido.\n    </div>\n  </div>\n\n  <div class=\"footer\">\n    <p>Saludos,<br><strong>El Equipo de Tailwind</strong></p>\n    <p>Si tienes alguna duda sobre tu saldo total, no dudes en responder a este correo.</p>\n  </div>\n</div>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1360,
          912
        ],
        "id": "de05e630-42ee-4d9a-868f-d0d567a0ed53",
        "name": "Send a message",
        "webhookId": "69b6f5d3-a26d-46a8-8432-61d9aa5edd87",
        "credentials": {
          "gmailOAuth2": {
            "id": "wR7U82S8bmDH4odC",
            "name": "info@tailwind.es"
          }
        }
      },
      {
        "parameters": {
          "content": "COPIA DE LA PLANTILLA\n",
          "height": 192,
          "width": 528,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1152,
          0
        ],
        "id": "9ab3499d-1278-4571-b488-d3cd92b0b552",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "ESCRIBIR EN EL ARCHIVO\n",
          "height": 512,
          "width": 160,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          704,
          -608
        ],
        "id": "f34655cd-9b98-4355-91c9-9d2905e5eb2d",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "HACER LOS CÁLCULOS CON LA INFORMACIÓN DE LOS INFORMES DIARIOS\n",
          "height": 224,
          "width": 528,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          -448
        ],
        "id": "ca0245e6-327a-49d2-9492-83334ed8ba5e",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "jsCode": "// Accedemos a la memoria global del flujo\nconst staticData = $getWorkflowStaticData('global');\n\n// Si es la primera vuelta, inicializamos la lista\nif (!staticData.allProducts) {\n  staticData.allProducts = [];\n}\n\n// Añadimos los productos leídos en esta vuelta del bucle\nconst newItems = items.map(item => item.json);\nstaticData.allProducts.push(...newItems);\n\n// Pasamos el testigo para que el flujo siga\nreturn { json: { status: 'guardado', filas: newItems.length } };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          -112
        ],
        "id": "a33a17b0-17aa-4d09-8bdb-a41b45ef16d7",
        "name": "Acumular en memoria"
      },
      {
        "parameters": {
          "content": "LEER LOS INFORMES DIARIOS DE TODO EL MES\n",
          "height": 288,
          "width": 576,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          112,
          -192
        ],
        "id": "705c6f1d-cb5b-4ea4-a52d-0e84ffb4017d",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "ESCRIBIR EN EL ARCHIVO\n",
          "height": 192,
          "width": 336,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          560,
          432
        ],
        "id": "235f4b24-b7ea-4f04-9558-07fcb29c5086",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "LEER INFORMACIÓN DE LOS EMPLEADOS EN SHOPIFY\n",
          "height": 400,
          "width": 992,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -448,
          208
        ],
        "id": "c0d28e3a-dc03-4bb2-a809-690f7ab3472c",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "░░░░░░░░░░░░░░░░░░░▒▓▓█████████████▓▓▒░░░░░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░░░░░▒████▓▓▒▒░▒▒▒░▒▒▒▒▒▒▓▓████▓▒░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░░▒███▓░░░░░░░░░░░░░░░░░░░░░░▒███████▓▓▒░░░░░░░░░░░\n░░░░░░░░░▒██▓░░░░▒▒███▓▓▒░░░░░░░░░░░░░▓▓▒▒▒▒▒▓██████▓░░░░░░░\n░░░░░░░▒██▓░░░▓███▓▒░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░░░░░▒▓▓███▓████▒▒░░░\n░░░░░░██▓░░▒▓██▓░░▒▓██████▓░░░░░░░▒░░░░░░▒██▓▒░░░▓███▒▓▒░░░░\n░░░░░██░░▓███▒░░▒██▒░░░░▒▒██▓░░░░░░░░░░░██▒░░░░▒████▒█░░░░░░\n░░░░██░▒▓▒▓▓░░░██░░░░░░░░░░░█▓░░░░░░░░░██░░░░░░▒███░░█▒░░░░░\n░░░▓█░░░░░░░░░██░░░░░░░░░░░░▓█░░░░░░░░██░░░░░░░░░░░░░█▒░░░░░\n░░░█▓░░░░░░░░░█▒░░████░░░░░░░█▒░░░░░░░██░░░░░░░░░░░░███░░░░░\n░░▒█░░░░░░░▒▓▒█▓░▓████▓░░░░░▒█░░░░░░░░▒█▒░░░░░░░░░░██░█▒░░░░\n░░██░░░░░▒▓▒▓▒██▒▒▓▓▓░░░░░░░██░░░░░░░░░▒████▓███████▓░█▒░░░░\n░░█▓░░░░░▒░░░▒░▒██▓▒░░░░░▒██▓░░░░░░░░░░░░░░██▓░░░░░░▒██▓░░░░\n░░█░░░░░░░░░▓▒░░░░▒▓██████▓░░░░░░░░░░░░░░▒██░░░▓█▓▓▒░░░██░░░\n░▒█░░░░░░░░░░░░░░░░░░░░░░░░░░▓▒▓▒▒▒▒▒▓▓▓▓██░░▓█▓░▒▒██▒░░██░░\n░▓█░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▓▓▒░░██░░██▓░▒░▒░██░░▒█░░\n░██░░░░░░░░░░░░░░░░░░░░░░░▒▓▒▒▒▒▒▒▒▒░░░██░░▓█░█▓░█▒█▓█▓░░█░░\n░██░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒░▒▒░░▓█▓░░██░█▒▒█▒█▒▓█░░█░░\n░██░░░░░░░░░░░░░░░░░░░░░░░░▒░░░░░░░░░░▓█░░░█▒░░░░▒▒░░▒█░▓█░░\n░▒█░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░█▒░░█▒░░░░░░░░▓█░█▓░░\n░░█▓░▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓█░░█▒░░░░░░░░█░▒█░░░\n░░▓█░░▒░░▒▒░░▒░░░░░░░░░░░░░░░░░░░░░░░░░░█░░█▒░░░░░░░█▓░█▓░░░\n░░░█▒░░▒░░▒░░▒▒░░░░░░░░░░░░░░░░░░░░░░░░░█░░█▒░░░░░░▓█░░█░░░░\n░░░██░░░▒░▒░░░▒▒░░░░░░░░░░░░░░░░░░░░░░░░█░░█▒░░░░░░██░░█░░░░\n░░░░█▓░░░▒░▒░░░░▒▒░░░░░▒▒▒▒▒▒░░░░░░░░░░▒█░▒█░░░░░░░█▒░░█▓░░░\n░░░░▓█░░░░▒▒░░░░░▒▒░░░░░░▒▒▒▓▓▓▒░░░░░░░██░██░░░░░░░██░░▓█░░░\n░░░░░██░░░▒░▒░░░░░▒░░░░░░░░▒░▒▒▓█▒░░░░▒█░░█▓▒▓▓▓▒░░▓█░░░█▒░░\n░░░░░▒█▒░░░▒▒▒░░░░▒░░░░░░░░░░▒▒▒░▒▓░░░██░▒█░░░░▒▓▓░░██░░█▒░░\n░░░░░░▒█▒░░░▒░▒░░░▒░░░░░░▒▒▒░░░░▒▒░░░▒█░░██░░░░░░░█░▒█░░█▒░░\n░░░░░░░▓█░░░▒░▒░░░░▒▒░░░░▓▒▒▓▓▓▒░░▓▒░██░░██▒▒▒▒▓▒▓▓███░░█▒░░\n░░░░░░░░██░░░▒░▒░░░░░▒▒░░░░░░░░▓█▓░░░█▓░░██░▓█░█░█░░█▒░░█▒░░\n░░░░░░░░░██░░░░▒▒░░░░░░▒▒░░░░░░░░▒█▓░█▓░░▓█▒▒█▒█░█▒██░░▒█░░░\n░░░░░░░░░░██▒░░░░▒░░░▒░░░▒▒░░░░░░░░▒▓██░░░██░░░░▒▒██░░░██░░░\n░░░░░░░░░░░▓██░░░░░░░░▒▒░░░▒░░░░░░░░░▓█░░░░▓███▓▓██░░░██░░░░\n░░░░░░░░░░░░░▓██▒░░░░░░▒▒▒▒▒░░░░░░░░░░██░░░░░░▒▒▒░░░░██░░░░░\n░░░░░░░░░░░░░░░▓███▒░░░░░░░▒▒▒▒▒▒▒▒░░░░▓██▒░░░░░░░▒███░░░░░░\n░░░░░░░░░░░░░░░░░▒▓███▓▒░░░░░░░▒░░▒▒▒▒░░░▒██▓██████▓░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░▒████▓▒▒░░░░░░░░░░░░░░░▓██▒░░░░░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░▒▓████▓░░░░░░░▓█████▒░░░░░░░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒█████████▒░░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒░░░░░░░░░░░░░░░░░░░░░░░\n",
          "height": 784,
          "width": 624,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          976,
          -144
        ],
        "id": "0a689d39-3746-4b8b-b67c-5405bd28b17b",
        "name": "Sticky Note14"
      }
    ],
    "connections": {
      "Inicio de Mes (Día 1)": {
        "main": [
          [
            {
              "node": "Configurar Fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear Informe Maestro": {
        "main": [
          [
            {
              "node": "Obtener Informes Diarios",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prep Shopify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Informes Diarios": {
        "main": [
          [
            {
              "node": "Limpiar y Analizar Productos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Shopify": {
        "main": [
          [
            {
              "node": "Shopify API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Next Page": {
        "main": [
          [
            {
              "node": "Shopify API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpiar y Analizar Productos": {
        "main": [
          [
            {
              "node": "Bucle: Uno a Uno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Shopify API": {
        "main": [
          [
            {
              "node": "Acumular en Memoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hay más páginas?": {
        "main": [
          [
            {
              "node": "Set Next Page",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Unir Todos los Pedidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Acumular en Memoria": {
        "main": [
          [
            {
              "node": "Hay más páginas?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unir Todos los Pedidos": {
        "main": [
          [
            {
              "node": "Calcular Ranking Empleados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bucle: Uno a Uno": {
        "main": [
          [
            {
              "node": "Tabla Marcas",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Leer Informe de ese Día",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escribir detalle": {
        "main": [
          [],
          []
        ]
      },
      "Leer Informe de ese Día": {
        "main": [
          [
            {
              "node": "Acumular en memoria",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Espera 1m",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configurar Fechas": {
        "main": [
          [
            {
              "node": "Crear Informe Maestro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcular Ranking Empleados": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Espera 1m": {
        "main": [
          [
            {
              "node": "Leer Informe de ese Día",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escribir marcas": {
        "main": [
          [],
          []
        ]
      },
      "Tabla Marcas": {
        "main": [
          [
            {
              "node": "Calculo_Maestro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escribir Empleados": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Escribir sucursales": {
        "main": [
          [],
          []
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Escribir Empleados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculo_Maestro": {
        "main": [
          [
            {
              "node": "Elegir tipo de input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Elegir tipo de input": {
        "main": [
          [
            {
              "node": "Escribir detalle",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Escribir marcas",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Escribir sucursales",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "GraphQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GraphQL": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "GraphQL2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GraphQL2": {
        "main": [
          [
            {
              "node": "GraphQL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      },
      "Acumular en memoria": {
        "main": [
          [
            {
              "node": "Bucle: Uno a Uno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version 204d611a",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "204d611a-24d9-4692-a652-28439c78bb44",
  "connections": {
    "Inicio de Mes (Día 1)": {
      "main": [
        [
          {
            "node": "Configurar Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Informe Maestro": {
      "main": [
        [
          {
            "node": "Obtener Informes Diarios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Informes Diarios": {
      "main": [
        [
          {
            "node": "Limpiar y Analizar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Shopify": {
      "main": [
        [
          {
            "node": "Shopify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Next Page": {
      "main": [
        [
          {
            "node": "Shopify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar y Analizar Productos": {
      "main": [
        [
          {
            "node": "Bucle: Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify API": {
      "main": [
        [
          {
            "node": "Acumular en Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay más páginas?": {
      "main": [
        [
          {
            "node": "Set Next Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unir Todos los Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acumular en Memoria": {
      "main": [
        [
          {
            "node": "Hay más páginas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Todos los Pedidos": {
      "main": [
        [
          {
            "node": "Calcular Ranking Empleados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle: Uno a Uno": {
      "main": [
        [
          {
            "node": "Tabla Marcas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Informe de ese Día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir detalle": {
      "main": [
        [],
        []
      ]
    },
    "Leer Informe de ese Día": {
      "main": [
        [
          {
            "node": "Acumular en memoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera 1m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Fechas": {
      "main": [
        [
          {
            "node": "Crear Informe Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Ranking Empleados": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 1m": {
      "main": [
        [
          {
            "node": "Leer Informe de ese Día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir marcas": {
      "main": [
        [],
        []
      ]
    },
    "Tabla Marcas": {
      "main": [
        [
          {
            "node": "Calculo_Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir Empleados": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Escribir sucursales": {
      "main": [
        [],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Escribir Empleados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculo_Maestro": {
      "main": [
        [
          {
            "node": "Elegir tipo de input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elegir tipo de input": {
      "main": [
        [
          {
            "node": "Escribir detalle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escribir marcas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escribir sucursales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "GraphQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL2": {
      "main": [
        [
          {
            "node": "GraphQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Acumular en memoria": {
      "main": [
        [
          {
            "node": "Bucle: Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T08:04:08.245Z",
  "id": "584ehV8qDkwoHzoLSDP1n",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Informe_Mensual_Definitivo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1104,
        32
      ],
      "id": "4c23fe05-5690-420a-8ad4-66ef9230ed65",
      "name": "Inicio de Mes (Día 1)"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1tsvxi9_RbsJ9PZzj89QC4KmPOSeOUlI2FnsqcM4vmoY",
          "mode": "id"
        },
        "name": "=PRUEBAPRUEBAPRUEBAPRUEBA COMPLETO - {{ $json.NOMBRE_MES }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        32
      ],
      "id": "0b17272d-1aa2-4c3f-8811-2d74745ef031",
      "name": "Crear Informe Maestro",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N7JXWgOiVoyCTaVL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8GDVj673ag0hCrVt",
          "mode": "list",
          "cachedResultName": "Informe Mensual"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -416,
        -208
      ],
      "id": "966d2a0c-85d6-4139-a9f7-7b3cdf1cc36c",
      "name": "Obtener Informes Diarios"
    },
    {
      "parameters": {
        "jsCode": "// Lógica de limpieza original + Agrupación de Top Productos\nconst inputItems = items;\nconst uniqueStrings = new Set();\nconst uniqueItems = [];\nconst productCounts = {};\n\n// 1. Limpieza de duplicados\nfor (const item of inputItems) {\n    const itemString = JSON.stringify(item.json);\n    if (!uniqueStrings.has(itemString)) {\n        uniqueStrings.add(itemString);\n        uniqueItems.push(item);\n        \n        // 2. Contar para Ranking\n        const prodName = item.json['NOMBRE DE PRODUCTO'];\n        if(prodName && prodName !== 'SEPARADOR') {\n             if(!productCounts[prodName]) productCounts[prodName] = 0;\n             productCounts[prodName]++;\n        }\n    }\n}\n\nreturn uniqueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -208
      ],
      "id": "82dd14a4-55b7-4056-bc0b-58fae0131f59",
      "name": "Limpiar y Analizar Productos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url_shopify",
              "name": "url_proxima",
              "value": "=https://rulesshop.myshopify.com/admin/api/2025-01/orders.json?limit=250&status=any&created_at_min={{ $('Configurar Fechas').item.json.FECHA_INICIO }}&created_at_max={{ $('Configurar Fechas').item.json.FECHA_FIN }}&fields=id,name,total_price,user_id",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        272
      ],
      "id": "baac2c47-e3e0-4413-a657-02e685aeea0f",
      "name": "Prep Shopify"
    },
    {
      "parameters": {
        "url": "={{ $json.url_proxima }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        272
      ],
      "id": "02d692ea-c717-4ecf-ab9a-d95d81b2eb37",
      "name": "Shopify API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_link",
              "leftValue": "={{ $('Shopify API').item.json.headers.link }}",
              "rightValue": "next",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        272
      ],
      "id": "3fed2932-cb89-43c4-86f1-8df62a10ec7c",
      "name": "Hay más páginas?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "next_url",
              "name": "url_proxima",
              "value": "={{ $json.headers.link.match(/<([^>]+)>;\\s*rel=\"next\"/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        256
      ],
      "id": "74a1ce84-d763-4d42-96a6-b66b3a056bbe",
      "name": "Set Next Page"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst listaAcumulada = staticData.listaTemporal || [];\nconst nuevosPedidos = $('Shopify API').item.json.body.orders || [];\nconst listaCompleta = listaAcumulada.concat(nuevosPedidos);\nstaticData.listaTemporal = [];\nreturn listaCompleta.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        464
      ],
      "id": "76818f9e-1abd-4a3f-89be-6bcfe16956ff",
      "name": "Unir Todos los Pedidos"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.listaTemporal) staticData.listaTemporal = [];\n\n// 1. Capturamos los datos de entrada (incluidos los encabezados/headers)\n// Usamos items[0] porque en n8n v1+ items es el array de entrada\nconst inputData = items[0].json;\nconst pedidos = inputData.body.orders;\n\n// 2. Guardamos los pedidos en la mochila\nstaticData.listaTemporal.push(...pedidos);\n\n// 3. ¡IMPORTANTE! Devolvemos los 'headers' hacia afuera.\n// Así el siguiente nodo podrá leer el link de la página siguiente.\nreturn {\n  json: {\n    status: 'accumulating',\n    headers: inputData.headers\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        272
      ],
      "id": "c388a069-3ddc-418e-a9d0-8903192a2fb1",
      "name": "Acumular en Memoria"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Crear Informe Maestro').first().json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Bonos Empleados",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.numero_fila }}",
            "BONOS INDIVIDUALES": "={{ $json[\"Nombre Empleado\"] }}",
            "TOTAL VENDIDO": "={{ $json[\"Total Vendido\"] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "BONOS INDIVIDUALES",
              "displayName": "BONOS INDIVIDUALES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL VENDIDO",
              "displayName": "TOTAL VENDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BONO 90€",
              "displayName": "BONO 90€",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BONO 120€",
              "displayName": "BONO 120€",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BONO 150€",
              "displayName": "BONO 150€",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BONO 200€",
              "displayName": "BONO 200€",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        480
      ],
      "id": "f894e18e-33b5-4bc9-9b5a-58b0663b6a26",
      "name": "Escribir Empleados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "RUTA 1: VENTAS\nEl ID del archivo viene del nodo principal, así que ahora podemos escribir directamente.",
        "height": 140,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -352
      ],
      "id": "0e2c598a-0376-4192-9f43-55beb6d61e0a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "RUTA 2: BONOS\nShopify procesa todo y al final escribe en el archivo creado al principio.",
        "height": 140,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        64
      ],
      "id": "2597c927-aa51-4003-a949-419b2158cda7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -208
      ],
      "id": "2d5428b2-70e7-4119-8684-7fbcf096a603",
      "name": "Bucle: Uno a Uno"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Crear Informe Maestro').first().json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Top Productos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.fila_excel }}",
            "NOMBRE PRODUCTO": "={{ $json.Producto }}",
            "VARIANTE": "={{ $json.Variante }}",
            "PRECIO": "={{ $json.Precio }}",
            "UNIDADES VENDIDAS": "={{ $json.Unidades }}",
            "TOTAL": "={{ $json.Total }}",
            "TICKETS VENDIDOS": "={{ $json.Skatepark_Entradas_Vendidas }}",
            "PRECIO TOTAL": "={{ $json.Skatepark_Ingresos_Totales }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VARIANTE",
              "displayName": "VARIANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO",
              "displayName": "PRECIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADES VENDIDAS",
              "displayName": "UNIDADES VENDIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL",
              "displayName": "TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TICKETS VENDIDOS",
              "displayName": "TICKETS VENDIDOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO TOTAL",
              "displayName": "PRECIO TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -528
      ],
      "id": "7f3e3a25-1af8-4209-af52-c9387dc6cbcb",
      "name": "Escribir detalle",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.ID_Documento }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -96
      ],
      "id": "d2ef4873-7d36-41a0-ac61-3662612885c1",
      "name": "Leer Informe de ese Día",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id_fecha",
              "name": "NOMBRE_MES",
              "value": "={{ $today.minus({months: 1}).setLocale('es').format('MMMM').toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "id_rango_inicio",
              "name": "FECHA_INICIO",
              "value": "={{ $today.minus({months: 1}).startOf('month').format('yyyy-MM-dd') }}T00:00:00Z",
              "type": "string"
            },
            {
              "id": "id_rango_fin",
              "name": "FECHA_FIN",
              "value": "={{ $today.minus({months: 1}).endOf('month').format('yyyy-MM-dd') }}T23:59:59Z",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        32
      ],
      "id": "4e18e961-e82a-44bc-a08f-203fb6bdb947",
      "name": "Configurar Fechas"
    },
    {
      "parameters": {
        "jsCode": "// 1. Recuperamos la lista de pedidos (Input)\nconst orders = items.map(item => item.json);\n\n// 2. Diccionario de Nombres\nconst employeeMap = {\n    \"126641570139\": \"Arturo Fernandez Caballero\",\n    \"126890148187\": \"Sandra Rogel Aguilera\",\n    \"126889361755\": \"Alejandro Pavon\",\n    \"127346573659\": \"Facundo Altamirano Pozzi\",\n    \"127144952155\": \"Jose Maria Restoy Varela\",\n    \"126790828379\": \"Florencia cielo Alarcon\",\n    \"115464700251\": \"Miguel Navarro\",\n    \"126641602907\": \"Eugenia La Piettra\",\n    \"126759141723\": \"Lorenzo Jimenez\",\n    \"127472533851\": \"Pablo roldan\",\n    \"127149113691\": \"Facundo Pereira\",\n    \"127346606427\": \"Nerea Fernández\",\n    \"125804478811\": \"Anabel Labella\",\n    \"127578997083\": \"Cesar Moreno\",\n    \"126889165147\": \"Julio Hermoso Fernández\",\n    \"126766121307\": \"Unai Rodríguez Alarcón\",\n    \"127048155483\": \"Gerardo Cairo\",\n    \"126888640859\": \"Facundo Altamirano Pozzi\",\n    \"123965866331\": \"Thomas Fontoura\",\n    \"126895620443\": \"Fabio Cortés Martín\",\n    \"126953292123\": \"Carlota Ramirez Palacios\",\n    \"126905516379\": \"André Ferreira\", \n    \"126888149339\": \"Alejandro Vasallo Bancalero\",\n    \"126905123163\": \"Ana Isabel Robles González\",\n    \"127310987611\": \"Paula Perez\",\n    \"114932875611\": \"Emiliano Martinez Verdecchia\",\n    \"125110976859\": \"Adrián Azorín\",\n    \"127346704731\": \"Rober Alonso\",\n    \"114884346203\": \"Lorena Verdecchia\",\n    \"126812389723\": \"Cuenta Multiusuario\",\n    \"115083706715\": \"Antonio Gabriel Lopez Moreno\"\n};\n\n// Objeto para acumular las ventas por ID\nconst salesSummary = {};\n\n// 3. Bucle para SUMAR ventas\nfor (const order of orders) {\n    const userId = order.user_id;\n    if (!userId) continue;\n\n    let price = parseFloat(order.total_price);\n    if (isNaN(price)) price = 0;\n\n    if (salesSummary[userId]) {\n        salesSummary[userId] += price;\n    } else {\n        salesSummary[userId] = price;\n    }\n}\n\n// 4. Transformar a lista temporal\nlet tempResults = [];\nfor (const [id, total] of Object.entries(salesSummary)) {\n    const nombre = employeeMap[id] || \"Desconocido (\" + id + \")\";\n    tempResults.push({\n        nombre: nombre,\n        total: parseFloat(total.toFixed(2))\n    });\n}\n\n// 5. Ordenar de mayor a menor venta\ntempResults.sort((a, b) => b.total - a.total);\n\n// 6. Generar JSON final con NUMERO DE FILA ACTUALIZADO\nconst finalResults = tempResults.map((item, index) => {\n    return {\n        json: {\n            \"numero_fila\": index + 31, // <--- Ahora empieza en 30\n            \"Nombre Empleado\": item.nombre,\n            \"Total Vendido\": item.total\n        }\n    };\n});\n\nreturn finalResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        464
      ],
      "id": "78b07875-794e-4a6d-9100-1bc799bff8a6",
      "name": "Calcular Ranking Empleados"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Crear Informe Maestro').first().json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Top Productos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.fila_excel }}",
            "NOMBRE PRODUCTO": "=",
            "VARIANTE": "=",
            "PRECIO": "={{ $json.Marca }}",
            "UNIDADES VENDIDAS": "={{ $json.Unidades }}",
            "TOTAL": "={{ $json.Total }}",
            "TICKETS VENDIDOS": "=",
            "PRECIO TOTAL": "="
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VARIANTE",
              "displayName": "VARIANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO",
              "displayName": "PRECIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADES VENDIDAS",
              "displayName": "UNIDADES VENDIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL",
              "displayName": "TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TICKETS VENDIDOS",
              "displayName": "TICKETS VENDIDOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO TOTAL",
              "displayName": "PRECIO TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -384
      ],
      "id": "29c8e054-4eea-484f-a4ff-d2de119feb59",
      "name": "Escribir marcas",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        -80
      ],
      "id": "9c7d312d-251d-4683-ac7e-4c48146e1346",
      "name": "Espera 1m",
      "webhookId": "57665f85-f34c-4a9b-81e3-71d620974b94"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KvNMRefeRetJtcGA",
          "mode": "list",
          "cachedResultName": "marcas_summit",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/KvNMRefeRetJtcGA"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        192,
        -384
      ],
      "id": "4fe4230d-1851-46a4-9da2-77eac8f7bc95",
      "name": "Tabla Marcas"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Crear Informe Maestro').first().json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Top Productos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.fila_excel }}",
            "NOMBRE PRODUCTO": "=",
            "VARIANTE": "=",
            "PRECIO": "={{ $json.Sucursal }}",
            "UNIDADES VENDIDAS": "={{ $json.Transacciones }}",
            "TOTAL": "={{ $json.Total }}",
            "TICKETS VENDIDOS": "=",
            "PRECIO TOTAL": "="
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VARIANTE",
              "displayName": "VARIANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO",
              "displayName": "PRECIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADES VENDIDAS",
              "displayName": "UNIDADES VENDIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL",
              "displayName": "TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TICKETS VENDIDOS",
              "displayName": "TICKETS VENDIDOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO TOTAL",
              "displayName": "PRECIO TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -240
      ],
      "id": "3bed7595-6d03-4345-9471-9458e4d05a69",
      "name": "Escribir sucursales",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        464
      ],
      "id": "d7771f33-ed1d-406c-8497-25446ab020a1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// 1. CONFIGURACIÓN Y DATOS\nconst staticData = $getWorkflowStaticData('global');\nconst allSales = staticData.allProducts || [];\n\nif (allSales.length === 0) {\n    return [{ json: { mensaje: \"⚠️ Ejecuta el bucle primero.\" } }];\n}\n\n// NORMALIZACIÓN DE MARCAS: Limpiamos espacios y pasamos a MAYÚSCULAS\nconst LISTA_MARCAS = items\n    .map(item => (item.json['Nombre_del_Proveedor'] || '').toString().trim().toUpperCase())\n    .filter(marca => marca.length > 1);\n\n// Ordenamos por longitud de mayor a menor para evitar que \"NIKE\" se coma a \"NIKE SB\"\nLISTA_MARCAS.sort((a, b) => b.length - a.length);\n\n// Contenedores\nconst productStats = {};\nconst brandStats = {};\nconst branchStats = {};\n\n// Configuración Skatepark\nlet skateparkCount = 0;\nlet skateparkRevenue = 0;\nconst SKATEPARK_NAME = \"TICKET ENTRADA SKATEPARK\";\nconst FILA_SUCURSALES = 26; \n\n// 2. PROCESAMIENTO ÚNICO (Con Normalización)\nfor (const sale of allSales) {\n    // --- LA REGLA DE ORO: NORMALIZACIÓN ---\n    // Convertimos a texto, quitamos espacios fantasma y pasamos a MAYÚSCULAS\n    const productName = (sale['NOMBRE DE PRODUCTO'] || \"SIN NOMBRE\").toString().trim().toUpperCase();\n    const branchName = (sale['SUCURSAL DE VENTA'] || \"N/A\").toString().trim().toUpperCase();\n    const variantOriginal = (sale['VARIANTE'] || '').toString().trim(); \n    const variantKey = variantOriginal.toUpperCase(); \n\n    // Limpieza números (mantienes tu lógica original que estaba perfecta)\n    let priceStr = (sale['PRECIO PAGADO'] || '0').toString();\n    let costStr = (sale['COSTE DE PRODUCTO'] || '0').toString();\n    let unitPriceStr = (sale['PRECIO DE PRODUCTO'] || '0').toString();\n    \n    const paidPrice = parseFloat(priceStr.replace(',', '.')) || 0;\n    const cost = parseFloat(costStr.replace(',', '.')) || 0;\n    const listPrice = parseFloat(unitPriceStr.replace(',', '.')) || 0;\n\n    // Lógica Skatepark (buscamos en el nombre ya en mayúsculas)\n    if (productName.includes(SKATEPARK_NAME)) {\n        skateparkCount += 1;\n        skateparkRevenue += paidPrice;\n        continue; \n    }\n\n    if (productName !== \"SIN NOMBRE\") {\n        // A) PRODUCTOS\n        const prodKey = `${productName} - ${variantKey}`;\n        \n        if (!productStats[prodKey]) {\n            productStats[prodKey] = {\n                Producto: productName, \n                Variante: variantOriginal, // Guardamos la original para que quede bonita en el Excel\n                Precio: listPrice,\n                Ventas: 0, Unidades: 0, Beneficio: 0\n            };\n        }\n        productStats[prodKey].Ventas += paidPrice;\n        productStats[prodKey].Unidades += 1;\n        productStats[prodKey].Beneficio += (paidPrice - cost);\n\n        // B) MARCAS\n        let detectedBrand = \"OTRAS\"; // Usamos mayúsculas por consistencia\n        \n        for (const marca of LISTA_MARCAS) {\n            // Si la marca es un número (ej. \"686\"), usamos Regex de coincidencia exacta\n            if (!isNaN(marca)) {\n                const regex = new RegExp(`\\\\b${marca}\\\\b`);\n                if (regex.test(productName)) {\n                    detectedBrand = marca;\n                    break;\n                }\n            } else {\n                // Si es texto normal\n                if (productName.includes(marca)) {\n                    detectedBrand = marca;\n                    break;\n                }\n            }\n        }\n\n        // Parche manual para The North Face (buscando en mayúsculas)\n        if (detectedBrand === \"OTRAS\" && (productName.includes(\"NORTH FACE\") || productName.includes(\" TNF \"))) {\n            detectedBrand = \"THE NORTH FACE\";\n        }\n\n        if (!brandStats[detectedBrand]) {\n            brandStats[detectedBrand] = { Marca: detectedBrand, Ventas: 0, Unidades: 0 };\n        }\n        brandStats[detectedBrand].Ventas += paidPrice;\n        brandStats[detectedBrand].Unidades += 1;\n    }\n\n    // C) SUCURSALES\n    if (branchName !== \"N/A\" && branchName !== \"\") {\n        if (!branchStats[branchName]) {\n            branchStats[branchName] = { Sucursal: branchName, Ventas: 0, Transacciones: 0 };\n        }\n        branchStats[branchName].Ventas += paidPrice;\n        branchStats[branchName].Transacciones += 1;\n    }\n}\n\n// 3. GENERAR RESULTADOS (TOP 10 y demás lógica original)\nconst finalOutput = [];\n\n// --- PRODUCTOS ---\nconst sortedProds = Object.values(productStats).sort((a, b) => \n    b.Unidades !== a.Unidades ? b.Unidades - a.Unidades : b.Ventas - a.Ventas\n).slice(0, 10);\n\nsortedProds.forEach((p, i) => {\n    const item = {\n        tipo: \"producto\",\n        fila_excel: i + 2,\n        Producto: p.Producto,\n        Variante: p.Variante,\n        Precio: parseFloat(p.Precio.toFixed(2)),\n        Unidades: p.Unidades,\n        Total: parseFloat(p.Ventas.toFixed(2)),\n        Beneficio: parseFloat(p.Beneficio.toFixed(2))\n    };\n    if (i === 0) {\n        item.Skatepark_Entradas_Vendidas = skateparkCount;\n        item.Skatepark_Ingresos_Totales = parseFloat(skateparkRevenue.toFixed(2));\n    }\n    finalOutput.push({ json: item });\n});\n\n// --- MARCAS ---\nconst sortedBrands = Object.values(brandStats)\n    .filter(b => b.Marca !== \"OTRAS\")\n    .sort((a, b) => b.Unidades !== a.Unidades ? b.Unidades - a.Unidades : b.Ventas - a.Ventas)\n    .slice(0, 10);\n\nsortedBrands.forEach((b, i) => {\n    finalOutput.push({\n        json: {\n            tipo: \"marca\",\n            fila_excel: i + 14, \n            Marca: b.Marca,\n            Unidades: b.Unidades,\n            Total: parseFloat(b.Ventas.toFixed(2))\n        }\n    });\n});\n\n// --- SUCURSALES ---\nconst sortedBranches = Object.values(branchStats).sort((a, b) => b.Ventas - a.Ventas);\n\nsortedBranches.forEach((b, i) => {\n    finalOutput.push({\n        json: {\n            tipo: \"sucursal\",\n            fila_excel: i + FILA_SUCURSALES, \n            Sucursal: b.Sucursal,\n            Transacciones: b.Transacciones,\n            Total: parseFloat(b.Ventas.toFixed(2))\n        }\n    });\n});\n\n// 4. LIMPIEZA FINAL\nstaticData.allProducts = [];\n\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -384
      ],
      "id": "504c552c-d8b0-4d63-abb6-a9ec3f46e91b",
      "name": "Calculo_Maestro"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "producto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e3281762-2b3c-41e1-bcd5-6d1e82e10c0d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd5f0dee-b77a-43e9-a0d6-b1df7ccd262c",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "marca",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "395d8bc3-96de-4d5b-be62-bec164fe3c72",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "sucursal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        512,
        -400
      ],
      "id": "654cadb9-d4c2-4198-b6da-69e0bd56aa55",
      "name": "Elegir tipo de input"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "query": "query findCustomerAndCreditID($query: String!) {\n  customers(first: 1, query: $query) {\n    edges {\n      node {\n        id\n        email\n        # Buscamos también la cuenta de crédito del cliente\n        storeCreditAccounts(first: 1) {\n          edges {\n            node {\n              id\n            }\n          }\n        }\n      }\n    }\n  }\n}",
        "variables": "={\n  \"query\": \"email:{{ $json.Correo }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        960,
        736
      ],
      "id": "143b2690-f56b-4f55-9a4c-c9e59e4a8d15",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "THkhgrtze1uBo6Ft",
          "name": "Token Informes Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. INPUT ACTUAL (items): Son los datos que vienen de \"Get row(s)\" (Correos)\nconst datosCorreos = items;\n\n// 2. INPUT ANTERIOR: Recuperamos los datos del nodo \"Calcular Ranking Empleados1\" (Ventas)\n// NOTA: Asegúrate de que el nombre dentro de $('...') sea EXACTO al de tu nodo morado\nlet datosVentas = [];\ntry {\n  datosVentas = $('Calcular Ranking Empleados').all();\n} catch (e) {\n  return [{ json: { error: \"No encuentro el nodo 'Calcular Ranking Empleados1'. Revisa el nombre.\" } }];\n}\n\n// 3. Creamos el mapa para buscar correos (Nombre -> Correo)\nconst mapaCorreos = {};\n\ndatosCorreos.forEach(fila => {\n  const datos = fila.json;\n  \n  // En tu captura de \"Get row(s)\", la columna del nombre se llama \"Nombre\" (no \"Nombre Empleado\")\n  // Usamos .trim() porque en tu captura se ven saltos de línea (\"\\n\")\n  const nombreKey = (datos[\"Nombre\"] || \"\").toString().trim();\n  const email = (datos[\"Correo\"] || \"\").toString().trim(); // Limpiamos el \\n del correo\n  \n  if (nombreKey && email) {\n    mapaCorreos[nombreKey] = email;\n  }\n});\n\n// 4. Procesamos las VENTAS (iteramos sobre datosVentas, NO sobre items)\nconst resultados = [];\n\nfor (const item of datosVentas) {\n  const empleado = item.json;\n  \n  // Aquí sí existen estas columnas porque estamos leyendo del nodo de Ranking\n  const ventas = parseFloat(empleado[\"Total Vendido\"]);\n  const nombreVentas = (empleado[\"Nombre Empleado\"] || \"\").toString().trim();\n  \n  let bonoValor = 0;\n\n  // --- LÓGICA DEL BONO ---\n  if (ventas >= 30000) {\n    bonoValor = 200;\n  } else if (ventas >= 26000) {\n    bonoValor = 150;\n  } else if (ventas >= 22000) {\n    bonoValor = 120;\n  } else if (ventas >= 18000) {\n    bonoValor = 90;\n  }\n\n  // --- GENERACIÓN DEL OUTPUT ---\n  if (bonoValor > 0) {\n    \n    // Buscamos el correo usando el nombre limpio\n    const correoEncontrado = mapaCorreos[nombreVentas];\n\n    resultados.push({\n      json: {\n        \"Nombre Empleado\": nombreVentas,\n        \"Total Vendido\": ventas,\n        \"BONO\": `BONO ${bonoValor}€`,\n        \"MontoBono\": bonoValor,\n        // Si no encuentra el correo, pondrá null.\n        \"Correo\": correoEncontrado || \"No encontrado\"\n      }\n    });\n  }\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        736
      ],
      "id": "f1e8abd2-0441-4ba7-8f11-558506473f74",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "m14tPVcEZzewnVMX",
          "mode": "list",
          "cachedResultName": "empleados",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/m14tPVcEZzewnVMX"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Nombre",
              "keyValue": "={{ $json[\"Nombre Empleado\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        736
      ],
      "id": "23a0b84f-a080-49b8-beb3-cf051b28b93a",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos los resultados de Shopify (Input actual)\nconst shopifyInput = items;\n\n// 2. Obtenemos los datos originales del bono (Code in JavaScript)\nlet bonusInput = [];\ntry {\n  bonusInput = $('Code in JavaScript').all();\n} catch (error) {\n  return [{ json: { error: \"No se encuentran datos del nodo 'Code in JavaScript'\" } }];\n}\n\n// 3. Mapeamos los bonos por correo (limpiando espacios)\nconst mapaBonos = {};\nbonusInput.forEach(item => {\n  const data = item.json;\n  if (data.Correo) {\n    const emailLimpio = data.Correo.toString().trim().toLowerCase();\n    mapaBonos[emailLimpio] = data;\n  }\n});\n\nconst resultadosFinales = [];\n\n// 4. Procesamos la respuesta de Shopify\nfor (const item of shopifyInput) {\n  const shopifyData = item.json;\n\n  // Verificamos si Shopify encontró al cliente\n  if (shopifyData.data && \n      shopifyData.data.customers && \n      shopifyData.data.customers.edges && \n      shopifyData.data.customers.edges.length > 0) {\n    \n    const clienteNode = shopifyData.data.customers.edges[0].node;\n    const emailShopify = clienteNode.email.trim().toLowerCase();\n\n    // Cruzamos con el bono original\n    const bonoOriginal = mapaBonos[emailShopify];\n\n    if (bonoOriginal) {\n      \n      // Intentamos obtener la ID de la cuenta de crédito\n      let creditAccountId = null;\n      if (clienteNode.storeCreditAccounts && \n          clienteNode.storeCreditAccounts.edges && \n          clienteNode.storeCreditAccounts.edges.length > 0) {\n        creditAccountId = clienteNode.storeCreditAccounts.edges[0].node.id;\n      }\n\n      // IMPORTANTE: Ahora devolvemos el resultado SIEMPRE, tenga o no cuenta de crédito.\n      // Si no tiene cuenta, 'CreditAccountID' será null.\n      resultadosFinales.push({\n        json: {\n          \"CustomerID\": clienteNode.id,\n          \"CreditAccountID\": creditAccountId, // Puede ser null si el cliente es nuevo\n          \"MontoBono\": bonoOriginal.MontoBono.toString(),\n          \"EtiquetaBono\": bonoOriginal.BONO,\n          \"Email\": emailShopify,\n          \"TieneCuentaCredito\": creditAccountId ? true : false // Bandera de ayuda\n        }\n      });\n    }\n  }\n}\n\nreturn resultadosFinales;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        736
      ],
      "id": "311e9e07-8adc-40b5-8354-b12975b32cfc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "query": "mutation storeCreditAccountCredit($id: ID!, $creditInput: StoreCreditAccountCreditInput!) {\n  storeCreditAccountCredit(id: $id, creditInput: $creditInput) {\n    storeCreditAccountTransaction {\n      id\n      amount {\n        amount\n        currencyCode\n      }\n      balanceAfterTransaction {\n        amount\n        currencyCode\n      }\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}\n",
        "variables": "={\n  \"id\": \"{{ $json.CreditAccountID }}\",\n  \"creditInput\": {\n    \"creditAmount\": {\n      \"amount\": \"{{ $json.MontoBono }}\",\n      \"currencyCode\": \"EUR\"\n    }\n  }\n}\n"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        1552,
        736
      ],
      "id": "2c8ee8bf-99fc-4bef-8ea0-06a5bec51363",
      "name": "GraphQL1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "THkhgrtze1uBo6Ft",
          "name": "Token Informes Shopify"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "query": "mutation AddCustomerTag($id: ID!, $tags: [String!]!) {\n  tagsAdd(id: $id, tags: $tags) {\n    node {\n      id\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"id\": \"{{ $json.CustomerID }}\",\n  \"tags\": [\"{{ $json.EtiquetaBono }}\"]\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        1360,
        736
      ],
      "id": "59ef37c4-27e6-4de1-9613-f17fd0b0371f",
      "name": "GraphQL2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "THkhgrtze1uBo6Ft",
          "name": "Token Informes Shopify"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=¡Tienes {{ $json.MontoBono }}€ de saldo disponible en tienda! 🎁",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; }\n  .email-container { max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 40px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n  .header { text-align: center; padding-bottom: 20px; border-bottom: 1px solid #eeeeee; }\n  .header h1 { color: #333333; margin: 0; font-size: 24px; }\n  .content { padding: 30px 0; color: #555555; line-height: 1.6; }\n  .credit-box { background-color: #e6fffa; border: 1px solid #38b2ac; color: #234e52; padding: 15px; text-align: center; border-radius: 6px; margin: 20px 0; font-size: 18px; font-weight: bold; }\n  .info-text { font-size: 14px; color: #666; text-align: center; margin-top: -10px; margin-bottom: 20px; font-style: italic; }\n  .warning-box { background-color: #fffaf0; border-left: 4px solid #ed8936; padding: 15px; margin: 20px 0; font-size: 14px; color: #744210; }\n  .footer { text-align: center; font-size: 12px; color: #999999; margin-top: 30px; border-top: 1px solid #eeeeee; padding-top: 20px; }\n</style>\n</head>\n<body>\n\n<div class=\"email-container\">\n  <div class=\"header\">\n    <h1>¡Saldo añadido correctamente!</h1>\n  </div>\n\n  <div class=\"content\">\n    <p>Hola,</p>\n    \n    <p>Queremos informarte que hemos actualizado tu cuenta de cliente. Tienes un nuevo bono de crédito listo para usar.</p>\n\n    <div class=\"credit-box\">\n      Has recibido: {{ $json.MontoBono }}€\n    </div>\n\n    <div class=\"info-text\">\n      *Si ya disponías de saldo anterior en tu cuenta, este importe <strong>se ha sumado</strong> a tu total actual.\n    </div>\n\n    <p>Puedes utilizar este crédito para adquirir cualquier producto en <strong>todas nuestras tiendas</strong>.</p>\n\n    <div class=\"warning-box\">\n      <strong>⚠️ Recordatorio importante:</strong><br>\n      Si decides pagar utilizando tu crédito de tienda, el sistema <u>no permitirá aplicar otros códigos de descuento</u> o cupones promocionales en ese mismo pedido.\n    </div>\n  </div>\n\n  <div class=\"footer\">\n    <p>Saludos,<br><strong>El Equipo de Tailwind</strong></p>\n    <p>Si tienes alguna duda sobre tu saldo total, no dudes en responder a este correo.</p>\n  </div>\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1360,
        912
      ],
      "id": "de05e630-42ee-4d9a-868f-d0d567a0ed53",
      "name": "Send a message",
      "webhookId": "69b6f5d3-a26d-46a8-8432-61d9aa5edd87",
      "credentials": {
        "gmailOAuth2": {
          "id": "wR7U82S8bmDH4odC",
          "name": "info@tailwind.es"
        }
      }
    },
    {
      "parameters": {
        "content": "COPIA DE LA PLANTILLA\n",
        "height": 192,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        0
      ],
      "id": "9ab3499d-1278-4571-b488-d3cd92b0b552",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "ESCRIBIR EN EL ARCHIVO\n",
        "height": 512,
        "width": 160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -608
      ],
      "id": "f34655cd-9b98-4355-91c9-9d2905e5eb2d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "HACER LOS CÁLCULOS CON LA INFORMACIÓN DE LOS INFORMES DIARIOS\n",
        "height": 224,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -448
      ],
      "id": "ca0245e6-327a-49d2-9492-83334ed8ba5e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Accedemos a la memoria global del flujo\nconst staticData = $getWorkflowStaticData('global');\n\n// Si es la primera vuelta, inicializamos la lista\nif (!staticData.allProducts) {\n  staticData.allProducts = [];\n}\n\n// Añadimos los productos leídos en esta vuelta del bucle\nconst newItems = items.map(item => item.json);\nstaticData.allProducts.push(...newItems);\n\n// Pasamos el testigo para que el flujo siga\nreturn { json: { status: 'guardado', filas: newItems.length } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -112
      ],
      "id": "a33a17b0-17aa-4d09-8bdb-a41b45ef16d7",
      "name": "Acumular en memoria"
    },
    {
      "parameters": {
        "content": "LEER LOS INFORMES DIARIOS DE TODO EL MES\n",
        "height": 288,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -192
      ],
      "id": "705c6f1d-cb5b-4ea4-a52d-0e84ffb4017d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "ESCRIBIR EN EL ARCHIVO\n",
        "height": 192,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "235f4b24-b7ea-4f04-9558-07fcb29c5086",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "LEER INFORMACIÓN DE LOS EMPLEADOS EN SHOPIFY\n",
        "height": 400,
        "width": 992,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        208
      ],
      "id": "c0d28e3a-dc03-4bb2-a809-690f7ab3472c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "░░░░░░░░░░░░░░░░░░░▒▓▓█████████████▓▓▒░░░░░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░░░░░▒████▓▓▒▒░▒▒▒░▒▒▒▒▒▒▓▓████▓▒░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░░▒███▓░░░░░░░░░░░░░░░░░░░░░░▒███████▓▓▒░░░░░░░░░░░\n░░░░░░░░░▒██▓░░░░▒▒███▓▓▒░░░░░░░░░░░░░▓▓▒▒▒▒▒▓██████▓░░░░░░░\n░░░░░░░▒██▓░░░▓███▓▒░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░░░░░▒▓▓███▓████▒▒░░░\n░░░░░░██▓░░▒▓██▓░░▒▓██████▓░░░░░░░▒░░░░░░▒██▓▒░░░▓███▒▓▒░░░░\n░░░░░██░░▓███▒░░▒██▒░░░░▒▒██▓░░░░░░░░░░░██▒░░░░▒████▒█░░░░░░\n░░░░██░▒▓▒▓▓░░░██░░░░░░░░░░░█▓░░░░░░░░░██░░░░░░▒███░░█▒░░░░░\n░░░▓█░░░░░░░░░██░░░░░░░░░░░░▓█░░░░░░░░██░░░░░░░░░░░░░█▒░░░░░\n░░░█▓░░░░░░░░░█▒░░████░░░░░░░█▒░░░░░░░██░░░░░░░░░░░░███░░░░░\n░░▒█░░░░░░░▒▓▒█▓░▓████▓░░░░░▒█░░░░░░░░▒█▒░░░░░░░░░░██░█▒░░░░\n░░██░░░░░▒▓▒▓▒██▒▒▓▓▓░░░░░░░██░░░░░░░░░▒████▓███████▓░█▒░░░░\n░░█▓░░░░░▒░░░▒░▒██▓▒░░░░░▒██▓░░░░░░░░░░░░░░██▓░░░░░░▒██▓░░░░\n░░█░░░░░░░░░▓▒░░░░▒▓██████▓░░░░░░░░░░░░░░▒██░░░▓█▓▓▒░░░██░░░\n░▒█░░░░░░░░░░░░░░░░░░░░░░░░░░▓▒▓▒▒▒▒▒▓▓▓▓██░░▓█▓░▒▒██▒░░██░░\n░▓█░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▓▓▒░░██░░██▓░▒░▒░██░░▒█░░\n░██░░░░░░░░░░░░░░░░░░░░░░░▒▓▒▒▒▒▒▒▒▒░░░██░░▓█░█▓░█▒█▓█▓░░█░░\n░██░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒░▒▒░░▓█▓░░██░█▒▒█▒█▒▓█░░█░░\n░██░░░░░░░░░░░░░░░░░░░░░░░░▒░░░░░░░░░░▓█░░░█▒░░░░▒▒░░▒█░▓█░░\n░▒█░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░█▒░░█▒░░░░░░░░▓█░█▓░░\n░░█▓░▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓█░░█▒░░░░░░░░█░▒█░░░\n░░▓█░░▒░░▒▒░░▒░░░░░░░░░░░░░░░░░░░░░░░░░░█░░█▒░░░░░░░█▓░█▓░░░\n░░░█▒░░▒░░▒░░▒▒░░░░░░░░░░░░░░░░░░░░░░░░░█░░█▒░░░░░░▓█░░█░░░░\n░░░██░░░▒░▒░░░▒▒░░░░░░░░░░░░░░░░░░░░░░░░█░░█▒░░░░░░██░░█░░░░\n░░░░█▓░░░▒░▒░░░░▒▒░░░░░▒▒▒▒▒▒░░░░░░░░░░▒█░▒█░░░░░░░█▒░░█▓░░░\n░░░░▓█░░░░▒▒░░░░░▒▒░░░░░░▒▒▒▓▓▓▒░░░░░░░██░██░░░░░░░██░░▓█░░░\n░░░░░██░░░▒░▒░░░░░▒░░░░░░░░▒░▒▒▓█▒░░░░▒█░░█▓▒▓▓▓▒░░▓█░░░█▒░░\n░░░░░▒█▒░░░▒▒▒░░░░▒░░░░░░░░░░▒▒▒░▒▓░░░██░▒█░░░░▒▓▓░░██░░█▒░░\n░░░░░░▒█▒░░░▒░▒░░░▒░░░░░░▒▒▒░░░░▒▒░░░▒█░░██░░░░░░░█░▒█░░█▒░░\n░░░░░░░▓█░░░▒░▒░░░░▒▒░░░░▓▒▒▓▓▓▒░░▓▒░██░░██▒▒▒▒▓▒▓▓███░░█▒░░\n░░░░░░░░██░░░▒░▒░░░░░▒▒░░░░░░░░▓█▓░░░█▓░░██░▓█░█░█░░█▒░░█▒░░\n░░░░░░░░░██░░░░▒▒░░░░░░▒▒░░░░░░░░▒█▓░█▓░░▓█▒▒█▒█░█▒██░░▒█░░░\n░░░░░░░░░░██▒░░░░▒░░░▒░░░▒▒░░░░░░░░▒▓██░░░██░░░░▒▒██░░░██░░░\n░░░░░░░░░░░▓██░░░░░░░░▒▒░░░▒░░░░░░░░░▓█░░░░▓███▓▓██░░░██░░░░\n░░░░░░░░░░░░░▓██▒░░░░░░▒▒▒▒▒░░░░░░░░░░██░░░░░░▒▒▒░░░░██░░░░░\n░░░░░░░░░░░░░░░▓███▒░░░░░░░▒▒▒▒▒▒▒▒░░░░▓██▒░░░░░░░▒███░░░░░░\n░░░░░░░░░░░░░░░░░▒▓███▓▒░░░░░░░▒░░▒▒▒▒░░░▒██▓██████▓░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░▒████▓▒▒░░░░░░░░░░░░░░░▓██▒░░░░░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░▒▓████▓░░░░░░░▓█████▒░░░░░░░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒█████████▒░░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒░░░░░░░░░░░░░░░░░░░░░░░\n",
        "height": 784,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        -144
      ],
      "id": "0a689d39-3746-4b8b-b67c-5405bd28b17b",
      "name": "Sticky Note14"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-14T08:04:08.250Z",
      "createdAt": "2026-01-14T08:04:08.250Z",
      "role": "workflow:owner",
      "workflowId": "584ehV8qDkwoHzoLSDP1n",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-03T13:37:11.442Z",
  "versionId": "204d611a-24d9-4692-a652-28439c78bb44"
}