workflows/584ehV8qDkwoHzoLSDP1n.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-23T09:03:49.000Z",
    "createdAt": "2026-01-23T09:03:47.143Z",
    "versionId": "05cedf4a-1fe6-4427-9980-f71a68149ac4",
    "workflowId": "584ehV8qDkwoHzoLSDP1n",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months",
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -1024,
          32
        ],
        "id": "4c23fe05-5690-420a-8ad4-66ef9230ed65",
        "name": "Inicio de Mes (D칤a 1)"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id_fecha",
                "name": "NOMBRE_MES",
                "value": "={{ $today.minus({months: 1}).setLocale('es').format('MMMM').toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "id_rango_inicio",
                "name": "FECHA_INICIO",
                "value": "={{ $today.minus({months: 1}).startOf('month').format('yyyy-MM-dd') }}T00:00:00Z",
                "type": "string"
              },
              {
                "id": "id_rango_fin",
                "name": "FECHA_FIN",
                "value": "={{ $today.minus({months: 1}).endOf('month').format('yyyy-MM-dd') }}T23:59:59Z",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -800,
          32
        ],
        "id": "4e18e961-e82a-44bc-a08f-203fb6bdb947",
        "name": "Configurar Fechas"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1tsvxi9_RbsJ9PZzj89QC4KmPOSeOUlI2FnsqcM4vmoY",
            "mode": "id"
          },
          "name": "=INFORME MENSUAL COMPLETO - {{ $json.NOMBRE_MES }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -576,
          32
        ],
        "id": "0b17272d-1aa2-4c3f-8811-2d74745ef031",
        "name": "Crear Informe Maestro",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "N7JXWgOiVoyCTaVL",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "8GDVj673ag0hCrVt",
            "mode": "list",
            "cachedResultName": "Informe Mensual"
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -304,
          -224
        ],
        "id": "966d2a0c-85d6-4139-a9f7-7b3cdf1cc36c",
        "name": "Obtener Informes Diarios"
      },
      {
        "parameters": {
          "jsCode": "// L칩gica de limpieza original + Agrupaci칩n de Top Productos\nconst inputItems = items;\nconst uniqueStrings = new Set();\nconst uniqueItems = [];\nconst productCounts = {};\n\n// 1. Limpieza de duplicados\nfor (const item of inputItems) {\n    const itemString = JSON.stringify(item.json);\n    if (!uniqueStrings.has(itemString)) {\n        uniqueStrings.add(itemString);\n        uniqueItems.push(item);\n        \n        // 2. Contar para Ranking\n        const prodName = item.json['NOMBRE DE PRODUCTO'];\n        if(prodName && prodName !== 'SEPARADOR') {\n             if(!productCounts[prodName]) productCounts[prodName] = 0;\n             productCounts[prodName]++;\n        }\n    }\n}\n\nreturn uniqueItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          -224
        ],
        "id": "82dd14a4-55b7-4056-bc0b-58fae0131f59",
        "name": "Limpiar y Analizar Productos"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "url_shopify",
                "name": "url_proxima",
                "value": "=https://rulesshop.myshopify.com/admin/api/2025-01/orders.json?limit=250&status=any&created_at_min={{ $('Configurar Fechas').item.json.FECHA_INICIO }}&created_at_max={{ $('Configurar Fechas').item.json.FECHA_FIN }}&fields=id,name,total_price,user_id",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -304,
          304
        ],
        "id": "baac2c47-e3e0-4413-a657-02e685aeea0f",
        "name": "Prep Shopify"
      },
      {
        "parameters": {
          "url": "={{ $json.url_proxima }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -96,
          304
        ],
        "id": "02d692ea-c717-4ecf-ab9a-d95d81b2eb37",
        "name": "Shopify API",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond_link",
                "leftValue": "={{ $('Shopify API').item.json.headers.link }}",
                "rightValue": "next",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          240,
          304
        ],
        "id": "3fed2932-cb89-43c4-86f1-8df62a10ec7c",
        "name": "Hay m치s p치ginas?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "next_url",
                "name": "url_proxima",
                "value": "={{ $json.headers.link.match(/<([^>]+)>;\\s*rel=\"next\"/)[1] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          288
        ],
        "id": "74a1ce84-d763-4d42-96a6-b66b3a056bbe",
        "name": "Set Next Page"
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst listaAcumulada = staticData.listaTemporal || [];\nconst nuevosPedidos = $('Shopify API').item.json.body.orders || [];\nconst listaCompleta = listaAcumulada.concat(nuevosPedidos);\nstaticData.listaTemporal = [];\nreturn listaCompleta.map(p => ({ json: p }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          144
        ],
        "id": "76818f9e-1abd-4a3f-89be-6bcfe16956ff",
        "name": "Unir Todos los Pedidos"
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.listaTemporal) staticData.listaTemporal = [];\n\n// 1. Capturamos los datos de entrada (incluidos los encabezados/headers)\n// Usamos items[0] porque en n8n v1+ items es el array de entrada\nconst inputData = items[0].json;\nconst pedidos = inputData.body.orders;\n\n// 2. Guardamos los pedidos en la mochila\nstaticData.listaTemporal.push(...pedidos);\n\n// 3. 춰IMPORTANTE! Devolvemos los 'headers' hacia afuera.\n// As칤 el siguiente nodo podr치 leer el link de la p치gina siguiente.\nreturn {\n  json: {\n    status: 'accumulating',\n    headers: inputData.headers\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          304
        ],
        "id": "c388a069-3ddc-418e-a9d0-8903192a2fb1",
        "name": "Acumular en Memoria"
      },
      {
        "parameters": {
          "jsCode": "// Agrupar por empleado\nconst inputs = items;\nconst groups = {};\nfor (const item of inputs) {\n  const data = item.json;\n  const userId = data.user_id;\n  const price = parseFloat(data.total_price) || 0;\n  if (!groups[userId]) {\n    groups[userId] = { user_id: userId, total_spent: 0, count: 0 };\n  }\n  groups[userId].total_spent += price;\n  groups[userId].count += 1;\n}\nconst sortedEmployees = Object.values(groups)\n  .map(g => ({\n    json: {\n      user_id: g.user_id,\n      total_sales: Number(g.total_spent.toFixed(2)),\n      orders_count: g.count\n    }\n  }))\n  .sort((a, b) => b.json.total_sales - a.json.total_sales);\nreturn sortedEmployees;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          144
        ],
        "id": "e2bc4c63-1319-4ac9-8ecd-a66c024022a1",
        "name": "Calcular Ranking Empleados"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "kpIuRe6aSFnpKUOB",
            "mode": "list",
            "cachedResultName": "Empleados_ids_Shopify",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/kpIuRe6aSFnpKUOB"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Identificador",
                "keyValue": "={{ $json.user_id.toString() }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          816,
          144
        ],
        "id": "46231967-5f86-4143-9f9a-b4f5a426af10",
        "name": "Obtener Nombres Empleados"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Crear Informe Maestro').item.json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Ranking Empleados",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1024,
          144
        ],
        "id": "f894e18e-33b5-4bc9-9b5a-58b0663b6a26",
        "name": "Escribir Empleados",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "RUTA 1: VENTAS\nEl ID del archivo viene del nodo principal, as칤 que ahora podemos escribir directamente.",
          "height": 140,
          "width": 304,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -304,
          -368
        ],
        "id": "0e2c598a-0376-4192-9f43-55beb6d61e0a",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "RUTA 2: BONOS\nShopify procesa todo y al final escribe en el archivo creado al principio.",
          "height": 140,
          "width": 304,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -304,
          160
        ],
        "id": "2597c927-aa51-4003-a949-419b2158cda7",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          112,
          -224
        ],
        "id": "2d5428b2-70e7-4119-8684-7fbcf096a603",
        "name": "Bucle: Uno a Uno"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          880,
          -208
        ],
        "id": "7e8d206e-0955-4264-a054-7f52e5aed125",
        "name": "Espera 1s",
        "webhookId": "57665f85-f34c-4a9b-81e3-71d620974b94"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Crear Informe Maestro').first().json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Detalle Diario",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JcZHTzdDhiJrjpYVDXaCcsICGGeExMDsYXyXjq-06kg/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SUCURSAL DE VENTA": "={{ $json['SUCURSAL DE VENTA'] }}",
              "M칄TODO DE PAGO": "={{ $json['M칄TODO DE PAGO'] }}",
              "COSTE POR UNIDAD": "={{ $json['COSTE POR UNIDAD'] }}",
              "PRECIO DE PRODUCTO": "={{ $json['PRECIO DE PRODUCTO'] }}",
              "PRECIO PAGADO": "={{ $json['PRECIO PAGADO'] }}",
              "DESCUENTO": "={{ $json['DESCUENTO'] }}",
              "NOMBRE DE PRODUCTO": "={{ $json['NOMBRE DE PRODUCTO'] }}",
              "VARIANTE": "={{ $json['VARIANTE'] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "SUCURSAL DE VENTA",
                "displayName": "SUCURSAL DE VENTA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "M칄TODO DE PAGO",
                "displayName": "M칄TODO DE PAGO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "COSTE POR UNIDAD",
                "displayName": "COSTE POR UNIDAD",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRECIO DE PRODUCTO",
                "displayName": "PRECIO DE PRODUCTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRECIO PAGADO",
                "displayName": "PRECIO PAGADO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DESCUENTO",
                "displayName": "DESCUENTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "NOMBRE DE PRODUCTO",
                "displayName": "NOMBRE DE PRODUCTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "VARIANTE",
                "displayName": "VARIANTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "SURFIN SIERRA NEVADA",
                "displayName": "SURFIN SIERRA NEVADA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "col_10",
                "displayName": "col_10",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "col_11",
                "displayName": "col_11",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "col_12",
                "displayName": "col_12",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "col_13",
                "displayName": "col_13",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Tarjeta",
                "displayName": "Tarjeta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Efectivo",
                "displayName": "Efectivo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Venta Web",
                "displayName": "Venta Web",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TOTAL",
                "displayName": "TOTAL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          720,
          -208
        ],
        "id": "7f3e3a25-1af8-4209-af52-c9387dc6cbcb",
        "name": "Escribir detalle",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Bucle: Uno a Uno').item.json.ID_Documento }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1agYxXaJmYaKnBkYE-H6faln5jcYOxedLmCjE-Nde_S8/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          544,
          -208
        ],
        "id": "d2ef4873-7d36-41a0-ac61-3662612885c1",
        "name": "Leer Informe de ese D칤a",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Crear Informe Maestro').first().json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Detalle Diario",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SUCURSAL DE VENTA": "=游늰 D칈A: {{ $('Bucle: Uno a Uno').item.json.fecha }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "SUCURSAL DE VENTA",
                "displayName": "SUCURSAL DE VENTA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": false
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          352,
          -208
        ],
        "id": "d0817cda-d813-4bbd-8d81-edc9d4b1bab7",
        "name": "Escribir Fecha Cabecera",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Inicio de Mes (D칤a 1)": {
        "main": [
          [
            {
              "node": "Configurar Fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configurar Fechas": {
        "main": [
          [
            {
              "node": "Crear Informe Maestro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear Informe Maestro": {
        "main": [
          [
            {
              "node": "Prep Shopify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Informes Diarios": {
        "main": [
          [
            {
              "node": "Limpiar y Analizar Productos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Shopify": {
        "main": [
          [
            {
              "node": "Shopify API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Next Page": {
        "main": [
          [
            {
              "node": "Shopify API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpiar y Analizar Productos": {
        "main": [
          [
            {
              "node": "Bucle: Uno a Uno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Shopify API": {
        "main": [
          [
            {
              "node": "Acumular en Memoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hay m치s p치ginas?": {
        "main": [
          [
            {
              "node": "Set Next Page",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Unir Todos los Pedidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Acumular en Memoria": {
        "main": [
          [
            {
              "node": "Hay m치s p치ginas?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unir Todos los Pedidos": {
        "main": [
          [
            {
              "node": "Calcular Ranking Empleados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcular Ranking Empleados": {
        "main": [
          [
            {
              "node": "Obtener Nombres Empleados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Nombres Empleados": {
        "main": [
          [
            {
              "node": "Escribir Empleados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bucle: Uno a Uno": {
        "main": [
          [],
          [
            {
              "node": "Escribir Fecha Cabecera",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Espera 1s": {
        "main": [
          [
            {
              "node": "Bucle: Uno a Uno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escribir detalle": {
        "main": [
          [
            {
              "node": "Espera 1s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Informe de ese D칤a": {
        "main": [
          [
            {
              "node": "Escribir detalle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escribir Fecha Cabecera": {
        "main": [
          [
            {
              "node": "Leer Informe de ese D칤a",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Info Tailwind",
    "name": "Version 05cedf4a",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "05cedf4a-1fe6-4427-9980-f71a68149ac4",
  "connections": {
    "Inicio de Mes (D칤a 1)": {
      "main": [
        [
          {
            "node": "Configurar Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Informe Maestro": {
      "main": [
        [
          {
            "node": "Obtener Informes Diarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Informes Diarios": {
      "main": [
        [
          {
            "node": "Limpiar y Analizar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Shopify": {
      "main": [
        [
          {
            "node": "Shopify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Next Page": {
      "main": [
        [
          {
            "node": "Shopify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar y Analizar Productos": {
      "main": [
        [
          {
            "node": "Bucle: Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify API": {
      "main": [
        [
          {
            "node": "Acumular en Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay m치s p치ginas?": {
      "main": [
        [
          {
            "node": "Set Next Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unir Todos los Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acumular en Memoria": {
      "main": [
        [
          {
            "node": "Hay m치s p치ginas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Todos los Pedidos": {
      "main": [
        [
          {
            "node": "Calcular Ranking Empleados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Ranking Empleados": {
      "main": [
        [
          {
            "node": "Obtener Nombres Empleados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Nombres Empleados": {
      "main": [
        [
          {
            "node": "Escribir Empleados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle: Uno a Uno": {
      "main": [
        [
          {
            "node": "Calcular Top 10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Informe de ese D칤a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 1s": {
      "main": [
        [
          {
            "node": "Bucle: Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir detalle": {
      "main": [
        [],
        []
      ]
    },
    "Leer Informe de ese D칤a": {
      "main": [
        [
          {
            "node": "Acumular en memoria",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Configurar Fechas2": {
      "main": [
        []
      ]
    },
    "Configurar Fechas": {
      "main": [
        [
          {
            "node": "Crear Informe Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acumular en memoria": {
      "main": [
        [
          {
            "node": "Espera 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Top 10": {
      "main": [
        [
          {
            "node": "Escribir detalle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T08:04:08.245Z",
  "id": "584ehV8qDkwoHzoLSDP1n",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Informe_Mensual_Definitivo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1024,
        32
      ],
      "id": "4c23fe05-5690-420a-8ad4-66ef9230ed65",
      "name": "Inicio de Mes (D칤a 1)"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1tsvxi9_RbsJ9PZzj89QC4KmPOSeOUlI2FnsqcM4vmoY",
          "mode": "id"
        },
        "name": "=INFORME MENSUAL COMPLETO - {{ $json.NOMBRE_MES }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        32
      ],
      "id": "0b17272d-1aa2-4c3f-8811-2d74745ef031",
      "name": "Crear Informe Maestro",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N7JXWgOiVoyCTaVL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8GDVj673ag0hCrVt",
          "mode": "list",
          "cachedResultName": "Informe Mensual"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -304,
        -224
      ],
      "id": "966d2a0c-85d6-4139-a9f7-7b3cdf1cc36c",
      "name": "Obtener Informes Diarios"
    },
    {
      "parameters": {
        "jsCode": "// L칩gica de limpieza original + Agrupaci칩n de Top Productos\nconst inputItems = items;\nconst uniqueStrings = new Set();\nconst uniqueItems = [];\nconst productCounts = {};\n\n// 1. Limpieza de duplicados\nfor (const item of inputItems) {\n    const itemString = JSON.stringify(item.json);\n    if (!uniqueStrings.has(itemString)) {\n        uniqueStrings.add(itemString);\n        uniqueItems.push(item);\n        \n        // 2. Contar para Ranking\n        const prodName = item.json['NOMBRE DE PRODUCTO'];\n        if(prodName && prodName !== 'SEPARADOR') {\n             if(!productCounts[prodName]) productCounts[prodName] = 0;\n             productCounts[prodName]++;\n        }\n    }\n}\n\nreturn uniqueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -224
      ],
      "id": "82dd14a4-55b7-4056-bc0b-58fae0131f59",
      "name": "Limpiar y Analizar Productos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url_shopify",
              "name": "url_proxima",
              "value": "=https://rulesshop.myshopify.com/admin/api/2025-01/orders.json?limit=250&status=any&created_at_min={{ $('Configurar Fechas').item.json.FECHA_INICIO }}&created_at_max={{ $('Configurar Fechas').item.json.FECHA_FIN }}&fields=id,name,total_price,user_id",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        304
      ],
      "id": "baac2c47-e3e0-4413-a657-02e685aeea0f",
      "name": "Prep Shopify"
    },
    {
      "parameters": {
        "url": "={{ $json.url_proxima }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        304
      ],
      "id": "02d692ea-c717-4ecf-ab9a-d95d81b2eb37",
      "name": "Shopify API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_link",
              "leftValue": "={{ $('Shopify API').item.json.headers.link }}",
              "rightValue": "next",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        304
      ],
      "id": "3fed2932-cb89-43c4-86f1-8df62a10ec7c",
      "name": "Hay m치s p치ginas?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "next_url",
              "name": "url_proxima",
              "value": "={{ $json.headers.link.match(/<([^>]+)>;\\s*rel=\"next\"/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        288
      ],
      "id": "74a1ce84-d763-4d42-96a6-b66b3a056bbe",
      "name": "Set Next Page"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst listaAcumulada = staticData.listaTemporal || [];\nconst nuevosPedidos = $('Shopify API').item.json.body.orders || [];\nconst listaCompleta = listaAcumulada.concat(nuevosPedidos);\nstaticData.listaTemporal = [];\nreturn listaCompleta.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        496
      ],
      "id": "76818f9e-1abd-4a3f-89be-6bcfe16956ff",
      "name": "Unir Todos los Pedidos"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.listaTemporal) staticData.listaTemporal = [];\n\n// 1. Capturamos los datos de entrada (incluidos los encabezados/headers)\n// Usamos items[0] porque en n8n v1+ items es el array de entrada\nconst inputData = items[0].json;\nconst pedidos = inputData.body.orders;\n\n// 2. Guardamos los pedidos en la mochila\nstaticData.listaTemporal.push(...pedidos);\n\n// 3. 춰IMPORTANTE! Devolvemos los 'headers' hacia afuera.\n// As칤 el siguiente nodo podr치 leer el link de la p치gina siguiente.\nreturn {\n  json: {\n    status: 'accumulating',\n    headers: inputData.headers\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        304
      ],
      "id": "c388a069-3ddc-418e-a9d0-8903192a2fb1",
      "name": "Acumular en Memoria"
    },
    {
      "parameters": {
        "jsCode": "// Agrupar por empleado\nconst inputs = items;\nconst groups = {};\nfor (const item of inputs) {\n  const data = item.json;\n  const userId = data.user_id;\n  const price = parseFloat(data.total_price) || 0;\n  if (!groups[userId]) {\n    groups[userId] = { user_id: userId, total_spent: 0, count: 0 };\n  }\n  groups[userId].total_spent += price;\n  groups[userId].count += 1;\n}\nconst sortedEmployees = Object.values(groups)\n  .map(g => ({\n    json: {\n      user_id: g.user_id,\n      total_sales: Number(g.total_spent.toFixed(2)),\n      orders_count: g.count\n    }\n  }))\n  .sort((a, b) => b.json.total_sales - a.json.total_sales);\nreturn sortedEmployees;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        496
      ],
      "id": "e2bc4c63-1319-4ac9-8ecd-a66c024022a1",
      "name": "Calcular Ranking Empleados"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "kpIuRe6aSFnpKUOB",
          "mode": "list",
          "cachedResultName": "Empleados_ids_Shopify",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/kpIuRe6aSFnpKUOB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador",
              "keyValue": "={{ $json.user_id.toString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        816,
        496
      ],
      "id": "46231967-5f86-4143-9f9a-b4f5a426af10",
      "name": "Obtener Nombres Empleados"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Crear Informe Maestro').first().json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1357749090,
          "mode": "list",
          "cachedResultName": "Ranking Empleados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/154QLNeNQDp7dA-8-gUeGrNSjM97H_QDhoufqiJ9mZLg/edit#gid=1357749090"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        496
      ],
      "id": "f894e18e-33b5-4bc9-9b5a-58b0663b6a26",
      "name": "Escribir Empleados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "RUTA 1: VENTAS\nEl ID del archivo viene del nodo principal, as칤 que ahora podemos escribir directamente.",
        "height": 140,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -368
      ],
      "id": "0e2c598a-0376-4192-9f43-55beb6d61e0a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "RUTA 2: BONOS\nShopify procesa todo y al final escribe en el archivo creado al principio.",
        "height": 140,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        160
      ],
      "id": "2597c927-aa51-4003-a949-419b2158cda7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -224
      ],
      "id": "2d5428b2-70e7-4119-8684-7fbcf096a603",
      "name": "Bucle: Uno a Uno"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        -208
      ],
      "id": "7e8d206e-0955-4264-a054-7f52e5aed125",
      "name": "Espera 1s",
      "webhookId": "57665f85-f34c-4a9b-81e3-71d620974b94"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Crear Informe Maestro').first().json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Detalle Diario",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE PRODUCTO": "={{ $json.Producto }}",
            "VARIANTE": "={{ $json.Variante }}",
            "UNIDADES VENDIDAS": "={{ $json['Unidades Vendidas'] }}",
            "PRECIO": "={{ $json.Precio }}",
            "TOTAL": "={{ $json.Total }}"
          },
          "matchingColumns": [
            "TOP 10 PRODUCTOS M츼S VENDIDOS"
          ],
          "schema": [
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VARIANTE",
              "displayName": "VARIANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO",
              "displayName": "PRECIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADES VENDIDAS",
              "displayName": "UNIDADES VENDIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL",
              "displayName": "TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -384
      ],
      "id": "7f3e3a25-1af8-4209-af52-c9387dc6cbcb",
      "name": "Escribir detalle",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.ID_Documento }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -208
      ],
      "id": "d2ef4873-7d36-41a0-ac61-3662612885c1",
      "name": "Leer Informe de ese D칤a",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id_fecha",
              "name": "NOMBRE_MES",
              "value": "={{ $today.setLocale('es').format('MMMM').toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "id_rango_inicio",
              "name": "FECHA_INICIO",
              "value": "={{ $today.startOf('month').format('yyyy-MM-dd') }}T00:00:00Z",
              "type": "string"
            },
            {
              "id": "id_rango_fin",
              "name": "FECHA_FIN",
              "value": "={{ $today.endOf('month').format('yyyy-MM-dd') }}T23:59:59Z",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        96
      ],
      "id": "4ec80f18-8912-48eb-aac6-7855b84c109c",
      "name": "Configurar Fechas2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id_fecha",
              "name": "NOMBRE_MES",
              "value": "={{ $today.minus({months: 1}).setLocale('es').format('MMMM').toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "id_rango_inicio",
              "name": "FECHA_INICIO",
              "value": "={{ $today.minus({months: 1}).startOf('month').format('yyyy-MM-dd') }}T00:00:00Z",
              "type": "string"
            },
            {
              "id": "id_rango_fin",
              "name": "FECHA_FIN",
              "value": "={{ $today.minus({months: 1}).endOf('month').format('yyyy-MM-dd') }}T23:59:59Z",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        32
      ],
      "id": "4e18e961-e82a-44bc-a08f-203fb6bdb947",
      "name": "Configurar Fechas"
    },
    {
      "parameters": {
        "jsCode": "// 1. Intentamos recuperar datos de la memoria (si viene del bucle)\nconst staticData = $getWorkflowStaticData('global');\nlet allSales = staticData.allProducts;\n\n// 2. Si la memoria est치 vac칤a (porque est치s probando el nodo suelto), usamos el input directo\nif (!allSales || allSales.length === 0) {\n  allSales = items.map(item => item.json);\n}\n\nconst productStats = {};\n\n// 3. Recorremos todas las ventas para agruparlas\nfor (const sale of allSales) {\n  // Verificamos que sea una fila v치lida\n  if (!sale['NOMBRE DE PRODUCTO']) continue;\n\n  const productName = sale['NOMBRE DE PRODUCTO'];\n  const variant = sale['VARIANTE'] || '';\n  const key = `${productName} - ${variant}`;\n  \n  // Limpieza de n칰meros (por si vienen con comas en vez de puntos)\n  let priceStr = (sale['PRECIO PAGADO'] || '0').toString();\n  let costStr = (sale['COSTE DE PRODUCTO'] || '0').toString();\n  let unitPriceStr = (sale['PRECIO DE PRODUCTO'] || '0').toString(); \n  \n  const price = parseFloat(priceStr.replace(',', '.')) || 0;\n  const cost = parseFloat(costStr.replace(',', '.')) || 0;\n  const unitPrice = parseFloat(unitPriceStr.replace(',', '.')) || 0;\n\n  // Si es la primera vez que vemos este producto, inicializamos sus contadores\n  if (!productStats[key]) {\n    productStats[key] = {\n      'Producto': productName,\n      'Variante': variant,\n      'Precio Unidad': unitPrice, // Guardamos el precio original\n      'Ventas Totales': 0,        // Dinero real cobrado\n      'Unidades Vendidas': 0,     // Cantidad de art칤culos\n      'Beneficio': 0\n    };\n  }\n\n  // Sumamos los valores\n  productStats[key]['Ventas Totales'] += price;\n  productStats[key]['Unidades Vendidas'] += 1;\n  productStats[key]['Beneficio'] += (price - cost);\n}\n\n// 4. Ordenamos por Ventas Totales (De mayor a menor)\nconst sortedProducts = Object.values(productStats).sort((a, b) => \n  b['Ventas Totales'] - a['Ventas Totales']\n);\n\n// 5. Cortamos para quedarnos solo con el TOP 10\nconst top10 = sortedProducts.slice(0, 10);\n\n// 6. Formateamos la salida final y CALCULAMOS EL TOTAL AQU칈\nconst result = top10.map(p => ({\n  json: {\n    'Producto': p['Producto'],\n    'Variante': p['Variante'],\n    'Precio': parseFloat(p['Precio Unidad'].toFixed(2)),\n    'Unidades Vendidas': p['Unidades Vendidas'],\n    // AQU칈 EST츼 EL TRUCO: Calculamos el total para que no uses f칩rmulas en Excel\n    'Total': parseFloat((p['Precio Unidad'] * p['Unidades Vendidas']).toFixed(2)),\n    'Beneficio Estimado': parseFloat(p['Beneficio'].toFixed(2))\n  }\n}));\n\n// 7. Limpiamos la memoria para la pr칩xima vez\nstaticData.allProducts = [];\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -384
      ],
      "id": "6f3cf471-984c-488d-b08c-4f0f350039df",
      "name": "Calcular Top 10"
    },
    {
      "parameters": {
        "jsCode": "// Accedemos a la memoria global del flujo\nconst staticData = $getWorkflowStaticData('global');\n\n// Si es la primera vuelta, inicializamos la lista\nif (!staticData.allProducts) {\n  staticData.allProducts = [];\n}\n\n// A침adimos los productos le칤dos en esta vuelta del bucle\nconst newItems = items.map(item => item.json);\nstaticData.allProducts.push(...newItems);\n\n// Pasamos el testigo para que el flujo siga\nreturn { json: { status: 'guardado', filas: newItems.length } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -208
      ],
      "id": "a33a17b0-17aa-4d09-8bdb-a41b45ef16d7",
      "name": "Acumular en memoria"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-14T08:04:08.250Z",
      "createdAt": "2026-01-14T08:04:08.250Z",
      "role": "workflow:owner",
      "workflowId": "584ehV8qDkwoHzoLSDP1n",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-23T14:31:39.673Z",
  "versionId": "27dc2742-eb8c-4fb5-b8e7-c6c5e8778082"
}