workflows/8zLv7DpNHO5BT9ay.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-06T08:04:53.000Z",
    "createdAt": "2026-02-06T08:04:51.269Z",
    "versionId": "cdcfd770-0ae3-4428-91b1-f4593515aadd",
    "workflowId": "8zLv7DpNHO5BT9ay",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "monto-descuentos",
          "options": {}
        },
        "name": "Webhook2",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -2608,
          1376
        ],
        "id": "37e24b67-a5c8-483d-9cbb-d6deb3bffc60",
        "webhookId": "7ffd809b-cd97-4781-bbac-1cd59c4cf3d4"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.headers[\"x-shopify-topic\"] }}",
                      "rightValue": "refunds/create",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "05df5634-175d-4197-9602-04063623ac57"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.headers[\"x-shopify-topic\"] }}",
                      "rightValue": "orders/create",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "b7de8ecd-dbbe-4ba1-8cbf-a320b3f20ff8"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Switch Topic1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -2416,
          1376
        ],
        "id": "ad3ea731-07dc-45f4-ab7f-2fa1122403fb"
      },
      {
        "parameters": {
          "jsCode": "// ================================================================\n// 1. OBTENCIÓN ROBUSTA DE DATOS (WEBHOOK VS GRAPHQL)\n// ================================================================\nlet webhookNode;\nlet webhookBody;\nlet webhookHeaders;\n\ntry {\n    // Intentamos leer el nodo \"Webhook2\" explícitamente\n    if ($('Webhook2') && $('Webhook2').first()) {\n        webhookNode = $('Webhook2').first().json;\n    } else {\n        // Fallback: Si no se llama \"Webhook2\", usamos el primer input disponible\n        webhookNode = $input.all()[0].json;\n    }\n} catch (error) {\n    webhookNode = {};\n}\n\n// Normalización: Asegurar que tenemos headers y body disponibles\nif (webhookNode.headers && webhookNode.body) {\n    webhookHeaders = webhookNode.headers;\n    webhookBody = webhookNode.body;\n} else if ($input.item.json.headers && $input.item.json.body) {\n    webhookHeaders = $input.item.json.headers;\n    webhookBody = $input.item.json.body;\n} else {\n    try {\n        const whSource = $('Webhook2').first().json;\n        webhookHeaders = whSource.headers;\n        webhookBody = whSource.body;\n    } catch(e) {\n        webhookHeaders = {};\n        webhookBody = {};\n    }\n}\n\nconst topic = webhookHeaders[\"x-shopify-topic\"] || \"\";\nconst body = webhookBody || {};\n\n// Variables de salida\nlet customerId = \"\";\nlet amountToProcess = 0;\n// CAMBIO: Inicializamos con el texto deseado en lugar de null\nlet discountCode = \"No encontrado\"; \n\n// ================================================================\n// 2. LÓGICA PRINCIPAL (PEDIDOS VS DEVOLUCIONES)\n// ================================================================\n\nif (topic.includes('orders/create')) {\n    // ------------------------------------------------------------\n    // CASO: NUEVO PEDIDO\n    // ------------------------------------------------------------\n    \n    if (body.customer && body.customer.admin_graphql_api_id) {\n        customerId = body.customer.admin_graphql_api_id;\n    }\n\n    if (body.discount_codes && body.discount_codes.length > 0) {\n        discountCode = body.discount_codes[0].code;\n    } else if (body.discount_applications && body.discount_applications.length > 0) {\n        discountCode = body.discount_applications[0].title;\n    }\n\n    const totalDiscounts = parseFloat(body.total_discounts || \"0\");\n    if (totalDiscounts > 0) {\n        amountToProcess = parseFloat(body.total_price);\n    } else {\n        amountToProcess = 0;\n    }\n\n} else if (topic.includes('refunds/create')) {\n    // ------------------------------------------------------------\n    // CASO: DEVOLUCIÓN (REFUND)\n    // ------------------------------------------------------------\n\n    let orderData = null;\n    try {\n        orderData = $input.item.json.data ? $input.item.json.data.order : null;\n    } catch(e) {}\n    \n    if (orderData && orderData.customer) {\n         customerId = orderData.customer.id;\n         \n         if (orderData.discountCodes && orderData.discountCodes.length > 0) {\n             const codeItem = orderData.discountCodes[0];\n             discountCode = (typeof codeItem === 'string') ? codeItem : codeItem.code;\n         } \n    } else {\n         customerId = body.order_id; \n    }\n\n    const transactions = body.transactions || [];\n    const totalRefunded = transactions.reduce((acc, curr) => {\n        return acc + parseFloat(curr.amount || 0);\n    }, 0);\n    \n    amountToProcess = -Math.abs(totalRefunded);\n}\n\n// ================================================================\n// 3. RETORNO FINAL\n// ================================================================\n\n// Doble seguridad: Si por alguna razón la lógica anterior asignó un valor vacío o nulo\nif (!discountCode || discountCode === \"\") {\n    discountCode = \"No encontrado\";\n}\n\nreturn {\n    json: {\n        customerId: customerId,\n        amountToProcess: amountToProcess,\n        discountCode: discountCode\n    }\n};"
        },
        "name": "Code Unificador1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1952,
          1392
        ],
        "id": "c095aca7-cd13-45a4-92a7-86c98e6a5ea8"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "requestFormat": "json",
          "query": "query getCustomerMetafields($customerId: ID!) {\n  customer(id: $customerId) {\n    id\n    total: metafield(namespace: \"custom\", key: \"monto_total\") {\n      value\n    }\n    profesor: metafield(namespace: \"custom\", key: \"monto_profesor_40\") {\n      value\n    }\n    club: metafield(namespace: \"custom\", key: \"monto_club_30\") {\n      value\n    }\n    empleado: metafield(namespace: \"custom\", key: \"monto_empleado_25\") {\n      value\n    }\n  }\n}",
          "variables": "={\n  \"customerId\": \"{{ $json.customerId }}\"\n}"
        },
        "name": "Get Current Balance1",
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1,
        "position": [
          -1504,
          1376
        ],
        "id": "4961ca21-970f-492d-b305-b2610d3336a4",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// === CONFIGURACIÓN ===\nconst codeMap = {\n    \"40%PROFESOR\": \"monto_profesor_40\",\n    \"30%CLUB\": \"monto_club_30\",\n    \"25%EMPLEADO\": \"monto_empleado_25\"\n};\n\nconst rules = [\n  { threshold: 600, tagToRemove: \"DescuentoEmpleado\" },\n  { threshold: 1000, tagToRemove: \"DescuentoClub\" },\n  { threshold: 1200, tagToRemove: \"DescuentoProfesor\" }\n];\n\n// === DATOS DE ENTRADA ===\nconst processData = $('Code Unificador1').first().json; \nconst amount = processData.amountToProcess;\nconst codeUsed = processData.discountCode;\n\nconst customerData = $input.item.json.data.customer;\nconst customerId = customerData.id;\n\nconst getVal = (metafieldObj) => {\n    if (!metafieldObj || !metafieldObj.value) return 0;\n    try {\n        const parsed = JSON.parse(metafieldObj.value);\n        return parseFloat(parsed.amount);\n    } catch (e) {\n        return 0;\n    }\n};\n\n// === 1. CALCULAR MONTO TOTAL ===\n// (Acumula cualquier pedido con descuento, sea código o personalizado)\nlet currentTotal = getVal(customerData.total);\nlet newTotal = currentTotal + amount;\nif (newTotal < 0) newTotal = 0;\n\nlet metafieldsToUpdate = [];\n\n// Actualizar TOTAL\nmetafieldsToUpdate.push({\n    ownerId: customerId,\n    namespace: \"custom\",\n    key: \"monto_total\",\n    type: \"money\",\n    value: JSON.stringify({ amount: newTotal.toFixed(2), currency_code: \"EUR\" })\n});\n\n// === 2. CALCULAR MONTO ESPECÍFICO ===\n// (Solo si coincide el código string exacto)\nif (codeUsed && codeMap[codeUsed]) {\n    const specificKey = codeMap[codeUsed];\n    let currentSpecific = 0;\n    \n    if (codeUsed === \"40%PROFESOR\") currentSpecific = getVal(customerData.profesor);\n    else if (codeUsed === \"30%CLUB\") currentSpecific = getVal(customerData.club);\n    else if (codeUsed === \"25%EMPLEADO\") currentSpecific = getVal(customerData.empleado);\n    \n    let newSpecific = currentSpecific + amount;\n    if (newSpecific < 0) newSpecific = 0;\n\n    metafieldsToUpdate.push({\n        ownerId: customerId,\n        namespace: \"custom\",\n        key: specificKey,\n        type: \"money\",\n        value: JSON.stringify({ amount: newSpecific.toFixed(2), currency_code: \"EUR\" })\n    });\n}\n\n// === 3. GESTIÓN DE ETIQUETAS ===\nlet tagsToRemove = [];\nfor (const rule of rules) {\n    if (newTotal >= rule.threshold) {\n        tagsToRemove.push(rule.tagToRemove);\n    }\n}\n\nreturn {\n    json: {\n        customerId: customerId,\n        metafieldsToUpdate: metafieldsToUpdate,\n        tagsToRemove: tagsToRemove,\n        shouldRemoveTags: tagsToRemove.length > 0\n    }\n};"
        },
        "name": "Code Calculator1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1280,
          1376
        ],
        "id": "1b8bd03a-39c9-4ec6-851e-306fc9eec61b"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "requestFormat": "json",
          "query": "mutation updateMetafields($metafields: [MetafieldsSetInput!]!) {\n  metafieldsSet(metafields: $metafields) {\n    metafields {\n      key\n      value\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={{ { \"metafields\": $json.metafieldsToUpdate } }}"
        },
        "name": "Update Balance1",
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1,
        "position": [
          -1056,
          1376
        ],
        "id": "441cfb48-0d9d-4403-9797-b74cc0f280ec",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $('Code Calculator1').item.json.shouldRemoveTags }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "id": "cd6e4c85-4d37-4c62-bd25-7ed5625c424e"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Check Tags1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -832,
          1376
        ],
        "id": "66f01a6d-e07d-4949-b148-53bf5452046f"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "requestFormat": "json",
          "query": "mutation removeCustomerTags($id: ID!, $tags: [String!]!) {\n  tagsRemove(id: $id, tags: $tags) {\n    userErrors {\n      field\n      message\n    }\n    node {\n      id\n    }\n  }\n}",
          "variables": "={{\n  {\n    \"id\": $('Code Calculator1').item.json.customerId,\n    \"tags\": $('Code Calculator1').item.json.tagsToRemove\n  }\n}}"
        },
        "name": "Remove Tags1",
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1,
        "position": [
          -608,
          1296
        ],
        "id": "d3a5382b-317e-41a7-8298-e660bb66d383",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -608,
          1488
        ],
        "id": "0d1a024e-1aaa-49a1-a085-55e9d67e95e8",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f154c2f9-c53f-4d46-83cd-ee2ce08e82f0",
                "leftValue": "={{ $json.discountCode }}",
                "rightValue": "No encontrado",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "94322cb2-6cc3-4811-a339-9c332f3f3983",
                "leftValue": "={{ $json.customerId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1744,
          1392
        ],
        "id": "44a004bc-871a-41cc-a3ec-50116c15db08",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1504,
          1536
        ],
        "id": "65e5f3b5-b2ea-4207-bcd4-2069c9519464",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
          "query": "query getOrderCompleteDetails($id: ID!) {\n  order(id: $id) {\n    id\n    name\n    createdAt\n    processedAt\n    displayFinancialStatus\n    displayFulfillmentStatus\n    tags\n    note\n    email\n    phone\n    sourceIdentifier\n    app {\n      name\n    }\n    \n    # 1. CLIENTE\n    customer {\n      id\n      firstName\n      lastName\n      email\n      numberOfOrders\n    }\n\n    # 2. DINERO Y TOTALES\n    currentSubtotalPriceSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n    totalPriceSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n    totalReceivedSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n    totalDiscountsSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n\n    # DETALLE DE DESCUENTOS\n    discountApplications(first: 10) {\n      edges {\n        node {\n          targetSelection\n          allocationMethod\n          value {\n            ... on MoneyV2 {\n              amount\n              currencyCode\n            }\n            ... on PricingPercentageValue {\n              percentage\n            }\n          }\n          ... on DiscountCodeApplication {\n            code\n          }\n          ... on ManualDiscountApplication {\n            title\n            description\n          }\n          ... on AutomaticDiscountApplication {\n            title\n          }\n          ... on ScriptDiscountApplication {\n            title\n          }\n        }\n      }\n    }\n\n    # 3. LÍNEAS DE PRODUCTO\n    lineItems(first: 50) {\n      edges {\n        node {\n          id\n          title\n          variantTitle\n          sku\n          quantity\n          originalTotalSet {\n            shopMoney {\n              amount\n              currencyCode\n            }\n          }\n          variant {\n            id\n            price\n          }\n        }\n      }\n    }\n\n    # 4. CUMPLIMIENTOS (Fulfillments) - SECCIÓN CORREGIDA\n    fulfillments(first: 10) {\n      id\n      name\n      status\n      createdAt\n      # 'trackingCompany' eliminado. Ahora se pide dentro de trackingInfo:\n      trackingInfo {\n        company\n        number\n        url\n      }\n      location {\n        name\n      }\n      fulfillmentLineItems(first: 20) {\n        edges {\n          node {\n            quantity\n            lineItem {\n              title\n              variantTitle\n            }\n          }\n        }\n      }\n    }\n\n    # 5. DEVOLUCIONES (Refunds)\n    refunds(first: 10) {\n      id\n      createdAt\n      note\n      refundLineItems(first: 20) {\n        edges {\n          node {\n            quantity\n            lineItem {\n              title\n              variantTitle\n              sku\n            }\n            subtotalSet {\n              shopMoney {\n                amount\n                currencyCode\n              }\n            }\n          }\n        }\n      }\n    }\n\n    # 6. EVENTOS (Timeline)\n    events(first: 50) {\n      edges {\n        node {\n          id\n          message\n          createdAt\n        }\n      }\n    }\n  }\n}",
          "variables": "={\n  \"id\": \"gid://shopify/Order/{{ $json.body.order_id }}\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          -2176,
          1248
        ],
        "id": "75217c5a-468f-49ce-8da2-f12e4026194f",
        "name": "GraphQL",
        "credentials": {
          "httpHeaderAuth": {
            "id": "THkhgrtze1uBo6Ft",
            "name": "Token Informes Shopify"
          }
        }
      }
    ],
    "connections": {
      "Webhook2": {
        "main": [
          [
            {
              "node": "Switch Topic1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Topic1": {
        "main": [
          [
            {
              "node": "GraphQL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code Unificador1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Unificador1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Current Balance1": {
        "main": [
          [
            {
              "node": "Code Calculator1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Calculator1": {
        "main": [
          [
            {
              "node": "Update Balance1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Balance1": {
        "main": [
          [
            {
              "node": "Check Tags1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Tags1": {
        "main": [
          [
            {
              "node": "Remove Tags1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get Current Balance1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GraphQL": {
        "main": [
          [
            {
              "node": "Code Unificador1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version cdcfd770",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "cdcfd770-0ae3-4428-91b1-f4593515aadd",
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "Switch Topic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Topic1": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Unificador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Unificador1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Balance1": {
      "main": [
        [
          {
            "node": "Code Calculator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Calculator1": {
      "main": [
        [
          {
            "node": "Update Balance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Balance1": {
      "main": [
        [
          {
            "node": "Check Tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tags1": {
      "main": [
        [
          {
            "node": "Remove Tags1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Current Balance1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "Code Unificador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-26T09:47:12.180Z",
  "id": "8zLv7DpNHO5BT9ay",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Monto_Hibrido_Descuentos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monto-descuentos",
        "options": {}
      },
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2608,
        1376
      ],
      "id": "37e24b67-a5c8-483d-9cbb-d6deb3bffc60",
      "webhookId": "7ffd809b-cd97-4781-bbac-1cd59c4cf3d4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.headers[\"x-shopify-topic\"] }}",
                    "rightValue": "refunds/create",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "05df5634-175d-4197-9602-04063623ac57"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.headers[\"x-shopify-topic\"] }}",
                    "rightValue": "orders/create",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "b7de8ecd-dbbe-4ba1-8cbf-a320b3f20ff8"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Switch Topic1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2416,
        1376
      ],
      "id": "ad3ea731-07dc-45f4-ab7f-2fa1122403fb"
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// 1. OBTENCIÓN ROBUSTA DE DATOS (WEBHOOK VS GRAPHQL)\n// ================================================================\nlet webhookNode;\nlet webhookBody;\nlet webhookHeaders;\n\ntry {\n    // Intentamos leer el nodo \"Webhook2\" explícitamente\n    if ($('Webhook2') && $('Webhook2').first()) {\n        webhookNode = $('Webhook2').first().json;\n    } else {\n        // Fallback: Si no se llama \"Webhook2\", usamos el primer input disponible\n        webhookNode = $input.all()[0].json;\n    }\n} catch (error) {\n    webhookNode = {};\n}\n\n// Normalización: Asegurar que tenemos headers y body disponibles\nif (webhookNode.headers && webhookNode.body) {\n    webhookHeaders = webhookNode.headers;\n    webhookBody = webhookNode.body;\n} else if ($input.item.json.headers && $input.item.json.body) {\n    webhookHeaders = $input.item.json.headers;\n    webhookBody = $input.item.json.body;\n} else {\n    try {\n        const whSource = $('Webhook2').first().json;\n        webhookHeaders = whSource.headers;\n        webhookBody = whSource.body;\n    } catch(e) {\n        webhookHeaders = {};\n        webhookBody = {};\n    }\n}\n\nconst topic = webhookHeaders[\"x-shopify-topic\"] || \"\";\nconst body = webhookBody || {};\n\n// Variables de salida\nlet customerId = \"\";\nlet amountToProcess = 0;\n// CAMBIO: Inicializamos con el texto deseado en lugar de null\nlet discountCode = \"No encontrado\"; \n\n// ================================================================\n// 2. LÓGICA PRINCIPAL (PEDIDOS VS DEVOLUCIONES)\n// ================================================================\n\nif (topic.includes('orders/create')) {\n    // ------------------------------------------------------------\n    // CASO: NUEVO PEDIDO\n    // ------------------------------------------------------------\n    \n    if (body.customer && body.customer.admin_graphql_api_id) {\n        customerId = body.customer.admin_graphql_api_id;\n    }\n\n    if (body.discount_codes && body.discount_codes.length > 0) {\n        discountCode = body.discount_codes[0].code;\n    } else if (body.discount_applications && body.discount_applications.length > 0) {\n        discountCode = body.discount_applications[0].title;\n    }\n\n    const totalDiscounts = parseFloat(body.total_discounts || \"0\");\n    if (totalDiscounts > 0) {\n        amountToProcess = parseFloat(body.total_price);\n    } else {\n        amountToProcess = 0;\n    }\n\n} else if (topic.includes('refunds/create')) {\n    // ------------------------------------------------------------\n    // CASO: DEVOLUCIÓN (REFUND)\n    // ------------------------------------------------------------\n\n    let orderData = null;\n    try {\n        orderData = $input.item.json.data ? $input.item.json.data.order : null;\n    } catch(e) {}\n    \n    if (orderData && orderData.customer) {\n         customerId = orderData.customer.id;\n         \n         if (orderData.discountCodes && orderData.discountCodes.length > 0) {\n             const codeItem = orderData.discountCodes[0];\n             discountCode = (typeof codeItem === 'string') ? codeItem : codeItem.code;\n         } \n    } else {\n         customerId = body.order_id; \n    }\n\n    const transactions = body.transactions || [];\n    const totalRefunded = transactions.reduce((acc, curr) => {\n        return acc + parseFloat(curr.amount || 0);\n    }, 0);\n    \n    amountToProcess = -Math.abs(totalRefunded);\n}\n\n// ================================================================\n// 3. RETORNO FINAL\n// ================================================================\n\n// Doble seguridad: Si por alguna razón la lógica anterior asignó un valor vacío o nulo\nif (!discountCode || discountCode === \"\") {\n    discountCode = \"No encontrado\";\n}\n\nreturn {\n    json: {\n        customerId: customerId,\n        amountToProcess: amountToProcess,\n        discountCode: discountCode\n    }\n};"
      },
      "name": "Code Unificador1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        1392
      ],
      "id": "c095aca7-cd13-45a4-92a7-86c98e6a5ea8"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "requestFormat": "json",
        "query": "query getCustomerMetafields($customerId: ID!) {\n  customer(id: $customerId) {\n    id\n    total: metafield(namespace: \"custom\", key: \"monto_total\") {\n      value\n    }\n    profesor: metafield(namespace: \"custom\", key: \"monto_profesor_40\") {\n      value\n    }\n    club: metafield(namespace: \"custom\", key: \"monto_club_30\") {\n      value\n    }\n    empleado: metafield(namespace: \"custom\", key: \"monto_empleado_25\") {\n      value\n    }\n  }\n}",
        "variables": "={\n  \"customerId\": \"{{ $json.customerId }}\"\n}"
      },
      "name": "Get Current Balance1",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        -1504,
        1376
      ],
      "id": "4961ca21-970f-492d-b305-b2610d3336a4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === CONFIGURACIÓN ===\nconst codeMap = {\n    \"40%PROFESOR\": \"monto_profesor_40\",\n    \"30%CLUB\": \"monto_club_30\",\n    \"25%EMPLEADO\": \"monto_empleado_25\"\n};\n\nconst rules = [\n  { threshold: 600, tagToRemove: \"DescuentoEmpleado\" },\n  { threshold: 1000, tagToRemove: \"DescuentoClub\" },\n  { threshold: 1200, tagToRemove: \"DescuentoProfesor\" }\n];\n\n// === DATOS DE ENTRADA ===\nconst processData = $('Code Unificador1').first().json; \nconst amount = processData.amountToProcess;\nconst codeUsed = processData.discountCode;\n\nconst customerData = $input.item.json.data.customer;\nconst customerId = customerData.id;\n\nconst getVal = (metafieldObj) => {\n    if (!metafieldObj || !metafieldObj.value) return 0;\n    try {\n        const parsed = JSON.parse(metafieldObj.value);\n        return parseFloat(parsed.amount);\n    } catch (e) {\n        return 0;\n    }\n};\n\n// === 1. CALCULAR MONTO TOTAL ===\n// (Acumula cualquier pedido con descuento, sea código o personalizado)\nlet currentTotal = getVal(customerData.total);\nlet newTotal = currentTotal + amount;\nif (newTotal < 0) newTotal = 0;\n\nlet metafieldsToUpdate = [];\n\n// Actualizar TOTAL\nmetafieldsToUpdate.push({\n    ownerId: customerId,\n    namespace: \"custom\",\n    key: \"monto_total\",\n    type: \"money\",\n    value: JSON.stringify({ amount: newTotal.toFixed(2), currency_code: \"EUR\" })\n});\n\n// === 2. CALCULAR MONTO ESPECÍFICO ===\n// (Solo si coincide el código string exacto)\nif (codeUsed && codeMap[codeUsed]) {\n    const specificKey = codeMap[codeUsed];\n    let currentSpecific = 0;\n    \n    if (codeUsed === \"40%PROFESOR\") currentSpecific = getVal(customerData.profesor);\n    else if (codeUsed === \"30%CLUB\") currentSpecific = getVal(customerData.club);\n    else if (codeUsed === \"25%EMPLEADO\") currentSpecific = getVal(customerData.empleado);\n    \n    let newSpecific = currentSpecific + amount;\n    if (newSpecific < 0) newSpecific = 0;\n\n    metafieldsToUpdate.push({\n        ownerId: customerId,\n        namespace: \"custom\",\n        key: specificKey,\n        type: \"money\",\n        value: JSON.stringify({ amount: newSpecific.toFixed(2), currency_code: \"EUR\" })\n    });\n}\n\n// === 3. GESTIÓN DE ETIQUETAS ===\nlet tagsToRemove = [];\nfor (const rule of rules) {\n    if (newTotal >= rule.threshold) {\n        tagsToRemove.push(rule.tagToRemove);\n    }\n}\n\nreturn {\n    json: {\n        customerId: customerId,\n        metafieldsToUpdate: metafieldsToUpdate,\n        tagsToRemove: tagsToRemove,\n        shouldRemoveTags: tagsToRemove.length > 0\n    }\n};"
      },
      "name": "Code Calculator1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1376
      ],
      "id": "1b8bd03a-39c9-4ec6-851e-306fc9eec61b"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "requestFormat": "json",
        "query": "mutation updateMetafields($metafields: [MetafieldsSetInput!]!) {\n  metafieldsSet(metafields: $metafields) {\n    metafields {\n      key\n      value\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={{ { \"metafields\": $json.metafieldsToUpdate } }}"
      },
      "name": "Update Balance1",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        -1056,
        1376
      ],
      "id": "441cfb48-0d9d-4403-9797-b74cc0f280ec",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $('Code Calculator1').item.json.shouldRemoveTags }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "cd6e4c85-4d37-4c62-bd25-7ed5625c424e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Tags1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        1376
      ],
      "id": "66f01a6d-e07d-4949-b148-53bf5452046f"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "requestFormat": "json",
        "query": "mutation removeCustomerTags($id: ID!, $tags: [String!]!) {\n  tagsRemove(id: $id, tags: $tags) {\n    userErrors {\n      field\n      message\n    }\n    node {\n      id\n    }\n  }\n}",
        "variables": "={{\n  {\n    \"id\": $('Code Calculator1').item.json.customerId,\n    \"tags\": $('Code Calculator1').item.json.tagsToRemove\n  }\n}}"
      },
      "name": "Remove Tags1",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        -608,
        1296
      ],
      "id": "d3a5382b-317e-41a7-8298-e660bb66d383",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -608,
        1488
      ],
      "id": "0d1a024e-1aaa-49a1-a085-55e9d67e95e8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f154c2f9-c53f-4d46-83cd-ee2ce08e82f0",
              "leftValue": "={{ $json.discountCode }}",
              "rightValue": "No encontrado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "94322cb2-6cc3-4811-a339-9c332f3f3983",
              "leftValue": "={{ $json.customerId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1744,
        1392
      ],
      "id": "44a004bc-871a-41cc-a3ec-50116c15db08",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1504,
        1536
      ],
      "id": "65e5f3b5-b2ea-4207-bcd4-2069c9519464",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2026-01/graphql.json",
        "query": "query getOrderCompleteDetails($id: ID!) {\n  order(id: $id) {\n    id\n    name\n    createdAt\n    processedAt\n    displayFinancialStatus\n    displayFulfillmentStatus\n    tags\n    note\n    email\n    phone\n    sourceIdentifier\n    app {\n      name\n    }\n    \n    # 1. CLIENTE\n    customer {\n      id\n      firstName\n      lastName\n      email\n      numberOfOrders\n    }\n\n    # 2. DINERO Y TOTALES\n    currentSubtotalPriceSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n    totalPriceSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n    totalReceivedSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n    totalDiscountsSet {\n      shopMoney {\n        amount\n        currencyCode\n      }\n    }\n\n    # DETALLE DE DESCUENTOS\n    discountApplications(first: 10) {\n      edges {\n        node {\n          targetSelection\n          allocationMethod\n          value {\n            ... on MoneyV2 {\n              amount\n              currencyCode\n            }\n            ... on PricingPercentageValue {\n              percentage\n            }\n          }\n          ... on DiscountCodeApplication {\n            code\n          }\n          ... on ManualDiscountApplication {\n            title\n            description\n          }\n          ... on AutomaticDiscountApplication {\n            title\n          }\n          ... on ScriptDiscountApplication {\n            title\n          }\n        }\n      }\n    }\n\n    # 3. LÍNEAS DE PRODUCTO\n    lineItems(first: 50) {\n      edges {\n        node {\n          id\n          title\n          variantTitle\n          sku\n          quantity\n          originalTotalSet {\n            shopMoney {\n              amount\n              currencyCode\n            }\n          }\n          variant {\n            id\n            price\n          }\n        }\n      }\n    }\n\n    # 4. CUMPLIMIENTOS (Fulfillments) - SECCIÓN CORREGIDA\n    fulfillments(first: 10) {\n      id\n      name\n      status\n      createdAt\n      # 'trackingCompany' eliminado. Ahora se pide dentro de trackingInfo:\n      trackingInfo {\n        company\n        number\n        url\n      }\n      location {\n        name\n      }\n      fulfillmentLineItems(first: 20) {\n        edges {\n          node {\n            quantity\n            lineItem {\n              title\n              variantTitle\n            }\n          }\n        }\n      }\n    }\n\n    # 5. DEVOLUCIONES (Refunds)\n    refunds(first: 10) {\n      id\n      createdAt\n      note\n      refundLineItems(first: 20) {\n        edges {\n          node {\n            quantity\n            lineItem {\n              title\n              variantTitle\n              sku\n            }\n            subtotalSet {\n              shopMoney {\n                amount\n                currencyCode\n              }\n            }\n          }\n        }\n      }\n    }\n\n    # 6. EVENTOS (Timeline)\n    events(first: 50) {\n      edges {\n        node {\n          id\n          message\n          createdAt\n        }\n      }\n    }\n  }\n}",
        "variables": "={\n  \"id\": \"gid://shopify/Order/{{ $json.body.order_id }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -2176,
        1248
      ],
      "id": "75217c5a-468f-49ce-8da2-f12e4026194f",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "THkhgrtze1uBo6Ft",
          "name": "Token Informes Shopify"
        }
      }
    }
  ],
  "pinData": {
    "Webhook2": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.tailwind.es",
            "x-forwarded-for": "35.241.181.198",
            "x-forwarded-proto": "https",
            "content-length": "9932",
            "user-agent": "Shopify-Captain-Hook",
            "accept": "*/*",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-shopify-api-version": "2026-01",
            "x-shopify-event-id": "21a4959c-583b-4b77-b058-dfafdc6fc1cb",
            "x-shopify-hmac-sha256": "o4RxoYKjkECuvHvCdWBMFxbkICDYrB5YPq3biMjqpJ4=",
            "x-shopify-order-id": "7528126775643",
            "x-shopify-shop-domain": "surfin-store-spain.myshopify.com",
            "x-shopify-test": "false",
            "x-shopify-topic": "orders/create",
            "x-shopify-triggered-at": "2026-02-06T12:08:24.625494162Z",
            "x-shopify-webhook-id": "61fbc6ca-692b-5c10-b00e-b0a7a98173bf"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 7528126775643,
            "admin_graphql_api_id": "gid://shopify/Order/7528126775643",
            "app_id": 129785,
            "browser_ip": "2.136.43.78",
            "buyer_accepts_marketing": false,
            "cancel_reason": null,
            "cancelled_at": null,
            "cart_token": null,
            "checkout_id": 48334208827739,
            "checkout_token": "e148561b-872c-4f0a-98d2-dc0d28069602",
            "client_details": {
              "accept_language": null,
              "browser_height": null,
              "browser_ip": "2.136.43.78",
              "browser_width": null,
              "session_hash": null,
              "user_agent": "Shopify POS/10.15.2/Android/15/Redmi/25040RP0AE/production"
            },
            "closed_at": "2026-02-06T13:08:25+01:00",
            "company": null,
            "confirmation_number": "XVG5KN5V2",
            "confirmed": true,
            "contact_email": null,
            "created_at": "2026-02-06T13:08:23+01:00",
            "currency": "EUR",
            "current_shipping_price_set": {
              "shop_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              }
            },
            "current_subtotal_price": "153.00",
            "current_subtotal_price_set": {
              "shop_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              }
            },
            "current_total_additional_fees_set": null,
            "current_total_discounts": "102.00",
            "current_total_discounts_set": {
              "shop_money": {
                "amount": "102.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "102.00",
                "currency_code": "EUR"
              }
            },
            "current_total_duties_set": null,
            "current_total_price": "153.00",
            "current_total_price_set": {
              "shop_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              }
            },
            "current_total_tax": "0.00",
            "current_total_tax_set": {
              "shop_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              }
            },
            "customer_locale": "es",
            "device_id": 20,
            "discount_codes": [
              {
                "code": "Autorizado por Gerardo",
                "amount": "102.00",
                "type": "percentage"
              }
            ],
            "duties_included": false,
            "email": "",
            "estimated_taxes": false,
            "financial_status": "paid",
            "fulfillment_status": "fulfilled",
            "landing_site": null,
            "landing_site_ref": null,
            "location_id": 108915917147,
            "merchant_business_entity_id": "MTg3OTg3NjUwOTA3",
            "merchant_of_record_app_id": null,
            "name": "#71906",
            "note": null,
            "note_attributes": [],
            "number": 70906,
            "order_number": 71906,
            "order_status_url": "https://nuance-store.com/87987650907/orders/b232d991f567527dffad3b8f60ab5365/authenticate?key=f94848f6d3bfc5215dd15fe3c62006ac",
            "original_total_additional_fees_set": null,
            "original_total_duties_set": null,
            "payment_gateway_names": [
              "cash"
            ],
            "phone": null,
            "po_number": null,
            "presentment_currency": "EUR",
            "processed_at": "2026-02-06T13:08:22+01:00",
            "reference": null,
            "referring_site": null,
            "source_identifier": "108915917147-20-1166",
            "source_name": "pos",
            "source_url": null,
            "subtotal_price": "153.00",
            "subtotal_price_set": {
              "shop_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              }
            },
            "tags": "",
            "tax_exempt": false,
            "tax_lines": [],
            "taxes_included": true,
            "test": false,
            "token": "b232d991f567527dffad3b8f60ab5365",
            "total_cash_rounding_payment_adjustment_set": {
              "shop_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              }
            },
            "total_cash_rounding_refund_adjustment_set": {
              "shop_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              }
            },
            "total_discounts": "102.00",
            "total_discounts_set": {
              "shop_money": {
                "amount": "102.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "102.00",
                "currency_code": "EUR"
              }
            },
            "total_line_items_price": "255.00",
            "total_line_items_price_set": {
              "shop_money": {
                "amount": "255.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "255.00",
                "currency_code": "EUR"
              }
            },
            "total_outstanding": "0.00",
            "total_price": "153.00",
            "total_price_set": {
              "shop_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "153.00",
                "currency_code": "EUR"
              }
            },
            "total_shipping_price_set": {
              "shop_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              }
            },
            "total_tax": "0.00",
            "total_tax_set": {
              "shop_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              },
              "presentment_money": {
                "amount": "0.00",
                "currency_code": "EUR"
              }
            },
            "total_tip_received": "0.00",
            "total_weight": 0,
            "updated_at": "2026-02-06T13:08:25+01:00",
            "user_id": 127346606427,
            "billing_address": null,
            "customer": null,
            "discount_applications": [
              {
                "target_type": "line_item",
                "type": "manual",
                "value": "40.0",
                "value_type": "percentage",
                "allocation_method": "across",
                "target_selection": "all",
                "title": "Autorizado por Gerardo",
                "description": null
              }
            ],
            "fulfillments": [
              {
                "id": 6713964167515,
                "admin_graphql_api_id": "gid://shopify/Fulfillment/6713964167515",
                "created_at": "2026-02-06T13:08:24+01:00",
                "location_id": 108915917147,
                "name": "#71906.1",
                "order_id": 7528126775643,
                "origin_address": {},
                "receipt": {},
                "service": "manual",
                "shipment_status": null,
                "status": "success",
                "tracking_company": null,
                "tracking_number": null,
                "tracking_numbers": [],
                "tracking_url": null,
                "tracking_urls": [],
                "updated_at": "2026-02-06T13:08:24+01:00",
                "line_items": [
                  {
                    "id": 18428674933083,
                    "admin_graphql_api_id": "gid://shopify/LineItem/18428674933083",
                    "attributed_staffs": [],
                    "current_quantity": 1,
                    "fulfillable_quantity": 0,
                    "fulfillment_service": "manual",
                    "fulfillment_status": "fulfilled",
                    "gift_card": false,
                    "grams": 0,
                    "name": "The North Face Mns Extreme Pile 2 Fz Forro Polar - White Dune / S",
                    "price": "170.00",
                    "price_set": {
                      "shop_money": {
                        "amount": "170.00",
                        "currency_code": "EUR"
                      },
                      "presentment_money": {
                        "amount": "170.00",
                        "currency_code": "EUR"
                      }
                    },
                    "product_exists": true,
                    "product_id": 10267874754907,
                    "properties": [],
                    "quantity": 1,
                    "requires_shipping": true,
                    "sku": "51959726735707",
                    "taxable": true,
                    "title": "The North Face Mns Extreme Pile 2 Fz Forro Polar",
                    "total_discount": "0.00",
                    "total_discount_set": {
                      "shop_money": {
                        "amount": "0.00",
                        "currency_code": "EUR"
                      },
                      "presentment_money": {
                        "amount": "0.00",
                        "currency_code": "EUR"
                      }
                    },
                    "variant_id": 51959726735707,
                    "variant_inventory_management": "shopify",
                    "variant_title": "White Dune / S",
                    "vendor": "The North Face",
                    "tax_lines": [],
                    "duties": [],
                    "discount_allocations": [
                      {
                        "amount": "68.00",
                        "amount_set": {
                          "shop_money": {
                            "amount": "68.00",
                            "currency_code": "EUR"
                          },
                          "presentment_money": {
                            "amount": "68.00",
                            "currency_code": "EUR"
                          }
                        },
                        "discount_application_index": 0
                      }
                    ]
                  },
                  {
                    "id": 18428674965851,
                    "admin_graphql_api_id": "gid://shopify/LineItem/18428674965851",
                    "attributed_staffs": [],
                    "current_quantity": 1,
                    "fulfillable_quantity": 0,
                    "fulfillment_service": "manual",
                    "fulfillment_status": "fulfilled",
                    "gift_card": false,
                    "grams": 0,
                    "name": "The North Face Yumiori 1/4 Zip Forro Polar - TNF Black/Asphalt Grey/Monument Grey / M",
                    "price": "85.00",
                    "price_set": {
                      "shop_money": {
                        "amount": "85.00",
                        "currency_code": "EUR"
                      },
                      "presentment_money": {
                        "amount": "85.00",
                        "currency_code": "EUR"
                      }
                    },
                    "product_exists": true,
                    "product_id": 10254930542939,
                    "properties": [],
                    "quantity": 1,
                    "requires_shipping": true,
                    "sku": "51905154023771",
                    "taxable": true,
                    "title": "The North Face Yumiori 1/4 Zip Forro Polar",
                    "total_discount": "0.00",
                    "total_discount_set": {
                      "shop_money": {
                        "amount": "0.00",
                        "currency_code": "EUR"
                      },
                      "presentment_money": {
                        "amount": "0.00",
                        "currency_code": "EUR"
                      }
                    },
                    "variant_id": 51905154023771,
                    "variant_inventory_management": "shopify",
                    "variant_title": "TNF Black/Asphalt Grey/Monument Grey / M",
                    "vendor": "The North Face",
                    "tax_lines": [],
                    "duties": [],
                    "discount_allocations": [
                      {
                        "amount": "34.00",
                        "amount_set": {
                          "shop_money": {
                            "amount": "34.00",
                            "currency_code": "EUR"
                          },
                          "presentment_money": {
                            "amount": "34.00",
                            "currency_code": "EUR"
                          }
                        },
                        "discount_application_index": 0
                      }
                    ]
                  }
                ]
              }
            ],
            "line_items": [
              {
                "id": 18428674933083,
                "admin_graphql_api_id": "gid://shopify/LineItem/18428674933083",
                "attributed_staffs": [],
                "current_quantity": 1,
                "fulfillable_quantity": 0,
                "fulfillment_service": "manual",
                "fulfillment_status": "fulfilled",
                "gift_card": false,
                "grams": 0,
                "name": "The North Face Mns Extreme Pile 2 Fz Forro Polar - White Dune / S",
                "price": "170.00",
                "price_set": {
                  "shop_money": {
                    "amount": "170.00",
                    "currency_code": "EUR"
                  },
                  "presentment_money": {
                    "amount": "170.00",
                    "currency_code": "EUR"
                  }
                },
                "product_exists": true,
                "product_id": 10267874754907,
                "properties": [],
                "quantity": 1,
                "requires_shipping": true,
                "sales_line_item_group_id": null,
                "sku": "51959726735707",
                "taxable": true,
                "title": "The North Face Mns Extreme Pile 2 Fz Forro Polar",
                "total_discount": "0.00",
                "total_discount_set": {
                  "shop_money": {
                    "amount": "0.00",
                    "currency_code": "EUR"
                  },
                  "presentment_money": {
                    "amount": "0.00",
                    "currency_code": "EUR"
                  }
                },
                "variant_id": 51959726735707,
                "variant_inventory_management": "shopify",
                "variant_title": "White Dune / S",
                "vendor": "The North Face",
                "tax_lines": [],
                "duties": [],
                "discount_allocations": [
                  {
                    "amount": "68.00",
                    "amount_set": {
                      "shop_money": {
                        "amount": "68.00",
                        "currency_code": "EUR"
                      },
                      "presentment_money": {
                        "amount": "68.00",
                        "currency_code": "EUR"
                      }
                    },
                    "discount_application_index": 0
                  }
                ]
              },
              {
                "id": 18428674965851,
                "admin_graphql_api_id": "gid://shopify/LineItem/18428674965851",
                "attributed_staffs": [],
                "current_quantity": 1,
                "fulfillable_quantity": 0,
                "fulfillment_service": "manual",
                "fulfillment_status": "fulfilled",
                "gift_card": false,
                "grams": 0,
                "name": "The North Face Yumiori 1/4 Zip Forro Polar - TNF Black/Asphalt Grey/Monument Grey / M",
                "price": "85.00",
                "price_set": {
                  "shop_money": {
                    "amount": "85.00",
                    "currency_code": "EUR"
                  },
                  "presentment_money": {
                    "amount": "85.00",
                    "currency_code": "EUR"
                  }
                },
                "product_exists": true,
                "product_id": 10254930542939,
                "properties": [],
                "quantity": 1,
                "requires_shipping": true,
                "sales_line_item_group_id": null,
                "sku": "51905154023771",
                "taxable": true,
                "title": "The North Face Yumiori 1/4 Zip Forro Polar",
                "total_discount": "0.00",
                "total_discount_set": {
                  "shop_money": {
                    "amount": "0.00",
                    "currency_code": "EUR"
                  },
                  "presentment_money": {
                    "amount": "0.00",
                    "currency_code": "EUR"
                  }
                },
                "variant_id": 51905154023771,
                "variant_inventory_management": "shopify",
                "variant_title": "TNF Black/Asphalt Grey/Monument Grey / M",
                "vendor": "The North Face",
                "tax_lines": [],
                "duties": [],
                "discount_allocations": [
                  {
                    "amount": "34.00",
                    "amount_set": {
                      "shop_money": {
                        "amount": "34.00",
                        "currency_code": "EUR"
                      },
                      "presentment_money": {
                        "amount": "34.00",
                        "currency_code": "EUR"
                      }
                    },
                    "discount_application_index": 0
                  }
                ]
              }
            ],
            "payment_terms": null,
            "refunds": [],
            "shipping_address": null,
            "shipping_lines": [],
            "returns": [],
            "line_item_groups": []
          },
          "webhookUrl": "https://n8n.tailwind.es/webhook/monto-descuentos",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "e80tfOpD4TdBh8EF"
  },
  "shared": [
    {
      "updatedAt": "2026-01-26T09:47:12.184Z",
      "createdAt": "2026-01-26T09:47:12.184Z",
      "role": "workflow:owner",
      "workflowId": "8zLv7DpNHO5BT9ay",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-13T09:57:46.074Z",
  "versionId": "cdcfd770-0ae3-4428-91b1-f4593515aadd"
}