workflows/9pcwl5XAK1pZ6dfl.json
{
  "active": true,
  "connections": {
    "GraphQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GraphQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-03T13:31:20.630Z",
  "id": "9pcwl5XAK1pZ6dfl",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Transferencias Shopify",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://nuance-store-spain.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query {\n  inventoryItem(id: \"gid://shopify/InventoryItem/{{ $json.inventory_item_id }}\") {\n    variant {\n      title\n      sku\n      price\n      id\n      product {\n        title\n        handle\n        id\n        featuredImage {\n          url\n        }\n      }\n    }\n  }\n}",
        "variables": "=",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -672,
        -480
      ],
      "id": "f0523ce3-bd3b-4c66-8cff-c9f0df12bfd7",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "36bBHEvkvYhxPhfA",
          "name": "Nuance"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf2e92f4-f1c3-4881-bc32-1b46d76b6086",
              "name": "inventory_item_id",
              "value": "={{ $json.body.inventory_item_id }}",
              "type": "number"
            },
            {
              "id": "26311522-da7b-49aa-bce1-3c4d1ccb0dcd",
              "name": "cantidad",
              "value": "={{ $json.body.available }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -480
      ],
      "id": "5eed9337-fa5c-4d9f-aea0-2fb90945e47f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transferencia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        -480
      ],
      "id": "153e86e9-529d-4ebd-a424-351197082e55",
      "name": "Webhook",
      "webhookId": "b3cfca99-ff48-4fda-9f50-b635c09e5cdc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abb39ee7-4551-43a5-a2be-d88321ed1675",
              "leftValue": "={{ $json.data.inventoryItem }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -480
      ],
      "id": "5187d349-3418-4700-bea3-6ee226e38e07",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query {\n  inventoryItem(id: \"gid://shopify/InventoryItem/{{ $('Edit Fields').item.json.inventory_item_id }}\") {\n    variant {\n      # Datos de la Variante específica que cambió\n      id\n      title\n      sku\n      price\n      barcode\n      \n      # Datos del Producto Padre\n      product {\n        id\n        title\n        handle # Útil para construir la URL\n        descriptionHtml # La descripción completa con formato\n        vendor\n        productType\n        tags\n        status # (ACTIVE, ARCHIVED, DRAFT)\n        \n        # Imagen principal\n        featuredImage {\n          url\n        }\n        \n        # Todas las imágenes del producto (hasta 10)\n        images(first: 10) {\n          nodes {\n            url\n            altText\n          }\n        }\n        \n        # Opciones (ej: Talla, Color) y sus valores disponibles\n        options {\n          name\n          values\n        }\n      }\n    }\n  }\n}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -320,
        -640
      ],
      "id": "63626090-18ea-43d4-82bc-97cb1d169908",
      "name": "GraphQL1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "product",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        -528,
        -816
      ],
      "id": "72c8d58d-6f64-48f1-b360-ba66425484d5",
      "name": "Create a product",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "z8C885g137mtj4GR",
          "name": "Surfin"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T13:31:20.638Z",
      "createdAt": "2025-12-03T13:31:20.638Z",
      "role": "workflow:owner",
      "workflowId": "9pcwl5XAK1pZ6dfl",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Shopify Trigger": {}
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-22T13:57:42.000Z",
  "versionId": "1879f4ee-d020-434c-8844-97ff2a7c0070"
}