workflows/CBcjY0JF5P9ZjxEE.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-31T09:33:26.000Z",
    "createdAt": "2026-01-31T09:33:24.947Z",
    "versionId": "9f383328-d6b5-48a5-a555-665046f84a5b",
    "workflowId": "CBcjY0JF5P9ZjxEE",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1456,
          160
        ],
        "id": "e592ab28-59d1-4e72-9947-35a971c8baa2",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "17841470046184468",
          "edge": "media_publish",
          "options": {
            "queryParametersJson": "={\n  \"creation_id\": \"{{$json.id}}\"\n}"
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -240,
          832
        ],
        "id": "70f5be56-bcbd-45e8-b707-d1fe8cd7941a",
        "name": "Facebook Graph API1",
        "credentials": {
          "facebookGraphApi": {
            "id": "F7VbX8jWKCXdAM47",
            "name": "Facebook Graph account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v20.0/{{ $json.id }}?fields=status,status_code",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "facebookGraphApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "access_token",
                "value": "EAF2z8nVLTA8BQVHL88vghg4RRZBH9svUgZCP93NSZAB9iSDKxTAMvz8DFby8KVqXp6DWFxfFDiSKOUXvXPVVrJcNxjFOmr0ZCXphOZBUUWRkP8sTZC9wwapmP8vlJQN4NHH2eW9zPRmg2SHrQ0AhjI3n2kx1vAa8nOtr6tbQMhcaP0X0eMtOComwFl3zR7zd7HowZDZD"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -720,
          848
        ],
        "id": "edf4ba47-a8ca-4343-8394-708f1e0f7712",
        "name": "HTTP Request3",
        "credentials": {
          "facebookGraphApi": {
            "id": "F7VbX8jWKCXdAM47",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -560,
          848
        ],
        "id": "5579777d-f732-4b98-b233-233d14c7baeb",
        "name": "Wait2",
        "webhookId": "4e9e9bda-286b-4bd6-b112-9133762c2724"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "49c65dc4-2ebe-451b-9788-cd0999f268f1",
                "leftValue": "={{ $json.status_code }}",
                "rightValue": "FINISHED",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -400,
          848
        ],
        "id": "f2e57470-8cb6-4aff-a4f1-776c6d413c60",
        "name": "If1"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "17841470046184468",
          "edge": "=media",
          "options": {
            "queryParametersJson": "={\n\"video_url\": \"{{ $json.query.idHistoria }}\",\n\"media_type\": \"STORIES\",\n\"is_story\": true\n}"
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -1056,
          848
        ],
        "id": "0bbfbe8d-31e9-41c6-8d53-89988526abf1",
        "name": "Facebook Graph API2",
        "credentials": {
          "facebookGraphApi": {
            "id": "F7VbX8jWKCXdAM47",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4fa17a3a-35cc-4f82-988a-32b82b6223e9",
                "name": "story_url",
                "value": "=https://res.cloudinary.com/dglub1vnw/video/upload/vc_h264,ac_aac,c_pad,w_1080,h_1920,b_blurred:400,du_30/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_black,e_outline:3/fl_layer_apply,g_north_west,x_10,y_670/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_white/fl_layer_apply,g_north_west,x_13,y_673/{{ $json.public_id }}.mp4",
                "type": "string"
              },
              {
                "id": "281cd629-07ec-4b26-bcb4-085d1a77c5f8",
                "name": "vista_previa",
                "value": "=https://res.cloudinary.com/dglub1vnw/video/upload/c_pad,w_1080,h_1920,b_black/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_black,e_outline:3/fl_layer_apply,g_north_west,x_10,y_670/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_white/fl_layer_apply,g_north_west,x_13,y_673/{{ $json.public_id }}.jpg",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          160
        ],
        "id": "8ec922b4-00bc-43fc-8fb3-48a2e73f92d2",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "uploadFile",
          "resource_type_file": "video",
          "additionalFieldsFile": {}
        },
        "type": "n8n-nodes-cloudinary.cloudinary",
        "typeVersion": 1,
        "position": [
          -144,
          160
        ],
        "id": "4c85ba67-fb60-4a26-8c67-4a5bf0283b78",
        "name": "Upload an asset from file data",
        "credentials": {
          "cloudinaryApi": {
            "id": "YTnswF3cVMD8a6jX",
            "name": "Cuenta Cloudinary"
          }
        }
      },
      {
        "parameters": {
          "method": "HEAD",
          "url": "={{ $json.story_url }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          224,
          160
        ],
        "id": "4fecbe0c-ed05-4db3-aa2c-8e9977ab31c2",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "23ffd565-77db-41aa-846e-6e4f54f021a7",
                "leftValue": "={{ $json.statusCode }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          384,
          160
        ],
        "id": "4e3544c3-0642-49ef-82b2-ecd3367c560b",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          560,
          240
        ],
        "id": "cdd381ff-6ac2-45ba-9e2a-43a650f57753",
        "name": "Wait",
        "webhookId": "2ddadd9e-f14b-4c72-b341-f3ef721110ea"
      },
      {
        "parameters": {
          "url": "https://sierranevada.es/es/invierno/la-estacion/en-directo/webcams/",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1200,
          160
        ],
        "id": "2aaa757a-e4c6-4d1a-afa7-70d04f751c29",
        "name": "request_página_principal"
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos el HTML gigante\nconst html = items[0].json.data;\n\n// 2. Buscamos el script que tiene todos los datos de la página (Next.js data)\nconst regex = /<script id=\"__NEXT_DATA__\" type=\"application\\/json\">(.*?)<\\/script>/;\nconst match = html.match(regex);\n\nlet resultados = [];\n\nif (match && match[1]) {\n  // 3. Parseamos el texto a JSON real\n  const data = JSON.parse(match[1]);\n\n  // 4. Navegamos por la estructura compleja de Sierra Nevada para encontrar las webcams\n  // La ruta suele ser: props -> pageProps -> model -> MenuPrincipalCustom... o buscando bloques\n  // Para hacerlo fácil, vamos a buscar recursivamente cualquier objeto que parezca una webcam de Feratel\n  \n  // Convertimos todo el objeto a string para buscar patrones de feratel (truco rápido)\n  const jsonString = JSON.stringify(data);\n  \n  // Buscamos patrones de IDs de cámara (ej: cam=15111)\n  const camRegex = /cam=(\\d+)/g;\n  let camMatch;\n  const uniqueCams = new Set();\n\n  while ((camMatch = camRegex.exec(jsonString)) !== null) {\n    uniqueCams.add(camMatch[1]);\n  }\n\n  // Creamos el resultado\n  uniqueCams.forEach(id => {\n    resultados.push({\n      json: {\n        camera_id: id,\n        iframe_url: `https://webtv.feratel.com/webtv/?design=v5&cam=${id}`,\n        video_directo_mp4: `https://sts063.feratel.co.at/streams/stsstore055/1/${id}_vid.mp4` // URL estimada basada en tu ejemplo\n      }\n    });\n  });\n}\n\nreturn resultados;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1024,
          160
        ],
        "id": "182ae0c9-e916-4427-aec4-7a10a39e4a2c",
        "name": "extraer_url"
      },
      {
        "parameters": {
          "url": "={{ $json.iframe_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Referer",
                "value": "https://sierranevada.es/"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -848,
          160
        ],
        "id": "c8780df9-a109-4cee-b438-bbab9e0fdd02",
        "name": "request_página_cámaras"
      },
      {
        "parameters": {
          "jsCode": "// Obtenemos la fecha actual\nconst now = new Date();\nlet masCercano = null;\nlet menorDiferencia = Infinity; \n\nfor (const item of items) {\n  // Asegúrate de que item.json existe por seguridad\n  if (!item.json) continue;\n\n  const url = item.json.video_url;\n  \n  // --- BLOQUE DE SEGURIDAD NUEVO ---\n  // Si no hay url, o no es un texto, saltamos al siguiente item del bucle\n  if (!url || typeof url !== 'string') {\n    continue; \n  }\n  // ---------------------------------\n\n  // Ahora es seguro usar .match()\n  const match = url.match(/_([0-9a-fA-F]{8})[-_a-zA-Z]/);\n\n  if (match && match[1]) {\n    const hexTimestamp = match[1];\n    const unixSeconds = parseInt(hexTimestamp, 16);\n    \n    const videoDate = new Date(unixSeconds * 1000);\n    const diff = now - videoDate;\n\n    if (diff >= 0 && diff < menorDiferencia) {\n      menorDiferencia = diff;\n      masCercano = item;\n      masCercano.json.fecha_decodificada = videoDate.toISOString();\n      masCercano.json.segundos_atras = diff / 1000;\n    }\n  }\n}\n\nreturn masCercano ? [masCercano] : [];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -528,
          160
        ],
        "id": "f57b7f7e-dbe8-413c-a885-a19c5054e907",
        "name": "filtrar_url_reciente"
      },
      {
        "parameters": {
          "url": "={{ $json.video_url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -368,
          160
        ],
        "id": "777d5a4a-20a7-412f-bc9f-683c3b198f68",
        "name": "solicitud_url_reciente"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "video_url",
                "cssSelector": "div#videoframe video source",
                "returnValue": "attribute",
                "attribute": "src"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          -688,
          160
        ],
        "id": "341861a2-cb91-4338-a739-df0b98b10862",
        "name": "extraer_url2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4fa17a3a-35cc-4f82-988a-32b82b6223e9",
                "name": "story_url",
                "value": "={{ $('Edit Fields').item.json.story_url }}",
                "type": "string"
              },
              {
                "id": "e218b35b-bee8-4b32-8bb5-70c1a571d9db",
                "name": "vista_previa",
                "value": "={{ $('Edit Fields').item.json.vista_previa }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          240
        ],
        "id": "e575ea56-dfa1-45c0-859f-96bb45cd6518",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "content": "OBTENER VÍDEO DE LA CÁMARA",
          "height": 288,
          "width": 1056,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1264,
          64
        ],
        "id": "6acdd7c5-d32a-4c6e-aca2-3acbb08403ea",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "SUBIR VÍDEO Y GENERAR URL",
          "height": 288,
          "width": 336,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -192,
          64
        ],
        "id": "c06ee7e0-d0ad-4922-9665-6e79c6076bc9",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "COMPROBAR SI SE HA PROCESADO\n",
          "height": 416,
          "width": 704,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          32
        ],
        "id": "c401de65-2a78-442b-8f19-88f31b8bfc8f",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "ENVIAR CORREO DE VERIFICACIÓN",
          "height": 192,
          "width": 336,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          528,
          32
        ],
        "id": "02064db4-3e3f-4cb6-b043-ba8e91701b76",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "SUBIDA A META\n",
          "height": 192,
          "width": 1376
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1280,
          800
        ],
        "id": "ab8be564-4726-443a-aae2-3afebc817eaa",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "path": "historiaCamara",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1232,
          848
        ],
        "id": "fd225dd5-64bd-4381-b7cc-b9cb982c5975",
        "name": "Webhook",
        "webhookId": "720cdebd-a73a-47ae-a8c8-66fe82638f89"
      },
      {
        "parameters": {
          "sendTo": "adrianazorinsanchez@gmail.com",
          "subject": "HISTORIA CÁMARA",
          "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    /* Estilos Generales */\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f4f4;\n      margin: 0;\n      padding: 0;\n    }\n\n    /* Contenedor Principal */\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background-color: #ffffff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n    }\n\n    /* Cabecera */\n    .header {\n      background-color: #333333;\n      color: #ffffff;\n      padding: 20px;\n      text-align: center;\n    }\n\n    /* Contenido */\n    .content {\n      padding: 30px;\n      text-align: center;\n      color: #333333;\n    }\n\n    /* Caja de Previsualización */\n    .preview-box {\n      margin: 20px 0;\n      border: 1px solid #eeeeee;\n      padding: 10px;\n      border-radius: 5px;\n      background-color: #fafafa;\n    }\n\n    /* Imágenes */\n    img {\n      max-width: 100%;\n      height: auto;\n      border-radius: 4px;\n      display: block;\n      margin: 0 auto;\n    }\n\n    /* Botón de Confirmación */\n    .btn-confirmar {\n      display: inline-block;\n      background-color: #2ecc71;\n      color: #ffffff !important;\n      padding: 14px 28px;\n      text-decoration: none;\n      border-radius: 5px;\n      font-weight: bold;\n      margin-top: 20px;\n      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"container\">\n    \n    <div class=\"header\">\n      <h2 style=\"margin:0;\">Aprobación Requerida</h2>\n    </div>\n\n    <div class=\"content\">\n      <h3>Se requiere aprobación de una historia</h3>\n\n      <div class=\"preview-box\">\n        <p style=\"margin-top: 0; margin-bottom: 10px; font-weight: bold; color: #555;\">\n          Vista previa:\n        </p>\n        \n        <img src=\"{{ $('Edit Fields').item.json.vista_previa }}\" alt=\"Vista Previa\">\n      </div>\n\n      <a href=\"https://n8n.tailwind.es/webhook/historiaCamara?idHistoria={{ $('Edit Fields').item.json.story_url }}\" class=\"btn-confirmar\">\n        Aprobar Historia\n      </a>\n      <a href=\"https://n8n.tailwind.es/webhook/historiaPospuesta\" class=\"btn-confirmar\">\n        Posponer 30 minutos\n      </a>\n      <a href=\"https://n8n.tailwind.es/webhook-test/rechazarHistoria?origen=historiaWebcam&contenido=HistoriaRechazada&idHistoria={{ $('Edit Fields').item.json.story_url }}\" class=\"btn-confirmar\">\n        Rechazar\n      </a>\n    </div>\n\n    <div style=\"background-color: #eeeeee; padding: 10px; text-align: center; font-size: 12px; color: #777;\">\n      Enviado automáticamente desde n8n\n    </div>\n\n  </div>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          560,
          80
        ],
        "id": "73308a25-8f99-40b8-9ef3-0317f097cfcb",
        "name": "Send a message",
        "webhookId": "31557ff2-993c-4c43-854d-8f372d063b1c",
        "credentials": {
          "gmailOAuth2": {
            "id": "fha7KwAzrDSA7OXO",
            "name": "ventas@sierranevadagranada.com"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "<style>\n  /* --- ESTILOS GENERALES --- */\n  body { \n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n    display: flex; justify-content: center; align-items: center; \n    height: 100vh; margin: 0; background-color: #0f172a; \n    color: #e2e8f0; overflow: hidden; \n  }\n  .snow-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; z-index: 1; }\n  .flake { position: absolute; top: -10px; background-color: rgba(255, 255, 255, 0.4); border-radius: 50%; animation: fall linear infinite; }\n  @keyframes fall { to { transform: translateY(110vh); } }\n  \n  /* La tarjeta (z-index 10) */\n  .card { background-color: #1e293b; padding: 80px 40px 40px; border-radius: 16px; box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8); text-align: center; max-width: 380px; width: 90%; position: relative; z-index: 10; margin-top: 50px; overflow: visible; }\n  .snow-svg { position: absolute; top: -1px; left: 0; width: 100%; height: auto; z-index: 20; filter: drop-shadow(0 3px 2px rgba(0,0,0,0.15)); pointer-events: none; border-radius: 16px 16px 0 0; }\n  h1 { color: #f1f5f9; margin: 10px 0; font-size: 28px; font-weight: bold; }\n  p { color: #94a3b8; font-size: 16px; line-height: 1.6; margin-bottom: 20px; }\n  hr { border: 0; border-top: 1px solid #334155; margin: 25px 0; }\n  .check-icon { font-size: 50px; color: #22c55e; position: relative; z-index: 25; margin-top: 20px; filter: drop-shadow(0 0 15px rgba(34, 197, 94, 0.4)); }\n\n  /* ========================================= */\n  /* --- PINGÜINO REALISTA EN SNOWBOARD --- */\n  /* ========================================= */\n  .sliding-penguin-container {\n    position: fixed;\n    bottom: 35%; \n    left: -150px; \n    width: 110px; \n    height: auto;\n    z-index: 5; /* Detrás de la tarjeta */\n    transform: rotate(-3deg);\n    /* Duración total 5s: \n       - 4.25s para llegar al centro (lento)\n       - 0.75s para salir disparado (rápido) */\n    animation: slideAcross 5s linear infinite; \n  }\n  .penguin-ref-svg {\n    width: 100%; height: auto;\n    filter: drop-shadow(0 5px 4px rgba(0,0,0,0.5));\n  }\n\n  /* AQUÍ ESTÁ EL TRUCO DE LA VELOCIDAD */\n  @keyframes slideAcross {\n    0%   { left: -150px; } \n    /* Hasta el 85% del tiempo, avanza lento hasta pasar un poco el centro (55vw) */\n    85%  { left: 55vw; } \n    /* En el 15% de tiempo restante, acelera hasta el final (110vw) */\n    100% { left: 110vw;  }\n  }\n</style>\n\n<div class=\"snow-bg\">\n  <div class=\"flake\" style=\"left: 10%; animation-duration: 5s; width: 6px; height: 6px;\"></div>\n  <div class=\"flake\" style=\"left: 30%; animation-duration: 8s; width: 4px; height: 4px;\"></div>\n  <div class=\"flake\" style=\"left: 60%; animation-duration: 4s; width: 8px; height: 8px;\"></div>\n  <div class=\"flake\" style=\"left: 80%; animation-duration: 6s; width: 5px; height: 5px;\"></div>\n</div>\n\n<div class=\"sliding-penguin-container\">\n  <svg class=\"penguin-ref-svg\" viewBox=\"0 0 220 260\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill=\"#f1f5f9\" opacity=\"0.9\" d=\"M 10,235 Q 30,220 50,230 Q 70,240 90,225 Q 110,210 130,225 Q 150,240 170,220 Q 190,200 210,230 L 220,250 Q 110,260 0,250 Z\" />\n    <circle fill=\"#f1f5f9\" cx=\"20\" cy=\"225\" r=\"5\" opacity=\"0.8\"/>\n    <circle fill=\"#f1f5f9\" cx=\"190\" cy=\"215\" r=\"6\" opacity=\"0.8\"/>\n    <g transform=\"translate(10, 210)\">\n        <path fill=\"#2dd4bf\" stroke=\"#0f766e\" stroke-width=\"2\" d=\"M 0,20 C 0,0 20,-10 40,-5 L 160,-5 C 180,-10 200,0 200,20 C 200,40 180,45 160,40 L 40,40 C 20,45 0,40 0,20 Z\" />\n        <path fill=\"#ef4444\" d=\"M 30,-2 Q 50,20 70,-2 L 100,-2 Q 80,25 60,35 L 30,35 Q 50,15 30,-2 Z\" />\n        <path fill=\"#ef4444\" d=\"M 130,-2 Q 150,20 170,-2 L 190,2 Q 170,30 150,38 L 120,38 Q 140,15 130,-2 Z\" />\n        <path fill=\"#1e3a8a\" d=\"M 65,0 Q 85,25 105,0 L 125,0 Q 105,30 85,38 L 55,38 Q 75,15 65,0 Z\" />\n        <path fill=\"#1e3a8a\" d=\"M 160,0 Q 175,15 190,0 L 195,5 Q 180,35 150,40 L 140,35 Z\" />\n        <path fill=\"#1e3a8a\" d=\"M 5,5 Q 20,25 5,35 L 15,38 Q 35,20 15,0 Z\" />\n    </g>\n    <g transform=\"translate(45, 15)\">\n        <path fill=\"#fb923c\" stroke=\"#c2410c\" stroke-width=\"2\" d=\"M 35,210 C 25,210 15,205 15,195 C 15,185 25,180 40,185 C 55,190 65,195 65,205 C 65,215 55,220 35,210 Z\" />\n        <path fill=\"#fb923c\" stroke=\"#c2410c\" stroke-width=\"2\" d=\"M 95,210 C 85,210 75,205 75,195 C 75,185 85,180 100,185 C 115,190 125,195 125,205 C 125,215 115,220 95,210 Z\" />\n        <path fill=\"#374151\" stroke=\"#1f2937\" stroke-width=\"2\" d=\"M 65,5 C 30,5 5,40 5,100 C 5,160 30,200 65,200 C 100,200 125,160 125,100 C 125,40 100,5 65,5 Z\" />\n        <ellipse fill=\"#f8fafc\" cx=\"65\" cy=\"130\" rx=\"45\" ry=\"55\" />\n        <path fill=\"#f8fafc\" d=\"M 65,35 C 50,35 40,45 40,65 C 40,85 50,95 65,95 C 80,95 90,85 90,65 C 90,45 80,35 65,35 Z\" />\n        <g>\n            <circle fill=\"#1f2937\" cx=\"52\" cy=\"65\" r=\"10\" /><circle fill=\"#1f2937\" cx=\"78\" cy=\"65\" r=\"10\" />\n            <circle fill=\"white\" cx=\"55\" cy=\"62\" r=\"4\" /><circle fill=\"white\" cx=\"75\" cy=\"62\" r=\"4\" />\n            <circle fill=\"white\" cx=\"50\" cy=\"68\" r=\"2\" /><circle fill=\"white\" cx=\"81\" cy=\"68\" r=\"2\" />\n        </g>\n        <path fill=\"#fb923c\" stroke=\"#c2410c\" stroke-width=\"1\" d=\"M 65,85 L 55,92 Q 65,105 75,92 Z\" />\n        <path fill=\"#374151\" stroke=\"#1f2937\" stroke-width=\"2\" d=\"M 8,100 Q -10,130 10,160 L 20,145 Q 10,125 8,100 Z\" />\n        <path fill=\"#374151\" stroke=\"#1f2937\" stroke-width=\"2\" d=\"M 122,100 Q 140,130 120,160 L 110,145 Q 120,125 122,100 Z\" />\n    </g>\n  </svg>\n</div>\n\n<div class=\"card\">\n  <svg class=\"snow-svg\" viewBox=\"0 0 400 80\" xmlns=\"http://www.w3.org/2000/svg\" preserveAspectRatio=\"none\">\n    <path fill=\"#f1f5f9\" d=\"M0,0 L400,0 V30 Q385,60 370,30 Q355,20 340,30 Q310,75 280,30 Q260,20 240,30 Q200,80 160,35 Q140,25 120,35 Q85,65 50,30 Q35,20 20,35 Q0,60 0,30 Z\" />\n  </svg>\n  <div class=\"check-icon\">✔</div>\n  <h1>¡Confirmado!</h1>\n  <p>La historia ha sido aprobada correctamente.</p>\n  <hr>\n  <p style=\"font-size: 13px; opacity: 0.7;\">Ya puedes cerrar esta pestaña.</p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -880,
          848
        ],
        "id": "3d9447d2-f241-43a3-80ce-1688f72900e5",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Historia Pospuesta</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f4f7f6;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n            color: #333;\n        }\n        .container {\n            text-align: center;\n            background: white;\n            padding: 3rem;\n            border-radius: 15px;\n            box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n            max-width: 500px;\n        }\n        h1 {\n            color: #e67e22;\n            margin-bottom: 1rem;\n            letter-spacing: 1px;\n        }\n        .message {\n            font-size: 1.1rem;\n            margin-bottom: 2rem;\n            line-height: 1.6;\n        }\n        #timer {\n            font-size: 3.5rem;\n            font-weight: bold;\n            color: #2c3e50;\n            margin: 20px 0;\n            font-variant-numeric: tabular-nums;\n        }\n        .footer-note {\n            color: #7f8c8d;\n            font-size: 0.9rem;\n            margin-top: 2rem;\n            border-top: 1px solid #eee;\n            padding-top: 1rem;\n        }\n    </style>\n</head>\n<body>\n\n<div class=\"container\">\n    <h1>HISTORIA POSPUESTA</h1>\n    \n    <div class=\"message\">\n        Dentro de 30 minutos se enviará otro correo con el estado de la webcam.\n    </div>\n\n    <div id=\"timer\">30:00</div>\n\n    <div class=\"footer-note\">\n        Ya puede salir de esta página.\n    </div>\n</div>\n\n<script>\n    function startTimer(durationInSeconds) {\n        let timer = durationInSeconds, minutes, seconds;\n        const display = document.querySelector('#timer');\n        \n        const countdown = setInterval(function () {\n            minutes = parseInt(timer / 60, 10);\n            seconds = parseInt(timer % 60, 10);\n\n            minutes = minutes < 10 ? \"0\" + minutes : minutes;\n            seconds = seconds < 10 ? \"0\" + seconds : seconds;\n\n            display.textContent = minutes + \":\" + seconds;\n\n            if (--timer < 0) {\n                clearInterval(countdown);\n                display.textContent = \"00:00\";\n            }\n        }, 1000);\n    }\n\n    // Inicia el contador con 30 minutos (1800 segundos)\n    window.onload = function () {\n        startTimer(30 * 60);\n    };\n</script>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -1520,
          384
        ],
        "id": "3a961a4f-a452-4c7d-adca-015e96491d83",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "path": "historiaPospuesta",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1680,
          384
        ],
        "id": "9a115c23-aedd-4865-bd46-2f851d98028c",
        "name": "posponer",
        "webhookId": "84cb83c6-97c7-470d-ae3c-9801d1eaa00e"
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1360,
          384
        ],
        "id": "35d19881-992b-4494-a591-18f39361266c",
        "name": "esperar 30 minutos",
        "webhookId": "746e61ef-777c-4de5-8dab-a2cfde26d891"
      },
      {
        "parameters": {
          "path": "rechazarHistoria",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1232,
          -352
        ],
        "id": "7facb56f-f11a-4b0c-8a73-2a1872b6bcc7",
        "name": "rechazarHistoria",
        "webhookId": "b7eb3ca4-9700-4a4b-b1ae-cfbd33789ee9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1fc1ee34-829a-45a3-a4af-fa95470d9512",
                "name": "ORIGEN",
                "value": "={{ $('Webhook').item.json.query.origen }}",
                "type": "string"
              },
              {
                "id": "348d16fa-a017-44c5-9879-665a4936a387",
                "name": "CONTENIDO",
                "value": "={{ $('Webhook').item.json.query.contenido }}",
                "type": "string"
              },
              {
                "id": "93855f27-f03b-443c-82bf-153d717f2a4d",
                "name": "ID_FLOW",
                "value": "={{ $json.query.idFlow }}",
                "type": "string"
              },
              {
                "id": "43b297bb-9d8d-4af2-97b0-0ddb4711edd1",
                "name": "MAS",
                "value": "={{ $json.query.idHistoria }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1072,
          -352
        ],
        "id": "a151d550-695a-4b66-8dc1-8b96ac126da1",
        "name": "datosRechazar"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Confirmación</title>\n  <style>\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;\n      background-color: #f3f4f6;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      margin: 0;\n    }\n    .card {\n      background: white;\n      padding: 40px;\n      border-radius: 12px;\n      box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n      text-align: center;\n      max-width: 400px;\n      border-top: 6px solid #ef4444;\n    }\n    h2 { color: #1f2937; margin-top: 0; font-size: 24px; }\n    p { color: #4b5563; margin: 10px 0; font-size: 16px; }\n    .warning { color: #ef4444; font-weight: bold; margin-bottom: 25px; display: block; }\n    .btn-container { display: flex; gap: 15px; justify-content: center; margin-top: 20px; }\n    \n    /* Estilos de los botones (Enlaces) */\n    .btn {\n      text-decoration: none;\n      padding: 12px 30px;\n      border-radius: 6px;\n      font-weight: bold;\n      font-size: 16px;\n      transition: opacity 0.2s;\n      display: inline-block;\n    }\n    .btn:hover { opacity: 0.8; }\n    \n    /* Botón SI (Acción de Webhook) */\n    .btn-si { background-color: #ef4444; color: white; }\n    \n    /* Botón NO (Cancelar) */\n    .btn-no { background-color: #e5e7eb; color: #374151; }\n  </style>\n</head>\n<body>\n\n  <div class=\"card\">\n    <h2>⚠️ Atención</h2>\n    <p>Estás a punto de rechazar.</p>\n    <p>Esta acción no se puede deshacer.</p>\n    <span class=\"warning\">¿Estás seguro?</span>\n\n    <div class=\"btn-container\">\n      <a href=\"https://n8n.tailwind.es/webhook-test/nothingBoxSi?origen={{ $json.ORIGEN }}&contenido={{ $json.CONTENIDO }}&estado=rechazado&idFlow={{ $json.ID_FLOW }}&mas={{ $json.MAS }}\" class=\"btn btn-si\">SÍ</a>\n\n      <a href=\"https://n8n.tailwind.es/webhook-test/nothingBoxSi?origen={{ $json.ORIGEN }}&contenido={{ $json.CONTENIDO }}&estado=noRechazado&idFlow={{ $json.ID_FLOW }}&mas={{ $json.MAS }}\" class=\"btn btn-no\">NO</a>\n    </div>\n  </div>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -912,
          -352
        ],
        "id": "54afc9b8-4f0c-49bf-96af-f83d961af8a8",
        "name": "Respond to Webhook Rechazar"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "FnOKQ90bd0CxI2H5",
            "mode": "list",
            "cachedResultName": "nothingbox",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "1"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "contador": "={{ $json.row_number + 1}}",
              "contador_no_rechazados": "={{ $('obtener contador').item.json.contador_no_rechazados }}"
            },
            "matchingColumns": [
              "contador"
            ],
            "schema": [
              {
                "id": "contador",
                "displayName": "contador",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "contador_no_rechazados",
                "displayName": "contador_no_rechazados",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          656,
          -512
        ],
        "id": "9b26fb52-e2b7-4b2a-9cdc-4e0e1f334c22",
        "name": "sumar contador"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1fc1ee34-829a-45a3-a4af-fa95470d9512",
                "name": "ORIGEN",
                "value": "={{ $('si').item.json.query.origen }}",
                "type": "string"
              },
              {
                "id": "348d16fa-a017-44c5-9879-665a4936a387",
                "name": "CONTENIDO",
                "value": "={{ $('si').item.json.query.contenido }}",
                "type": "string"
              },
              {
                "id": "1e3fccd6-21e4-48d2-af81-a5372f6807eb",
                "name": "CONTADOR",
                "value": "={{ $json.contador }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          320,
          -512
        ],
        "id": "5a228376-6e29-480e-b480-f2efb1ca87ca",
        "name": "datos"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1kE01W7ucOTrCpfrN_bC8b4WMvE9tTgQf9lBvjLPwj50",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Rechazados",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.CONTADOR }}",
              "ORIGEN": "={{ $json.ORIGEN }}",
              "CONTENIDO": "={{ $json.CONTENIDO }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "ORIGEN",
                "displayName": "ORIGEN",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CONTENIDO",
                "displayName": "CONTENIDO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          480,
          -512
        ],
        "id": "5a709dcd-83fe-4fa9-a663-a33d0c1dae45",
        "name": "escribir datos",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "path": "rechazarSi",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -544,
          -352
        ],
        "id": "34425f3d-064a-4a05-a5ee-152a7d25b887",
        "name": "si",
        "webhookId": "8d74fb79-3a60-4b85-8eae-63028c20ecb5"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "FnOKQ90bd0CxI2H5",
            "mode": "list",
            "cachedResultName": "nothingbox",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "1"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          160,
          -512
        ],
        "id": "b626e203-21c2-4c8a-9cff-385723289213",
        "name": "obtener contador"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "FnOKQ90bd0CxI2H5",
            "mode": "list",
            "cachedResultName": "nothingbox",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "1"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "contador": "={{ $('obtener contador1').item.json.contador }}",
              "contador_no_rechazados": "={{ $json.row_number + 1}}"
            },
            "matchingColumns": [
              "contador"
            ],
            "schema": [
              {
                "id": "contador",
                "displayName": "contador",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "contador_no_rechazados",
                "displayName": "contador_no_rechazados",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          672,
          -224
        ],
        "id": "a6e39b97-25d6-4978-b2f6-c7b390801524",
        "name": "sumar contador1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1fc1ee34-829a-45a3-a4af-fa95470d9512",
                "name": "ORIGEN",
                "value": "={{ $('si').item.json.query.origen }}",
                "type": "string"
              },
              {
                "id": "348d16fa-a017-44c5-9879-665a4936a387",
                "name": "CONTENIDO",
                "value": "={{ $('si').item.json.query.contenido }}",
                "type": "string"
              },
              {
                "id": "1e3fccd6-21e4-48d2-af81-a5372f6807eb",
                "name": "CONTADOR",
                "value": "={{ $json.contador_no_rechazados }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          336,
          -224
        ],
        "id": "0ccd4143-6dc7-4a5e-a34e-bc8be3cd37b6",
        "name": "datos2"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1kE01W7ucOTrCpfrN_bC8b4WMvE9tTgQf9lBvjLPwj50",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "No Rechazados",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.CONTADOR }}",
              "ORIGEN": "={{ $json.ORIGEN }}",
              "CONTENIDO": "={{ $json.CONTENIDO }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "ORIGEN",
                "displayName": "ORIGEN",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CONTENIDO",
                "displayName": "CONTENIDO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          496,
          -224
        ],
        "id": "427cb2ff-b459-4736-95ab-2e372b34dfa5",
        "name": "escribir datos1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "FnOKQ90bd0CxI2H5",
            "mode": "list",
            "cachedResultName": "nothingbox",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "1"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          176,
          -224
        ],
        "id": "f901e8c3-08ec-4bdf-9470-803fbbf9847e",
        "name": "obtener contador1"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Selección de Acción</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;\n            background-color: #f3f4f6;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n        }\n        .card {\n            background: white;\n            padding: 40px;\n            border-radius: 12px;\n            box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n            text-align: center;\n            max-width: 450px; /* Un poco más ancho para que quepan los textos */\n            width: 90%;\n            border-top: 6px solid #3b82f6; /* Azul Informativo */\n        }\n        .icon {\n            font-size: 50px;\n            margin-bottom: 15px;\n            display: block;\n        }\n        h2 { \n            color: #1f2937; \n            margin-top: 0; \n            font-size: 24px; \n        }\n        p { \n            color: #4b5563; \n            margin: 10px 0 30px 0; \n            font-size: 18px; \n        }\n        .btn-container { \n            display: flex; \n            flex-direction: column; /* Botones uno encima de otro para mejor lectura en móvil */\n            gap: 15px; \n            justify-content: center; \n        }\n        \n        /* Estilos Base de Botones */\n        .btn {\n            text-decoration: none;\n            padding: 15px 20px;\n            border-radius: 8px;\n            font-weight: bold;\n            font-size: 16px;\n            transition: transform 0.1s, opacity 0.2s;\n            display: block;\n            text-align: center;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .btn:hover { opacity: 0.9; transform: translateY(-1px); }\n        .btn:active { transform: translateY(1px); }\n        \n        /* Botón Posponer (Naranja - Tiempo) */\n        .btn-posponer { \n            background-color: #f59e0b; \n            color: white; \n        }\n        \n        /* Botón Aceptar (Azul - Acción Principal) */\n        .btn-aceptar { \n            background-color: #3b82f6; \n            color: white; \n        }\n\n    </style>\n</head>\n<body>\n\n    <div class=\"card\">\n        <span class=\"icon\">🤔</span>\n        \n        <h2>No se ha rechazado</h2>\n        <p>¿Qué quieres hacer?</p>\n\n        <div class=\"btn-container\">\n            <a href=\"REEMPLAZAR_URL_POSPONER\" class=\"btn btn-posponer\">\n                ⏱️ POSPONER 30 MINUTOS\n            </a>\n\n            <a href=\"REEMPLAZAR_URL_ACEPTAR\" class=\"btn btn-aceptar\">\n                ✅ ACEPTAR\n            </a>\n        </div>\n    </div>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          0,
          -224
        ],
        "id": "271a6a4d-599d-455c-b699-86c5d10eed12",
        "name": "Respond to Webhook2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "284b2492-0b5d-46f4-89df-663f252068cf",
                "name": "",
                "value": "",
                "type": "string"
              },
              {
                "id": "da67b1b5-9751-40e0-a4b8-31d51d15c6c9",
                "name": "",
                "value": "",
                "type": "string"
              },
              {
                "id": "23a32b17-5967-4fd9-b9e1-d7891c740482",
                "name": "",
                "value": "",
                "type": "string"
              },
              {
                "id": "7a5c6c5f-9d94-496b-8e36-192286d69c5e",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -384,
          -352
        ],
        "id": "4cb7dd56-6534-4a59-8595-8a6832725ae0",
        "name": "datos_si_no"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "eb37d92a-214b-46d4-9bab-842c86e8e860",
                "leftValue": "={{ $json.query.estado }}",
                "rightValue": "rechazado",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -192,
          -352
        ],
        "id": "b0625766-366e-4d16-8e08-d72254e31bca",
        "name": "If2"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Acción Completada</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;\n            background-color: #f3f4f6;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n        }\n        .card {\n            background: white;\n            padding: 40px;\n            border-radius: 12px;\n            box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n            text-align: center;\n            max-width: 400px;\n            border-top: 6px solid #10b981; /* Verde Éxito */\n        }\n        .icon {\n            font-size: 50px;\n            margin-bottom: 20px;\n            display: block;\n        }\n        h2 { \n            color: #1f2937; \n            margin-top: 0; \n            margin-bottom: 15px;\n            font-size: 24px; \n        }\n        p { \n            color: #4b5563; \n            margin: 10px 0; \n            line-height: 1.5;\n            font-size: 16px; \n        }\n        .doc-name {\n            background-color: #f3f4f6;\n            padding: 2px 6px;\n            border-radius: 4px;\n            font-family: monospace;\n            color: #374151;\n            font-weight: bold;\n        }\n        button {\n            background-color: #10b981;\n            color: white;\n            border: none;\n            padding: 12px 40px;\n            border-radius: 6px;\n            font-weight: bold;\n            font-size: 16px;\n            cursor: pointer;\n            margin-top: 25px;\n            transition: background 0.2s;\n        }\n        button:hover {\n            background-color: #059669;\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"card\">\n        <span class=\"icon\">✅</span>\n        \n        <h2>Rechazado con éxito</h2>\n        \n        <p>\n            El fallo quedará apuntado en el documento <span class=\"doc-name\">nothingbox</span> de Drive.\n        </p>\n        \n        <button onclick=\"cerrarPestana()\">ACEPTAR</button>\n    </div>\n\n    <script>\n        function cerrarPestana() {\n            // Intenta cerrar la ventana\n            window.close();\n            \n            // Truco adicional para navegadores que bloquean window.close()\n            // si la pestaña no fue abierta por script\n            window.open('','_parent','');\n            window.close();\n\n            // Si el navegador bloquea el cierre (medida de seguridad común),\n            // mostramos un mensaje final.\n            setTimeout(function() {\n                document.body.innerHTML = \"<div style='text-align:center; padding:50px; font-family:sans-serif; color:#4b5563;'><h3>Puedes cerrar esta pestaña manualmente.</h3></div>\";\n            }, 100);\n        }\n    </script>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          0,
          -512
        ],
        "id": "4568449c-95d0-4ca1-9824-cee5dae22b44",
        "name": "Respond to Webhook3"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "request_página_principal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Facebook Graph API1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Graph API2": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload an asset from file data": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "request_página_principal": {
        "main": [
          [
            {
              "node": "extraer_url",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extraer_url": {
        "main": [
          [
            {
              "node": "request_página_cámaras",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "request_página_cámaras": {
        "main": [
          [
            {
              "node": "extraer_url2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "filtrar_url_reciente": {
        "main": [
          [
            {
              "node": "solicitud_url_reciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "solicitud_url_reciente": {
        "main": [
          [
            {
              "node": "Upload an asset from file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extraer_url2": {
        "main": [
          [
            {
              "node": "filtrar_url_reciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Facebook Graph API2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Graph API1": {
        "main": [
          []
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook1": {
        "main": [
          [
            {
              "node": "esperar 30 minutos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "posponer": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "esperar 30 minutos": {
        "main": [
          [
            {
              "node": "request_página_principal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "rechazarHistoria": {
        "main": [
          [
            {
              "node": "datosRechazar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "datosRechazar": {
        "main": [
          [
            {
              "node": "Respond to Webhook Rechazar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "datos": {
        "main": [
          [
            {
              "node": "escribir datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "escribir datos": {
        "main": [
          [
            {
              "node": "sumar contador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "si": {
        "main": [
          [
            {
              "node": "datos_si_no",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "obtener contador": {
        "main": [
          [
            {
              "node": "datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "datos2": {
        "main": [
          [
            {
              "node": "escribir datos1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "escribir datos1": {
        "main": [
          [
            {
              "node": "sumar contador1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "obtener contador1": {
        "main": [
          [
            {
              "node": "datos2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook2": {
        "main": [
          [
            {
              "node": "obtener contador1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "datos_si_no": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Respond to Webhook3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook3": {
        "main": [
          [
            {
              "node": "obtener contador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version 9f383328",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "9f383328-d6b5-48a5-a555-665046f84a5b",
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "request_página_principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request_página_principal": {
      "main": [
        [
          {
            "node": "extraer_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer_url": {
      "main": [
        [
          {
            "node": "request_página_cámaras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request_página_cámaras": {
      "main": [
        [
          {
            "node": "extraer_url2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrar_url_reciente": {
      "main": [
        [
          {
            "node": "solicitud_url_reciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "solicitud_url_reciente": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer_url2": {
      "main": [
        [
          {
            "node": "filtrar_url_reciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "esperar 30 minutos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "posponer": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esperar 30 minutos": {
      "main": [
        [
          {
            "node": "request_página_principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rechazarHistoria": {
      "main": [
        [
          {
            "node": "datosRechazar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datosRechazar": {
      "main": [
        [
          {
            "node": "Respond to Webhook Rechazar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datos": {
      "main": [
        [
          {
            "node": "escribir datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "escribir datos": {
      "main": [
        [
          {
            "node": "sumar contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "si": {
      "main": [
        [
          {
            "node": "datos_si_no",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener contador": {
      "main": [
        [
          {
            "node": "datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datos2": {
      "main": [
        [
          {
            "node": "escribir datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "escribir datos1": {
      "main": [
        [
          {
            "node": "sumar contador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener contador1": {
      "main": [
        [
          {
            "node": "datos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "obtener contador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datos_si_no": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "obtener contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T11:14:07.985Z",
  "id": "CBcjY0JF5P9ZjxEE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Historia_Camaras",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        160
      ],
      "id": "e592ab28-59d1-4e72-9947-35a971c8baa2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841470046184468",
        "edge": "media_publish",
        "options": {
          "queryParametersJson": "={\n  \"creation_id\": \"{{$json.id}}\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -240,
        832
      ],
      "id": "70f5be56-bcbd-45e8-b707-d1fe8cd7941a",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "F7VbX8jWKCXdAM47",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $json.id }}?fields=status,status_code",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAF2z8nVLTA8BQVHL88vghg4RRZBH9svUgZCP93NSZAB9iSDKxTAMvz8DFby8KVqXp6DWFxfFDiSKOUXvXPVVrJcNxjFOmr0ZCXphOZBUUWRkP8sTZC9wwapmP8vlJQN4NHH2eW9zPRmg2SHrQ0AhjI3n2kx1vAa8nOtr6tbQMhcaP0X0eMtOComwFl3zR7zd7HowZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        848
      ],
      "id": "edf4ba47-a8ca-4343-8394-708f1e0f7712",
      "name": "HTTP Request3",
      "credentials": {
        "facebookGraphApi": {
          "id": "F7VbX8jWKCXdAM47",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        848
      ],
      "id": "5579777d-f732-4b98-b233-233d14c7baeb",
      "name": "Wait2",
      "webhookId": "4e9e9bda-286b-4bd6-b112-9133762c2724"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49c65dc4-2ebe-451b-9788-cd0999f268f1",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        848
      ],
      "id": "f2e57470-8cb6-4aff-a4f1-776c6d413c60",
      "name": "If1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841470046184468",
        "edge": "=media",
        "options": {
          "queryParametersJson": "={\n\"video_url\": \"{{ $json.query.idHistoria }}\",\n\"media_type\": \"STORIES\",\n\"is_story\": true\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1056,
        848
      ],
      "id": "0bbfbe8d-31e9-41c6-8d53-89988526abf1",
      "name": "Facebook Graph API2",
      "credentials": {
        "facebookGraphApi": {
          "id": "F7VbX8jWKCXdAM47",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fa17a3a-35cc-4f82-988a-32b82b6223e9",
              "name": "story_url",
              "value": "=https://res.cloudinary.com/dglub1vnw/video/upload/vc_h264,ac_aac,c_pad,w_1080,h_1920,b_blurred:400,du_30/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_black,e_outline:3/fl_layer_apply,g_north_west,x_10,y_670/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_white/fl_layer_apply,g_north_west,x_13,y_673/{{ $json.public_id }}.mp4",
              "type": "string"
            },
            {
              "id": "281cd629-07ec-4b26-bcb4-085d1a77c5f8",
              "name": "vista_previa",
              "value": "=https://res.cloudinary.com/dglub1vnw/video/upload/c_pad,w_1080,h_1920,b_black/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_black,e_outline:3/fl_layer_apply,g_north_west,x_10,y_670/l_text:Courier_45_bold:ZONA%20BORREGUILES,co_white/fl_layer_apply,g_north_west,x_13,y_673/{{ $json.public_id }}.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        160
      ],
      "id": "8ec922b4-00bc-43fc-8fb3-48a2e73f92d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "resource_type_file": "video",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        -144,
        160
      ],
      "id": "4c85ba67-fb60-4a26-8c67-4a5bf0283b78",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "YTnswF3cVMD8a6jX",
          "name": "Cuenta Cloudinary"
        }
      }
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.story_url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        160
      ],
      "id": "4fecbe0c-ed05-4db3-aa2c-8e9977ab31c2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "23ffd565-77db-41aa-846e-6e4f54f021a7",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        160
      ],
      "id": "4e3544c3-0642-49ef-82b2-ecd3367c560b",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        240
      ],
      "id": "cdd381ff-6ac2-45ba-9e2a-43a650f57753",
      "name": "Wait",
      "webhookId": "2ddadd9e-f14b-4c72-b341-f3ef721110ea"
    },
    {
      "parameters": {
        "url": "https://sierranevada.es/es/invierno/la-estacion/en-directo/webcams/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1200,
        160
      ],
      "id": "2aaa757a-e4c6-4d1a-afa7-70d04f751c29",
      "name": "request_página_principal"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el HTML gigante\nconst html = items[0].json.data;\n\n// 2. Buscamos el script que tiene todos los datos de la página (Next.js data)\nconst regex = /<script id=\"__NEXT_DATA__\" type=\"application\\/json\">(.*?)<\\/script>/;\nconst match = html.match(regex);\n\nlet resultados = [];\n\nif (match && match[1]) {\n  // 3. Parseamos el texto a JSON real\n  const data = JSON.parse(match[1]);\n\n  // 4. Navegamos por la estructura compleja de Sierra Nevada para encontrar las webcams\n  // La ruta suele ser: props -> pageProps -> model -> MenuPrincipalCustom... o buscando bloques\n  // Para hacerlo fácil, vamos a buscar recursivamente cualquier objeto que parezca una webcam de Feratel\n  \n  // Convertimos todo el objeto a string para buscar patrones de feratel (truco rápido)\n  const jsonString = JSON.stringify(data);\n  \n  // Buscamos patrones de IDs de cámara (ej: cam=15111)\n  const camRegex = /cam=(\\d+)/g;\n  let camMatch;\n  const uniqueCams = new Set();\n\n  while ((camMatch = camRegex.exec(jsonString)) !== null) {\n    uniqueCams.add(camMatch[1]);\n  }\n\n  // Creamos el resultado\n  uniqueCams.forEach(id => {\n    resultados.push({\n      json: {\n        camera_id: id,\n        iframe_url: `https://webtv.feratel.com/webtv/?design=v5&cam=${id}`,\n        video_directo_mp4: `https://sts063.feratel.co.at/streams/stsstore055/1/${id}_vid.mp4` // URL estimada basada en tu ejemplo\n      }\n    });\n  });\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        160
      ],
      "id": "182ae0c9-e916-4427-aec4-7a10a39e4a2c",
      "name": "extraer_url"
    },
    {
      "parameters": {
        "url": "={{ $json.iframe_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://sierranevada.es/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        160
      ],
      "id": "c8780df9-a109-4cee-b438-bbab9e0fdd02",
      "name": "request_página_cámaras"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos la fecha actual\nconst now = new Date();\nlet masCercano = null;\nlet menorDiferencia = Infinity; \n\nfor (const item of items) {\n  // Asegúrate de que item.json existe por seguridad\n  if (!item.json) continue;\n\n  const url = item.json.video_url;\n  \n  // --- BLOQUE DE SEGURIDAD NUEVO ---\n  // Si no hay url, o no es un texto, saltamos al siguiente item del bucle\n  if (!url || typeof url !== 'string') {\n    continue; \n  }\n  // ---------------------------------\n\n  // Ahora es seguro usar .match()\n  const match = url.match(/_([0-9a-fA-F]{8})[-_a-zA-Z]/);\n\n  if (match && match[1]) {\n    const hexTimestamp = match[1];\n    const unixSeconds = parseInt(hexTimestamp, 16);\n    \n    const videoDate = new Date(unixSeconds * 1000);\n    const diff = now - videoDate;\n\n    if (diff >= 0 && diff < menorDiferencia) {\n      menorDiferencia = diff;\n      masCercano = item;\n      masCercano.json.fecha_decodificada = videoDate.toISOString();\n      masCercano.json.segundos_atras = diff / 1000;\n    }\n  }\n}\n\nreturn masCercano ? [masCercano] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        160
      ],
      "id": "f57b7f7e-dbe8-413c-a885-a19c5054e907",
      "name": "filtrar_url_reciente"
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        160
      ],
      "id": "777d5a4a-20a7-412f-bc9f-683c3b198f68",
      "name": "solicitud_url_reciente"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "video_url",
              "cssSelector": "div#videoframe video source",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -688,
        160
      ],
      "id": "341861a2-cb91-4338-a739-df0b98b10862",
      "name": "extraer_url2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fa17a3a-35cc-4f82-988a-32b82b6223e9",
              "name": "story_url",
              "value": "={{ $('Edit Fields').item.json.story_url }}",
              "type": "string"
            },
            {
              "id": "e218b35b-bee8-4b32-8bb5-70c1a571d9db",
              "name": "vista_previa",
              "value": "={{ $('Edit Fields').item.json.vista_previa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        240
      ],
      "id": "e575ea56-dfa1-45c0-859f-96bb45cd6518",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "OBTENER VÍDEO DE LA CÁMARA",
        "height": 288,
        "width": 1056,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        64
      ],
      "id": "6acdd7c5-d32a-4c6e-aca2-3acbb08403ea",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "SUBIR VÍDEO Y GENERAR URL",
        "height": 288,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        64
      ],
      "id": "c06ee7e0-d0ad-4922-9665-6e79c6076bc9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "COMPROBAR SI SE HA PROCESADO\n",
        "height": 416,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        32
      ],
      "id": "c401de65-2a78-442b-8f19-88f31b8bfc8f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "ENVIAR CORREO DE VERIFICACIÓN",
        "height": 192,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        32
      ],
      "id": "02064db4-3e3f-4cb6-b043-ba8e91701b76",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "SUBIDA A META\n",
        "height": 192,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        800
      ],
      "id": "ab8be564-4726-443a-aae2-3afebc817eaa",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "path": "historiaCamara",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1232,
        848
      ],
      "id": "fd225dd5-64bd-4381-b7cc-b9cb982c5975",
      "name": "Webhook",
      "webhookId": "720cdebd-a73a-47ae-a8c8-66fe82638f89"
    },
    {
      "parameters": {
        "sendTo": "adrianazorinsanchez@gmail.com",
        "subject": "HISTORIA CÁMARA",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    /* Estilos Generales */\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f4f4;\n      margin: 0;\n      padding: 0;\n    }\n\n    /* Contenedor Principal */\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background-color: #ffffff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n    }\n\n    /* Cabecera */\n    .header {\n      background-color: #333333;\n      color: #ffffff;\n      padding: 20px;\n      text-align: center;\n    }\n\n    /* Contenido */\n    .content {\n      padding: 30px;\n      text-align: center;\n      color: #333333;\n    }\n\n    /* Caja de Previsualización */\n    .preview-box {\n      margin: 20px 0;\n      border: 1px solid #eeeeee;\n      padding: 10px;\n      border-radius: 5px;\n      background-color: #fafafa;\n    }\n\n    /* Imágenes */\n    img {\n      max-width: 100%;\n      height: auto;\n      border-radius: 4px;\n      display: block;\n      margin: 0 auto;\n    }\n\n    /* Botón de Confirmación */\n    .btn-confirmar {\n      display: inline-block;\n      background-color: #2ecc71;\n      color: #ffffff !important;\n      padding: 14px 28px;\n      text-decoration: none;\n      border-radius: 5px;\n      font-weight: bold;\n      margin-top: 20px;\n      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"container\">\n    \n    <div class=\"header\">\n      <h2 style=\"margin:0;\">Aprobación Requerida</h2>\n    </div>\n\n    <div class=\"content\">\n      <h3>Se requiere aprobación de una historia</h3>\n\n      <div class=\"preview-box\">\n        <p style=\"margin-top: 0; margin-bottom: 10px; font-weight: bold; color: #555;\">\n          Vista previa:\n        </p>\n        \n        <img src=\"{{ $('Edit Fields').item.json.vista_previa }}\" alt=\"Vista Previa\">\n      </div>\n\n      <a href=\"https://n8n.tailwind.es/webhook/historiaCamara?idHistoria={{ $('Edit Fields').item.json.story_url }}\" class=\"btn-confirmar\">\n        Aprobar Historia\n      </a>\n      <a href=\"https://n8n.tailwind.es/webhook/historiaPospuesta\" class=\"btn-confirmar\">\n        Posponer 30 minutos\n      </a>\n      <a href=\"https://n8n.tailwind.es/webhook-test/rechazarHistoria?origen=historiaWebcam&contenido=HistoriaRechazada&idHistoria={{ $('Edit Fields').item.json.story_url }}\" class=\"btn-confirmar\">\n        Rechazar\n      </a>\n    </div>\n\n    <div style=\"background-color: #eeeeee; padding: 10px; text-align: center; font-size: 12px; color: #777;\">\n      Enviado automáticamente desde n8n\n    </div>\n\n  </div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        80
      ],
      "id": "73308a25-8f99-40b8-9ef3-0317f097cfcb",
      "name": "Send a message",
      "webhookId": "31557ff2-993c-4c43-854d-8f372d063b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "fha7KwAzrDSA7OXO",
          "name": "ventas@sierranevadagranada.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<style>\n  /* --- ESTILOS GENERALES --- */\n  body { \n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n    display: flex; justify-content: center; align-items: center; \n    height: 100vh; margin: 0; background-color: #0f172a; \n    color: #e2e8f0; overflow: hidden; \n  }\n  .snow-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; z-index: 1; }\n  .flake { position: absolute; top: -10px; background-color: rgba(255, 255, 255, 0.4); border-radius: 50%; animation: fall linear infinite; }\n  @keyframes fall { to { transform: translateY(110vh); } }\n  \n  /* La tarjeta (z-index 10) */\n  .card { background-color: #1e293b; padding: 80px 40px 40px; border-radius: 16px; box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8); text-align: center; max-width: 380px; width: 90%; position: relative; z-index: 10; margin-top: 50px; overflow: visible; }\n  .snow-svg { position: absolute; top: -1px; left: 0; width: 100%; height: auto; z-index: 20; filter: drop-shadow(0 3px 2px rgba(0,0,0,0.15)); pointer-events: none; border-radius: 16px 16px 0 0; }\n  h1 { color: #f1f5f9; margin: 10px 0; font-size: 28px; font-weight: bold; }\n  p { color: #94a3b8; font-size: 16px; line-height: 1.6; margin-bottom: 20px; }\n  hr { border: 0; border-top: 1px solid #334155; margin: 25px 0; }\n  .check-icon { font-size: 50px; color: #22c55e; position: relative; z-index: 25; margin-top: 20px; filter: drop-shadow(0 0 15px rgba(34, 197, 94, 0.4)); }\n\n  /* ========================================= */\n  /* --- PINGÜINO REALISTA EN SNOWBOARD --- */\n  /* ========================================= */\n  .sliding-penguin-container {\n    position: fixed;\n    bottom: 35%; \n    left: -150px; \n    width: 110px; \n    height: auto;\n    z-index: 5; /* Detrás de la tarjeta */\n    transform: rotate(-3deg);\n    /* Duración total 5s: \n       - 4.25s para llegar al centro (lento)\n       - 0.75s para salir disparado (rápido) */\n    animation: slideAcross 5s linear infinite; \n  }\n  .penguin-ref-svg {\n    width: 100%; height: auto;\n    filter: drop-shadow(0 5px 4px rgba(0,0,0,0.5));\n  }\n\n  /* AQUÍ ESTÁ EL TRUCO DE LA VELOCIDAD */\n  @keyframes slideAcross {\n    0%   { left: -150px; } \n    /* Hasta el 85% del tiempo, avanza lento hasta pasar un poco el centro (55vw) */\n    85%  { left: 55vw; } \n    /* En el 15% de tiempo restante, acelera hasta el final (110vw) */\n    100% { left: 110vw;  }\n  }\n</style>\n\n<div class=\"snow-bg\">\n  <div class=\"flake\" style=\"left: 10%; animation-duration: 5s; width: 6px; height: 6px;\"></div>\n  <div class=\"flake\" style=\"left: 30%; animation-duration: 8s; width: 4px; height: 4px;\"></div>\n  <div class=\"flake\" style=\"left: 60%; animation-duration: 4s; width: 8px; height: 8px;\"></div>\n  <div class=\"flake\" style=\"left: 80%; animation-duration: 6s; width: 5px; height: 5px;\"></div>\n</div>\n\n<div class=\"sliding-penguin-container\">\n  <svg class=\"penguin-ref-svg\" viewBox=\"0 0 220 260\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill=\"#f1f5f9\" opacity=\"0.9\" d=\"M 10,235 Q 30,220 50,230 Q 70,240 90,225 Q 110,210 130,225 Q 150,240 170,220 Q 190,200 210,230 L 220,250 Q 110,260 0,250 Z\" />\n    <circle fill=\"#f1f5f9\" cx=\"20\" cy=\"225\" r=\"5\" opacity=\"0.8\"/>\n    <circle fill=\"#f1f5f9\" cx=\"190\" cy=\"215\" r=\"6\" opacity=\"0.8\"/>\n    <g transform=\"translate(10, 210)\">\n        <path fill=\"#2dd4bf\" stroke=\"#0f766e\" stroke-width=\"2\" d=\"M 0,20 C 0,0 20,-10 40,-5 L 160,-5 C 180,-10 200,0 200,20 C 200,40 180,45 160,40 L 40,40 C 20,45 0,40 0,20 Z\" />\n        <path fill=\"#ef4444\" d=\"M 30,-2 Q 50,20 70,-2 L 100,-2 Q 80,25 60,35 L 30,35 Q 50,15 30,-2 Z\" />\n        <path fill=\"#ef4444\" d=\"M 130,-2 Q 150,20 170,-2 L 190,2 Q 170,30 150,38 L 120,38 Q 140,15 130,-2 Z\" />\n        <path fill=\"#1e3a8a\" d=\"M 65,0 Q 85,25 105,0 L 125,0 Q 105,30 85,38 L 55,38 Q 75,15 65,0 Z\" />\n        <path fill=\"#1e3a8a\" d=\"M 160,0 Q 175,15 190,0 L 195,5 Q 180,35 150,40 L 140,35 Z\" />\n        <path fill=\"#1e3a8a\" d=\"M 5,5 Q 20,25 5,35 L 15,38 Q 35,20 15,0 Z\" />\n    </g>\n    <g transform=\"translate(45, 15)\">\n        <path fill=\"#fb923c\" stroke=\"#c2410c\" stroke-width=\"2\" d=\"M 35,210 C 25,210 15,205 15,195 C 15,185 25,180 40,185 C 55,190 65,195 65,205 C 65,215 55,220 35,210 Z\" />\n        <path fill=\"#fb923c\" stroke=\"#c2410c\" stroke-width=\"2\" d=\"M 95,210 C 85,210 75,205 75,195 C 75,185 85,180 100,185 C 115,190 125,195 125,205 C 125,215 115,220 95,210 Z\" />\n        <path fill=\"#374151\" stroke=\"#1f2937\" stroke-width=\"2\" d=\"M 65,5 C 30,5 5,40 5,100 C 5,160 30,200 65,200 C 100,200 125,160 125,100 C 125,40 100,5 65,5 Z\" />\n        <ellipse fill=\"#f8fafc\" cx=\"65\" cy=\"130\" rx=\"45\" ry=\"55\" />\n        <path fill=\"#f8fafc\" d=\"M 65,35 C 50,35 40,45 40,65 C 40,85 50,95 65,95 C 80,95 90,85 90,65 C 90,45 80,35 65,35 Z\" />\n        <g>\n            <circle fill=\"#1f2937\" cx=\"52\" cy=\"65\" r=\"10\" /><circle fill=\"#1f2937\" cx=\"78\" cy=\"65\" r=\"10\" />\n            <circle fill=\"white\" cx=\"55\" cy=\"62\" r=\"4\" /><circle fill=\"white\" cx=\"75\" cy=\"62\" r=\"4\" />\n            <circle fill=\"white\" cx=\"50\" cy=\"68\" r=\"2\" /><circle fill=\"white\" cx=\"81\" cy=\"68\" r=\"2\" />\n        </g>\n        <path fill=\"#fb923c\" stroke=\"#c2410c\" stroke-width=\"1\" d=\"M 65,85 L 55,92 Q 65,105 75,92 Z\" />\n        <path fill=\"#374151\" stroke=\"#1f2937\" stroke-width=\"2\" d=\"M 8,100 Q -10,130 10,160 L 20,145 Q 10,125 8,100 Z\" />\n        <path fill=\"#374151\" stroke=\"#1f2937\" stroke-width=\"2\" d=\"M 122,100 Q 140,130 120,160 L 110,145 Q 120,125 122,100 Z\" />\n    </g>\n  </svg>\n</div>\n\n<div class=\"card\">\n  <svg class=\"snow-svg\" viewBox=\"0 0 400 80\" xmlns=\"http://www.w3.org/2000/svg\" preserveAspectRatio=\"none\">\n    <path fill=\"#f1f5f9\" d=\"M0,0 L400,0 V30 Q385,60 370,30 Q355,20 340,30 Q310,75 280,30 Q260,20 240,30 Q200,80 160,35 Q140,25 120,35 Q85,65 50,30 Q35,20 20,35 Q0,60 0,30 Z\" />\n  </svg>\n  <div class=\"check-icon\">✔</div>\n  <h1>¡Confirmado!</h1>\n  <p>La historia ha sido aprobada correctamente.</p>\n  <hr>\n  <p style=\"font-size: 13px; opacity: 0.7;\">Ya puedes cerrar esta pestaña.</p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -880,
        848
      ],
      "id": "3d9447d2-f241-43a3-80ce-1688f72900e5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Historia Pospuesta</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f4f7f6;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n            color: #333;\n        }\n        .container {\n            text-align: center;\n            background: white;\n            padding: 3rem;\n            border-radius: 15px;\n            box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n            max-width: 500px;\n        }\n        h1 {\n            color: #e67e22;\n            margin-bottom: 1rem;\n            letter-spacing: 1px;\n        }\n        .message {\n            font-size: 1.1rem;\n            margin-bottom: 2rem;\n            line-height: 1.6;\n        }\n        #timer {\n            font-size: 3.5rem;\n            font-weight: bold;\n            color: #2c3e50;\n            margin: 20px 0;\n            font-variant-numeric: tabular-nums;\n        }\n        .footer-note {\n            color: #7f8c8d;\n            font-size: 0.9rem;\n            margin-top: 2rem;\n            border-top: 1px solid #eee;\n            padding-top: 1rem;\n        }\n    </style>\n</head>\n<body>\n\n<div class=\"container\">\n    <h1>HISTORIA POSPUESTA</h1>\n    \n    <div class=\"message\">\n        Dentro de 30 minutos se enviará otro correo con el estado de la webcam.\n    </div>\n\n    <div id=\"timer\">30:00</div>\n\n    <div class=\"footer-note\">\n        Ya puede salir de esta página.\n    </div>\n</div>\n\n<script>\n    function startTimer(durationInSeconds) {\n        let timer = durationInSeconds, minutes, seconds;\n        const display = document.querySelector('#timer');\n        \n        const countdown = setInterval(function () {\n            minutes = parseInt(timer / 60, 10);\n            seconds = parseInt(timer % 60, 10);\n\n            minutes = minutes < 10 ? \"0\" + minutes : minutes;\n            seconds = seconds < 10 ? \"0\" + seconds : seconds;\n\n            display.textContent = minutes + \":\" + seconds;\n\n            if (--timer < 0) {\n                clearInterval(countdown);\n                display.textContent = \"00:00\";\n            }\n        }, 1000);\n    }\n\n    // Inicia el contador con 30 minutos (1800 segundos)\n    window.onload = function () {\n        startTimer(30 * 60);\n    };\n</script>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1520,
        384
      ],
      "id": "3a961a4f-a452-4c7d-adca-015e96491d83",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "historiaPospuesta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        384
      ],
      "id": "9a115c23-aedd-4865-bd46-2f851d98028c",
      "name": "posponer",
      "webhookId": "84cb83c6-97c7-470d-ae3c-9801d1eaa00e"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1360,
        384
      ],
      "id": "35d19881-992b-4494-a591-18f39361266c",
      "name": "esperar 30 minutos",
      "webhookId": "746e61ef-777c-4de5-8dab-a2cfde26d891"
    },
    {
      "parameters": {
        "path": "rechazarHistoria",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1232,
        -352
      ],
      "id": "7facb56f-f11a-4b0c-8a73-2a1872b6bcc7",
      "name": "rechazarHistoria",
      "webhookId": "b7eb3ca4-9700-4a4b-b1ae-cfbd33789ee9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fc1ee34-829a-45a3-a4af-fa95470d9512",
              "name": "ORIGEN",
              "value": "={{ $('Webhook').item.json.query.origen }}",
              "type": "string"
            },
            {
              "id": "348d16fa-a017-44c5-9879-665a4936a387",
              "name": "CONTENIDO",
              "value": "={{ $('Webhook').item.json.query.contenido }}",
              "type": "string"
            },
            {
              "id": "93855f27-f03b-443c-82bf-153d717f2a4d",
              "name": "ID_FLOW",
              "value": "={{ $json.query.idFlow }}",
              "type": "string"
            },
            {
              "id": "43b297bb-9d8d-4af2-97b0-0ddb4711edd1",
              "name": "MAS",
              "value": "={{ $json.query.idHistoria }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        -352
      ],
      "id": "a151d550-695a-4b66-8dc1-8b96ac126da1",
      "name": "datosRechazar"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Confirmación</title>\n  <style>\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;\n      background-color: #f3f4f6;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      margin: 0;\n    }\n    .card {\n      background: white;\n      padding: 40px;\n      border-radius: 12px;\n      box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n      text-align: center;\n      max-width: 400px;\n      border-top: 6px solid #ef4444;\n    }\n    h2 { color: #1f2937; margin-top: 0; font-size: 24px; }\n    p { color: #4b5563; margin: 10px 0; font-size: 16px; }\n    .warning { color: #ef4444; font-weight: bold; margin-bottom: 25px; display: block; }\n    .btn-container { display: flex; gap: 15px; justify-content: center; margin-top: 20px; }\n    \n    /* Estilos de los botones (Enlaces) */\n    .btn {\n      text-decoration: none;\n      padding: 12px 30px;\n      border-radius: 6px;\n      font-weight: bold;\n      font-size: 16px;\n      transition: opacity 0.2s;\n      display: inline-block;\n    }\n    .btn:hover { opacity: 0.8; }\n    \n    /* Botón SI (Acción de Webhook) */\n    .btn-si { background-color: #ef4444; color: white; }\n    \n    /* Botón NO (Cancelar) */\n    .btn-no { background-color: #e5e7eb; color: #374151; }\n  </style>\n</head>\n<body>\n\n  <div class=\"card\">\n    <h2>⚠️ Atención</h2>\n    <p>Estás a punto de rechazar.</p>\n    <p>Esta acción no se puede deshacer.</p>\n    <span class=\"warning\">¿Estás seguro?</span>\n\n    <div class=\"btn-container\">\n      <a href=\"https://n8n.tailwind.es/webhook-test/nothingBoxSi?origen={{ $json.ORIGEN }}&contenido={{ $json.CONTENIDO }}&estado=rechazado&idFlow={{ $json.ID_FLOW }}&mas={{ $json.MAS }}\" class=\"btn btn-si\">SÍ</a>\n\n      <a href=\"https://n8n.tailwind.es/webhook-test/nothingBoxSi?origen={{ $json.ORIGEN }}&contenido={{ $json.CONTENIDO }}&estado=noRechazado&idFlow={{ $json.ID_FLOW }}&mas={{ $json.MAS }}\" class=\"btn btn-no\">NO</a>\n    </div>\n  </div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -912,
        -352
      ],
      "id": "54afc9b8-4f0c-49bf-96af-f83d961af8a8",
      "name": "Respond to Webhook Rechazar"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "FnOKQ90bd0CxI2H5",
          "mode": "list",
          "cachedResultName": "nothingbox",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "={{ $json.row_number + 1}}",
            "contador_no_rechazados": "={{ $('obtener contador').item.json.contador_no_rechazados }}"
          },
          "matchingColumns": [
            "contador"
          ],
          "schema": [
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador_no_rechazados",
              "displayName": "contador_no_rechazados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        656,
        -512
      ],
      "id": "9b26fb52-e2b7-4b2a-9cdc-4e0e1f334c22",
      "name": "sumar contador"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fc1ee34-829a-45a3-a4af-fa95470d9512",
              "name": "ORIGEN",
              "value": "={{ $('si').item.json.query.origen }}",
              "type": "string"
            },
            {
              "id": "348d16fa-a017-44c5-9879-665a4936a387",
              "name": "CONTENIDO",
              "value": "={{ $('si').item.json.query.contenido }}",
              "type": "string"
            },
            {
              "id": "1e3fccd6-21e4-48d2-af81-a5372f6807eb",
              "name": "CONTADOR",
              "value": "={{ $json.contador }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -512
      ],
      "id": "5a228376-6e29-480e-b480-f2efb1ca87ca",
      "name": "datos"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kE01W7ucOTrCpfrN_bC8b4WMvE9tTgQf9lBvjLPwj50",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rechazados",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.CONTADOR }}",
            "ORIGEN": "={{ $json.ORIGEN }}",
            "CONTENIDO": "={{ $json.CONTENIDO }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ORIGEN",
              "displayName": "ORIGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CONTENIDO",
              "displayName": "CONTENIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -512
      ],
      "id": "5a709dcd-83fe-4fa9-a663-a33d0c1dae45",
      "name": "escribir datos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "rechazarSi",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -352
      ],
      "id": "34425f3d-064a-4a05-a5ee-152a7d25b887",
      "name": "si",
      "webhookId": "8d74fb79-3a60-4b85-8eae-63028c20ecb5"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "FnOKQ90bd0CxI2H5",
          "mode": "list",
          "cachedResultName": "nothingbox",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        160,
        -512
      ],
      "id": "b626e203-21c2-4c8a-9cff-385723289213",
      "name": "obtener contador"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "FnOKQ90bd0CxI2H5",
          "mode": "list",
          "cachedResultName": "nothingbox",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "={{ $('obtener contador1').item.json.contador }}",
            "contador_no_rechazados": "={{ $json.row_number + 1}}"
          },
          "matchingColumns": [
            "contador"
          ],
          "schema": [
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador_no_rechazados",
              "displayName": "contador_no_rechazados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        672,
        -224
      ],
      "id": "a6e39b97-25d6-4978-b2f6-c7b390801524",
      "name": "sumar contador1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fc1ee34-829a-45a3-a4af-fa95470d9512",
              "name": "ORIGEN",
              "value": "={{ $('si').item.json.query.origen }}",
              "type": "string"
            },
            {
              "id": "348d16fa-a017-44c5-9879-665a4936a387",
              "name": "CONTENIDO",
              "value": "={{ $('si').item.json.query.contenido }}",
              "type": "string"
            },
            {
              "id": "1e3fccd6-21e4-48d2-af81-a5372f6807eb",
              "name": "CONTADOR",
              "value": "={{ $json.contador_no_rechazados }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -224
      ],
      "id": "0ccd4143-6dc7-4a5e-a34e-bc8be3cd37b6",
      "name": "datos2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kE01W7ucOTrCpfrN_bC8b4WMvE9tTgQf9lBvjLPwj50",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "No Rechazados",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.CONTADOR }}",
            "ORIGEN": "={{ $json.ORIGEN }}",
            "CONTENIDO": "={{ $json.CONTENIDO }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ORIGEN",
              "displayName": "ORIGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CONTENIDO",
              "displayName": "CONTENIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -224
      ],
      "id": "427cb2ff-b459-4736-95ab-2e372b34dfa5",
      "name": "escribir datos1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "FnOKQ90bd0CxI2H5",
          "mode": "list",
          "cachedResultName": "nothingbox",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/FnOKQ90bd0CxI2H5"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        176,
        -224
      ],
      "id": "f901e8c3-08ec-4bdf-9470-803fbbf9847e",
      "name": "obtener contador1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Selección de Acción</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;\n            background-color: #f3f4f6;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n        }\n        .card {\n            background: white;\n            padding: 40px;\n            border-radius: 12px;\n            box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n            text-align: center;\n            max-width: 450px; /* Un poco más ancho para que quepan los textos */\n            width: 90%;\n            border-top: 6px solid #3b82f6; /* Azul Informativo */\n        }\n        .icon {\n            font-size: 50px;\n            margin-bottom: 15px;\n            display: block;\n        }\n        h2 { \n            color: #1f2937; \n            margin-top: 0; \n            font-size: 24px; \n        }\n        p { \n            color: #4b5563; \n            margin: 10px 0 30px 0; \n            font-size: 18px; \n        }\n        .btn-container { \n            display: flex; \n            flex-direction: column; /* Botones uno encima de otro para mejor lectura en móvil */\n            gap: 15px; \n            justify-content: center; \n        }\n        \n        /* Estilos Base de Botones */\n        .btn {\n            text-decoration: none;\n            padding: 15px 20px;\n            border-radius: 8px;\n            font-weight: bold;\n            font-size: 16px;\n            transition: transform 0.1s, opacity 0.2s;\n            display: block;\n            text-align: center;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .btn:hover { opacity: 0.9; transform: translateY(-1px); }\n        .btn:active { transform: translateY(1px); }\n        \n        /* Botón Posponer (Naranja - Tiempo) */\n        .btn-posponer { \n            background-color: #f59e0b; \n            color: white; \n        }\n        \n        /* Botón Aceptar (Azul - Acción Principal) */\n        .btn-aceptar { \n            background-color: #3b82f6; \n            color: white; \n        }\n\n    </style>\n</head>\n<body>\n\n    <div class=\"card\">\n        <span class=\"icon\">🤔</span>\n        \n        <h2>No se ha rechazado</h2>\n        <p>¿Qué quieres hacer?</p>\n\n        <div class=\"btn-container\">\n            <a href=\"REEMPLAZAR_URL_POSPONER\" class=\"btn btn-posponer\">\n                ⏱️ POSPONER 30 MINUTOS\n            </a>\n\n            <a href=\"REEMPLAZAR_URL_ACEPTAR\" class=\"btn btn-aceptar\">\n                ✅ ACEPTAR\n            </a>\n        </div>\n    </div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        -224
      ],
      "id": "271a6a4d-599d-455c-b699-86c5d10eed12",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "284b2492-0b5d-46f4-89df-663f252068cf",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "da67b1b5-9751-40e0-a4b8-31d51d15c6c9",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "23a32b17-5967-4fd9-b9e1-d7891c740482",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "7a5c6c5f-9d94-496b-8e36-192286d69c5e",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -352
      ],
      "id": "4cb7dd56-6534-4a59-8595-8a6832725ae0",
      "name": "datos_si_no"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb37d92a-214b-46d4-9bab-842c86e8e860",
              "leftValue": "={{ $json.query.estado }}",
              "rightValue": "rechazado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        -352
      ],
      "id": "b0625766-366e-4d16-8e08-d72254e31bca",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Acción Completada</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;\n            background-color: #f3f4f6;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n        }\n        .card {\n            background: white;\n            padding: 40px;\n            border-radius: 12px;\n            box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n            text-align: center;\n            max-width: 400px;\n            border-top: 6px solid #10b981; /* Verde Éxito */\n        }\n        .icon {\n            font-size: 50px;\n            margin-bottom: 20px;\n            display: block;\n        }\n        h2 { \n            color: #1f2937; \n            margin-top: 0; \n            margin-bottom: 15px;\n            font-size: 24px; \n        }\n        p { \n            color: #4b5563; \n            margin: 10px 0; \n            line-height: 1.5;\n            font-size: 16px; \n        }\n        .doc-name {\n            background-color: #f3f4f6;\n            padding: 2px 6px;\n            border-radius: 4px;\n            font-family: monospace;\n            color: #374151;\n            font-weight: bold;\n        }\n        button {\n            background-color: #10b981;\n            color: white;\n            border: none;\n            padding: 12px 40px;\n            border-radius: 6px;\n            font-weight: bold;\n            font-size: 16px;\n            cursor: pointer;\n            margin-top: 25px;\n            transition: background 0.2s;\n        }\n        button:hover {\n            background-color: #059669;\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"card\">\n        <span class=\"icon\">✅</span>\n        \n        <h2>Rechazado con éxito</h2>\n        \n        <p>\n            El fallo quedará apuntado en el documento <span class=\"doc-name\">nothingbox</span> de Drive.\n        </p>\n        \n        <button onclick=\"cerrarPestana()\">ACEPTAR</button>\n    </div>\n\n    <script>\n        function cerrarPestana() {\n            // Intenta cerrar la ventana\n            window.close();\n            \n            // Truco adicional para navegadores que bloquean window.close()\n            // si la pestaña no fue abierta por script\n            window.open('','_parent','');\n            window.close();\n\n            // Si el navegador bloquea el cierre (medida de seguridad común),\n            // mostramos un mensaje final.\n            setTimeout(function() {\n                document.body.innerHTML = \"<div style='text-align:center; padding:50px; font-family:sans-serif; color:#4b5563;'><h3>Puedes cerrar esta pestaña manualmente.</h3></div>\";\n            }, 100);\n        }\n    </script>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        -512
      ],
      "id": "4568449c-95d0-4ca1-9824-cee5dae22b44",
      "name": "Respond to Webhook3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T11:14:07.991Z",
      "createdAt": "2025-12-11T11:14:07.991Z",
      "role": "workflow:owner",
      "workflowId": "CBcjY0JF5P9ZjxEE",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2026-01-31T09:33:24.945Z",
  "versionId": "9f383328-d6b5-48a5-a555-665046f84a5b"
}