workflows/cnuDKnZrHmDy4QDh.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-20T18:56:51.000Z",
    "createdAt": "2026-01-20T18:56:50.161Z",
    "versionId": "94d91bc6-5cdd-4755-ad1a-d9d12327a7c8",
    "workflowId": "cnuDKnZrHmDy4QDh",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {
            "q": "from:me \"Su perfil ha sido autorizado\""
          },
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          -480,
          0
        ],
        "id": "c9f9c18e-158d-4c8a-87f0-a291cb274928",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "2piqh63wCF24vapD",
            "name": "Gmail profesionales@rules-shop.es"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Accedemos a la información del remitente\n// La estructura es: json.from.value[0]\nconst senderInfo = $input.item.json.from.value[0];\n\nreturn {\n  json: {\n    nombre: senderInfo.name,   // Esto capturará \"Mateo Ramos\"\n    email: senderInfo.address  // Esto capturará \"tagliaficomateo@gmail.com\"\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          0
        ],
        "id": "3107f929-6b88-45d7-b2b4-dae60dd465e7",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Info Tailwind",
    "name": "Version 94d91bc6",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "94d91bc6-5cdd-4755-ad1a-d9d12327a7c8",
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-12T07:23:55.975Z",
  "id": "cnuDKnZrHmDy4QDh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Correos_Profesores",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "SENT"
          ],
          "q": "from:me \"Su perfil ha sido autorizado\""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        0
      ],
      "id": "c9f9c18e-158d-4c8a-87f0-a291cb274928",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2piqh63wCF24vapD",
          "name": "Gmail profesionales@rules-shop.es"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Accedemos a la información del remitente\n// La estructura es: json.from.value[0]\nconst senderInfo = $input.item.json.from.value[0];\n\nreturn {\n  json: {\n    nombre: senderInfo.name,   // Esto capturará \"Mateo Ramos\"\n    email: senderInfo.address  // Esto capturará \"tagliaficomateo@gmail.com\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        0
      ],
      "id": "3107f929-6b88-45d7-b2b4-dae60dd465e7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "16auxC5pQ4ydDh1LxCKiPC5ClQ1WCN3R5ogY1Smmbm4c",
          "mode": "list",
          "cachedResultName": "Solicitud de Alta - Profesionales Rules Oakley (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16auxC5pQ4ydDh1LxCKiPC5ClQ1WCN3R5ogY1Smmbm4c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 114227354,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16auxC5pQ4ydDh1LxCKiPC5ClQ1WCN3R5ogY1Smmbm4c/edit#gid=114227354"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        208
      ],
      "id": "7ad34ec0-9110-48cf-90b6-691ccbf01cbd",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "4HkdJcbjLdqN2Ie3",
          "name": "Google Sheets Trigger info@tailwind.es"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d56c1a5f-1dc2-4a0d-86fb-e47d652cbd19",
              "name": "nombre",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        208
      ],
      "id": "7166c0e6-3862-4388-aab4-3633ecfc45a4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-12T07:23:55.982Z",
      "createdAt": "2025-12-12T07:23:55.982Z",
      "role": "workflow:owner",
      "workflowId": "cnuDKnZrHmDy4QDh",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1768935411
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-21T10:47:56.705Z",
  "versionId": "e802d865-1c86-4a9c-bb6c-4540e22e98ca"
}