workflows/JvpEd7ithKXh2u1OBix0o.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Limpiar chunks_temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar chunks_temp": {
      "main": [
        [
          {
            "node": "Lista archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista archivos": {
      "main": [
        [
          {
            "node": "Loop Over Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Files": {
      "main": [
        [
          {
            "node": "Call 'embeding_2'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ver contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver contenido": {
      "main": [
        [
          {
            "node": "Dividir en chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir en chunks": {
      "main": [
        [
          {
            "node": "Guardar chunk en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar chunk en BD": {
      "main": [
        [
          {
            "node": "Loop Over Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-20T15:18:49.435Z",
  "id": "JvpEd7ithKXh2u1OBix0o",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Embeding",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        16
      ],
      "id": "3284ea42-7723-4c5e-9131-cc69a372a3d7",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE chunks_temp RESTART IDENTITY;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -448,
        16
      ],
      "id": "20c9fb32-78ec-4d33-9aa9-e60c0d42e241",
      "name": "Limpiar chunks_temp",
      "credentials": {
        "postgres": {
          "id": "UPETCYNZNCReuZu8",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://niucsjoaufrzpquicens.supabase.co/storage/v1/object/list/markdown-docs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pdWNzam9hdWZyenBxdWljZW5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDIwMzk3NywiZXhwIjoyMDg1Nzc5OTc3fQ.O47K6zqyHxQVKWffIKW6GggqJ_YHpBw0YH3c-Cc5pCk"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pdWNzam9hdWZyenBxdWljZW5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDIwMzk3NywiZXhwIjoyMDg1Nzc5OTc3fQ.O47K6zqyHxQVKWffIKW6GggqJ_YHpBw0YH3c-Cc5pCk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 1000,\n  \"offset\": 0,\n  \"prefix\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        16
      ],
      "id": "4eb8d253-3cff-48d4-be54-4db7859df7fd",
      "name": "Lista archivos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        16
      ],
      "id": "2b143872-f42d-4c70-adee-bc1a8d0d29dd",
      "name": "Loop Over Files"
    },
    {
      "parameters": {
        "url": "=https://niucsjoaufrzpquicens.supabase.co/storage/v1/object/markdown-docs/{{ $json.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pdWNzam9hdWZyenBxdWljZW5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDIwMzk3NywiZXhwIjoyMDg1Nzc5OTc3fQ.O47K6zqyHxQVKWffIKW6GggqJ_YHpBw0YH3c-Cc5pCk"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pdWNzam9hdWZyenBxdWljZW5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDIwMzk3NywiZXhwIjoyMDg1Nzc5OTc3fQ.O47K6zqyHxQVKWffIKW6GggqJ_YHpBw0YH3c-Cc5pCk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        16
      ],
      "id": "6dcb8fa3-7bc5-4fbd-a448-4b87069290b6",
      "name": "Ver contenido"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.data || '';\nconst filename = $input.first().json.name || 'unknown';\nconst chunkSize = 500;\nconst overlap = 50;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize - overlap) {\n  const chunk = text.slice(i, i + chunkSize);\n  if (chunk.trim().length > 0) {\n    chunks.push({\n      json: {\n        content: chunk,\n        source: filename,\n        chunk_index: chunks.length\n      }\n    });\n  }\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        16
      ],
      "id": "864efa37-e834-4636-a211-3b35397851e5",
      "name": "Dividir en chunks"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "chunks_temp",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content }}",
            "source": "={{ $json.source }}",
            "chunk_index": "={{ $json.chunk_index }}"
          },
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunk_index",
              "displayName": "chunk_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        608,
        16
      ],
      "id": "1da9ce5b-a5f7-4337-90e5-eaef6ef7d5bf",
      "name": "Guardar chunk en BD",
      "credentials": {
        "postgres": {
          "id": "UPETCYNZNCReuZu8",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "I5hwEZRzSwu0Ch3bOJOME",
          "mode": "id",
          "cachedResultUrl": "/workflow/I5hwEZRzSwu0Ch3bOJOME"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        -192
      ],
      "id": "abb4f58d-618c-4ab8-b184-0b83c9f82640",
      "name": "Call 'embeding_2'"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-20T15:18:49.441Z",
      "createdAt": "2026-03-20T15:18:49.441Z",
      "role": "workflow:owner",
      "workflowId": "JvpEd7ithKXh2u1OBix0o",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-30T11:34:38.965Z",
  "versionId": "06263d9b-43cf-442b-9227-dd504a58af49"
}