workflows/kldleYUPha6bnarR.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-17T13:58:54.000Z",
    "createdAt": "2026-02-17T13:58:53.118Z",
    "versionId": "dde9ce4f-6bda-4049-acea-b6ca2af980ac",
    "workflowId": "kldleYUPha6bnarR",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.canva.com/rest/v1/autofills",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"brand_template_id\": \"{{ $json.id_documento }}\",\n  \"export_name\": \"Historia dia hoy\",\n  \"data\": {\n    \"fecha\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $now.format('dd/LL/yyyy') }}\"\n    },\n    \"calidadnieve_general\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.calidad_nieve }}\"\n    },\n    \"estadogeneral\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.aspecto_cielo }}\"\n    },\n    \"visibilidadgeneral\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.visibilidad }}\"\n    },\n    \"temperaturaminima\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.temp_min }}\"\n    },\n    \"temperaturamaxima\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.temp_max }}\"\n    },\n    \"vientominimo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.viento_min }}\"\n    },\n    \"vientomaximo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.viento_max }}\"\n    },\n    \"espesorminimo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.espesor_min }}\"\n    },\n    \"espesormaximo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.espesor_max }}\"\n    },\n    \"remontes_abiertos\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.remontes_abiertos }}\"\n    },\n    \"km_esquiables\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.km_esquiables }}\"\n    },\n    \"pistasabiertas\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body['pistas_abiertas[]'] }}\" \n    },\n    \"numeropistas\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.numero_pistas }}\"\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          640,
          -1392
        ],
        "id": "9654ecf1-32ab-4757-adb0-87b9f07315aa",
        "name": "HTTP Request",
        "retryOnFail": true,
        "waitBetweenTries": 3000,
        "executeOnce": false,
        "alwaysOutputData": false,
        "notesInFlow": false,
        "credentials": {
          "oAuth2Api": {
            "id": "eHEbZK7oC3pW1LQr",
            "name": "Canva"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.canva.com/rest/v1/autofills/{{ $('HTTP Request').item.json.job.id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1136,
          -1392
        ],
        "id": "6222d526-1ca0-4ae2-b996-d6ae44f671c0",
        "name": "HTTP Request1",
        "credentials": {
          "oAuth2Api": {
            "id": "eHEbZK7oC3pW1LQr",
            "name": "Canva"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          464,
          -1392
        ],
        "id": "c9f8f9ca-6547-4340-bce6-580f2621e75b",
        "name": "Wait",
        "webhookId": "8cce73b4-0a6e-4db3-b503-1267489be04b",
        "executeOnce": true
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "17841470046184468",
          "edge": "=media",
          "options": {
            "queryParametersJson": "={\n\"video_url\": \"{{ $json.job.urls[0] }}\",\n\"media_type\": \"STORIES\",\n\"is_story\": true\n}"
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          2336,
          -1408
        ],
        "id": "7da66ccf-8fd7-48d5-8c6d-db816b75171b",
        "name": "Facebook Graph API",
        "credentials": {
          "facebookGraphApi": {
            "id": "F7VbX8jWKCXdAM47",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "17841470046184468",
          "edge": "media_publish",
          "options": {
            "queryParametersJson": "={\n  \"creation_id\": \"{{$json.id}}\"\n}"
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          3024,
          -1424
        ],
        "id": "3bb41e32-f010-4102-acc1-fd96e8892501",
        "name": "Facebook Graph API1",
        "credentials": {
          "facebookGraphApi": {
            "id": "F7VbX8jWKCXdAM47",
            "name": "Facebook Graph account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v20.0/{{ $json.id }}?fields=status,status_code",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "facebookGraphApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "access_token",
                "value": "EAF2z8nVLTA8BQVHL88vghg4RRZBH9svUgZCP93NSZAB9iSDKxTAMvz8DFby8KVqXp6DWFxfFDiSKOUXvXPVVrJcNxjFOmr0ZCXphOZBUUWRkP8sTZC9wwapmP8vlJQN4NHH2eW9zPRmg2SHrQ0AhjI3n2kx1vAa8nOtr6tbQMhcaP0X0eMtOComwFl3zR7zd7HowZDZD"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2544,
          -1408
        ],
        "id": "06240652-f050-41e7-a406-a611f53d1746",
        "name": "HTTP Request3",
        "credentials": {
          "facebookGraphApi": {
            "id": "F7VbX8jWKCXdAM47",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b4f16a6d-f121-4b47-ab09-627eb7d39e74",
                "leftValue": "={{ $json.job.status }}",
                "rightValue": "success",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1968,
          -1392
        ],
        "id": "88a07af8-5d4d-4c7e-9a1f-4db66d843eef",
        "name": "If"
      },
      {
        "parameters": {
          "url": "=https://api.canva.com/rest/v1/exports/{{ $json[\"job\"][\"id\"] }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2160,
          -1408
        ],
        "id": "7555d978-506b-45aa-bf1a-cdfafabbe297",
        "name": "HTTP Request6",
        "credentials": {
          "oAuth2Api": {
            "id": "eHEbZK7oC3pW1LQr",
            "name": "Canva"
          }
        }
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1760,
          -1392
        ],
        "id": "5531d7ae-3e1e-4e70-a013-b7a468dfde34",
        "name": "Wait1",
        "webhookId": "82707f0f-e107-4b71-9887-ad1255db0d8d"
      },
      {
        "parameters": {
          "url": "=https://api.canva.com/rest/v1/exports/{{ $json[\"job\"][\"id\"] }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1552,
          -1392
        ],
        "id": "87ba9b82-c2a0-491d-a90b-251cc2de0db3",
        "name": "HTTP Request7",
        "credentials": {
          "oAuth2Api": {
            "id": "eHEbZK7oC3pW1LQr",
            "name": "Canva"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2688,
          -1408
        ],
        "id": "475281c7-f520-4d18-8b3a-e8dc41dadfd9",
        "name": "Wait2",
        "webhookId": "4e9e9bda-286b-4bd6-b112-9133762c2724"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "49c65dc4-2ebe-451b-9788-cd0999f268f1",
                "leftValue": "={{ $json.status_code }}",
                "rightValue": "FINISHED",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2832,
          -1408
        ],
        "id": "c3ad2eff-8c1a-4047-ba71-69acd0745b05",
        "name": "If1"
      },
      {
        "parameters": {
          "content": "CANVA EXPORT",
          "height": 256,
          "width": 784,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1104,
          -1440
        ],
        "id": "4fcecff3-9ea7-4a71-9b49-c724b9345c25",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "SUBIDA HISTORIA\n",
          "height": 256,
          "width": 1440,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1920,
          -1440
        ],
        "id": "a3e2cce6-de1f-4d87-89c9-2e53de712c07",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "YhO4ZRxZ7YiJDe7A",
            "mode": "list",
            "cachedResultName": "Plantillas Canva",
            "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/YhO4ZRxZ7YiJDe7A"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Nombre_Documento",
                "keyValue": "={{ $json.body.aspecto_cielo.toUpperCase() }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          96,
          -1392
        ],
        "id": "9c7cc8ad-30f3-4ec4-a45f-97179ec78eae",
        "name": "obtener contador",
        "executeOnce": false
      },
      {
        "parameters": {
          "type": "random"
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          288,
          -1392
        ],
        "id": "2529ddd5-e228-48e7-a21c-9620590d8f41",
        "name": "Sort"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e5f15ada-1e3d-43a0-87d6-17cb5e1222ac",
                "name": "ID DOCUMENTO",
                "value": "={{ $('HTTP Request7').item.json.job.urls[0].match(/(DA[A-Za-z0-9-]+)/)[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3184,
          -1424
        ],
        "id": "7eae2c4f-9d5b-4c4d-8417-1d9d218cbffe",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.canva.com/rest/v1/folders/move",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"item_id\": \"{{ $json['ID DOCUMENTO'] }}\",\n  \"to_folder_id\": \"FAF-k76AhRE\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3344,
          -1424
        ],
        "id": "b3eeaaf6-1eca-4fe1-bc18-add61e7dfa6d",
        "name": "HTTP Request4",
        "credentials": {
          "canvaApi": {
            "id": "tuy7V3JiiZVTJf5e",
            "name": "Canva account"
          },
          "oAuth2Api": {
            "id": "eHEbZK7oC3pW1LQr",
            "name": "Canva"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Parte de Nieve - Sierra Nevada</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #121212;\n            color: #e0e0e0;\n            margin: 0;\n            padding: 20px;\n            display: flex;\n            justify-content: center;\n        }\n        .form-container {\n            background-color: #1e1e1e;\n            padding: 30px;\n            border-radius: 10px;\n            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);\n            max-width: 650px;\n            width: 100%;\n        }\n        h2 {\n            color: #ffffff;\n            text-align: center;\n            margin-top: 0;\n            margin-bottom: 25px;\n        }\n        .form-group {\n            margin-bottom: 15px;\n        }\n        .form-row {\n            display: flex;\n            gap: 15px;\n            margin-bottom: 15px;\n        }\n        .form-row .form-group {\n            flex: 1;\n            margin-bottom: 0;\n        }\n        label {\n            display: block;\n            font-weight: bold;\n            margin-bottom: 5px;\n            color: #b0bec5;\n            font-size: 13px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n        input[type=\"text\"],\n        select {\n            width: 100%;\n            padding: 10px;\n            background-color: #2c2c2c;\n            color: #ffffff;\n            border: 1px solid #555555;\n            border-radius: 5px;\n            box-sizing: border-box;\n            font-size: 15px;\n            transition: border-color 0.3s, box-shadow 0.3s;\n        }\n        input[type=\"text\"]::placeholder {\n            color: #757575;\n        }\n        input[type=\"text\"]:focus,\n        select:focus {\n            outline: none;\n            border-color: #4fc3f7;\n            box-shadow: 0 0 0 3px rgba(79, 195, 247, 0.2);\n        }\n        /* Color específico para las opciones del select en algunos navegadores */\n        select option {\n            background-color: #2c2c2c;\n            color: #ffffff;\n        }\n        .input-with-unit {\n            display: flex;\n            align-items: center;\n        }\n        .input-with-unit input {\n            border-top-right-radius: 0;\n            border-bottom-right-radius: 0;\n        }\n        .unit {\n            background-color: #333333;\n            border: 1px solid #555555;\n            border-left: none;\n            padding: 10px;\n            border-top-right-radius: 5px;\n            border-bottom-right-radius: 5px;\n            color: #b0bec5;\n            font-size: 14px;\n        }\n        \n        /* Estilos específicos para los Checkboxes */\n        .checkbox-group {\n            display: grid;\n            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));\n            gap: 10px;\n            margin-top: 8px;\n        }\n        .checkbox-label {\n            display: flex;\n            align-items: center;\n            font-weight: normal;\n            text-transform: none;\n            letter-spacing: normal;\n            color: #e0e0e0;\n            font-size: 14px;\n            cursor: pointer;\n            background-color: #2c2c2c;\n            padding: 10px 12px;\n            border-radius: 5px;\n            border: 1px solid #555555;\n            transition: background-color 0.2s, border-color 0.2s;\n            margin-bottom: 0;\n        }\n        .checkbox-label:hover {\n            background-color: #383838;\n            border-color: #4fc3f7;\n        }\n        .checkbox-label input[type=\"checkbox\"] {\n            margin-right: 10px;\n            accent-color: #0288d1;\n            width: 18px;\n            height: 18px;\n            cursor: pointer;\n        }\n\n        button {\n            width: 100%;\n            background-color: #0288d1;\n            color: white;\n            padding: 14px;\n            border: none;\n            border-radius: 5px;\n            font-size: 16px;\n            font-weight: bold;\n            cursor: pointer;\n            margin-top: 25px;\n            transition: background-color 0.3s;\n        }\n        button:hover {\n            background-color: #0277bd;\n        }\n        @media (max-width: 500px) {\n            .form-row {\n                flex-direction: column;\n                gap: 15px;\n            }\n            .checkbox-group {\n                grid-template-columns: 1fr 1fr;\n            }\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"form-container\">\n        <h2>❄️ Actualizar Parte de Nieve</h2>\n        \n        <form action=\"https://n8n.tailwind.es/webhook/recibirFormulario\" method=\"POST\">\n            \n            <div class=\"form-group\">\n                <label for=\"calidad_nieve\">Calidad Nieve</label>\n                <input type=\"text\" id=\"calidad_nieve\" name=\"calidad_nieve\" required placeholder=\"Ej. Polvo, Dura, Primavera...\">\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"aspecto_cielo\">Aspecto del Cielo</label>\n                <select id=\"aspecto_cielo\" name=\"aspecto_cielo\" required>\n                    <option value=\"\" disabled selected>Selecciona una opción</option>\n                    <option value=\"NUBOSO\">NUBOSO</option>\n                    <option value=\"DESPEJADO\">DESPEJADO</option>\n                    <option value=\"SOLEADO\">SOLEADO</option>\n                    <option value=\"NEVANDO\">NEVANDO</option>\n                </select>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"visibilidad\">Visibilidad</label>\n                <input type=\"text\" id=\"visibilidad\" name=\"visibilidad\" required placeholder=\"Ej. Buena, Regular, Mala...\">\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"temp_min\">Temperatura Mínima</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"temp_min\" name=\"temp_min\" required placeholder=\"Ej. -5\">\n                        <span class=\"unit\">°C</span>\n                    </div>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"temp_max\">Temperatura Máxima</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"temp_max\" name=\"temp_max\" required placeholder=\"Ej. 2\">\n                        <span class=\"unit\">°C</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"viento_min\">Viento Mínimo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"viento_min\" name=\"viento_min\" required placeholder=\"Ej. 10\">\n                        <span class=\"unit\">km/h</span>\n                    </div>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"viento_max\">Viento Máximo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"viento_max\" name=\"viento_max\" required placeholder=\"Ej. 45\">\n                        <span class=\"unit\">km/h</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"espesor_min\">Espesor Mínimo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"espesor_min\" name=\"espesor_min\" required placeholder=\"Ej. 40\">\n                        <span class=\"unit\">cm</span>\n                    </div>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"espesor_max\">Espesor Máximo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"espesor_max\" name=\"espesor_max\" required placeholder=\"Ej. 120\">\n                        <span class=\"unit\">cm</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"remontes_abiertos\">Remontes Abiertos</label>\n                    <input type=\"text\" id=\"remontes_abiertos\" name=\"remontes_abiertos\" required placeholder=\"Ej. 14\">\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"km_esquiables\">Km Esquiables</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"km_esquiables\" name=\"km_esquiables\" required placeholder=\"Ej. 55.5\">\n                        <span class=\"unit\">km</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"numero_pistas\">Número de Pistas (Total)</label>\n                <input type=\"text\" id=\"numero_pistas\" name=\"numero_pistas\" required placeholder=\"Ej. 42\">\n            </div>\n\n            <div class=\"form-group\">\n                <label>Zonas / Pistas Abiertas</label>\n                <div class=\"checkbox-group\">\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Veleta\"> Veleta</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Laguna\"> Laguna</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Borreguiles\"> Borreguiles</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Pista del Mar\"> Pista del Mar</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Cauchiles Parador\"> Cauchiles Parador</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Loma Dílar\"> Loma Dílar</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Rio Monachil\"> Rio Monachil</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Parque Sulayr\"> Parque Sulayr</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Jardín Alpino\"> Jardín Alpino</label>\n                </div>\n            </div>\n\n            <button type=\"submit\">Enviar Parte de Nieve</button>\n        </form>\n    </div>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -272,
          -1600
        ],
        "id": "8974fa52-b64f-4a01-a41f-e97ac127e6a3",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "path": "formulario",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -432,
          -1600
        ],
        "id": "64cc4927-7ecd-4b78-bc9a-faf4e19927fa",
        "name": "Formulario",
        "webhookId": "b94dffb5-c3b0-48e8-b5ed-ed9febc8752c"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "recibirFormulario",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -432,
          -1392
        ],
        "id": "8af91482-0831-4c8c-90ed-ee5bdbfdf57c",
        "name": "RecibirFormulario",
        "webhookId": "e3007175-fd71-4e2e-a3a5-efbc4bd6543c"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "88093f77-b750-459e-ac0b-c8eb5d8ca1f7",
                "name": "=body.calidad_nieve",
                "value": "={{ $('RecibirFormulario').item.json.body.calidad_nieve.toSentenceCase() }}",
                "type": "string"
              },
              {
                "id": "4c78ae62-c4d4-4c1c-a8f2-c9b973d9d6b9",
                "name": "body.aspecto_cielo",
                "value": "={{ $('RecibirFormulario').item.json.body.aspecto_cielo }}",
                "type": "string"
              },
              {
                "id": "abaa3b48-0c3b-4210-b4c4-1c1b0d57613c",
                "name": "body.visibilidad",
                "value": "={{ $('RecibirFormulario').item.json.body.visibilidad.toSentenceCase() }}",
                "type": "string"
              },
              {
                "id": "69fb269e-9579-438f-a3df-146214f69aa1",
                "name": "body.temp_min",
                "value": "={{ $('RecibirFormulario').item.json.body.temp_min }}",
                "type": "string"
              },
              {
                "id": "441c3b62-fabb-444f-bdbb-cc7091fdfcdd",
                "name": "body.temp_max",
                "value": "={{ $('RecibirFormulario').item.json.body.temp_max }}",
                "type": "string"
              },
              {
                "id": "4f3e1070-a46c-45ff-863d-b8d99eb3bd9f",
                "name": "body.viento_min",
                "value": "={{ $('RecibirFormulario').item.json.body.viento_min }}",
                "type": "string"
              },
              {
                "id": "a2ec3c9e-b110-4494-86e6-aaea686b4d9b",
                "name": "body.viento_max",
                "value": "={{ $('RecibirFormulario').item.json.body.viento_max }}",
                "type": "string"
              },
              {
                "id": "2d14033f-5fe6-48c7-a8e6-08f1c0ec80d6",
                "name": "body.espesor_min",
                "value": "={{ $('RecibirFormulario').item.json.body.espesor_min }}",
                "type": "string"
              },
              {
                "id": "861efb47-7818-4fee-ba54-698e4336b6d0",
                "name": "body.espesor_max",
                "value": "={{ $('RecibirFormulario').item.json.body.espesor_max }}",
                "type": "string"
              },
              {
                "id": "83359e16-2682-4a9d-9dca-16b6af0eae3c",
                "name": "body.remontes_abiertos",
                "value": "={{ $('RecibirFormulario').item.json.body.remontes_abiertos }}",
                "type": "string"
              },
              {
                "id": "178df03d-7d18-439a-b91d-a08ca273d3c6",
                "name": "body.km_esquiables",
                "value": "={{ $('RecibirFormulario').item.json.body.km_esquiables }}",
                "type": "string"
              },
              {
                "id": "ea5f1114-8666-4b4d-b408-7e6b875a6e52",
                "name": "body.numero_pistas",
                "value": "={{ $('RecibirFormulario').item.json.body.numero_pistas }}",
                "type": "string"
              },
              {
                "id": "42a2cf23-c82e-4452-8d10-6295bbfc7722",
                "name": "body[\"pistas_abiertas[]\"]",
                "value": "={{ $('RecibirFormulario').item.json.body[\"pistas_abiertas[]\"] }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -64,
          -1392
        ],
        "id": "fbf24bc9-0430-4a3a-88fd-136c70ba1b2a",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.canva.com/rest/v1/exports",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"mp4\",\n    \"quality\": \"vertical_1080p\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1328,
          -1392
        ],
        "id": "c1aa6ddb-952c-4894-a11b-d3f37a039c68",
        "name": "PRUEBA",
        "credentials": {
          "oAuth2Api": {
            "id": "eHEbZK7oC3pW1LQr",
            "name": "Canva"
          }
        }
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          864,
          -1392
        ],
        "id": "be6d80b9-8838-469c-8bb1-5e9c75d77d71",
        "name": "Wait4",
        "webhookId": "c4efde5f-05eb-4612-bdde-f217ed3f5fb1"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Parte de Nieve - Éxito</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            height: 100vh;\n            background-color: #121212; /* Fondo oscuro */\n            \n            display: flex;\n            justify-content: center;\n            align-items: center;\n            overflow: hidden;\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n        }\n\n        /* --- El Texto Central --- */\n        .mensaje-exito {\n            position: absolute;\n            z-index: 10; \n            color: #e0f7fa; \n            \n            /* Tamaño de fuente más pequeño */\n            font-size: 1.2rem; \n            font-weight: 900;\n            text-align: center;\n            \n            /* Limitamos el ancho para que sea menor que el cubo (que mide 200px) */\n            width: 180px; \n            \n            /* Damos un poco de espacio entre las líneas para que se lea mejor al estar en varias filas */\n            line-height: 1.4;\n            \n            /* Mantenemos la doble sombra para que destaque */\n            text-shadow: \n                0px 3px 10px rgba(0, 0, 0, 0.9), \n                0px 0px 15px rgba(135, 206, 235, 0.8);\n                \n            pointer-events: none; \n        }\n\n        /* --- Contenedor de la Escena 3D --- */\n        .scene {\n            position: relative;\n            width: 200px;\n            height: 200px;\n            perspective: 1000px; \n        }\n\n        /* --- El Pingüino --- */\n        .penguin {\n            position: absolute;\n            z-index: 1; \n            width: 150px;\n            top: 50px;\n            left: 130px; \n            transform: rotate(25deg); \n            animation: peek 3s infinite alternate ease-in-out;\n        }\n\n        @keyframes peek {\n            0% { transform: rotate(25deg) translateY(0); }\n            100% { transform: rotate(20deg) translateY(5px); }\n        }\n\n        /* --- El Cubo 3D --- */\n        .cube {\n            position: absolute;\n            top: 0;\n            left: 0;\n            z-index: 2; \n            width: 200px;\n            height: 200px;\n            transform-style: preserve-3d;\n            transform: rotateX(-20deg) rotateY(45deg);\n        }\n\n        .face {\n            position: absolute;\n            width: 200px;\n            height: 200px;\n            background: rgba(135, 206, 235, 0.35); \n            border: 2px solid rgba(255, 255, 255, 0.5);\n            box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.4);\n            backdrop-filter: blur(5px);\n            -webkit-backdrop-filter: blur(5px);\n        }\n\n        /* Posicionamiento 3D de las caras */\n        .front  { transform: translateZ(100px); }\n        .back   { transform: rotateY(180deg) translateZ(100px); }\n        .right  { transform: rotateY(90deg) translateZ(100px); }\n        .left   { transform: rotateY(-90deg) translateZ(100px); }\n        .top    { transform: rotateX(90deg) translateZ(100px); }\n        .bottom { transform: rotateX(-90deg) translateZ(100px); }\n    </style>\n</head>\n<body>\n\n    <div class=\"mensaje-exito\">PARTE DE NIEVE ENVIADO CON ÉXITO</div>\n\n    <div class=\"scene\">\n        \n        <div class=\"penguin\">\n            <svg viewBox=\"0 0 200 200\" xmlns=\"http://www.w3.org/2000/svg\">\n                <path d=\"M 60 100 Q 20 120 30 150 Q 50 130 60 110 Z\" fill=\"#222\" />\n                <path d=\"M 50 100 Q 50 20 100 20 Q 150 20 150 100 L 150 180 Q 150 200 100 200 Q 50 200 50 180 Z\" fill=\"#222\" />\n                <path d=\"M 70 110 Q 70 50 100 50 Q 130 50 130 110 L 130 170 Q 130 190 100 190 Q 70 190 70 170 Z\" fill=\"#e0e0e0\" />\n                <circle cx=\"85\" cy=\"70\" r=\"10\" fill=\"white\"/>\n                <circle cx=\"115\" cy=\"70\" r=\"10\" fill=\"white\"/>\n                <circle cx=\"80\" cy=\"70\" r=\"5\" fill=\"black\"/> \n                <circle cx=\"110\" cy=\"70\" r=\"5\" fill=\"black\"/>\n                <path d=\"M 85 85 L 105 85 L 95 105 Z\" fill=\"#FF8C00\" />\n                <path d=\"M 140 100 Q 190 80 180 50 Q 160 70 140 90 Z\" fill=\"#222\" />\n            </svg>\n        </div>\n\n        <div class=\"cube\">\n            <div class=\"face front\"></div>\n            <div class=\"face back\"></div>\n            <div class=\"face right\"></div>\n            <div class=\"face left\"></div>\n            <div class=\"face top\"></div>\n            <div class=\"face bottom\"></div>\n        </div>\n\n    </div>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -240,
          -1392
        ],
        "id": "cd086d64-045c-4105-8f96-198fa0dae5cc",
        "name": "Respond to Webhook1"
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "PRUEBA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Graph API": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request6": {
        "main": [
          [
            {
              "node": "Facebook Graph API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request7": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Facebook Graph API1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "obtener contador": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Graph API1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "HTTP Request4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request4": {
        "main": [
          []
        ]
      },
      "Formulario": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RecibirFormulario": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "obtener contador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PRUEBA": {
        "main": [
          [
            {
              "node": "HTTP Request7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook1": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version dde9ce4f",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "dde9ce4f-6bda-4049-acea-b6ca2af980ac",
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "PRUEBA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener contador": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        []
      ]
    },
    "Formulario": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecibirFormulario": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "obtener contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRUEBA": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-29T11:04:16.100Z",
  "id": "kldleYUPha6bnarR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Canva",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"{{ $json.id_documento }}\",\n  \"export_name\": \"Historia dia hoy\",\n  \"data\": {\n    \"fecha\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $now.format('dd/LL/yyyy') }}\"\n    },\n    \"calidadnieve_general\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.calidad_nieve }}\"\n    },\n    \"estadogeneral\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.aspecto_cielo }}\"\n    },\n    \"visibilidadgeneral\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.visibilidad }}\"\n    },\n    \"temperaturaminima\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.temp_min }}\"\n    },\n    \"temperaturamaxima\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.temp_max }}\"\n    },\n    \"vientominimo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.viento_min }}\"\n    },\n    \"vientomaximo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.viento_max }}\"\n    },\n    \"espesorminimo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.espesor_min }}\"\n    },\n    \"espesormaximo\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.espesor_max }}\"\n    },\n    \"remontes_abiertos\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.remontes_abiertos }}\"\n    },\n    \"km_esquiables\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.km_esquiables }}\"\n    },\n    \"pistasabiertas\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body['pistas_abiertas[]'] }}\" \n    },\n    \"numeropistas\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Edit Fields3').item.json.body.numero_pistas }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        -1392
      ],
      "id": "9654ecf1-32ab-4757-adb0-87b9f07315aa",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "oAuth2Api": {
          "id": "eHEbZK7oC3pW1LQr",
          "name": "Canva"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $('HTTP Request').item.json.job.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        -1392
      ],
      "id": "6222d526-1ca0-4ae2-b996-d6ae44f671c0",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "eHEbZK7oC3pW1LQr",
          "name": "Canva"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        -1392
      ],
      "id": "c9f8f9ca-6547-4340-bce6-580f2621e75b",
      "name": "Wait",
      "webhookId": "8cce73b4-0a6e-4db3-b503-1267489be04b",
      "executeOnce": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841470046184468",
        "edge": "=media",
        "options": {
          "queryParametersJson": "={\n\"video_url\": \"{{ $json.job.urls[0] }}\",\n\"media_type\": \"STORIES\",\n\"is_story\": true\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2336,
        -1408
      ],
      "id": "7da66ccf-8fd7-48d5-8c6d-db816b75171b",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "F7VbX8jWKCXdAM47",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841470046184468",
        "edge": "media_publish",
        "options": {
          "queryParametersJson": "={\n  \"creation_id\": \"{{$json.id}}\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3024,
        -1424
      ],
      "id": "3bb41e32-f010-4102-acc1-fd96e8892501",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "F7VbX8jWKCXdAM47",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $json.id }}?fields=status,status_code",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAF2z8nVLTA8BQVHL88vghg4RRZBH9svUgZCP93NSZAB9iSDKxTAMvz8DFby8KVqXp6DWFxfFDiSKOUXvXPVVrJcNxjFOmr0ZCXphOZBUUWRkP8sTZC9wwapmP8vlJQN4NHH2eW9zPRmg2SHrQ0AhjI3n2kx1vAa8nOtr6tbQMhcaP0X0eMtOComwFl3zR7zd7HowZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        -1408
      ],
      "id": "06240652-f050-41e7-a406-a611f53d1746",
      "name": "HTTP Request3",
      "credentials": {
        "facebookGraphApi": {
          "id": "F7VbX8jWKCXdAM47",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4f16a6d-f121-4b47-ab09-627eb7d39e74",
              "leftValue": "={{ $json.job.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        -1392
      ],
      "id": "88a07af8-5d4d-4c7e-9a1f-4db66d843eef",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $json[\"job\"][\"id\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        -1408
      ],
      "id": "7555d978-506b-45aa-bf1a-cdfafabbe297",
      "name": "HTTP Request6",
      "credentials": {
        "oAuth2Api": {
          "id": "eHEbZK7oC3pW1LQr",
          "name": "Canva"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        -1392
      ],
      "id": "5531d7ae-3e1e-4e70-a013-b7a468dfde34",
      "name": "Wait1",
      "webhookId": "82707f0f-e107-4b71-9887-ad1255db0d8d"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $json[\"job\"][\"id\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        -1392
      ],
      "id": "87ba9b82-c2a0-491d-a90b-251cc2de0db3",
      "name": "HTTP Request7",
      "credentials": {
        "oAuth2Api": {
          "id": "eHEbZK7oC3pW1LQr",
          "name": "Canva"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2688,
        -1408
      ],
      "id": "475281c7-f520-4d18-8b3a-e8dc41dadfd9",
      "name": "Wait2",
      "webhookId": "4e9e9bda-286b-4bd6-b112-9133762c2724"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49c65dc4-2ebe-451b-9788-cd0999f268f1",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        -1408
      ],
      "id": "c3ad2eff-8c1a-4047-ba71-69acd0745b05",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "CANVA EXPORT",
        "height": 256,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -1440
      ],
      "id": "4fcecff3-9ea7-4a71-9b49-c724b9345c25",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "SUBIDA HISTORIA\n",
        "height": 256,
        "width": 1440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        -1440
      ],
      "id": "a3e2cce6-de1f-4d87-89c9-2e53de712c07",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YhO4ZRxZ7YiJDe7A",
          "mode": "list",
          "cachedResultName": "Plantillas Canva",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/YhO4ZRxZ7YiJDe7A"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Nombre_Documento",
              "keyValue": "={{ $json.body.aspecto_cielo.toUpperCase() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        96,
        -1392
      ],
      "id": "9c7cc8ad-30f3-4ec4-a45f-97179ec78eae",
      "name": "obtener contador",
      "executeOnce": false
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        288,
        -1392
      ],
      "id": "2529ddd5-e228-48e7-a21c-9620590d8f41",
      "name": "Sort"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5f15ada-1e3d-43a0-87d6-17cb5e1222ac",
              "name": "ID DOCUMENTO",
              "value": "={{ $('HTTP Request7').item.json.job.urls[0].match(/(DA[A-Za-z0-9-]+)/)[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        -1424
      ],
      "id": "7eae2c4f-9d5b-4c4d-8417-1d9d218cbffe",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.canva.com/rest/v1/folders/move",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"item_id\": \"{{ $json['ID DOCUMENTO'] }}\",\n  \"to_folder_id\": \"FAF-k76AhRE\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3344,
        -1424
      ],
      "id": "b3eeaaf6-1eca-4fe1-bc18-add61e7dfa6d",
      "name": "HTTP Request4",
      "credentials": {
        "canvaApi": {
          "id": "tuy7V3JiiZVTJf5e",
          "name": "Canva account"
        },
        "oAuth2Api": {
          "id": "eHEbZK7oC3pW1LQr",
          "name": "Canva"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Parte de Nieve - Sierra Nevada</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #121212;\n            color: #e0e0e0;\n            margin: 0;\n            padding: 20px;\n            display: flex;\n            justify-content: center;\n        }\n        .form-container {\n            background-color: #1e1e1e;\n            padding: 30px;\n            border-radius: 10px;\n            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);\n            max-width: 650px;\n            width: 100%;\n        }\n        h2 {\n            color: #ffffff;\n            text-align: center;\n            margin-top: 0;\n            margin-bottom: 25px;\n        }\n        .form-group {\n            margin-bottom: 15px;\n        }\n        .form-row {\n            display: flex;\n            gap: 15px;\n            margin-bottom: 15px;\n        }\n        .form-row .form-group {\n            flex: 1;\n            margin-bottom: 0;\n        }\n        label {\n            display: block;\n            font-weight: bold;\n            margin-bottom: 5px;\n            color: #b0bec5;\n            font-size: 13px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n        input[type=\"text\"],\n        select {\n            width: 100%;\n            padding: 10px;\n            background-color: #2c2c2c;\n            color: #ffffff;\n            border: 1px solid #555555;\n            border-radius: 5px;\n            box-sizing: border-box;\n            font-size: 15px;\n            transition: border-color 0.3s, box-shadow 0.3s;\n        }\n        input[type=\"text\"]::placeholder {\n            color: #757575;\n        }\n        input[type=\"text\"]:focus,\n        select:focus {\n            outline: none;\n            border-color: #4fc3f7;\n            box-shadow: 0 0 0 3px rgba(79, 195, 247, 0.2);\n        }\n        /* Color específico para las opciones del select en algunos navegadores */\n        select option {\n            background-color: #2c2c2c;\n            color: #ffffff;\n        }\n        .input-with-unit {\n            display: flex;\n            align-items: center;\n        }\n        .input-with-unit input {\n            border-top-right-radius: 0;\n            border-bottom-right-radius: 0;\n        }\n        .unit {\n            background-color: #333333;\n            border: 1px solid #555555;\n            border-left: none;\n            padding: 10px;\n            border-top-right-radius: 5px;\n            border-bottom-right-radius: 5px;\n            color: #b0bec5;\n            font-size: 14px;\n        }\n        \n        /* Estilos específicos para los Checkboxes */\n        .checkbox-group {\n            display: grid;\n            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));\n            gap: 10px;\n            margin-top: 8px;\n        }\n        .checkbox-label {\n            display: flex;\n            align-items: center;\n            font-weight: normal;\n            text-transform: none;\n            letter-spacing: normal;\n            color: #e0e0e0;\n            font-size: 14px;\n            cursor: pointer;\n            background-color: #2c2c2c;\n            padding: 10px 12px;\n            border-radius: 5px;\n            border: 1px solid #555555;\n            transition: background-color 0.2s, border-color 0.2s;\n            margin-bottom: 0;\n        }\n        .checkbox-label:hover {\n            background-color: #383838;\n            border-color: #4fc3f7;\n        }\n        .checkbox-label input[type=\"checkbox\"] {\n            margin-right: 10px;\n            accent-color: #0288d1;\n            width: 18px;\n            height: 18px;\n            cursor: pointer;\n        }\n\n        button {\n            width: 100%;\n            background-color: #0288d1;\n            color: white;\n            padding: 14px;\n            border: none;\n            border-radius: 5px;\n            font-size: 16px;\n            font-weight: bold;\n            cursor: pointer;\n            margin-top: 25px;\n            transition: background-color 0.3s;\n        }\n        button:hover {\n            background-color: #0277bd;\n        }\n        @media (max-width: 500px) {\n            .form-row {\n                flex-direction: column;\n                gap: 15px;\n            }\n            .checkbox-group {\n                grid-template-columns: 1fr 1fr;\n            }\n        }\n    </style>\n</head>\n<body>\n\n    <div class=\"form-container\">\n        <h2>❄️ Actualizar Parte de Nieve</h2>\n        \n        <form action=\"https://n8n.tailwind.es/webhook/recibirFormulario\" method=\"POST\">\n            \n            <div class=\"form-group\">\n                <label for=\"calidad_nieve\">Calidad Nieve</label>\n                <input type=\"text\" id=\"calidad_nieve\" name=\"calidad_nieve\" required placeholder=\"Ej. Polvo, Dura, Primavera...\">\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"aspecto_cielo\">Aspecto del Cielo</label>\n                <select id=\"aspecto_cielo\" name=\"aspecto_cielo\" required>\n                    <option value=\"\" disabled selected>Selecciona una opción</option>\n                    <option value=\"NUBOSO\">NUBOSO</option>\n                    <option value=\"DESPEJADO\">DESPEJADO</option>\n                    <option value=\"SOLEADO\">SOLEADO</option>\n                    <option value=\"NEVANDO\">NEVANDO</option>\n                </select>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"visibilidad\">Visibilidad</label>\n                <input type=\"text\" id=\"visibilidad\" name=\"visibilidad\" required placeholder=\"Ej. Buena, Regular, Mala...\">\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"temp_min\">Temperatura Mínima</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"temp_min\" name=\"temp_min\" required placeholder=\"Ej. -5\">\n                        <span class=\"unit\">°C</span>\n                    </div>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"temp_max\">Temperatura Máxima</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"temp_max\" name=\"temp_max\" required placeholder=\"Ej. 2\">\n                        <span class=\"unit\">°C</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"viento_min\">Viento Mínimo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"viento_min\" name=\"viento_min\" required placeholder=\"Ej. 10\">\n                        <span class=\"unit\">km/h</span>\n                    </div>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"viento_max\">Viento Máximo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"viento_max\" name=\"viento_max\" required placeholder=\"Ej. 45\">\n                        <span class=\"unit\">km/h</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"espesor_min\">Espesor Mínimo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"espesor_min\" name=\"espesor_min\" required placeholder=\"Ej. 40\">\n                        <span class=\"unit\">cm</span>\n                    </div>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"espesor_max\">Espesor Máximo</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"espesor_max\" name=\"espesor_max\" required placeholder=\"Ej. 120\">\n                        <span class=\"unit\">cm</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group\">\n                    <label for=\"remontes_abiertos\">Remontes Abiertos</label>\n                    <input type=\"text\" id=\"remontes_abiertos\" name=\"remontes_abiertos\" required placeholder=\"Ej. 14\">\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"km_esquiables\">Km Esquiables</label>\n                    <div class=\"input-with-unit\">\n                        <input type=\"text\" id=\"km_esquiables\" name=\"km_esquiables\" required placeholder=\"Ej. 55.5\">\n                        <span class=\"unit\">km</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"numero_pistas\">Número de Pistas (Total)</label>\n                <input type=\"text\" id=\"numero_pistas\" name=\"numero_pistas\" required placeholder=\"Ej. 42\">\n            </div>\n\n            <div class=\"form-group\">\n                <label>Zonas / Pistas Abiertas</label>\n                <div class=\"checkbox-group\">\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Veleta\"> Veleta</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Laguna\"> Laguna</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Borreguiles\"> Borreguiles</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Pista del Mar\"> Pista del Mar</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Cauchiles Parador\"> Cauchiles Parador</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Loma Dílar\"> Loma Dílar</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Rio Monachil\"> Rio Monachil</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Parque Sulayr\"> Parque Sulayr</label>\n                    <label class=\"checkbox-label\"><input type=\"checkbox\" name=\"pistas_abiertas[]\" value=\"Jardín Alpino\"> Jardín Alpino</label>\n                </div>\n            </div>\n\n            <button type=\"submit\">Enviar Parte de Nieve</button>\n        </form>\n    </div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -272,
        -1600
      ],
      "id": "8974fa52-b64f-4a01-a41f-e97ac127e6a3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "formulario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -1600
      ],
      "id": "64cc4927-7ecd-4b78-bc9a-faf4e19927fa",
      "name": "Formulario",
      "webhookId": "b94dffb5-c3b0-48e8-b5ed-ed9febc8752c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recibirFormulario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -1392
      ],
      "id": "8af91482-0831-4c8c-90ed-ee5bdbfdf57c",
      "name": "RecibirFormulario",
      "webhookId": "e3007175-fd71-4e2e-a3a5-efbc4bd6543c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88093f77-b750-459e-ac0b-c8eb5d8ca1f7",
              "name": "=body.calidad_nieve",
              "value": "={{ $('RecibirFormulario').item.json.body.calidad_nieve.toSentenceCase() }}",
              "type": "string"
            },
            {
              "id": "4c78ae62-c4d4-4c1c-a8f2-c9b973d9d6b9",
              "name": "body.aspecto_cielo",
              "value": "={{ $('RecibirFormulario').item.json.body.aspecto_cielo }}",
              "type": "string"
            },
            {
              "id": "abaa3b48-0c3b-4210-b4c4-1c1b0d57613c",
              "name": "body.visibilidad",
              "value": "={{ $('RecibirFormulario').item.json.body.visibilidad.toSentenceCase() }}",
              "type": "string"
            },
            {
              "id": "69fb269e-9579-438f-a3df-146214f69aa1",
              "name": "body.temp_min",
              "value": "={{ $('RecibirFormulario').item.json.body.temp_min }}",
              "type": "string"
            },
            {
              "id": "441c3b62-fabb-444f-bdbb-cc7091fdfcdd",
              "name": "body.temp_max",
              "value": "={{ $('RecibirFormulario').item.json.body.temp_max }}",
              "type": "string"
            },
            {
              "id": "4f3e1070-a46c-45ff-863d-b8d99eb3bd9f",
              "name": "body.viento_min",
              "value": "={{ $('RecibirFormulario').item.json.body.viento_min }}",
              "type": "string"
            },
            {
              "id": "a2ec3c9e-b110-4494-86e6-aaea686b4d9b",
              "name": "body.viento_max",
              "value": "={{ $('RecibirFormulario').item.json.body.viento_max }}",
              "type": "string"
            },
            {
              "id": "2d14033f-5fe6-48c7-a8e6-08f1c0ec80d6",
              "name": "body.espesor_min",
              "value": "={{ $('RecibirFormulario').item.json.body.espesor_min }}",
              "type": "string"
            },
            {
              "id": "861efb47-7818-4fee-ba54-698e4336b6d0",
              "name": "body.espesor_max",
              "value": "={{ $('RecibirFormulario').item.json.body.espesor_max }}",
              "type": "string"
            },
            {
              "id": "83359e16-2682-4a9d-9dca-16b6af0eae3c",
              "name": "body.remontes_abiertos",
              "value": "={{ $('RecibirFormulario').item.json.body.remontes_abiertos }}",
              "type": "string"
            },
            {
              "id": "178df03d-7d18-439a-b91d-a08ca273d3c6",
              "name": "body.km_esquiables",
              "value": "={{ $('RecibirFormulario').item.json.body.km_esquiables }}",
              "type": "string"
            },
            {
              "id": "ea5f1114-8666-4b4d-b408-7e6b875a6e52",
              "name": "body.numero_pistas",
              "value": "={{ $('RecibirFormulario').item.json.body.numero_pistas }}",
              "type": "string"
            },
            {
              "id": "42a2cf23-c82e-4452-8d10-6295bbfc7722",
              "name": "body[\"pistas_abiertas[]\"]",
              "value": "={{ $('RecibirFormulario').item.json.body[\"pistas_abiertas[]\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -1392
      ],
      "id": "fbf24bc9-0430-4a3a-88fd-136c70ba1b2a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"mp4\",\n    \"quality\": \"vertical_1080p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        -1392
      ],
      "id": "c1aa6ddb-952c-4894-a11b-d3f37a039c68",
      "name": "PRUEBA",
      "credentials": {
        "oAuth2Api": {
          "id": "eHEbZK7oC3pW1LQr",
          "name": "Canva"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        -1392
      ],
      "id": "be6d80b9-8838-469c-8bb1-5e9c75d77d71",
      "name": "Wait4",
      "webhookId": "c4efde5f-05eb-4612-bdde-f217ed3f5fb1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Parte de Nieve - Éxito</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            height: 100vh;\n            background-color: #121212; /* Fondo oscuro */\n            \n            display: flex;\n            justify-content: center;\n            align-items: center;\n            overflow: hidden;\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n        }\n\n        /* --- El Texto Central --- */\n        .mensaje-exito {\n            position: absolute;\n            z-index: 10; \n            color: #e0f7fa; \n            \n            /* Tamaño de fuente más pequeño */\n            font-size: 1.2rem; \n            font-weight: 900;\n            text-align: center;\n            \n            /* Limitamos el ancho para que sea menor que el cubo (que mide 200px) */\n            width: 180px; \n            \n            /* Damos un poco de espacio entre las líneas para que se lea mejor al estar en varias filas */\n            line-height: 1.4;\n            \n            /* Mantenemos la doble sombra para que destaque */\n            text-shadow: \n                0px 3px 10px rgba(0, 0, 0, 0.9), \n                0px 0px 15px rgba(135, 206, 235, 0.8);\n                \n            pointer-events: none; \n        }\n\n        /* --- Contenedor de la Escena 3D --- */\n        .scene {\n            position: relative;\n            width: 200px;\n            height: 200px;\n            perspective: 1000px; \n        }\n\n        /* --- El Pingüino --- */\n        .penguin {\n            position: absolute;\n            z-index: 1; \n            width: 150px;\n            top: 50px;\n            left: 130px; \n            transform: rotate(25deg); \n            animation: peek 3s infinite alternate ease-in-out;\n        }\n\n        @keyframes peek {\n            0% { transform: rotate(25deg) translateY(0); }\n            100% { transform: rotate(20deg) translateY(5px); }\n        }\n\n        /* --- El Cubo 3D --- */\n        .cube {\n            position: absolute;\n            top: 0;\n            left: 0;\n            z-index: 2; \n            width: 200px;\n            height: 200px;\n            transform-style: preserve-3d;\n            transform: rotateX(-20deg) rotateY(45deg);\n        }\n\n        .face {\n            position: absolute;\n            width: 200px;\n            height: 200px;\n            background: rgba(135, 206, 235, 0.35); \n            border: 2px solid rgba(255, 255, 255, 0.5);\n            box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.4);\n            backdrop-filter: blur(5px);\n            -webkit-backdrop-filter: blur(5px);\n        }\n\n        /* Posicionamiento 3D de las caras */\n        .front  { transform: translateZ(100px); }\n        .back   { transform: rotateY(180deg) translateZ(100px); }\n        .right  { transform: rotateY(90deg) translateZ(100px); }\n        .left   { transform: rotateY(-90deg) translateZ(100px); }\n        .top    { transform: rotateX(90deg) translateZ(100px); }\n        .bottom { transform: rotateX(-90deg) translateZ(100px); }\n    </style>\n</head>\n<body>\n\n    <div class=\"mensaje-exito\">PARTE DE NIEVE ENVIADO CON ÉXITO</div>\n\n    <div class=\"scene\">\n        \n        <div class=\"penguin\">\n            <svg viewBox=\"0 0 200 200\" xmlns=\"http://www.w3.org/2000/svg\">\n                <path d=\"M 60 100 Q 20 120 30 150 Q 50 130 60 110 Z\" fill=\"#222\" />\n                <path d=\"M 50 100 Q 50 20 100 20 Q 150 20 150 100 L 150 180 Q 150 200 100 200 Q 50 200 50 180 Z\" fill=\"#222\" />\n                <path d=\"M 70 110 Q 70 50 100 50 Q 130 50 130 110 L 130 170 Q 130 190 100 190 Q 70 190 70 170 Z\" fill=\"#e0e0e0\" />\n                <circle cx=\"85\" cy=\"70\" r=\"10\" fill=\"white\"/>\n                <circle cx=\"115\" cy=\"70\" r=\"10\" fill=\"white\"/>\n                <circle cx=\"80\" cy=\"70\" r=\"5\" fill=\"black\"/> \n                <circle cx=\"110\" cy=\"70\" r=\"5\" fill=\"black\"/>\n                <path d=\"M 85 85 L 105 85 L 95 105 Z\" fill=\"#FF8C00\" />\n                <path d=\"M 140 100 Q 190 80 180 50 Q 160 70 140 90 Z\" fill=\"#222\" />\n            </svg>\n        </div>\n\n        <div class=\"cube\">\n            <div class=\"face front\"></div>\n            <div class=\"face back\"></div>\n            <div class=\"face right\"></div>\n            <div class=\"face left\"></div>\n            <div class=\"face top\"></div>\n            <div class=\"face bottom\"></div>\n        </div>\n\n    </div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -240,
        -1392
      ],
      "id": "cd086d64-045c-4105-8f96-198fa0dae5cc",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {
    "RecibirFormulario": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.tailwind.es",
            "x-forwarded-for": "2.136.43.122",
            "x-forwarded-proto": "https",
            "content-length": "379",
            "cache-control": "max-age=0",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Brave\";v=\"144\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "origin": "null",
            "content-type": "application/x-www-form-urlencoded",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8",
            "sec-gpc": "1",
            "accept-language": "es-ES,es;q=0.8",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd"
          },
          "params": {},
          "query": {},
          "body": {
            "calidad_nieve": "polvo",
            "aspecto_cielo": "NUBOSO",
            "visibilidad": "Buena",
            "temp_min": "1",
            "temp_max": "5",
            "viento_min": "10",
            "viento_max": "30",
            "espesor_min": "40",
            "espesor_max": "50",
            "remontes_abiertos": "34",
            "km_esquiables": "300",
            "numero_pistas": "123",
            "pistas_abiertas[]": [
              "Veleta",
              "Pista del Mar",
              "Cauchiles Parador",
              "Loma Dílar",
              "Jardín Alpino"
            ]
          },
          "webhookUrl": "https://n8n.tailwind.es/webhook/recibirFormulario",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-11-29T11:04:16.105Z",
      "createdAt": "2025-11-29T11:04:16.105Z",
      "role": "workflow:owner",
      "workflowId": "kldleYUPha6bnarR",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-02-17T13:58:53.116Z",
  "versionId": "dde9ce4f-6bda-4049-acea-b6ca2af980ac"
}