workflows/Km7XkUtqP6pum0ekQjyuy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener informe falta de stock": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "obtener vendidos sin stock",
            "type": "main",
            "index": 0
          },
          {
            "node": "obtener falta de stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener vendidos sin stock": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener falta de stock": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "obtener informe falta de stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T08:10:45.029Z",
  "id": "Km7XkUtqP6pum0ekQjyuy",
  "isArchived": false,
  "meta": null,
  "name": "Productos_Vendidos_Sin_Stock",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3f805f6-d350-4288-9190-9bcf757695eb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d660935-b301-40a0-9979-bd3a9ef0b975",
              "leftValue": "={{ $json.CANTIDAD_ACTUAL }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1168,
        528
      ],
      "id": "0712dc71-13a8-4620-843d-a228811e1ed4",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1666UwMaXD1Wg9aLis0924Pd1OBWdkS6ShF9Qu_baspM",
          "mode": "list",
          "cachedResultName": "Informe falta de stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1666UwMaXD1Wg9aLis0924Pd1OBWdkS6ShF9Qu_baspM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1666UwMaXD1Wg9aLis0924Pd1OBWdkS6ShF9Qu_baspM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        528
      ],
      "id": "02d4e872-e897-4865-89f7-f9b0611438d3",
      "name": "obtener informe falta de stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw",
          "mode": "list",
          "cachedResultName": "Productos vendidos sin stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PRODUCTO": "={{ $json.PRODUCTO }}",
            "CATEGORÍA": "={{ $json['CATEGORÍA'] }}",
            "COLOR": "={{ $json.COLOR }}",
            "AÑO": "={{ $json['AÑO'] }}",
            "TALLA": "={{ $json.TALLA }}",
            "CANTIDAD_ACTUAL": "={{ $json.CANTIDAD_ACTUAL }}",
            "ID": "={{ $json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "PRODUCTO",
              "displayName": "PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CATEGORÍA",
              "displayName": "CATEGORÍA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COLOR",
              "displayName": "COLOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TALLA",
              "displayName": "TALLA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AÑO",
              "displayName": "AÑO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CANTIDAD_ACTUAL",
              "displayName": "CANTIDAD_ACTUAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO INFORME",
              "displayName": "ESTADO INFORME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        528
      ],
      "id": "f3af1d5e-9672-4397-b574-dfb759843306",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        784,
        144
      ],
      "id": "502062db-9fbb-46b6-8c4f-1b36e8e1eca1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw",
          "mode": "list",
          "cachedResultName": "Productos vendidos sin stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        64
      ],
      "id": "5729798e-ff95-4a61-a306-da357477db47",
      "name": "obtener vendidos sin stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1666UwMaXD1Wg9aLis0924Pd1OBWdkS6ShF9Qu_baspM",
          "mode": "list",
          "cachedResultName": "Informe falta de stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1666UwMaXD1Wg9aLis0924Pd1OBWdkS6ShF9Qu_baspM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1666UwMaXD1Wg9aLis0924Pd1OBWdkS6ShF9Qu_baspM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        272
      ],
      "id": "054cdda3-5fe4-48ce-8227-ba251e81193a",
      "name": "obtener falta de stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "ID",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        160
      ],
      "id": "03b36ba1-6b13-4718-8c2f-72406760dea1",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw",
          "mode": "list",
          "cachedResultName": "Productos vendidos sin stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE7PRebuK5kzzW9uI3VIHHCC-aRMxZuwGLiFlxGnrRw/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        176
      ],
      "id": "f104f20b-5666-47d7-b2bf-24d901f068d4",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1392,
        160
      ],
      "id": "ad733b77-7482-46e4-b4bf-c97eb4d4a837",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1616,
        176
      ],
      "id": "946d6487-6721-4486-a107-aa1461142972"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        768,
        528
      ],
      "id": "2e91e431-0c3d-490d-87fc-0c5b3e44a54f",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-14T08:10:45.034Z",
      "createdAt": "2026-01-14T08:10:45.034Z",
      "role": "workflow:owner",
      "workflowId": "Km7XkUtqP6pum0ekQjyuy",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T08:01:01.932Z",
  "versionId": "7b4f8c8a-cbb2-4a82-b97a-7b185e76afa2"
}