workflows/qYqXKqcZ774d2bpa.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-28T09:20:31.945Z",
  "id": "qYqXKqcZ774d2bpa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Informe_Mensual",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -144
      ],
      "id": "2a09d9fa-748a-41ca-abc8-1b35a8edeeaa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f015b33f-96fa-4d6d-bbe2-b21d9a4ff606",
              "name": "NOMBRE MES",
              "value": "={{ (new Date()).toLocaleString('es-ES', { month: 'long' }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -144
      ],
      "id": "54c47c73-873e-48fa-b5c1-745c2c2a4cce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8GDVj673ag0hCrVt",
          "mode": "list",
          "cachedResultName": "Informe Mensual",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/8GDVj673ag0hCrVt"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -416,
        -144
      ],
      "id": "86b9bc3d-0267-444d-a546-8c1a591e9aed",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.ID_Documento }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -128
      ],
      "id": "648d8fa4-590a-47eb-92da-f817346e328f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1j1af-k_E4lGfd8xZEMKCpGh9M55X7bH1fpuvR_igQ7U",
          "mode": "id"
        },
        "name": "=Informe  {{ $json['NOMBRE MES'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        -144
      ],
      "id": "fb5c7e8a-ecce-4dbe-8126-e115a1a6af70",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N7JXWgOiVoyCTaVL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener los datos del nodo anterior.\n// La variable 'items' ya contiene un array con los objetos de entrada.\nconst inputItems = items;\n\n// Estructura para almacenar las cadenas de objetos únicos y evitar duplicados.\nconst uniqueStrings = new Set();\n\n// Array para almacenar los objetos que son únicos.\nconst uniqueItems = [];\n\n// 2. Iterar sobre los elementos de entrada.\nfor (const item of inputItems) {\n    // 3. Convertir el objeto de datos (el campo 'json' del item) a una cadena JSON.\n    // Esto crea una \"huella digital\" del objeto.\n    const itemString = JSON.stringify(item.json);\n\n    // 4. Comprobar si esta cadena (huella digital) ya existe en el Set.\n    if (!uniqueStrings.has(itemString)) {\n        // 5. Si no existe, es un objeto único:\n        \n        // Añadir la huella digital al Set.\n        uniqueStrings.add(itemString);\n\n        // Añadir el objeto original ('item') al array de resultados.\n        uniqueItems.push(item);\n    }\n}\n\n// 6. Devolver el array de objetos únicos.\n// El nodo Code debe devolver un array de items.\nreturn uniqueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -144
      ],
      "id": "714060e4-f46c-41ec-8ac8-6927ae6bca21",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        -144
      ],
      "id": "cbeb07fd-d3c0-46de-9b0e-cd77ff5e5cb3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Copy file').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SUCURSAL DE VENTA": "={{ $json['SUCURSAL DE VENTA'] }}",
            "MÉTODO DE PAGO": "={{ $json['MÉTODO DE PAGO'] }}",
            "COSTE DE PRODUCTO": "={{ $json['COSTE DE PRODUCTO'] }}",
            "NOMBRE DE PRODUCTO": "={{ $json['NOMBRE DE PRODUCTO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "SUCURSAL DE VENTA",
              "displayName": "SUCURSAL DE VENTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COSTE DE PRODUCTO",
              "displayName": "COSTE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE DE PRODUCTO",
              "displayName": "NOMBRE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -128
      ],
      "id": "9926fe5c-b62f-4c36-a9b6-bba6131c6ce0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Copy file').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MÉTODO DE PAGO": "SEPARADOR",
            "COSTE DE PRODUCTO": "SEPARADOR",
            "NOMBRE DE PRODUCTO": "SEPARADOR",
            "SUCURSAL DE VENTA": "={{ $('Code in JavaScript').item.json.fecha }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "SUCURSAL DE VENTA",
              "displayName": "SUCURSAL DE VENTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "COSTE DE PRODUCTO",
              "displayName": "COSTE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE DE PRODUCTO",
              "displayName": "NOMBRE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -128
      ],
      "id": "b8a96aa4-d564-447b-9ee0-a0c4892630d2",
      "name": "Append row in sheet1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtiene los ítems de entrada. La variable 'items' es un array de objetos { json: {...}, ... }\nconst inputItems = items;\n\n// Definimos la cadena de texto que indica un error.\nconst errorString = \"#ERROR! (Formula parse error.)\";\n\n// Usamos el método filter para crear un nuevo array que solo contenga los ítems válidos.\nconst filteredItems = inputItems.filter(item => {\n    // Accedemos al objeto de datos del ítem actual.\n    const sucursalValue = item.json[\"SUCURSAL DE VENTA\"];\n    \n    // Devolvemos 'true' solo si el valor de la sucursal NO es el string de error.\n    // Esto significa que solo los ítems que pasan esta prueba se mantienen.\n    return sucursalValue !== errorString;\n});\n\n// Devolvemos el array de ítems filtrados.\nreturn filteredItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -128
      ],
      "id": "ffc853e3-39b5-4fca-9e08-e21335f8e7e5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        176,
        -128
      ],
      "id": "75124723-fc8a-4375-a3cb-f699fc6175f5"
    },
    {
      "parameters": {
        "content": "OBTENER DATOS",
        "height": 208,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -192
      ],
      "id": "fd9e96b5-7f43-410a-925b-18bffea61c44",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "BUCLE",
        "height": 272,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -192
      ],
      "id": "d83d5770-f079-4f9b-b3ee-32098ed36e90",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "INSERTAR DATOS",
        "height": 224,
        "width": 768,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        -192
      ],
      "id": "bf5b0450-480b-4cdd-bf22-b6da517a8030",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-28T09:20:31.947Z",
      "createdAt": "2025-11-28T09:20:31.947Z",
      "role": "workflow:owner",
      "workflowId": "qYqXKqcZ774d2bpa",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Shopify Trigger": {}
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-22T11:29:34.204Z",
  "versionId": "dc46dcbf-c54f-42a7-952f-5b63aa61fc72"
}