workflows/s453S4YZkDDjynYN.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T14:06:37.000Z",
    "createdAt": "2026-01-28T14:06:32.408Z",
    "versionId": "f036a59f-3a8f-4377-956e-d67ae0b8478f",
    "workflowId": "s453S4YZkDDjynYN",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {
            "q": "(from:noreply@vinted.es subject:\"Has vendido un artículo en Vinted\")"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          -560,
          -16
        ],
        "id": "be0f4b14-0fb1-461d-8188-dfef39c16960",
        "name": "Gmail Trigger",
        "notesInFlow": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "RHR23CJ1w4T4gR4J",
            "name": "info@rules-shop.es"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// --- FUNCIÓN AUXILIAR PARA LIMPIAR HTML ---\nconst stripHtml = (html) => html.replace(/<[^>]*>?/gm, '');\n\n// 1. Obtenemos el texto de donde esté disponible\nconst emailText = $input.item.json.text || $input.item.json.html || $input.item.json.snippet || \"\";\n\n// 2. Limpieza Previa\nlet cleanText = emailText.replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\");\ncleanText = cleanText.replace(/\\r\\n/g, '\\n').replace(/\\s+/g, ' ');\n\n// --- PATRONES ---\n// A. Patrón PRODUCTO\nconst productPattern = /ha comprado\\s+[*]*[\"“'](.+?)[\"”']([*]|[\\.]|$)/i;\n\n// B. Patrón USUARIO \n// (Se mantiene igual, pero luego limpiaremos el resultado del HTML)\nconst usernamePattern = /([^\\s:,]+)\\s+ha comprado/i;\n\n// C. Patrones Adicionales\nconst emailPattern = /E-mail:\\s*([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9._-]+)/i;\nconst realNamePattern = /Dirección:\\s*([^,]+),/i;\n\n// --- EJECUCIÓN ---\nconst matchProduct = cleanText.match(productPattern);\nconst matchUsername = cleanText.match(usernamePattern);\nconst matchEmail = cleanText.match(emailPattern);\nconst matchRealName = cleanText.match(realNamePattern);\n\n// --- PROCESAMIENTO ---\n\n// 1. Producto (Limpiamos HTML por si acaso)\nlet productName = \"Producto Vinted\"; \nif (matchProduct && matchProduct[1]) {\n  productName = stripHtml(matchProduct[1]).replace(/[*]/g, '').trim();\n}\n\n// 2. Usuario / Nombre\nlet username = \"UsuarioVinted\";\nif (matchUsername && matchUsername[1]) {\n    // IMPORTANTE: Limpiamos etiquetas HTML y asteriscos\n    username = stripHtml(matchUsername[1]).replace(/\\*/g, '').trim();\n}\n\nlet firstName = username;\nlet lastName = \"(Vinted)\";\nlet finalEmail = \"\";\n\n// Intentamos sacar nombre real si existe\nif (matchRealName && matchRealName[1]) {\n  const fullName = stripHtml(matchRealName[1]).trim();\n  const nameParts = fullName.split(\" \");\n  if (nameParts.length > 1) {\n    lastName = nameParts.pop(); \n    firstName = nameParts.join(\" \"); \n  } else {\n    firstName = fullName;\n  }\n}\n\n// 3. Generar Email\nif (matchEmail && matchEmail[1]) {\n  finalEmail = stripHtml(matchEmail[1]).trim(); \n} else {\n  // Limpiamos el username de cualquier residuo antes de generar el email\n  const safeUser = username.replace(/[^a-zA-Z0-9]/g, '').toLowerCase();\n  finalEmail = `${safeUser}@vinted.tailwind.es`;\n}\n\n// --- SALIDA ---\nif (matchProduct || username !== \"UsuarioVinted\") {\n  return {\n    json: {\n      status: \"success\",\n      customer: {\n        first_name: firstName,\n        last_name: lastName,\n        email: finalEmail,\n        tags: [\"Cliente Vinted\"],\n        note: `Comprado en Vinted: ${productName}. Usuario: ${username}`\n      },\n      product: {\n        name: productName\n      }\n    }\n  };\n} else {\n  return {\n    json: {\n      error: \"No se pudieron extraer los datos\",\n      debug: stripHtml(cleanText).substring(0, 500)\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          48,
          576
        ],
        "id": "4cdfe765-3814-4d6c-8386-333d5b18f607",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8724e9f2-0555-4c32-8f7d-8ca1767b60c1",
                "name": "NOMBRE",
                "value": "={{ $json.customer.first_name }}",
                "type": "string"
              },
              {
                "id": "6297fbdb-be85-4cda-8ee5-d60c55afb109",
                "name": "APELLIDO",
                "value": "={{ $json.customer.last_name }}",
                "type": "string"
              },
              {
                "id": "cfb53d0f-f6b0-4e5e-8634-e45c2dd8b10f",
                "name": "CORREO",
                "value": "={{ $json.customer.email }}",
                "type": "string"
              },
              {
                "id": "8bb80dc3-9a01-4e1c-b31b-afdfdaf60297",
                "name": "PRODUCTO",
                "value": "={{ $json.product.name }}",
                "type": "string"
              },
              {
                "id": "8c2b37dd-7ccb-4776-9741-e03d7210190b",
                "name": "ETIQUETAS",
                "value": "={{ $json.customer.tags[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          576
        ],
        "id": "2963a16a-a137-414f-aca4-439be18b907b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "=query findCustomer($query: String!) {\n  customers(first: 1, query: $query) {\n    edges {\n      node {\n        id\n        firstName\n        lastName\n        email\n        tags\n      }\n    }\n  }\n}",
          "variables": "={\n  \"query\": \"email:{{ $json.CORREO }}\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          336,
          576
        ],
        "id": "9e556f28-8d43-4be4-ba7b-8d56900cbc4e",
        "name": "GraphQL",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a8a111e-7d12-42fc-a81f-15619c8f844e",
                "leftValue": "={{ $json.data.customers.edges }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          480,
          576
        ],
        "id": "07b657b9-de88-4ed6-b4d0-25a5afb60bfe",
        "name": "If"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "mutation createCustomer($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      email\n      firstName\n      lastName\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $('Edit Fields').item.json.NOMBRE }}\",\n    \"lastName\": \"{{ $('Edit Fields').item.json.APELLIDO }}\",\n    \"email\": \"{{ $('Edit Fields').item.json.CORREO }}\",\n    \"note\": \"Comprado en Vinted: {{ $('Edit Fields').item.json.PRODUCTO }}\",\n    \"tags\": [\"{{ $('Edit Fields').item.json.ETIQUETAS }}\"],\n    \"emailMarketingConsent\": {\n      \"marketingState\": \"NOT_SUBSCRIBED\",\n      \"marketingOptInLevel\": \"SINGLE_OPT_IN\"\n    }\n  }\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          688,
          464
        ],
        "id": "68144495-7bc0-466e-b603-a1fafbd441df",
        "name": "Añadir_cliente",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "info@rules-shop.es",
          "subject": "Producto Vendido en Vinted",
          "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Stock Vinted</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha vendido un producto en Vinted pero <strong>el nombre no coincide exactamente</strong> con el de Shopify.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Por seguridad, la automatización no ha descontado el stock. <strong>Por favor, cambie el stock manualmente.</strong>\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Vinted:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n    <strong>Cliente:</strong> {{ $('Edit Fields').item.json.NOMBRE }} {{ $('Edit Fields').item.json.APELLIDO }}\n  </p>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          864,
          464
        ],
        "id": "09ed8cc6-5578-408e-8ff3-1ecbb8888a74",
        "name": "Send a message",
        "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
        "credentials": {
          "gmailOAuth2": {
            "id": "RHR23CJ1w4T4gR4J",
            "name": "info@rules-shop.es"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "info@rules-shop.es",
          "subject": "Producto Vendido en Vinted",
          "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Stock Vinted</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha vendido un producto en Vinted pero <strong>el nombre no coincide exactamente</strong> con el de Shopify.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Por seguridad, la automatización no ha descontado el stock. <strong>Por favor, cambie el stock manualmente.</strong>\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Vinted:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n    <strong>Cliente:</strong> {{ $('Edit Fields').item.json.NOMBRE }} {{ $('Edit Fields').item.json.APELLIDO }}\n  </p>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          688,
          656
        ],
        "id": "a9b80301-c949-4fbb-85a4-eeeeaa265f30",
        "name": "Send a message1",
        "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
        "credentials": {
          "gmailOAuth2": {
            "id": "RHR23CJ1w4T4gR4J",
            "name": "info@rules-shop.es"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos el HTML crudo del correo\nconst htmlContent = $input.item.json.html || \"\";\n\n// 2. Definimos las Expresiones Regulares (Regex)\n\n// A. PRODUCTO\nconst productRegex = /margin:0 8px\">([^<]+)<\\/p>/i;\n\n// B. CLIENTE (NOMBRE)\nconst buyerRegex = /(?:Purchased by:|Comprado por:)[\\s\\S]*?color:#000000;\">(.*?)<\\/div>/i;\n\n// C. PRECIO\nconst priceRegex = /Total[\\s\\S]*?font-size:32px\">([\\d.,]+)€<\\/span>/i;\n\n\n// --- EJECUCIÓN Y EXTRACCIÓN ---\n\nconst matchProduct = htmlContent.match(productRegex);\nconst matchBuyer = htmlContent.match(buyerRegex);\nconst matchPrice = htmlContent.match(priceRegex);\n\n// --- PROCESAMIENTO DE DATOS ---\n\n// 1. PRODUCTO\nlet productName = \"Producto Wallapop Desconocido\";\nif (matchProduct && matchProduct[1]) {\n    productName = matchProduct[1].trim();\n}\n\n// 2. PRECIO\nlet salePrice = \"0.00\";\nif (matchPrice && matchPrice[1]) {\n    salePrice = matchPrice[1].trim();\n}\n\n// 3. CLIENTE (Solo Nombre y Apellido)\nlet firstName = \"Cliente\";\nlet lastName = \"Wallapop\";\n\nif (matchBuyer && matchBuyer[1]) {\n    const fullName = matchBuyer[1].trim(); \n    \n    // Separar Nombre y Apellido REALES\n    const nameParts = fullName.split(\" \");\n    if (nameParts.length > 1) {\n        lastName = nameParts.pop(); \n        firstName = nameParts.join(\" \"); \n    } else {\n        firstName = fullName;\n    }\n}\n\n// --- SALIDA DE DATOS ---\n// NOTA: No se envía ningún campo \"email\" en el objeto customer.\n\nif (matchProduct || matchBuyer) {\n    return {\n        json: {\n            status: \"success\",\n            language_detected: matchBuyer && matchBuyer[0].includes(\"Purchased\") ? \"English\" : \"Spanish\",\n            customer: {\n                first_name: firstName,\n                last_name: lastName,\n                tags: [\"Cliente Wallapop\"],\n                note: `Venta Wallapop: ${productName}. Precio: ${salePrice}€. (Detectado auto)`\n            },\n            product: {\n                name: productName,\n                price: salePrice\n            }\n        }\n    };\n} else {\n    return {\n        json: {\n            error: \"No se pudieron encontrar los datos en el HTML\",\n            debug_html_snippet: htmlContent.substring(0, 500)\n        }\n    };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -240
        ],
        "id": "8bc0e663-5e3f-4a51-8174-dcdb04e902d5",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8724e9f2-0555-4c32-8f7d-8ca1767b60c1",
                "name": "NOMBRE",
                "value": "={{ $json.customer.first_name }}",
                "type": "string"
              },
              {
                "id": "6297fbdb-be85-4cda-8ee5-d60c55afb109",
                "name": "APELLIDO",
                "value": "={{ $json.customer.last_name }}",
                "type": "string"
              },
              {
                "id": "8bb80dc3-9a01-4e1c-b31b-afdfdaf60297",
                "name": "PRODUCTO",
                "value": "={{ $json.product.name }}",
                "type": "string"
              },
              {
                "id": "8c2b37dd-7ccb-4776-9741-e03d7210190b",
                "name": "ETIQUETAS",
                "value": "={{ $json.customer.tags[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          176,
          -240
        ],
        "id": "a97dac04-1287-45fc-bdc5-f1d912402fbb",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "=query findCustomer($query: String!) {\n  customers(first: 1, query: $query) {\n    edges {\n      node {\n        id\n        firstName\n        lastName\n        email\n        tags\n      }\n    }\n  }\n}",
          "variables": "={\n  \"query\": \"first_name:{{ $json.NOMBRE }} last_name:{{ $json.APELLIDO }}\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          320,
          -240
        ],
        "id": "9266dc4c-a8b4-4137-ad52-c33168ad7496",
        "name": "GraphQL1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a8a111e-7d12-42fc-a81f-15619c8f844e",
                "leftValue": "={{ $json.data.customers.edges }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          464,
          -240
        ],
        "id": "b6ea7c20-97b7-4d70-895e-f3aa18aa86b9",
        "name": "If3"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "mutation createCustomer($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      firstName\n      lastName\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $('Edit Fields1').item.json.NOMBRE }}\",\n    \"lastName\": \"{{ $('Edit Fields1').item.json.APELLIDO }}\",\n    \"note\": \"Comprado en Wallapop: {{ $('Edit Fields1').item.json.PRODUCTO }}\",\n    \"tags\": [\"{{ $('Edit Fields1').item.json.ETIQUETAS }}\"]\n  }\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          672,
          -368
        ],
        "id": "f6d00919-0089-46fb-b314-93f8adc51178",
        "name": "Añadir_cliente1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "info@rules-shop.es",
          "subject": "Producto Vendido en Vinted",
          "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Crear Pedido Wallapop</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha realizado una venta en Wallapop.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    <strong>Por favor, crea el pedido para este cliente manualmente en Shopify</strong> (el nombre del producto varía ligeramente).\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px; margin-bottom: 20px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Wallapop:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields1').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <div style=\"background-color: #e8f5e9; padding: 15px; border-left: 5px solid #2e7d32; border-radius: 4px; margin-bottom: 25px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #2e7d32; font-weight: bold;\">✅ Cliente ya registrado en Shopify:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #333;\">\n      Datos para asignar el pedido:\n    </p>\n    <ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #555; font-size: 14px;\">\n       <li><strong>Nombre:</strong> {{ $json.firstName }} {{ $json.lastName }}</li>\n    </ul>\n  </div>\n  <div style=\"text-align: center;\">\n    <a href=\"{{ $json.customer_url }}\" style=\"background-color: #008060; color: #ffffff; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 16px; display: inline-block;\">\n      Ver Cliente en Shopify ↗\n    </a>\n  </div>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1072,
          -368
        ],
        "id": "c5ac73a8-0655-49ed-b397-32e4c94dbfab",
        "name": "Send a message2",
        "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
        "credentials": {
          "gmailOAuth2": {
            "id": "RHR23CJ1w4T4gR4J",
            "name": "info@rules-shop.es"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "info@rules-shop.es",
          "subject": "Producto Vendido en Vinted",
          "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Crear Pedido Wallapop</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha realizado una venta en Wallapop.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    <strong>Por favor, crea el pedido para este cliente manualmente en Shopify</strong> (el nombre del producto varía ligeramente).\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px; margin-bottom: 20px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Wallapop:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields1').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <div style=\"background-color: #e8f5e9; padding: 15px; border-left: 5px solid #2e7d32; border-radius: 4px; margin-bottom: 25px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #2e7d32; font-weight: bold;\">✅ Cliente ya registrado en Shopify:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #333;\">\n      Datos para asignar el pedido:\n    </p>\n    <ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #555; font-size: 14px;\">\n       <li><strong>Nombre:</strong> {{ $json.firstName }} {{ $json.lastName }}</li>\n    </ul>\n  </div>\n  <div style=\"text-align: center;\">\n    <a href=\"{{ $json.customer_url }}\" style=\"background-color: #008060; color: #ffffff; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 16px; display: inline-block;\">\n      Ver Cliente en Shopify ↗\n    </a>\n  </div>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          864,
          -144
        ],
        "id": "f3adfb9a-00fb-4b05-ba3c-0bfefdad6238",
        "name": "Send a message3",
        "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
        "credentials": {
          "gmailOAuth2": {
            "id": "RHR23CJ1w4T4gR4J",
            "name": "info@rules-shop.es"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f80c1b3d-2b33-46fa-ad29-fcf5df34694f",
                "leftValue": "={{ $json.from.text }}",
                "rightValue": "\"Wallapop\" <info@wallapop.com>",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -368,
          -16
        ],
        "id": "be40b303-7a0f-4030-aa5f-5d3f3b29bb7f",
        "name": "If6"
      },
      {
        "parameters": {
          "content": "## De Wallapop",
          "height": 864,
          "width": 1968,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -160,
          -544
        ],
        "id": "a9eb70be-445d-4bc2-982a-068a3647bb60",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## De Vinted",
          "height": 816,
          "width": 1760,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -160,
          336
        ],
        "id": "0402b9a5-e42a-494a-8105-07c95b00002c",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "jsCode": "// CONFIGURACIÓN: Nombre de la tienda\nconst storeName = \"rulesshop\"; \n\nconst results = $input.all().map(item => {\n  \n  // 1. Accedemos a la ruta específica de BÚSQUEDA (customers -> edges -> node)\n  // Usamos '?.' para seguridad por si la búsqueda hubiera venido vacía\n  const customerData = item.json.data?.customers?.edges?.[0]?.node || {};\n  \n  // 2. Preparamos las variables\n  const fullId = customerData.id;\n  let customerUrl = null;\n  let cleanId = null;\n\n  if (fullId) {\n    // Limpiamos el ID (quitamos \"gid://shopify/Customer/\")\n    cleanId = fullId.split('/').pop();\n    \n    // Construimos la URL\n    customerUrl = `https://admin.shopify.com/store/${storeName}/customers/${cleanId}`;\n  }\n\n  // 3. Devolvemos TODO: Datos originales + Campos calculados\n  return {\n    json: {\n      // Copia firstName, lastName, email, tags, etc.\n      ...customerData,\n      \n      // Añade nuestros campos extra\n      customer_id_number: cleanId,\n      customer_url: customerUrl\n    }\n  };\n});\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          -144
        ],
        "id": "2c939208-ffbf-4f8b-a2a2-90792a9dc5ea",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "jsCode": "// CONFIGURACIÓN: Nombre de la tienda en la URL del admin\nconst storeName = \"rulesshop\"; \n\nconst results = $input.all().map(item => {\n  \n  // 1. Accedemos al objeto 'customer' dentro de la respuesta de creación\n  // Usamos '|| {}' para que no falle si viene vacío\n  const customerData = item.json.data?.customerCreate?.customer || {};\n  \n  // 2. Preparamos las variables de la URL\n  const fullId = customerData.id;\n  let customerUrl = null;\n  let cleanId = null;\n\n  if (fullId) {\n    // Limpiamos el ID (quitamos \"gid://shopify/Customer/\")\n    cleanId = fullId.split('/').pop();\n    \n    // Construimos la URL\n    customerUrl = `https://admin.shopify.com/store/${storeName}/customers/${cleanId}`;\n  }\n\n  // 3. Devolvemos TODO junto\n  return {\n    json: {\n      // El operador '...' (spread) copia todo lo que traiga el cliente (firstName, lastName, id...)\n      ...customerData,\n      \n      // Añadimos nuestros campos calculados\n      customer_id_number: cleanId,\n      customer_url: customerUrl\n    }\n  };\n});\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          864,
          -368
        ],
        "id": "47f30864-04fe-48ae-ac30-c788d656cd55",
        "name": "Code in JavaScript3"
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "If6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "GraphQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GraphQL": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Añadir_cliente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Añadir_cliente": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "GraphQL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GraphQL1": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "Añadir_cliente1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Añadir_cliente1": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If6": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Send a message3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Send a message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Info Tailwind",
    "name": "Version f036a59f",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "f036a59f-3a8f-4377-956e-d67ae0b8478f",
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Añadir_cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir_cliente": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "GraphQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Añadir_cliente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir_cliente1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T10:25:57.653Z",
  "id": "s453S4YZkDDjynYN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cliente_Vinted/Wallapop_info@rules-shop.es",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "(from:noreply@vinted.es subject:\"Has vendido un artículo en Vinted\")"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -16
      ],
      "id": "be0f4b14-0fb1-461d-8188-dfef39c16960",
      "name": "Gmail Trigger",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RHR23CJ1w4T4gR4J",
          "name": "info@rules-shop.es"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- FUNCIÓN AUXILIAR PARA LIMPIAR HTML ---\nconst stripHtml = (html) => html.replace(/<[^>]*>?/gm, '');\n\n// 1. Obtenemos el texto de donde esté disponible\nconst emailText = $input.item.json.text || $input.item.json.html || $input.item.json.snippet || \"\";\n\n// 2. Limpieza Previa\nlet cleanText = emailText.replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\");\ncleanText = cleanText.replace(/\\r\\n/g, '\\n').replace(/\\s+/g, ' ');\n\n// --- PATRONES ---\n// A. Patrón PRODUCTO\nconst productPattern = /ha comprado\\s+[*]*[\"“'](.+?)[\"”']([*]|[\\.]|$)/i;\n\n// B. Patrón USUARIO \n// (Se mantiene igual, pero luego limpiaremos el resultado del HTML)\nconst usernamePattern = /([^\\s:,]+)\\s+ha comprado/i;\n\n// C. Patrones Adicionales\nconst emailPattern = /E-mail:\\s*([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9._-]+)/i;\nconst realNamePattern = /Dirección:\\s*([^,]+),/i;\n\n// --- EJECUCIÓN ---\nconst matchProduct = cleanText.match(productPattern);\nconst matchUsername = cleanText.match(usernamePattern);\nconst matchEmail = cleanText.match(emailPattern);\nconst matchRealName = cleanText.match(realNamePattern);\n\n// --- PROCESAMIENTO ---\n\n// 1. Producto (Limpiamos HTML por si acaso)\nlet productName = \"Producto Vinted\"; \nif (matchProduct && matchProduct[1]) {\n  productName = stripHtml(matchProduct[1]).replace(/[*]/g, '').trim();\n}\n\n// 2. Usuario / Nombre\nlet username = \"UsuarioVinted\";\nif (matchUsername && matchUsername[1]) {\n    // IMPORTANTE: Limpiamos etiquetas HTML y asteriscos\n    username = stripHtml(matchUsername[1]).replace(/\\*/g, '').trim();\n}\n\nlet firstName = username;\nlet lastName = \"(Vinted)\";\nlet finalEmail = \"\";\n\n// Intentamos sacar nombre real si existe\nif (matchRealName && matchRealName[1]) {\n  const fullName = stripHtml(matchRealName[1]).trim();\n  const nameParts = fullName.split(\" \");\n  if (nameParts.length > 1) {\n    lastName = nameParts.pop(); \n    firstName = nameParts.join(\" \"); \n  } else {\n    firstName = fullName;\n  }\n}\n\n// 3. Generar Email\nif (matchEmail && matchEmail[1]) {\n  finalEmail = stripHtml(matchEmail[1]).trim(); \n} else {\n  // Limpiamos el username de cualquier residuo antes de generar el email\n  const safeUser = username.replace(/[^a-zA-Z0-9]/g, '').toLowerCase();\n  finalEmail = `${safeUser}@vinted.tailwind.es`;\n}\n\n// --- SALIDA ---\nif (matchProduct || username !== \"UsuarioVinted\") {\n  return {\n    json: {\n      status: \"success\",\n      customer: {\n        first_name: firstName,\n        last_name: lastName,\n        email: finalEmail,\n        tags: [\"Cliente Vinted\"],\n        note: `Comprado en Vinted: ${productName}. Usuario: ${username}`\n      },\n      product: {\n        name: productName\n      }\n    }\n  };\n} else {\n  return {\n    json: {\n      error: \"No se pudieron extraer los datos\",\n      debug: stripHtml(cleanText).substring(0, 500)\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        576
      ],
      "id": "4cdfe765-3814-4d6c-8386-333d5b18f607",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8724e9f2-0555-4c32-8f7d-8ca1767b60c1",
              "name": "NOMBRE",
              "value": "={{ $json.customer.first_name }}",
              "type": "string"
            },
            {
              "id": "6297fbdb-be85-4cda-8ee5-d60c55afb109",
              "name": "APELLIDO",
              "value": "={{ $json.customer.last_name }}",
              "type": "string"
            },
            {
              "id": "cfb53d0f-f6b0-4e5e-8634-e45c2dd8b10f",
              "name": "CORREO",
              "value": "={{ $json.customer.email }}",
              "type": "string"
            },
            {
              "id": "8bb80dc3-9a01-4e1c-b31b-afdfdaf60297",
              "name": "PRODUCTO",
              "value": "={{ $json.product.name }}",
              "type": "string"
            },
            {
              "id": "8c2b37dd-7ccb-4776-9741-e03d7210190b",
              "name": "ETIQUETAS",
              "value": "={{ $json.customer.tags[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        576
      ],
      "id": "2963a16a-a137-414f-aca4-439be18b907b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query findCustomer($query: String!) {\n  customers(first: 1, query: $query) {\n    edges {\n      node {\n        id\n        firstName\n        lastName\n        email\n        tags\n      }\n    }\n  }\n}",
        "variables": "={\n  \"query\": \"email:{{ $json.CORREO }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        336,
        576
      ],
      "id": "9e556f28-8d43-4be4-ba7b-8d56900cbc4e",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a8a111e-7d12-42fc-a81f-15619c8f844e",
              "leftValue": "={{ $json.data.customers.edges }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        576
      ],
      "id": "07b657b9-de88-4ed6-b4d0-25a5afb60bfe",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "mutation createCustomer($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      email\n      firstName\n      lastName\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $('Edit Fields').item.json.NOMBRE }}\",\n    \"lastName\": \"{{ $('Edit Fields').item.json.APELLIDO }}\",\n    \"email\": \"{{ $('Edit Fields').item.json.CORREO }}\",\n    \"note\": \"Comprado en Vinted: {{ $('Edit Fields').item.json.PRODUCTO }}\",\n    \"tags\": [\"{{ $('Edit Fields').item.json.ETIQUETAS }}\"],\n    \"emailMarketingConsent\": {\n      \"marketingState\": \"NOT_SUBSCRIBED\",\n      \"marketingOptInLevel\": \"SINGLE_OPT_IN\"\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        688,
        464
      ],
      "id": "68144495-7bc0-466e-b603-a1fafbd441df",
      "name": "Añadir_cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "info@rules-shop.es",
        "subject": "Producto Vendido en Vinted",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Stock Vinted</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha vendido un producto en Vinted pero <strong>el nombre no coincide exactamente</strong> con el de Shopify.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Por seguridad, la automatización no ha descontado el stock. <strong>Por favor, cambie el stock manualmente.</strong>\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Vinted:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n    <strong>Cliente:</strong> {{ $('Edit Fields').item.json.NOMBRE }} {{ $('Edit Fields').item.json.APELLIDO }}\n  </p>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        464
      ],
      "id": "09ed8cc6-5578-408e-8ff3-1ecbb8888a74",
      "name": "Send a message",
      "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "RHR23CJ1w4T4gR4J",
          "name": "info@rules-shop.es"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "info@rules-shop.es",
        "subject": "Producto Vendido en Vinted",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Stock Vinted</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha vendido un producto en Vinted pero <strong>el nombre no coincide exactamente</strong> con el de Shopify.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Por seguridad, la automatización no ha descontado el stock. <strong>Por favor, cambie el stock manualmente.</strong>\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Vinted:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n    <strong>Cliente:</strong> {{ $('Edit Fields').item.json.NOMBRE }} {{ $('Edit Fields').item.json.APELLIDO }}\n  </p>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        656
      ],
      "id": "a9b80301-c949-4fbb-85a4-eeeeaa265f30",
      "name": "Send a message1",
      "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "RHR23CJ1w4T4gR4J",
          "name": "info@rules-shop.es"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el HTML crudo del correo\nconst htmlContent = $input.item.json.html || \"\";\n\n// 2. Definimos las Expresiones Regulares (Regex)\n\n// A. PRODUCTO\nconst productRegex = /margin:0 8px\">([^<]+)<\\/p>/i;\n\n// B. CLIENTE (NOMBRE)\nconst buyerRegex = /(?:Purchased by:|Comprado por:)[\\s\\S]*?color:#000000;\">(.*?)<\\/div>/i;\n\n// C. PRECIO\nconst priceRegex = /Total[\\s\\S]*?font-size:32px\">([\\d.,]+)€<\\/span>/i;\n\n\n// --- EJECUCIÓN Y EXTRACCIÓN ---\n\nconst matchProduct = htmlContent.match(productRegex);\nconst matchBuyer = htmlContent.match(buyerRegex);\nconst matchPrice = htmlContent.match(priceRegex);\n\n// --- PROCESAMIENTO DE DATOS ---\n\n// 1. PRODUCTO\nlet productName = \"Producto Wallapop Desconocido\";\nif (matchProduct && matchProduct[1]) {\n    productName = matchProduct[1].trim();\n}\n\n// 2. PRECIO\nlet salePrice = \"0.00\";\nif (matchPrice && matchPrice[1]) {\n    salePrice = matchPrice[1].trim();\n}\n\n// 3. CLIENTE (Solo Nombre y Apellido)\nlet firstName = \"Cliente\";\nlet lastName = \"Wallapop\";\n\nif (matchBuyer && matchBuyer[1]) {\n    const fullName = matchBuyer[1].trim(); \n    \n    // Separar Nombre y Apellido REALES\n    const nameParts = fullName.split(\" \");\n    if (nameParts.length > 1) {\n        lastName = nameParts.pop(); \n        firstName = nameParts.join(\" \"); \n    } else {\n        firstName = fullName;\n    }\n}\n\n// --- SALIDA DE DATOS ---\n// NOTA: No se envía ningún campo \"email\" en el objeto customer.\n\nif (matchProduct || matchBuyer) {\n    return {\n        json: {\n            status: \"success\",\n            language_detected: matchBuyer && matchBuyer[0].includes(\"Purchased\") ? \"English\" : \"Spanish\",\n            customer: {\n                first_name: firstName,\n                last_name: lastName,\n                tags: [\"Cliente Wallapop\"],\n                note: `Venta Wallapop: ${productName}. Precio: ${salePrice}€. (Detectado auto)`\n            },\n            product: {\n                name: productName,\n                price: salePrice\n            }\n        }\n    };\n} else {\n    return {\n        json: {\n            error: \"No se pudieron encontrar los datos en el HTML\",\n            debug_html_snippet: htmlContent.substring(0, 500)\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -240
      ],
      "id": "8bc0e663-5e3f-4a51-8174-dcdb04e902d5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8724e9f2-0555-4c32-8f7d-8ca1767b60c1",
              "name": "NOMBRE",
              "value": "={{ $json.customer.first_name }}",
              "type": "string"
            },
            {
              "id": "6297fbdb-be85-4cda-8ee5-d60c55afb109",
              "name": "APELLIDO",
              "value": "={{ $json.customer.last_name }}",
              "type": "string"
            },
            {
              "id": "8bb80dc3-9a01-4e1c-b31b-afdfdaf60297",
              "name": "PRODUCTO",
              "value": "={{ $json.product.name }}",
              "type": "string"
            },
            {
              "id": "8c2b37dd-7ccb-4776-9741-e03d7210190b",
              "name": "ETIQUETAS",
              "value": "={{ $json.customer.tags[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -240
      ],
      "id": "a97dac04-1287-45fc-bdc5-f1d912402fbb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query findCustomer($query: String!) {\n  customers(first: 1, query: $query) {\n    edges {\n      node {\n        id\n        firstName\n        lastName\n        email\n        tags\n      }\n    }\n  }\n}",
        "variables": "={\n  \"query\": \"first_name:{{ $json.NOMBRE }} last_name:{{ $json.APELLIDO }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        320,
        -240
      ],
      "id": "9266dc4c-a8b4-4137-ad52-c33168ad7496",
      "name": "GraphQL1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a8a111e-7d12-42fc-a81f-15619c8f844e",
              "leftValue": "={{ $json.data.customers.edges }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -240
      ],
      "id": "b6ea7c20-97b7-4d70-895e-f3aa18aa86b9",
      "name": "If3"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "mutation createCustomer($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      firstName\n      lastName\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $('Edit Fields1').item.json.NOMBRE }}\",\n    \"lastName\": \"{{ $('Edit Fields1').item.json.APELLIDO }}\",\n    \"note\": \"Comprado en Wallapop: {{ $('Edit Fields1').item.json.PRODUCTO }}\",\n    \"tags\": [\"{{ $('Edit Fields1').item.json.ETIQUETAS }}\"]\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        672,
        -368
      ],
      "id": "f6d00919-0089-46fb-b314-93f8adc51178",
      "name": "Añadir_cliente1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "info@rules-shop.es",
        "subject": "Producto Vendido en Vinted",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Crear Pedido Wallapop</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha realizado una venta en Wallapop.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    <strong>Por favor, crea el pedido para este cliente manualmente en Shopify</strong> (el nombre del producto varía ligeramente).\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px; margin-bottom: 20px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Wallapop:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields1').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <div style=\"background-color: #e8f5e9; padding: 15px; border-left: 5px solid #2e7d32; border-radius: 4px; margin-bottom: 25px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #2e7d32; font-weight: bold;\">✅ Cliente ya registrado en Shopify:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #333;\">\n      Datos para asignar el pedido:\n    </p>\n    <ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #555; font-size: 14px;\">\n       <li><strong>Nombre:</strong> {{ $json.firstName }} {{ $json.lastName }}</li>\n    </ul>\n  </div>\n  <div style=\"text-align: center;\">\n    <a href=\"{{ $json.customer_url }}\" style=\"background-color: #008060; color: #ffffff; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 16px; display: inline-block;\">\n      Ver Cliente en Shopify ↗\n    </a>\n  </div>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        -368
      ],
      "id": "c5ac73a8-0655-49ed-b397-32e4c94dbfab",
      "name": "Send a message2",
      "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "RHR23CJ1w4T4gR4J",
          "name": "info@rules-shop.es"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "info@rules-shop.es",
        "subject": "Producto Vendido en Vinted",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #D32F2F; margin-top: 0;\">⚠️ Acción Requerida: Crear Pedido Wallapop</h2>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    Hola equipo, se ha realizado una venta en Wallapop.\n  </p>\n  \n  <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n    <strong>Por favor, crea el pedido para este cliente manualmente en Shopify</strong> (el nombre del producto varía ligeramente).\n  </p>\n\n  <hr style=\"border: 0; border-top: 1px solid #eeeeee; margin: 20px 0;\">\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D32F2F; border-radius: 4px; margin-bottom: 20px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #888;\">Producto vendido en Wallapop:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 18px; font-weight: bold; color: #333;\">\n      {{ $('Edit Fields1').item.json.PRODUCTO }}\n    </p>\n  </div>\n\n  <div style=\"background-color: #e8f5e9; padding: 15px; border-left: 5px solid #2e7d32; border-radius: 4px; margin-bottom: 25px;\">\n    <p style=\"margin: 0; font-size: 14px; color: #2e7d32; font-weight: bold;\">✅ Cliente ya registrado en Shopify:</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #333;\">\n      Datos para asignar el pedido:\n    </p>\n    <ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #555; font-size: 14px;\">\n       <li><strong>Nombre:</strong> {{ $json.firstName }} {{ $json.lastName }}</li>\n    </ul>\n  </div>\n  <div style=\"text-align: center;\">\n    <a href=\"{{ $json.customer_url }}\" style=\"background-color: #008060; color: #ffffff; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 16px; display: inline-block;\">\n      Ver Cliente en Shopify ↗\n    </a>\n  </div>\n\n  <p style=\"font-size: 12px; color: #aaaaaa; margin-top: 30px; text-align: center;\">\n    Notificación automática enviada por n8n 🤖\n  </p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        -144
      ],
      "id": "f3adfb9a-00fb-4b05-ba3c-0bfefdad6238",
      "name": "Send a message3",
      "webhookId": "885e2e6b-4434-4af0-b7eb-9ecdf17d58a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "RHR23CJ1w4T4gR4J",
          "name": "info@rules-shop.es"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f80c1b3d-2b33-46fa-ad29-fcf5df34694f",
              "leftValue": "={{ $json.from.text }}",
              "rightValue": "\"Wallapop\" <info@wallapop.com>",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        -16
      ],
      "id": "be40b303-7a0f-4030-aa5f-5d3f3b29bb7f",
      "name": "If6"
    },
    {
      "parameters": {
        "content": "## De Wallapop",
        "height": 864,
        "width": 1968,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -544
      ],
      "id": "a9eb70be-445d-4bc2-982a-068a3647bb60",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## De Vinted",
        "height": 816,
        "width": 1760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        336
      ],
      "id": "0402b9a5-e42a-494a-8105-07c95b00002c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN: Nombre de la tienda\nconst storeName = \"rulesshop\"; \n\nconst results = $input.all().map(item => {\n  \n  // 1. Accedemos a la ruta específica de BÚSQUEDA (customers -> edges -> node)\n  // Usamos '?.' para seguridad por si la búsqueda hubiera venido vacía\n  const customerData = item.json.data?.customers?.edges?.[0]?.node || {};\n  \n  // 2. Preparamos las variables\n  const fullId = customerData.id;\n  let customerUrl = null;\n  let cleanId = null;\n\n  if (fullId) {\n    // Limpiamos el ID (quitamos \"gid://shopify/Customer/\")\n    cleanId = fullId.split('/').pop();\n    \n    // Construimos la URL\n    customerUrl = `https://admin.shopify.com/store/${storeName}/customers/${cleanId}`;\n  }\n\n  // 3. Devolvemos TODO: Datos originales + Campos calculados\n  return {\n    json: {\n      // Copia firstName, lastName, email, tags, etc.\n      ...customerData,\n      \n      // Añade nuestros campos extra\n      customer_id_number: cleanId,\n      customer_url: customerUrl\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -144
      ],
      "id": "2c939208-ffbf-4f8b-a2a2-90792a9dc5ea",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN: Nombre de la tienda en la URL del admin\nconst storeName = \"rulesshop\"; \n\nconst results = $input.all().map(item => {\n  \n  // 1. Accedemos al objeto 'customer' dentro de la respuesta de creación\n  // Usamos '|| {}' para que no falle si viene vacío\n  const customerData = item.json.data?.customerCreate?.customer || {};\n  \n  // 2. Preparamos las variables de la URL\n  const fullId = customerData.id;\n  let customerUrl = null;\n  let cleanId = null;\n\n  if (fullId) {\n    // Limpiamos el ID (quitamos \"gid://shopify/Customer/\")\n    cleanId = fullId.split('/').pop();\n    \n    // Construimos la URL\n    customerUrl = `https://admin.shopify.com/store/${storeName}/customers/${cleanId}`;\n  }\n\n  // 3. Devolvemos TODO junto\n  return {\n    json: {\n      // El operador '...' (spread) copia todo lo que traiga el cliente (firstName, lastName, id...)\n      ...customerData,\n      \n      // Añadimos nuestros campos calculados\n      customer_id_number: cleanId,\n      customer_url: customerUrl\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -368
      ],
      "id": "47f30864-04fe-48ae-ac30-c788d656cd55",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T10:25:57.656Z",
      "createdAt": "2025-12-03T10:25:57.656Z",
      "role": "workflow:owner",
      "workflowId": "s453S4YZkDDjynYN",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        4
      ]
    },
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1769450959,
        "possibleDuplicates": [
          "19bfb7ef7602fe56",
          "19bf151b18f056e6"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-28T14:06:32.405Z",
  "versionId": "f036a59f-3a8f-4377-956e-d67ae0b8478f"
}