workflows/TukzsIQAbmNh69ly.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener fecha": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "obtener fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-12T07:24:14.681Z",
  "id": "TukzsIQAbmNh69ly",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PruebaCorreoVentasV2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prueba1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        -896
      ],
      "id": "8d04931c-f304-4821-a338-c378c50a52a5",
      "name": "Webhook",
      "webhookId": "7c1e3b37-6cc8-4f4a-81e3-c5897bdf497c"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2024-07/graphql.json",
        "query": "query getOrder($id: ID!) {\n\n  order(id: $id) {\n\n    id\n\n    name\n\n    createdAt\n\n    email\n\n    totalPriceSet {\n\n      shopMoney {\n\n        amount\n\n        currencyCode\n\n      }\n\n    }\n\n    lineItems(first: 10) {\n\n      edges {\n\n        node {\n\n          title\n\n          quantity\n\n          originalUnitPriceSet {\n\n            shopMoney {\n\n              amount\n\n              currencyCode\n\n            }\n\n          }\n\n        }\n\n      }\n\n    }\n\n    fulfillments {\n\n      id\n\n      location {\n\n        name\n\n        address {\n\n          address1\n\n          city\n\n          province\n\n          country\n\n          zip\n\n        }\n\n      }\n\n    }\n\n    transactions(first: 5) {\n\n      formattedGateway\n\n      kind\n\n      status\n\n    }\n\n    customer {\n\n      firstName\n\n      lastName\n\n      email\n\n    }\n\n  }\n\n}\n",
        "variables": "={\n  \"id\": \"gid://shopify/Order/{{ $('Webhook').item.json.body[0].body.id }}\"\n}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -1152,
        -1072
      ],
      "id": "f2b989f7-e790-4b8f-83aa-abfa484470ea",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gj4W5JT98BZYR-XSb06YS8xBy_MV2sIdZ9wROdbQ3v8/edit?gid=0#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1632,
        -256
      ],
      "id": "a42a035c-699f-4a1d-8863-11e8c989f3e8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N7JXWgOiVoyCTaVL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "info@tailwind.es",
        "toEmail": "adrianazorinsanchez@gmail.com",
        "subject": "Informe Diario",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1456,
        -256
      ],
      "id": "b98b8688-7ff4-48e5-b873-accf9211ce28",
      "name": "Send email",
      "webhookId": "226a034e-8336-48cb-95fb-270066c58247",
      "credentials": {
        "smtp": {
          "id": "MiD3YXIjExt0Aik1",
          "name": "Correo"
        }
      }
    },
    {
      "parameters": {
        "content": "ENVIAR CORREO",
        "height": 208,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        -304
      ],
      "id": "bccf6dd5-1066-44c5-bcc2-24c2eb899253",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1QZ-GBz6D6EL4fZh3lh9PyAjwWzyjVn8nN0wy4mUjg04",
          "mode": "id"
        },
        "name": "=PruebaInformeDiarioV2 {{ $json.formattedDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1312,
        -528
      ],
      "id": "7c991240-6515-4268-98db-37bdea8a494d",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N7JXWgOiVoyCTaVL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "CREAR DOCUMENTO",
        "height": 208,
        "width": 912,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        -576
      ],
      "id": "0316b82a-37aa-4054-a571-03ce6f7d5811",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Este código se ejecuta en un nodo Function de n8n.\n\n// 1. Obtener la fecha y hora actuales del sistema (servidor)\nconst dateObject = new Date();\n\n// 2. Definir las opciones de formato para España.\n// 'es-ES' garantiza el orden del formato local.\n// 'Europe/Madrid' corrige la zona horaria del servidor al horario de España.\nconst options = {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    timeZone: 'Europe/Madrid' // <<-- ¡Ajuste de Zona Horaria!\n};\n\n// 3. Crear el formateador y aplicar el formato.\n// El resultado será una cadena como \"04/12/2025\"\nconst formatter = new Intl.DateTimeFormat('es-ES', options);\nconst formattedDateSlash = formatter.format(dateObject);\n\n// 4. Reemplazar las barras (/) por guiones (-) para obtener dd-mm-aaaa\nconst formattedDate = formattedDateSlash.replace(/\\//g, '-'); // Resultado: 04-12-2025\n\n// 5. Retornar el resultado en la estructura de datos de n8n\nreturn [{\n    json: {\n        formattedDate: formattedDate,\n        // Puedes añadir más campos si los necesitas, por ejemplo, la hora:\n        // formattedTime: new Intl.DateTimeFormat('es-ES', {hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid'}).format(dateObject)\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        -528
      ],
      "id": "da955a52-4eed-4b33-be5a-ead0f6e06504",
      "name": "obtener fecha"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1632,
        -528
      ],
      "id": "f5bebbd8-55c4-48f9-adb8-77422c3467bb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "8GDVj673ag0hCrVt",
          "mode": "list",
          "cachedResultName": "Informe Mensual",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/8GDVj673ag0hCrVt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Documento": "={{ $('Copy file').item.json.id }}"
          },
          "matchingColumns": [
            "ID_Documento"
          ],
          "schema": [
            {
              "id": "ID_Documento",
              "displayName": "ID_Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1024,
        -528
      ],
      "id": "08668728-f413-42a5-a7ea-de06088c173d",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "// El nodo Code de n8n espera que devolvamos un array de objetos.\nconst outputItems = [];\n\n// Obtenemos el valor del contador del nodo anterior\n// items[0].json.Contador → 2 en tu ejemplo\nlet numeroFila = items[0].json.Contador;\nlet ID_documento = items[0].json.ID_Documento;\n\n// 1. Accedemos al cuerpo real del pedido de Shopify, que está anidado.\nconst orderBody = $node['Webhook'].json.body[0].body; \n\n// 2. Extraemos los artículos de línea (productos) y la moneda.\nconst lineItems = orderBody.line_items;\nconst orderCurrency = orderBody.currency;\n\n// Iteramos sobre cada producto individual\nfor (const item of lineItems) {\n\n  const originalPrice = parseFloat(item.price);\n\n  let totalDiscountAmount = 0;\n  for (const allocation of item.discount_allocations) {\n    totalDiscountAmount += parseFloat(allocation.amount);\n  }\n\n  const finalPaidPrice = originalPrice - totalDiscountAmount;\n\n  // Creamos un nuevo objeto y añadimos \"numero_fila\"\n  outputItems.push({\n    json: {\n      ID_documento: ID_documento,\n      numero_fila: numeroFila,   // ← Nuevo campo\n      product_name: item.title,\n      sku: item.sku,\n      variant_title: item.variant_title,\n      original_price: originalPrice.toFixed(2),\n      total_discount_applied: totalDiscountAmount.toFixed(2),\n      final_paid_price: finalPaidPrice.toFixed(2),\n      currency: orderCurrency\n    }\n  });\n\n  // ↑ Incrementamos para el siguiente item\n  numeroFila++;\n}\n\n// Devolvemos el array con los nuevos objetos.\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -768
      ],
      "id": "9e8a8feb-92c7-440b-b194-4ee2d05fe221",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        -912
      ],
      "id": "5f0365d1-36ab-4077-a2dd-3552421b7e0d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31828549-6a33-4e8a-91ad-fdb9692a7e34",
              "name": "SUCURSAL DE VENTA",
              "value": "={{ $json.fulfillmentLocation }}",
              "type": "string"
            },
            {
              "id": "e89736ae-2f29-40c8-80b4-2181722ee3f5",
              "name": "METODO DE PAGO",
              "value": "={{ $json.transactionGateway }}",
              "type": "string"
            },
            {
              "id": "76140f31-efab-4a68-b737-53f04a9a7b81",
              "name": "COSTE DE PRODUCTO",
              "value": "={{ $json.product.original_price }}",
              "type": "string"
            },
            {
              "id": "d295df2e-e935-41ef-a2b1-7923cabd1a92",
              "name": "PRECIO PAGADO",
              "value": "={{ $json.product.final_paid_price }}",
              "type": "string"
            },
            {
              "id": "adb9ae5a-50d9-4923-b706-31a9a5b86e66",
              "name": "DESCUENTO",
              "value": "={{ $json.product.total_discount_applied }}",
              "type": "string"
            },
            {
              "id": "c2b11c61-81c1-4b6d-94ec-c55b6872e5e0",
              "name": "NOMBRE DE PRODUCTO",
              "value": "={{ $json.product.product_name }}",
              "type": "string"
            },
            {
              "id": "f7cbe128-fbe4-4bfb-b5ec-d7eed2f87b84",
              "name": "VARIANTE",
              "value": "={{ $json.product.variant_title }}",
              "type": "string"
            },
            {
              "id": "1e31a3b3-a073-4113-9047-95110c3d7987",
              "name": "NUMERO_FILA",
              "value": "={{ $json.product.numero_fila }}",
              "type": "number"
            },
            {
              "id": "e4c20adf-aa16-46e1-9851-3844e08241a6",
              "name": "ID_DOCUMENTO",
              "value": "={{ $json.product.ID_documento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -912
      ],
      "id": "6f545319-847f-4c62-8469-9e364d274988",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// La variable 'items' ahora contiene:\n// items[0] y items[1] = Detalles de los productos (ej. nombre, SKU, precios finales)\n// items[2] = Datos de la orden de Shopify (ej. ID, precios totales, cliente, transacciones)\n\n// 1. Verificar la longitud esperada. Ahora esperamos al menos 3 ítems (1 orden + 2 o más productos)\n// Para simplificar, asumiremos que los items de la orden están al final.\nif (items.length < 3) {\n  throw new Error(\"Se esperaban al menos 3 ítems de entrada (1 orden y al menos 2 productos).\");\n}\n\n// 2. Extraer los datos de la orden del último ítem que tiene la estructura de orden.\n// Asumimos que la ORDEN es el ítem items[2]\nconst orderItemIndex = items.findIndex(item => item.json && item.json.data && item.json.data.order);\n\nif (orderItemIndex === -1) {\n    throw new Error(\"No se encontró el ítem de la orden de Shopify en la entrada.\");\n}\n\nconst orderData = items[orderItemIndex].json.data.order;\n\n// 3. Extraer los detalles de los productos\n// Asumimos que los ítems del producto son todos los demás.\nconst productItems = items.filter((_, index) => index !== orderItemIndex);\n\n// Array para almacenar los nuevos ítems fusionados\nconst combinedItems = [];\n\n// 4. Crear un objeto de base con los datos de la orden (que son comunes a todos los productos)\nconst baseOrderData = {\n  id: orderData.id,\n  name: orderData.name,\n  createdAt: orderData.createdAt,\n  totalPrice: orderData.totalPriceSet?.shopMoney?.amount || 'N/A',\n  currencyCode: orderData.totalPriceSet?.shopMoney?.currencyCode || 'N/A',\n \n  // Datos del cliente\n  customer: orderData.customer,\n \n  // Datos de envío (uso encadenamiento opcional para evitar errores si no hay fulfillment)\n  fulfillmentLocation: orderData.fulfillments?.[0]?.location?.name || 'N/A',\n  fulfillmentAddress: orderData.fulfillments?.[0]?.location?.address || 'N/A',\n \n  // Datos de la transacción (uso encadenamiento opcional para evitar errores si no hay transacción)\n  transactionGateway: orderData.transactions?.[0]?.formattedGateway || 'N/A',\n  transactionKind: orderData.transactions?.[0]?.kind || 'N/A',\n  transactionStatus: orderData.transactions?.[0]?.status || 'N/A',\n};\n\n// 5. Iterar sobre cada ítem de producto y fusionarlo con los datos base de la orden\nfor (const productItem of productItems) {\n  // El detalle del producto se accede directamente a productItem.json\n  const productData = productItem.json;\n \n  const combinedItem = {\n    ...baseOrderData, // Incluye todos los datos de la orden\n \n    // --- Datos detallados del producto específico ---\n    product: {\n      ID_documento: productData.ID_documento,\n      numero_fila: productData.numero_fila,\n      product_name: productData.product_name,\n      sku: productData.sku,\n      variant_title: productData.variant_title,\n      original_price: productData.original_price,\n      total_discount_applied: productData.total_discount_applied,\n      final_paid_price: productData.final_paid_price,\n      currency: productData.currency\n    }\n  };\n \n  combinedItems.push({\n    json: combinedItem,\n  });\n}\n\n// 6. Devolver el array de nuevos ítems fusionados (uno por cada producto)\nreturn combinedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -912
      ],
      "id": "44c1b76f-eedb-42ae-bc71-e31442c0e5cc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ghO8HECzTZgPqOqM",
          "mode": "list",
          "cachedResultName": "InformeDiario",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/ghO8HECzTZgPqOqM"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Documento": "={{ $json.id }}",
            "Contador": 2
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Documento",
              "displayName": "ID_Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contador",
              "displayName": "Contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1168,
        -528
      ],
      "id": "05e63673-e364-4131-9bec-ac7e7f58eff3",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ghO8HECzTZgPqOqM",
          "mode": "list",
          "cachedResultName": "InformeDiario",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/ghO8HECzTZgPqOqM"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1440,
        -896
      ],
      "id": "0380bebf-1df7-437f-85d0-a3536c40472d",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.ID_DOCUMENTO }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19bvtVxQK6uMbxP2HZKgGEGM_KWyvJM3vLp1APRSSTEY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SUCURSAL DE VENTA": "={{ $json['SUCURSAL DE VENTA'] }}",
            "MÉTODO DE PAGO": "={{ $json['METODO DE PAGO'] }}",
            "COSTE DE PRODUCTO": "={{ $json['COSTE DE PRODUCTO'] }}",
            "PRECIO PAGADO": "={{ $json['PRECIO PAGADO'] }}",
            "DESCUENTO": "={{ $json.DESCUENTO }}",
            "NOMBRE DE PRODUCTO": "={{ $json['NOMBRE DE PRODUCTO'] }}",
            "VARIANTE": "={{ $json.VARIANTE }}",
            "row_number": "={{ $json.NUMERO_FILA }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "SUCURSAL DE VENTA",
              "displayName": "SUCURSAL DE VENTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COSTE DE PRODUCTO",
              "displayName": "COSTE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRECIO PAGADO",
              "displayName": "PRECIO PAGADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESCUENTO",
              "displayName": "DESCUENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE DE PRODUCTO",
              "displayName": "NOMBRE DE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VARIANTE",
              "displayName": "VARIANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SURFIN SIERRA NEVADA",
              "displayName": "SURFIN SIERRA NEVADA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tarjeta",
              "displayName": "Tarjeta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Efectivo",
              "displayName": "Efectivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOTAL",
              "displayName": "TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        -912
      ],
      "id": "56b5d05d-137f-4d64-9536-fc63537c088e",
      "name": "Update row in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ghO8HECzTZgPqOqM",
          "mode": "list",
          "cachedResultName": "InformeDiario",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/ghO8HECzTZgPqOqM"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Documento": "={{ $('Edit Fields').item.json.ID_DOCUMENTO }}",
            "Contador": "={{ $('Edit Fields').item.json.NUMERO_FILA  + 1}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Documento",
              "displayName": "ID_Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contador",
              "displayName": "Contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -128,
        -912
      ],
      "id": "4dfa361c-f4ee-490c-a9e9-651276b5c324",
      "name": "Update row(s)1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-12T07:24:14.685Z",
      "createdAt": "2025-12-12T07:24:14.685Z",
      "role": "workflow:owner",
      "workflowId": "TukzsIQAbmNh69ly",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-12-12T14:28:09.000Z",
  "versionId": "fe41fc50-0c50-452e-8071-53c54ac5bb7f"
}