workflows/UmKsPhbqKY4r9YDi9-dc0.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-22T11:28:43.000Z",
    "createdAt": "2026-01-22T11:28:41.586Z",
    "versionId": "9e31c851-2760-4e57-8d5e-93d2d8df80f0",
    "workflowId": "UmKsPhbqKY4r9YDi9-dc0",
    "nodes": [
      {
        "parameters": {
          "fieldToSplitOut": "body.users",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -624,
          80
        ],
        "id": "5b8d64d2-3fe0-49fd-a840-cafdc7ccea2c",
        "name": "Split Out"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1024,
          80
        ],
        "id": "e0a1f046-055a-4f3d-a413-8368ef29447d",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "=https://snowink.bizneohr.com/api/v1/users?page_size=25",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "SFMyNTY.g2gDdAAAAAJ3AmlkbQAAACRhMDZkZGIwNi03NjZjLTQ0ZDMtYTI1YS02MmZiMTUyNWMxZmZ3CmNvbXBhbnlfaWRiAO2ucG4GAF89AKebAWIAAVGA.w1Gue36eFFL5B9iPAWqon1Te_4w1rJr4zAVkhHcrfho"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            },
            "pagination": {
              "pagination": {
                "parameters": {
                  "parameters": [
                    {
                      "name": "page",
                      "value": "={{ $pageCount + 1 }}"
                    }
                  ]
                },
                "paginationCompleteWhen": "other",
                "completeExpression": "={{ $response.body.pagination.page_number >= $response.body.pagination.total_pages }}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -832,
          80
        ],
        "id": "be8b1ce9-2fed-4cfb-a935-5fbefcbc062c",
        "name": "Empleados Total - Bizneo",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtenemos la fecha actual y la ajustamos a las 00:00:00\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// Usamos .map() para modificar cada ítem y añadir las propiedades nuevas\nreturn $input.all().map(item => {\n    const employee = item.json;\n    \n    // ---------------------------------------------------------\n    // 1. LÓGICA DE VIGENCIA (Tu código original)\n    // ---------------------------------------------------------\n    const contracts = employee.work_contracts || [];\n\n    const hasActiveContract = contracts.some(contract => {\n        const startDate = new Date(contract.start_at);\n        startDate.setHours(0, 0, 0, 0);\n\n        // El contrato ya empezó\n        const isStarted = startDate <= today;\n\n        // El contrato no ha terminado\n        let isNotEnded = true;\n        if (contract.end_at !== null) {\n            const endDate = new Date(contract.end_at);\n            endDate.setHours(0, 0, 0, 0);\n            if (endDate < today) {\n                isNotEnded = false;\n            }\n        }\n        return isStarted && isNotEnded;\n    });\n\n    // Añadimos la variable de vigencia\n    employee.isVigente = hasActiveContract;\n\n\n    // ---------------------------------------------------------\n    // 2. LÓGICA DE PROFESORES (Nueva)\n    // ---------------------------------------------------------\n    const rawTaxons = employee.main_taxons || \"\";\n    \n    // A) Convertimos a Array para búsquedas EXACTAS (\"a secas\")\n    // Esto separa \"Snow Division\" de \"Snow Division Rental\"\n    const tagsArray = String(rawTaxons).split(',').map(tag => tag.trim());\n    \n    // B) Convertimos a minúsculas para búsquedas PARCIALES (\"contiene\")\n    const taxonsLower = String(rawTaxons).toLowerCase();\n\n    let esProfesor = false;\n\n    // Condición 1: Coincidencia EXACTA (A secas)\n    // Busca si la etiqueta exacta existe en la lista\n    if (tagsArray.includes(\"Club Surfin\") || tagsArray.includes(\"Snow Division\")) {\n        esProfesor = true;\n    }\n\n    // Condición 2: Coincidencia PARCIAL (Contiene)\n    // Busca si el texto aparece dentro de cualquier parte\n    if (taxonsLower.includes(\"club nieve\") || taxonsLower.includes(\"ski school\")) {\n        esProfesor = true;\n    }\n\n    // Añadimos la variable de profesor\n    employee.es_profesor = esProfesor;\n\n    return item;\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          80
        ],
        "id": "a2794c8e-cdcd-4757-90dd-d851641838d4",
        "name": "Empleados Vigentes - Bizneo"
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos el resultado de la búsqueda en Shopify (Input de este nodo)\nconst shopifyResults = $input.all();\n\n// 2. Obtenemos los datos de Bizneo desde el nodo \"If\"\n// IMPORTANTE: Asegúrate de haber ejecutado el nodo \"If\" anterior para que esto tenga datos\nconst bizneoResults = $(\"If\").all();\n\nconst missingEmployees = [];\n\n// 3. Recorremos los resultados línea a línea\nshopifyResults.forEach((item, index) => {\n    // a) Revisamos si Shopify devolvió datos (edges vacío = no existe cuenta)\n    const edges = item.json.data?.customers?.edges;\n    \n    // b) Recuperamos los datos del empleado de Bizneo correspondiente (mismo índice)\n    const bizneoData = bizneoResults[index] ? bizneoResults[index].json : {};\n\n    // CONDICIÓN:\n    // Si 'edges' está vacío o es nulo, significa que el correo NO existe en Shopify.\n    if (!edges || edges.length === 0) {\n        \n        // --- LÓGICA DE DETECCIÓN DE PROFESOR ---\n        const rawTaxons = bizneoData.main_taxons || \"\";\n        \n        // 1. Convertimos a Array para búsquedas EXACTAS (\"a secas\")\n        // Separa \"Snow Division\" de \"Snow Division Rental\"\n        const tagsArray = String(rawTaxons).split(',').map(tag => tag.trim());\n        \n        // 2. Convertimos a minúsculas para búsquedas PARCIALES (\"contiene\")\n        const taxonsLower = String(rawTaxons).toLowerCase();\n\n        let esProfesor = false;\n\n        // A) Coincidencia Exacta\n        if (tagsArray.includes(\"Club Surfin\") || tagsArray.includes(\"Snow Division\")) {\n            esProfesor = true;\n        }\n\n        // B) Coincidencia Parcial\n        if (taxonsLower.includes(\"club nieve\") || taxonsLower.includes(\"ski school\")) {\n            esProfesor = true;\n        }\n        // ----------------------------------------\n        \n        // Agregamos a la lista final para crear\n        missingEmployees.push({\n            json: {\n                // Pasamos los datos limpios de Bizneo\n                first_name: bizneoData.first_name,\n                last_name: bizneoData.last_name,\n                email: bizneoData.email,\n                id_bizneo: bizneoData.id,\n                external_id: bizneoData.external_id,\n                \n                // Variable NUEVA para el siguiente IF\n                es_profesor: esProfesor, \n                main_taxons: rawTaxons, // (Opcional) Por si quieres revisar qué etiquetas tenía\n\n                // Debug info\n                check_status: \"Vigente en Bizneo, No existe en Shopify\"\n            }\n        });\n    }\n});\n\nreturn missingEmployees;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          288,
          -32
        ],
        "id": "9e9d34eb-5b24-404c-9437-9176ba482c1c",
        "name": "No existe en Shopify"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "=query ($searchTerm: String!) {\n  customers(first: 10, query: $searchTerm) {\n    edges {\n      node {\n        id\n        email\n        tags\n        state\n      }\n    }\n  }\n}",
          "variables": "={\n  \"searchTerm\": \"email:{{ $json.email }}\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          -16,
          -32
        ],
        "id": "4b597a8d-2500-4b02-82f7-92ba8b7ad67e",
        "name": "Coincidencias con Shopify",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "mutation customerCreate($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      email\n      firstName\n      lastName\n      tags\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $json.first_name }}\",\n    \"lastName\": \"{{ $json.last_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"tags\": [\"Empleado,DescuentoEmpleado,Profesor,DescuentoProfesor\"]\n  }\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          704,
          -128
        ],
        "id": "81d406ea-fa34-44fd-a0d6-ff373a05db8b",
        "name": "Crear Clientes en Shopify",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "49060fd7-75f1-49d7-a819-efbde25f8788",
                "leftValue": "={{ $json.isVigente }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -208,
          80
        ],
        "id": "7aa7bd62-5c25-40f7-b3b3-1942b11580fe",
        "name": "If"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "=query ($searchTerm: String!) {\n  customers(first: 10, query: $searchTerm) {\n    edges {\n      node {\n        id\n        email\n        tags\n        state\n      }\n    }\n  }\n}",
          "variables": "={\n  \"searchTerm\": \"email:{{ $json.email }}\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          -16,
          288
        ],
        "id": "f5ffdb7b-56d0-40a3-a54e-d93d02197937",
        "name": "Coincidencias con Shopify1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos los resultados de la búsqueda de Shopify (Input de este nodo)\nconst shopifyResults = $input.all();\n\n// 2. Obtenemos los datos de Bizneo desde el nodo \"If\"\n// Esto nos trae los datos originales de la rama FALSE (No vigentes)\nconst bizneoResults = $(\"If\").all();\n\nconst foundEmployees = [];\n\n// 3. Recorremos los resultados\nshopifyResults.forEach((item, index) => {\n    // a) Datos devueltos por Shopify\n    const edges = item.json.data?.customers?.edges;\n    \n    // b) Datos originales de Bizneo (para tener nombres y referencia)\n    const bizneoData = bizneoResults[index] ? bizneoResults[index].json : {};\n\n    // CONDICIÓN 1: ¿Existe el cliente en Shopify?\n    if (edges && edges.length > 0) {\n        \n        const shopifyCustomer = edges[0].node;\n        const currentTags = shopifyCustomer.tags || [];\n\n        // CONDICIÓN 2: ¿Tiene las etiquetas peligrosas?\n        // Verificamos si incluye \"Empleado\" O \"DescuentoEmpleado\"\n        const isTaggedAsEmployee = currentTags.includes(\"Empleado\");\n        const isTaggedAsDiscount = currentTags.includes(\"DescuentoEmpleado\");\n\n        // Solo procesamos si cumple la condición de etiquetas\n        if (isTaggedAsEmployee || isTaggedAsDiscount) {\n            foundEmployees.push({\n                json: {\n                    // ID necesario para el siguiente nodo (quitar etiquetas)\n                    shopify_id: shopifyCustomer.id,\n                    shopify_email: shopifyCustomer.email,\n                    current_tags: currentTags,\n                    \n                    // Datos informativos de Bizneo\n                    first_name: bizneoData.first_name,\n                    last_name: bizneoData.last_name,\n                    email: bizneoData.email,\n                    id_bizneo: bizneoData.id,\n                    \n                    // Razón para el log\n                    reason: \"Ex-empleado con cuenta y etiquetas activas en Shopify\"\n                }\n            });\n        }\n    }\n});\n\nreturn foundEmployees;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          288,
          288
        ],
        "id": "2a1a8e87-752b-4cd3-8a5c-77c852d451e1",
        "name": "Existe en Shopify"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "mutation removeEmployeeTag($id: ID!, $tags: [String!]!) {\n  tagsRemove(id: $id, tags: $tags) {\n    node {\n      id\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={\n  \"id\": \"{{ $json.shopify_id }}\",\n  \"tags\": [\"Profesor,DescuentoProfesor\"]\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          640,
          288
        ],
        "id": "f4ea09c5-285f-4b49-bd67-2ad2893c6692",
        "name": "Quitar etiqueta del Cliente",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      },
      {
        "parameters": {
          "content": "## Empleados Vigente y No Vigentes\n**Se capta la información desde Bizneo**",
          "height": 608,
          "width": 944,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1056,
          -144
        ],
        "id": "a0972494-5d92-4f72-aca7-5c0c9bf6d429",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Es vigente\n**Si no tiene cuenta de Shopify la crea con sus etiquetas**",
          "height": 288,
          "width": 992,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -112,
          -144
        ],
        "id": "c27b46fb-631e-46c5-9f77-fd631ed84876",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## No es vigente\n**Si tiene cuenta le quita las etiquetas de Empleado**",
          "height": 304,
          "width": 992,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -112,
          160
        ],
        "id": "c0fbf6d1-16f2-4c51-a344-286cc81a2eed",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "abac58b3-f12a-4b36-99b8-24af323f8638",
                "leftValue": "={{ $json.es_profesor }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          496,
          -32
        ],
        "id": "ac28b707-f0d7-4df4-ba6f-9332609c8150",
        "name": "If1"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
          "query": "mutation customerCreate($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      email\n      firstName\n      lastName\n      tags\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $json.first_name }}\",\n    \"lastName\": \"{{ $json.last_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"tags\": [\"Empleado,DescuentoEmpleado\"]\n  }\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          704,
          16
        ],
        "id": "d7b71dec-7e1b-4728-b4b0-8567123d370f",
        "name": "Crear Clientes en Shopify1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OPt2Cl0dnwcU4qRk",
            "name": "ShopifyInformes"
          }
        }
      }
    ],
    "connections": {
      "Split Out": {
        "main": [
          [
            {
              "node": "Empleados Vigentes - Bizneo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Empleados Total - Bizneo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Empleados Total - Bizneo": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Empleados Vigentes - Bizneo": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No existe en Shopify": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Coincidencias con Shopify": {
        "main": [
          [
            {
              "node": "No existe en Shopify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Coincidencias con Shopify",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Coincidencias con Shopify1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Coincidencias con Shopify1": {
        "main": [
          [
            {
              "node": "Existe en Shopify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Existe en Shopify": {
        "main": [
          [
            {
              "node": "Quitar etiqueta del Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Crear Clientes en Shopify",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Crear Clientes en Shopify1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Info Tailwind",
    "name": "Version 9e31c851",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "9e31c851-2760-4e57-8d5e-93d2d8df80f0",
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Empleados Vigentes - Bizneo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Empleados Total - Bizneo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empleados Total - Bizneo": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empleados Vigentes - Bizneo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No existe en Shopify": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coincidencias con Shopify": {
      "main": [
        [
          {
            "node": "No existe en Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Coincidencias con Shopify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coincidencias con Shopify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coincidencias con Shopify1": {
      "main": [
        [
          {
            "node": "Existe en Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe en Shopify": {
      "main": [
        [
          {
            "node": "Quitar etiqueta del Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Crear Clientes en Shopify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Clientes en Shopify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T08:03:27.792Z",
  "id": "UmKsPhbqKY4r9YDi9-dc0",
  "isArchived": false,
  "meta": null,
  "name": "Employed Bizneo->ShopifyAccount",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "body.users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -624,
        80
      ],
      "id": "5b8d64d2-3fe0-49fd-a840-cafdc7ccea2c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1024,
        80
      ],
      "id": "e0a1f046-055a-4f3d-a413-8368ef29447d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://snowink.bizneohr.com/api/v1/users?page_size=25",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "SFMyNTY.g2gDdAAAAAJ3AmlkbQAAACRhMDZkZGIwNi03NjZjLTQ0ZDMtYTI1YS02MmZiMTUyNWMxZmZ3CmNvbXBhbnlfaWRiAO2ucG4GAF89AKebAWIAAVGA.w1Gue36eFFL5B9iPAWqon1Te_4w1rJr4zAVkhHcrfho"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.pagination.page_number >= $response.body.pagination.total_pages }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        80
      ],
      "id": "be8b1ce9-2fed-4cfb-a935-5fbefcbc062c",
      "name": "Empleados Total - Bizneo",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos la fecha actual y la ajustamos a las 00:00:00\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// Usamos .map() para modificar cada ítem y añadir las propiedades nuevas\nreturn $input.all().map(item => {\n    const employee = item.json;\n    \n    // ---------------------------------------------------------\n    // 1. LÓGICA DE VIGENCIA (Tu código original)\n    // ---------------------------------------------------------\n    const contracts = employee.work_contracts || [];\n\n    const hasActiveContract = contracts.some(contract => {\n        const startDate = new Date(contract.start_at);\n        startDate.setHours(0, 0, 0, 0);\n\n        // El contrato ya empezó\n        const isStarted = startDate <= today;\n\n        // El contrato no ha terminado\n        let isNotEnded = true;\n        if (contract.end_at !== null) {\n            const endDate = new Date(contract.end_at);\n            endDate.setHours(0, 0, 0, 0);\n            if (endDate < today) {\n                isNotEnded = false;\n            }\n        }\n        return isStarted && isNotEnded;\n    });\n\n    // Añadimos la variable de vigencia\n    employee.isVigente = hasActiveContract;\n\n\n    // ---------------------------------------------------------\n    // 2. LÓGICA DE PROFESORES (Nueva)\n    // ---------------------------------------------------------\n    const rawTaxons = employee.main_taxons || \"\";\n    \n    // A) Convertimos a Array para búsquedas EXACTAS (\"a secas\")\n    // Esto separa \"Snow Division\" de \"Snow Division Rental\"\n    const tagsArray = String(rawTaxons).split(',').map(tag => tag.trim());\n    \n    // B) Convertimos a minúsculas para búsquedas PARCIALES (\"contiene\")\n    const taxonsLower = String(rawTaxons).toLowerCase();\n\n    let esProfesor = false;\n\n    // Condición 1: Coincidencia EXACTA (A secas)\n    // Busca si la etiqueta exacta existe en la lista\n    if (tagsArray.includes(\"Club Surfin\") || tagsArray.includes(\"Snow Division\")) {\n        esProfesor = true;\n    }\n\n    // Condición 2: Coincidencia PARCIAL (Contiene)\n    // Busca si el texto aparece dentro de cualquier parte\n    if (taxonsLower.includes(\"club nieve\") || taxonsLower.includes(\"ski school\")) {\n        esProfesor = true;\n    }\n\n    // Añadimos la variable de profesor\n    employee.es_profesor = esProfesor;\n\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        80
      ],
      "id": "a2794c8e-cdcd-4757-90dd-d851641838d4",
      "name": "Empleados Vigentes - Bizneo"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el resultado de la búsqueda en Shopify (Input de este nodo)\nconst shopifyResults = $input.all();\n\n// 2. Obtenemos los datos de Bizneo desde el nodo \"If\"\n// IMPORTANTE: Asegúrate de haber ejecutado el nodo \"If\" anterior para que esto tenga datos\nconst bizneoResults = $(\"If\").all();\n\nconst missingEmployees = [];\n\n// 3. Recorremos los resultados línea a línea\nshopifyResults.forEach((item, index) => {\n    // a) Revisamos si Shopify devolvió datos (edges vacío = no existe cuenta)\n    const edges = item.json.data?.customers?.edges;\n    \n    // b) Recuperamos los datos del empleado de Bizneo correspondiente (mismo índice)\n    const bizneoData = bizneoResults[index] ? bizneoResults[index].json : {};\n\n    // CONDICIÓN:\n    // Si 'edges' está vacío o es nulo, significa que el correo NO existe en Shopify.\n    if (!edges || edges.length === 0) {\n        \n        // --- LÓGICA DE DETECCIÓN DE PROFESOR ---\n        const rawTaxons = bizneoData.main_taxons || \"\";\n        \n        // 1. Convertimos a Array para búsquedas EXACTAS (\"a secas\")\n        // Separa \"Snow Division\" de \"Snow Division Rental\"\n        const tagsArray = String(rawTaxons).split(',').map(tag => tag.trim());\n        \n        // 2. Convertimos a minúsculas para búsquedas PARCIALES (\"contiene\")\n        const taxonsLower = String(rawTaxons).toLowerCase();\n\n        let esProfesor = false;\n\n        // A) Coincidencia Exacta\n        if (tagsArray.includes(\"Club Surfin\") || tagsArray.includes(\"Snow Division\")) {\n            esProfesor = true;\n        }\n\n        // B) Coincidencia Parcial\n        if (taxonsLower.includes(\"club nieve\") || taxonsLower.includes(\"ski school\")) {\n            esProfesor = true;\n        }\n        // ----------------------------------------\n        \n        // Agregamos a la lista final para crear\n        missingEmployees.push({\n            json: {\n                // Pasamos los datos limpios de Bizneo\n                first_name: bizneoData.first_name,\n                last_name: bizneoData.last_name,\n                email: bizneoData.email,\n                id_bizneo: bizneoData.id,\n                external_id: bizneoData.external_id,\n                \n                // Variable NUEVA para el siguiente IF\n                es_profesor: esProfesor, \n                main_taxons: rawTaxons, // (Opcional) Por si quieres revisar qué etiquetas tenía\n\n                // Debug info\n                check_status: \"Vigente en Bizneo, No existe en Shopify\"\n            }\n        });\n    }\n});\n\nreturn missingEmployees;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -32
      ],
      "id": "9e9d34eb-5b24-404c-9437-9176ba482c1c",
      "name": "No existe en Shopify"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query ($searchTerm: String!) {\n  customers(first: 10, query: $searchTerm) {\n    edges {\n      node {\n        id\n        email\n        tags\n        state\n      }\n    }\n  }\n}",
        "variables": "={\n  \"searchTerm\": \"email:{{ $json.email }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -16,
        -32
      ],
      "id": "4b597a8d-2500-4b02-82f7-92ba8b7ad67e",
      "name": "Coincidencias con Shopify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "mutation customerCreate($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      email\n      firstName\n      lastName\n      tags\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $json.first_name }}\",\n    \"lastName\": \"{{ $json.last_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"tags\": [\"Empleado,DescuentoEmpleado,Profesor,DescuentoProfesor\"]\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        704,
        -128
      ],
      "id": "81d406ea-fa34-44fd-a0d6-ff373a05db8b",
      "name": "Crear Clientes en Shopify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49060fd7-75f1-49d7-a819-efbde25f8788",
              "leftValue": "={{ $json.isVigente }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        80
      ],
      "id": "7aa7bd62-5c25-40f7-b3b3-1942b11580fe",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "=query ($searchTerm: String!) {\n  customers(first: 10, query: $searchTerm) {\n    edges {\n      node {\n        id\n        email\n        tags\n        state\n      }\n    }\n  }\n}",
        "variables": "={\n  \"searchTerm\": \"email:{{ $json.email }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -16,
        288
      ],
      "id": "f5ffdb7b-56d0-40a3-a54e-d93d02197937",
      "name": "Coincidencias con Shopify1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos los resultados de la búsqueda de Shopify (Input de este nodo)\nconst shopifyResults = $input.all();\n\n// 2. Obtenemos los datos de Bizneo desde el nodo \"If\"\n// Esto nos trae los datos originales de la rama FALSE (No vigentes)\nconst bizneoResults = $(\"If\").all();\n\nconst foundEmployees = [];\n\n// 3. Recorremos los resultados\nshopifyResults.forEach((item, index) => {\n    // a) Datos devueltos por Shopify\n    const edges = item.json.data?.customers?.edges;\n    \n    // b) Datos originales de Bizneo (para tener nombres y referencia)\n    const bizneoData = bizneoResults[index] ? bizneoResults[index].json : {};\n\n    // CONDICIÓN 1: ¿Existe el cliente en Shopify?\n    if (edges && edges.length > 0) {\n        \n        const shopifyCustomer = edges[0].node;\n        const currentTags = shopifyCustomer.tags || [];\n\n        // CONDICIÓN 2: ¿Tiene las etiquetas peligrosas?\n        // Verificamos si incluye \"Empleado\" O \"DescuentoEmpleado\"\n        const isTaggedAsEmployee = currentTags.includes(\"Empleado\");\n        const isTaggedAsDiscount = currentTags.includes(\"DescuentoEmpleado\");\n\n        // Solo procesamos si cumple la condición de etiquetas\n        if (isTaggedAsEmployee || isTaggedAsDiscount) {\n            foundEmployees.push({\n                json: {\n                    // ID necesario para el siguiente nodo (quitar etiquetas)\n                    shopify_id: shopifyCustomer.id,\n                    shopify_email: shopifyCustomer.email,\n                    current_tags: currentTags,\n                    \n                    // Datos informativos de Bizneo\n                    first_name: bizneoData.first_name,\n                    last_name: bizneoData.last_name,\n                    email: bizneoData.email,\n                    id_bizneo: bizneoData.id,\n                    \n                    // Razón para el log\n                    reason: \"Ex-empleado con cuenta y etiquetas activas en Shopify\"\n                }\n            });\n        }\n    }\n});\n\nreturn foundEmployees;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        288
      ],
      "id": "2a1a8e87-752b-4cd3-8a5c-77c852d451e1",
      "name": "Existe en Shopify"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "mutation removeEmployeeTag($id: ID!, $tags: [String!]!) {\n  tagsRemove(id: $id, tags: $tags) {\n    node {\n      id\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"id\": \"{{ $json.shopify_id }}\",\n  \"tags\": [\"Profesor,DescuentoProfesor\"]\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        640,
        288
      ],
      "id": "f4ea09c5-285f-4b49-bd67-2ad2893c6692",
      "name": "Quitar etiqueta del Cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    },
    {
      "parameters": {
        "content": "## Empleados Vigente y No Vigentes\n**Se capta la información desde Bizneo**",
        "height": 608,
        "width": 944,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        -144
      ],
      "id": "a0972494-5d92-4f72-aca7-5c0c9bf6d429",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Es vigente\n**Si no tiene cuenta de Shopify la crea con sus etiquetas**",
        "height": 288,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -144
      ],
      "id": "c27b46fb-631e-46c5-9f77-fd631ed84876",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## No es vigente\n**Si tiene cuenta le quita las etiquetas de Empleado**",
        "height": 304,
        "width": 992,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        160
      ],
      "id": "c0fbf6d1-16f2-4c51-a344-286cc81a2eed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "abac58b3-f12a-4b36-99b8-24af323f8638",
              "leftValue": "={{ $json.es_profesor }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -32
      ],
      "id": "ac28b707-f0d7-4df4-ba6f-9332609c8150",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://rulesshop.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "mutation customerCreate($input: CustomerInput!) {\n  customerCreate(input: $input) {\n    customer {\n      id\n      email\n      firstName\n      lastName\n      tags\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"firstName\": \"{{ $json.first_name }}\",\n    \"lastName\": \"{{ $json.last_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"tags\": [\"Empleado,DescuentoEmpleado\"]\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        704,
        16
      ],
      "id": "d7b71dec-7e1b-4728-b4b0-8567123d370f",
      "name": "Crear Clientes en Shopify1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPt2Cl0dnwcU4qRk",
          "name": "ShopifyInformes"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-14T08:03:27.797Z",
      "createdAt": "2026-01-14T08:03:27.797Z",
      "role": "workflow:owner",
      "workflowId": "UmKsPhbqKY4r9YDi9-dc0",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-22T11:28:41.585Z",
  "versionId": "9e31c851-2760-4e57-8d5e-93d2d8df80f0"
}