workflows/w-RU5Hf3E5dGdfoEehEiU.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-27T13:27:44.000Z",
    "createdAt": "2026-02-27T13:04:23.688Z",
    "versionId": "77df26bb-19e2-423f-915d-e6863e4ad3a5",
    "workflowId": "w-RU5Hf3E5dGdfoEehEiU",
    "nodes": [
      {
        "parameters": {
          "path": "pruebas",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -720,
          32
        ],
        "id": "1cafc3e4-f45c-4070-9c57-c27ca8c010b6",
        "name": "Webhook",
        "webhookId": "c8c64e21-2835-4f94-811e-c0ed5a4a732a"
      },
      {
        "parameters": {
          "type": "SHA256",
          "value": "={{ $json.query.dato }}"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1,
        "position": [
          -512,
          32
        ],
        "id": "5043d2aa-e9db-4996-8861-eafad0135307",
        "name": "Crypto"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1h2dWdwrYNPVp3rCbez_W0NHr2jYOKOkdFr3LQLnfOkI",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h2dWdwrYNPVp3rCbez_W0NHr2jYOKOkdFr3LQLnfOkI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "CORREO": "={{ $json.query.dato }}",
              "VALOR": "={{ $json.data }}"
            },
            "matchingColumns": [
              "CORREO"
            ],
            "schema": [
              {
                "id": "CORREO",
                "displayName": "CORREO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "VALOR",
                "displayName": "VALOR",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -304,
          32
        ],
        "id": "4ac6b8b3-9ada-41bb-a28b-abe07a382ace",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RCuKUCifcA4jENcY",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crypto": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version 77df26bb",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "77df26bb-19e2-423f-915d-e6863e4ad3a5",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-20T09:50:48.555Z",
  "id": "w-RU5Hf3E5dGdfoEehEiU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "pruebas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        32
      ],
      "id": "1cafc3e4-f45c-4070-9c57-c27ca8c010b6",
      "name": "Webhook",
      "webhookId": "c8c64e21-2835-4f94-811e-c0ed5a4a732a"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.query.dato }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -512,
        32
      ],
      "id": "5043d2aa-e9db-4996-8861-eafad0135307",
      "name": "Crypto"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1h2dWdwrYNPVp3rCbez_W0NHr2jYOKOkdFr3LQLnfOkI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h2dWdwrYNPVp3rCbez_W0NHr2jYOKOkdFr3LQLnfOkI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CORREO": "={{ $json.query.dato }}",
            "VALOR": "={{ $json.data }}"
          },
          "matchingColumns": [
            "CORREO"
          ],
          "schema": [
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        32
      ],
      "id": "4ac6b8b3-9ada-41bb-a28b-abe07a382ace",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-20T09:50:48.557Z",
      "createdAt": "2026-02-20T09:50:48.557Z",
      "role": "workflow:owner",
      "workflowId": "w-RU5Hf3E5dGdfoEehEiU",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-27T13:04:23.687Z",
  "versionId": "77df26bb-19e2-423f-915d-e6863e4ad3a5"
}