workflows/w-RU5Hf3E5dGdfoEehEiU.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-20T11:32:15.000Z",
    "createdAt": "2026-02-20T11:32:06.124Z",
    "versionId": "5f81594e-1701-4ff7-922e-260bd6b19c8a",
    "workflowId": "w-RU5Hf3E5dGdfoEehEiU",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "venta-descuento-10",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -432,
          -32
        ],
        "id": "5e6bf4fa-d61a-4e4d-aef1-a030e4f0b44b",
        "name": "Webhook",
        "webhookId": "fc370335-6590-4a3d-b62b-0852762ee699"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "Descuetos_Omnicanal",
            "mode": "list",
            "cachedResultName": "Descuetos_Omnicanal"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sucursal_rules-shop-oakley": false,
              "sucursal_rules-shop-thenorthface": false,
              "sucursal_rules-shop": false,
              "sucursal_surfin": false,
              "sucursal_nuance": false,
              "sucursal_nuance-lodge": false,
              "sucursal_melia": false,
              "order_id": "={{ $json.body.id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "order_id",
                "displayName": "order_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sucursal_rules-shop-oakley",
                "displayName": "sucursal_rules-shop-oakley",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "sucursal_rules-shop-thenorthface",
                "displayName": "sucursal_rules-shop-thenorthface",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "sucursal_rules-shop",
                "displayName": "sucursal_rules-shop",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "sucursal_surfin",
                "displayName": "sucursal_surfin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "sucursal_nuance",
                "displayName": "sucursal_nuance",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "sucursal_nuance-lodge",
                "displayName": "sucursal_nuance-lodge",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "sucursal_melia",
                "displayName": "sucursal_melia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "create_at",
                "displayName": "create_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -224,
          -32
        ],
        "id": "75715a48-671b-448f-a854-836635ebba23",
        "name": "Insert rows in a table",
        "credentials": {
          "postgres": {
            "id": "UPETCYNZNCReuZu8",
            "name": "Postgres Supabase"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "comprobar-descuento",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -432,
          160
        ],
        "id": "d8f19087-dc88-4a20-bde8-69ace6eddd48",
        "name": "Webhook1",
        "webhookId": "50c188b1-6932-4318-819d-6a619e098c8d"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Validar Descuento</title>\n    <style>\n        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; background-color: #f4f6f8; }\n        button { display: block; width: 80%; margin: 10px auto; padding: 15px; font-size: 18px; border-radius: 8px; border: none; background-color: #000; color: white; cursor: pointer; }\n        .success { color: #28a745; font-size: 40px; font-weight: bold; }\n        .error { color: #dc3545; font-size: 40px; font-weight: bold; }\n    </style>\n</head>\n<body>\n\n    <div id=\"setup\" style=\"display:none;\">\n        <h3>Configuración Inicial (Solo 1 vez)</h3>\n        <p>¿Qué sucursal es esta tablet?</p>\n        <button onclick=\"guardarSucursal('sucursal_rules-shop-oakley')\">Oakley</button>\n        <button onclick=\"guardarSucursal('sucursal_rules-shop-thenorthface')\">The North Face</button>\n        <button onclick=\"guardarSucursal('sucursal_rules-shop')\">Rules Shop</button>\n        <button onclick=\"guardarSucursal('sucursal_surfin')\">Surfin</button>\n        <button onclick=\"guardarSucursal('sucursal_nuance')\">Nuance</button>\n        <button onclick=\"guardarSucursal('sucursal_nuance-lodge')\">Nuance Lodge</button>\n        <button onclick=\"guardarSucursal('sucursal_melia')\">Melia</button>\n    </div>\n\n    <div id=\"loading\"><h2>Validando...</h2></div>\n    <div id=\"result\"></div>\n\n    <script>\n        const urlParams = new URLSearchParams(window.location.search);\n        const orden = urlParams.get('orden');\n        let sucursalGuardada = localStorage.getItem('mi_sucursal');\n\n        if (!sucursalGuardada) {\n            document.getElementById('setup').style.display = 'block';\n            document.getElementById('loading').style.display = 'none';\n        } else {\n            enviarValidacion(orden, sucursalGuardada);\n        }\n\n        function guardarSucursal(nombreSucursal) {\n            localStorage.setItem('mi_sucursal', nombreSucursal);\n            document.getElementById('setup').style.display = 'none';\n            document.getElementById('loading').style.display = 'block';\n            enviarValidacion(orden, nombreSucursal);\n        }\n\n        function enviarValidacion(ordenId, sucursalId) {\n            // REEMPLAZA ESTA URL POR LA DE TU WEBHOOK 2 (comprobar-descuento)\n            fetch('https://n8n.tailwind.es/webhook/comprobar-descuento', {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({ orden: ordenId, sucursal: sucursalId })\n            })\n            .then(res => res.json())\n            .then(data => {\n                document.getElementById('loading').style.display = 'none';\n                let div = document.getElementById('result');\n                if(data.status === 'VALIDO') {\n                    div.innerHTML = '<div class=\"success\">✅ VÁLIDO</div><p>Aplica 10% en caja.</p>';\n                } else {\n                    div.innerHTML = '<div class=\"error\">❌ INVÁLIDO</div><p>Este cliente ya usó la promoción aquí o el código no existe.</p>';\n                }\n            })\n            .catch(err => alert(\"Error de conexión.\"));\n        }\n    </script>\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -224,
          160
        ],
        "id": "5e116370-621e-4035-8c7e-629eb74332a1",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "Descuetos_Omnicanal",
            "mode": "list",
            "cachedResultName": "Descuetos_Omnicanal"
          },
          "where": {
            "values": [
              {
                "column": "order_id",
                "value": "={{ $json.body.orden }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -16,
          160
        ],
        "id": "1ba7c7bc-32e5-45d2-a48c-b74170389604",
        "name": "Select rows from a table",
        "credentials": {
          "postgres": {
            "id": "UPETCYNZNCReuZu8",
            "name": "Postgres Supabase"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Insert rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert rows in a table": {
        "main": [
          []
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version 5f81594e",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "5f81594e-1701-4ff7-922e-260bd6b19c8a",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-20T09:50:48.555Z",
  "id": "w-RU5Hf3E5dGdfoEehEiU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "venta-descuento-10",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -32
      ],
      "id": "5e6bf4fa-d61a-4e4d-aef1-a030e4f0b44b",
      "name": "Webhook",
      "webhookId": "fc370335-6590-4a3d-b62b-0852762ee699"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Descuetos_Omnicanal",
          "mode": "list",
          "cachedResultName": "Descuetos_Omnicanal"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sucursal_rules-shop-oakley": false,
            "sucursal_rules-shop-thenorthface": false,
            "sucursal_rules-shop": false,
            "sucursal_surfin": false,
            "sucursal_nuance": false,
            "sucursal_nuance-lodge": false,
            "sucursal_melia": false,
            "order_id": "={{ $json.body.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal_rules-shop-oakley",
              "displayName": "sucursal_rules-shop-oakley",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal_rules-shop-thenorthface",
              "displayName": "sucursal_rules-shop-thenorthface",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal_rules-shop",
              "displayName": "sucursal_rules-shop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal_surfin",
              "displayName": "sucursal_surfin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal_nuance",
              "displayName": "sucursal_nuance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal_nuance-lodge",
              "displayName": "sucursal_nuance-lodge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal_melia",
              "displayName": "sucursal_melia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_at",
              "displayName": "create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        -32
      ],
      "id": "75715a48-671b-448f-a854-836635ebba23",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "UPETCYNZNCReuZu8",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "path": "validar-qr",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        160
      ],
      "id": "d8f19087-dc88-4a20-bde8-69ace6eddd48",
      "name": "Webhook1",
      "webhookId": "50c188b1-6932-4318-819d-6a619e098c8d"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Validar Descuento</title>\n    <style>\n        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; background-color: #f4f6f8; }\n        button { display: block; width: 80%; margin: 10px auto; padding: 15px; font-size: 18px; border-radius: 8px; border: none; background-color: #000; color: white; cursor: pointer; }\n        .success { color: #28a745; font-size: 40px; font-weight: bold; }\n        .error { color: #dc3545; font-size: 40px; font-weight: bold; }\n    </style>\n</head>\n<body>\n\n    <div id=\"setup\" style=\"display:none;\">\n        <h3>Configuración Inicial (Solo 1 vez)</h3>\n        <p>¿Qué sucursal es esta tablet?</p>\n        <button onclick=\"guardarSucursal('sucursal_rules-shop-oakley')\">Oakley</button>\n        <button onclick=\"guardarSucursal('sucursal_rules-shop-thenorthface')\">The North Face</button>\n        <button onclick=\"guardarSucursal('sucursal_rules-shop')\">Rules Shop</button>\n        <button onclick=\"guardarSucursal('sucursal_surfin')\">Surfin</button>\n        <button onclick=\"guardarSucursal('sucursal_nuance')\">Nuance</button>\n        <button onclick=\"guardarSucursal('sucursal_nuance-lodge')\">Nuance Lodge</button>\n        <button onclick=\"guardarSucursal('sucursal_melia')\">Melia</button>\n    </div>\n\n    <div id=\"loading\"><h2>Validando...</h2></div>\n    <div id=\"result\"></div>\n\n    <script>\n        const urlParams = new URLSearchParams(window.location.search);\n        const orden = urlParams.get('orden');\n        let sucursalGuardada = localStorage.getItem('mi_sucursal');\n\n        if (!sucursalGuardada) {\n            document.getElementById('setup').style.display = 'block';\n            document.getElementById('loading').style.display = 'none';\n        } else {\n            enviarValidacion(orden, sucursalGuardada);\n        }\n\n        function guardarSucursal(nombreSucursal) {\n            localStorage.setItem('mi_sucursal', nombreSucursal);\n            document.getElementById('setup').style.display = 'none';\n            document.getElementById('loading').style.display = 'block';\n            enviarValidacion(orden, nombreSucursal);\n        }\n\n        function enviarValidacion(ordenId, sucursalId) {\n            // REEMPLAZA ESTA URL POR LA DE TU WEBHOOK 2 (comprobar-descuento)\n            fetch('https://n8n.tailwind.es/webhook/comprobar-descuento', {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({ orden: ordenId, sucursal: sucursalId })\n            })\n            .then(res => res.json())\n            .then(data => {\n                document.getElementById('loading').style.display = 'none';\n                let div = document.getElementById('result');\n                if(data.status === 'VALIDO') {\n                    div.innerHTML = '<div class=\"success\">✅ VÁLIDO</div><p>Aplica 10% en caja.</p>';\n                } else {\n                    div.innerHTML = '<div class=\"error\">❌ INVÁLIDO</div><p>Este cliente ya usó la promoción aquí o el código no existe.</p>';\n                }\n            })\n            .catch(err => alert(\"Error de conexión.\"));\n        }\n    </script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -224,
        160
      ],
      "id": "5e116370-621e-4035-8c7e-629eb74332a1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Descuetos_Omnicanal",
          "mode": "list",
          "cachedResultName": "Descuetos_Omnicanal"
        },
        "where": {
          "values": [
            {
              "column": "order_id",
              "value": "={{ $json.body.orden }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        352
      ],
      "id": "1ba7c7bc-32e5-45d2-a48c-b74170389604",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "UPETCYNZNCReuZu8",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comprobar-descuento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        352
      ],
      "id": "a170fc5f-c398-4822-bfb5-f9bcbc86ce02",
      "name": "Webhook2",
      "webhookId": "4a20f085-ab2e-4984-8709-54906870232e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81a7c4d8-a46a-4a9c-9f09-bf051092296b",
              "leftValue": "={{ $json[$('Webhook2').item.json.body.sucursal] }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        352
      ],
      "id": "335e3747-ad7d-41f9-be8e-796a274414f1",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        256
      ],
      "id": "78f21ef0-01bd-4e72-87cb-60b6d6f0aa5c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        448
      ],
      "id": "4913396c-c831-42d9-bdf6-bc5bca87e31e",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-20T09:50:48.557Z",
      "createdAt": "2026-02-20T09:50:48.557Z",
      "role": "workflow:owner",
      "workflowId": "w-RU5Hf3E5dGdfoEehEiU",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-02-20T11:45:47.360Z",
  "versionId": "060f0f85-187e-4ab8-a06e-d5b9c35259e2"
}