workflows/xUuWwV0vmLgLOv5xwQq7_.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-20T14:41:52.000Z",
    "createdAt": "2026-03-20T14:41:51.404Z",
    "versionId": "7068a26a-dba0-4c22-8585-0b1d178466d0",
    "workflowId": "xUuWwV0vmLgLOv5xwQq7_",
    "nodes": [
      {
        "parameters": {
          "path": "inventario-it",
          "authentication": "basicAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -432,
          -288
        ],
        "id": "f1929844-48eb-424d-bdee-a542b76d5bbd",
        "name": "Webhook",
        "webhookId": "bbb77bde-dfb1-4dae-94fc-b092ed138ecb",
        "credentials": {
          "httpBasicAuth": {
            "id": "UQG5XVMP0FjbI8jG",
            "name": "Inventario-IT"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.html }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/html; charset=utf-8"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          304,
          -288
        ],
        "id": "2738ea99-6412-40df-90ed-e2c8aa10fd83",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "Inventario-IT",
            "mode": "list",
            "cachedResultName": "Inventario-IT"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -176,
          -288
        ],
        "id": "ff2f01c0-b783-4c71-9994-01719c16915a",
        "name": "Select rows from a table",
        "credentials": {
          "postgres": {
            "id": "UPETCYNZNCReuZu8",
            "name": "Postgres Supabase"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nlet rows = \"\";\nconst tiposSet = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  const tipo = data.Tipo || 'Sin Tipo';\n  tiposSet.add(tipo);\n  \n  rows += `\n    <tr class=\"item-row\" data-tipo=\"${tipo}\">\n      <td class=\"bold col-nombre\" data-label=\"Nombre\">${data.Nombre || 'Sin nombre'}</td>\n      <td class=\"col-tipo\" data-label=\"Tipo\"><span class=\"tag\">${tipo}</span></td>\n      <td class=\"col-medio\" data-label=\"Medio\">${data.Medio || '-'}</td>\n      <td class=\"col-longitud\" data-label=\"Longitud\">${data.Longitud || '-'}</td>\n      <td class=\"notas col-nota\" data-label=\"Notas\">${data.Nota || '-'}</td>\n      <td style=\"text-align: center;\" class=\"col-numero\" data-label=\"Cant.\">${data.Numero || '0'}</td>\n      <td style=\"text-align: center; white-space: nowrap;\" data-label=\"Acciones\">\n        <button class=\"btn-action\" onclick=\"prepararEdicion(this)\" title=\"Editar\">✏️</button>\n        <button class=\"btn-action btn-delete\" onclick=\"eliminarItem(this)\" title=\"Eliminar\">🗑️</button>\n      </td>\n    </tr>`;\n}\n\nconst tiposArr = Array.from(tiposSet);\nconst tiposOptions = tiposArr.map(t => `<option value=\"${t}\">${t}</option>`).join('');\nconst tiposMenu = tiposArr.map(t => `<a onclick=\"filtrarPorTipo('${t}')\">📦 ${t}</a>`).join('');\n\nconst abrirScript = \"<\" + \"script>\";\nconst cerrarScript = \"<\" + \"/script>\";\nconst jsPdfLib = \"<\" + \"script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js'>\" + cerrarScript;\nconst jsPdfAutoLib = \"<\" + \"script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js'>\" + cerrarScript;\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black-translucent\">\n  <meta name=\"theme-color\" content=\"#1a1a1a\">\n  \n  ${jsPdfLib}\n  ${jsPdfAutoLib}\n  \n  <style>\n    /* VARIABLES Y ESTILOS BASE */\n    body { font-family: 'Inter', sans-serif; background-color: #f8f9fa; margin: 0; display: flex; transition: background-color 0.3s, color 0.3s; }\n    \n    #sidebar { height: 100vh; width: 0; position: fixed; z-index: 1000; top: 0; left: 0; background-color: #1a1a1a; overflow-x: hidden; transition: 0.3s; padding-top: 60px; box-shadow: 2px 0 5px rgba(0,0,0,0.5); }\n    #sidebar a { padding: 15px 25px; text-decoration: none; font-size: 14px; color: #818181; display: block; border-bottom: 1px solid #333; cursor: pointer; transition: 0.2s; }\n    #sidebar a:hover { color: #fff; background: #333; }\n    .section-title { color: #fff; padding: 15px 25px; font-weight: bold; background: #000; font-size: 11px; letter-spacing: 1px; }\n    \n    #main { transition: margin-left .3s; padding: 20px; width: 100%; box-sizing: border-box; }\n    .nav-bar { display: flex; align-items: center; background: #fff; padding: 10px 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.05); margin-bottom: 20px; border-radius: 8px; transition: 0.3s; }\n    .menu-btn { font-size: 24px; cursor: pointer; background: none; border: none; margin-right: 20px; color: inherit; }\n    \n    .action-bar { display: flex; gap: 10px; margin-bottom: 20px; flex-wrap: wrap; }\n    #searchInput { flex-grow: 1; padding: 14px 20px; font-size: 15px; border: 1px solid #ddd; border-radius: 8px; box-sizing: border-box; box-shadow: 0 2px 5px rgba(0,0,0,0.02); transition: 0.3s; min-width: 200px; font-family: inherit; }\n    #searchInput:focus { outline: none; border-color: #1a1a1a; box-shadow: 0 0 0 2px rgba(26,26,26,0.1); }\n    \n    .btn-secondary { background: #fff; border: 1px solid #ddd; padding: 14px 20px; font-size: 15px; border-radius: 8px; cursor: pointer; font-weight: 600; color: #1a1a1a; box-shadow: 0 2px 5px rgba(0,0,0,0.02); transition: 0.3s; white-space: nowrap; height: 100%; }\n    .btn-secondary:hover { background: #f0f0f0; }\n\n    .dropdown { position: relative; display: inline-block; }\n    .dropdown-content { display: none; position: absolute; right: 0; background-color: #fff; min-width: 140px; box-shadow: 0px 8px 16px rgba(0,0,0,0.1); border-radius: 8px; z-index: 10; overflow: hidden; border: 1px solid #eee; margin-top: 5px; transition: 0.3s; }\n    .dropdown-content a { color: #333; padding: 12px 16px; text-decoration: none; display: block; cursor: pointer; font-size: 14px; font-weight: 500; transition: 0.2s; }\n    .dropdown-content a:hover { background-color: #f8f9fa; color: #1a73e8; }\n    .show-dropdown { display: block; }\n\n    .container { background: white; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); overflow-x: hidden; transition: 0.3s; }\n    table { width: 100%; border-collapse: collapse; }\n    \n    thead th { background-color: #1a1a1a; color: white; text-align: left; padding: 15px; font-size: 13px; cursor: pointer; user-select: none; transition: background 0.2s; }\n    thead th:hover { background-color: #333; }\n    thead th.no-sort { cursor: default; }\n    thead th.no-sort:hover { background-color: #1a1a1a; }\n    .sort-icon { font-size: 11px; margin-left: 5px; opacity: 0.4; display: inline-block; width: 12px; }\n    .sort-active { opacity: 1; color: #4dabf7; font-weight: bold; }\n\n    td { padding: 12px 15px; border-bottom: 1px solid #edf2f7; font-size: 14px; transition: 0.3s; }\n    .bold { font-weight: 600; color: #1a1a1a; transition: 0.3s; }\n    .tag { background: #edf2f7; padding: 4px 8px; border-radius: 4px; font-size: 11px; color: #4a5568; transition: 0.3s; }\n    .btn-action { background: none; border: 1px solid #ddd; border-radius: 4px; cursor: pointer; padding: 6px 10px; transition: 0.2s; font-size: 14px; margin: 0 2px; color: inherit; }\n    .btn-action:hover { background: #f0f0f0; border-color: #bbb; }\n    .btn-delete:hover { background: #fee2e2; border-color: #f87171; }\n    \n    .modal { display: none; position: fixed; z-index: 2000; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); align-items: center; justify-content: center; }\n    .modal-content { background: white; padding: 30px; border-radius: 12px; width: 90%; max-width: 420px; box-sizing: border-box; box-shadow: 0 5px 20px rgba(0,0,0,0.2); max-height: 90vh; overflow-y: auto; transition: 0.3s; }\n    form label { font-size: 12px; font-weight: bold; color: #666; display: block; margin-bottom: 5px; transition: 0.3s; }\n    form input, form select, form textarea { width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 6px; box-sizing: border-box; font-family: inherit; transition: 0.3s; }\n    .tipo-container { display: flex; gap: 8px; align-items: flex-start; margin-bottom: 15px; }\n    .tipo-container input, .tipo-container select { margin-bottom: 0; }\n    .btn-plus { background: #eee; border: 1px solid #ddd; border-radius: 6px; padding: 8px 12px; cursor: pointer; height: 38px; color: inherit; transition: 0.3s; }\n    .btn-save { background: #1a1a1a; color: white; border: none; padding: 12px; width: 100%; border-radius: 6px; cursor: pointer; font-weight: bold; transition: 0.3s; }\n    .btn-close { background: none; border: none; float: right; font-size: 20px; cursor: pointer; color: inherit; }\n    .hidden { display: none !important; }\n    input:disabled { background-color: #f0f0f0; cursor: not-allowed; color: #888; }\n\n    /* SWITCH (INTERRUPTOR) PARA DARK MODE */\n    .switch-container { display: flex; align-items: center; justify-content: space-between; padding: 15px 25px; border-bottom: 1px solid #333; color: #818181; font-size: 14px; }\n    .switch { position: relative; display: inline-block; width: 40px; height: 20px; margin: 0; }\n    .switch input { opacity: 0; width: 0; height: 0; }\n    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #555; transition: .4s; border-radius: 20px; }\n    .slider:before { position: absolute; content: \"\"; height: 14px; width: 14px; left: 3px; bottom: 3px; background-color: white; transition: .4s; border-radius: 50%; }\n    input:checked + .slider { background-color: #4dabf7; }\n    input:checked + .slider:before { transform: translateX(20px); }\n\n    /* ========================================= */\n    /* ESTILOS DEL MODO OSCURO (DARK THEME)      */\n    /* ========================================= */\n    body.dark-theme { background-color: #121212; color: #e0e0e0; }\n    body.dark-theme .nav-bar { background-color: #1e1e1e; box-shadow: 0 2px 10px rgba(0,0,0,0.5); }\n    body.dark-theme .nav-bar h2 { color: #ffffff; }\n    body.dark-theme .container { background-color: #1e1e1e; box-shadow: 0 2px 10px rgba(0,0,0,0.5); }\n    body.dark-theme thead th { background-color: #2a2a2a; }\n    body.dark-theme thead th:hover { background-color: #3a3a3a; }\n    body.dark-theme td { border-bottom: 1px solid #333; color: #cccccc; }\n    body.dark-theme .bold { color: #ffffff; }\n    body.dark-theme .tag { background-color: #333333; color: #aaaaaa; }\n    body.dark-theme #searchInput, body.dark-theme .btn-secondary { background-color: #1e1e1e; color: #ffffff; border-color: #444; }\n    body.dark-theme #searchInput:focus { border-color: #4dabf7; box-shadow: 0 0 0 2px rgba(77, 171, 247, 0.2); }\n    body.dark-theme .btn-secondary:hover { background-color: #333; }\n    body.dark-theme .btn-action { border-color: #444; }\n    body.dark-theme .btn-action:hover { background-color: #333; border-color: #666; }\n    body.dark-theme .btn-delete:hover { background-color: #4a1919; border-color: #ef4444; }\n    \n    body.dark-theme .dropdown-content { background-color: #1e1e1e; border-color: #333; }\n    body.dark-theme .dropdown-content a { color: #cccccc; }\n    body.dark-theme .dropdown-content a:hover { background-color: #333333; color: #4dabf7; }\n    \n    body.dark-theme .modal-content { background-color: #1e1e1e; }\n    body.dark-theme form label { color: #aaaaaa; }\n    body.dark-theme form input, body.dark-theme form select, body.dark-theme form textarea { background-color: #2a2a2a; color: #ffffff; border-color: #444; }\n    body.dark-theme form input::placeholder, body.dark-theme form textarea::placeholder { color: #888; }\n    body.dark-theme input:disabled { background-color: #111; color: #666; }\n    body.dark-theme .btn-plus { background-color: #333; border-color: #555; }\n    body.dark-theme .btn-plus:hover { background-color: #444; }\n    body.dark-theme .btn-save { background-color: #4dabf7; color: #121212; }\n    body.dark-theme .btn-save:hover { background-color: #3ba0e6; }\n    body.dark-theme #modalTitle { color: #ffffff; border-bottom: 1px solid #333; padding-bottom: 10px; }\n\n    /* RESPONSIVE / MÓVILES */\n    @media screen and (min-width: 1025px) {\n      #btn-fullscreen { display: none !important; }\n    }\n\n    @media screen and (max-width: 768px) {\n      #main { margin-left: 0 !important; padding: 10px; }\n      #sidebar { box-shadow: 5px 0 15px rgba(0,0,0,0.3); }\n      .container { background: transparent; box-shadow: none; }\n      table, thead, tbody, th, td, tr { display: block; }\n      thead tr { display: none; } \n      tr { background: white; margin-bottom: 15px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.05); border: 1px solid #eee; overflow: hidden; transition: 0.3s; }\n      td { position: relative; padding-left: 45%; text-align: right !important; border-bottom: 1px solid #f8f9fa; }\n      td:before { content: attr(data-label); position: absolute; left: 15px; top: 12px; width: 40%; text-align: left; font-size: 12px; font-weight: 600; color: #888; text-transform: uppercase; }\n      td:last-child { border-bottom: none; }\n      .action-bar { flex-direction: column; }\n      .dropdown, .btn-secondary { width: 100%; }\n      .dropdown-content { width: 100%; }\n\n      /* Ajuste móvil para dark mode */\n      body.dark-theme tr { background-color: #1e1e1e; border-color: #333; }\n      body.dark-theme td { border-bottom-color: #2a2a2a; }\n    }\n  </style>\n</head>\n<body>\n<div id=\"sidebar\">\n  <div class=\"section-title\">GESTIÓN</div>\n  <a onclick=\"mostrarTodo()\">📋 INVENTARIO</a>\n  <a onclick=\"resetFormYAbrir()\">➕ CREAR ITEM</a>\n  <div class=\"section-title\">FILTRAR POR TIPO</div>\n  ${tiposMenu}\n  \n  <div class=\"section-title\" style=\"margin-top: 20px;\">AJUSTES</div>\n  <div class=\"switch-container\">\n    <span>🌙 Dark Mode</span>\n    <label class=\"switch\">\n      <input type=\"checkbox\" id=\"darkModeToggle\" onchange=\"toggleDarkMode()\">\n      <span class=\"slider\"></span>\n    </label>\n  </div>\n</div>\n<div id=\"main\">\n  <div class=\"nav-bar\">\n    <button class=\"menu-btn\" onclick=\"toggleNav()\">☰</button>\n    <h2 id=\"view-title\">Inventario General</h2>\n  </div>\n\n  <div class=\"action-bar\">\n    <input type=\"text\" id=\"searchInput\" placeholder=\"🔍 Buscar por nombre, tipo, notas...\" onkeyup=\"ejecutarFiltros()\">\n    \n    <button class=\"btn-secondary\" id=\"btn-fullscreen\" onclick=\"toggleFullScreen()\">🔲 Pantalla Completa</button>\n    \n    <div class=\"dropdown\">\n      <button class=\"btn-secondary btn-export\" onclick=\"toggleExportMenu()\">📥 Exportar ▼</button>\n      <div id=\"exportMenu\" class=\"dropdown-content\">\n        <a onclick=\"exportarCSV()\">📄 Descargar CSV</a>\n        <a onclick=\"exportarExcel()\">📊 Descargar Excel</a>\n        <a onclick=\"exportarPDF()\">📕 Descargar PDF</a>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"container\">\n    <table id=\"miTabla\">\n      <thead>\n        <tr>\n          <th onclick=\"sortTable(0, 'string')\">Nombre <span class=\"sort-icon\" id=\"icon-0\">↕</span></th>\n          <th onclick=\"sortTable(1, 'string')\">Tipo <span class=\"sort-icon\" id=\"icon-1\">↕</span></th>\n          <th onclick=\"sortTable(2, 'string')\">Medio <span class=\"sort-icon\" id=\"icon-2\">↕</span></th>\n          <th onclick=\"sortTable(3, 'string')\">Longitud <span class=\"sort-icon\" id=\"icon-3\">↕</span></th>\n          <th onclick=\"sortTable(4, 'string')\">Notas <span class=\"sort-icon\" id=\"icon-4\">↕</span></th>\n          <th style=\"text-align:center\" onclick=\"sortTable(5, 'number')\">Cant. <span class=\"sort-icon\" id=\"icon-5\">↕</span></th>\n          <th style=\"text-align:center\" class=\"no-sort\">Acciones</th>\n        </tr>\n      </thead>\n      <tbody>${rows}</tbody>\n    </table>\n  </div>\n</div>\n\n<div id=\"modalItem\" class=\"modal\">\n  <div class=\"modal-content\">\n    <button class=\"btn-close\" onclick=\"closeModal('modalItem')\">&times;</button>\n    <h3 id=\"modalTitle\">Nuevo Item</h3>\n    <form id=\"formItem\">\n      <input type=\"text\" id=\"formNombre\" name=\"Nombre\" required placeholder=\"Nombre del producto\">\n      <div class=\"tipo-container\">\n        <select id=\"selectTipo\" name=\"Tipo\">\n          <option value=\"\">Selecciona Tipo...</option>\n          ${tiposOptions}\n        </select>\n        <input id=\"inputTipoManual\" type=\"text\" name=\"TipoManual\" class=\"hidden\" placeholder=\"Nuevo tipo...\">\n        <button type=\"button\" class=\"btn-plus\" onclick=\"toggleTipoManual()\">+</button>\n      </div>\n      <input type=\"text\" id=\"formMedio\" name=\"Medio\" placeholder=\"Medio\">\n      <input type=\"text\" id=\"formLongitud\" name=\"Longitud\" placeholder=\"Longitud\">\n      <input type=\"number\" id=\"formNumero\" name=\"Numero\" required placeholder=\"Cantidad\">\n      <textarea id=\"formNota\" name=\"Nota\" placeholder=\"Notas\"></textarea>\n      <button type=\"submit\" class=\"btn-save\" id=\"btnSubmit\">GUARDAR</button>\n    </form>\n  </div>\n</div>\n\n${abrirScript}\n  let navOpen = false;\n  let esTipoManual = false;\n  let filtroActualTipo = \"Todos\";\n  let sortDirections = [0, 0, 0, 0, 0, 0];\n\n  // --- LÓGICA DARK MODE ---\n  function toggleDarkMode() {\n    const isDark = document.getElementById('darkModeToggle').checked;\n    if(isDark) {\n      document.body.classList.add('dark-theme');\n      localStorage.setItem('invDarkMode', 'true');\n    } else {\n      document.body.classList.remove('dark-theme');\n      localStorage.setItem('invDarkMode', 'false');\n    }\n  }\n\n  // Cargar preferencia al iniciar\n  if(localStorage.getItem('invDarkMode') === 'true') {\n    document.body.classList.add('dark-theme');\n    document.getElementById('darkModeToggle').checked = true;\n  }\n\n  function toggleFullScreen() {\n    const btn = document.getElementById('btn-fullscreen');\n    if (!document.fullscreenElement && !document.webkitFullscreenElement) {\n      const docElm = document.documentElement;\n      if (docElm.requestFullscreen) docElm.requestFullscreen();\n      else if (docElm.webkitRequestFullscreen) docElm.webkitRequestFullscreen();\n      btn.innerText = '🔳 Salir P. Completa';\n    } else {\n      if (document.exitFullscreen) document.exitFullscreen();\n      else if (document.webkitExitFullscreen) document.webkitExitFullscreen();\n      btn.innerText = '🔲 Pantalla Completa';\n    }\n  }\n\n  document.addEventListener('fullscreenchange', exitHandler);\n  document.addEventListener('webkitfullscreenchange', exitHandler);\n  function exitHandler() {\n    if (!document.fullscreenElement && !document.webkitIsFullScreen) {\n      document.getElementById('btn-fullscreen').innerText = '🔲 Pantalla Completa';\n    }\n  }\n\n  function sortTable(columnIndex, type) {\n    const tbody = document.querySelector(\"#miTabla tbody\");\n    const rows = Array.from(tbody.querySelectorAll(\".item-row\"));\n    let direction = sortDirections[columnIndex] === 1 ? -1 : 1;\n    sortDirections = [0, 0, 0, 0, 0, 0];\n    sortDirections[columnIndex] = direction;\n    \n    for(let i=0; i<6; i++) {\n      const icon = document.getElementById('icon-'+i);\n      if(icon) {\n        icon.innerText = i === columnIndex ? (direction === 1 ? '↓' : '↑') : '↕';\n        icon.className = i === columnIndex ? 'sort-icon sort-active' : 'sort-icon';\n      }\n    }\n\n    rows.sort((a, b) => {\n      let valA = a.querySelectorAll(\"td\")[columnIndex].innerText.trim();\n      let valB = b.querySelectorAll(\"td\")[columnIndex].innerText.trim();\n      if (type === 'number') {\n        valA = parseFloat(valA) || 0; valB = parseFloat(valB) || 0;\n        return (valA - valB) * direction;\n      } else {\n        return valA.localeCompare(valB, 'es', { numeric: true }) * direction;\n      }\n    });\n    rows.forEach(row => tbody.appendChild(row));\n  }\n\n  function toggleNav() {\n    const s = document.getElementById(\"sidebar\"), m = document.getElementById(\"main\");\n    s.style.width = navOpen ? \"0\" : \"250px\";\n    if(window.innerWidth > 768) { m.style.marginLeft = navOpen ? \"0\" : \"250px\"; }\n    navOpen = !navOpen;\n  }\n  \n  function openModal(id) { document.getElementById(id).style.display = 'flex'; if(navOpen) toggleNav(); }\n  function closeModal(id) { document.getElementById(id).style.display = 'none'; }\n\n  function toggleExportMenu() { document.getElementById(\"exportMenu\").classList.toggle(\"show-dropdown\"); }\n  window.onclick = function(event) {\n    if (!event.target.matches('.btn-export')) {\n      const dropdowns = document.getElementsByClassName(\"dropdown-content\");\n      for (let i = 0; i < dropdowns.length; i++) {\n        if (dropdowns[i].classList.contains('show-dropdown')) dropdowns[i].classList.remove('show-dropdown');\n      }\n    }\n  }\n\n  function obtenerDatosTabla() {\n    const data = [];\n    const cabeceras = [];\n    document.querySelectorAll('thead th').forEach((th, index) => {\n      if(index < 6) cabeceras.push(th.innerText.replace(/[↑↓↕]/g, '').trim()); \n    });\n    data.push(cabeceras);\n    document.querySelectorAll('.item-row').forEach(tr => {\n      if (tr.style.display !== 'none') {\n        const filaData = [];\n        tr.querySelectorAll('td').forEach((td, index) => { if(index < 6) filaData.push(td.innerText.trim()); });\n        data.push(filaData);\n      }\n    });\n    return data;\n  }\n\n  function exportarCSV() {\n    const data = obtenerDatosTabla();\n    let csvStr = \"\";\n    data.forEach(row => { csvStr += row.map(c => '\"' + c.replace(/\"/g, '\"\"') + '\"').join(\",\") + \"\\\\r\\\\n\"; });\n    const link = document.createElement(\"a\");\n    link.href = \"data:text/csv;charset=utf-8,\" + encodeURIComponent(csvStr); \n    link.download = \"Inventario_IT.csv\";\n    document.body.appendChild(link); link.click(); link.remove();\n  }\n\n  function exportarExcel() {\n    const data = obtenerDatosTabla();\n    let tableHTML = \"<table><thead><tr>\";\n    data[0].forEach(h => tableHTML += \"<th>\" + h + \"</th>\");\n    tableHTML += \"</tr></thead><tbody>\";\n    for(let i = 1; i < data.length; i++) {\n      tableHTML += \"<tr>\";\n      data[i].forEach(c => tableHTML += \"<td>\" + c + \"</td>\");\n      tableHTML += \"</tr>\";\n    }\n    tableHTML += \"</tbody></table>\";\n    const template = '<html xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:x=\"urn:schemas-microsoft-com:office:excel\"><head><meta charset=\"UTF-8\"></head><body>' + tableHTML + '</body></html>';\n    const blob = new Blob([template], { type: 'application/vnd.ms-excel' });\n    const link = document.createElement(\"a\");\n    link.href = URL.createObjectURL(blob); link.download = \"Inventario_IT.xls\";\n    document.body.appendChild(link); link.click(); link.remove();\n  }\n\n  function exportarPDF() {\n    const { jsPDF } = window.jspdf;\n    const doc = new jsPDF();\n    const data = obtenerDatosTabla();\n    doc.setFontSize(18);\n    doc.text(document.getElementById('view-title').innerText, 14, 20);\n    doc.autoTable({ head: [data[0]], body: data.slice(1), startY: 25, styles: { font: 'helvetica', fontSize: 9 }, headStyles: { fillColor: [26, 26, 26] }, alternateRowStyles: { fillColor: [248, 249, 250] } });\n    doc.save('Inventario_IT.pdf');\n  }\n\n  function resetFormYAbrir() {\n    document.getElementById('formItem').reset();\n    document.getElementById('formNombre').disabled = false;\n    document.getElementById('modalTitle').innerText = \"Nuevo Item\";\n    document.getElementById('btnSubmit').innerText = \"GUARDAR NUEVO\";\n    if(esTipoManual) toggleTipoManual();\n    openModal('modalItem');\n  }\n\n  function prepararEdicion(btn) {\n    const fila = btn.closest('tr');\n    document.getElementById('modalTitle').innerText = \"Editar Item\";\n    document.getElementById('btnSubmit').innerText = \"ACTUALIZAR DATOS\";\n    const nombre = fila.querySelector('.col-nombre').innerText;\n    document.getElementById('formNombre').value = nombre;\n    document.getElementById('formNombre').disabled = true;\n    document.getElementById('selectTipo').value = fila.querySelector('.col-tipo').innerText.trim();\n    document.getElementById('formMedio').value = fila.querySelector('.col-medio').innerText.replace('-', '');\n    document.getElementById('formLongitud').value = fila.querySelector('.col-longitud').innerText.replace('-', '');\n    document.getElementById('formNumero').value = fila.querySelector('.col-numero').innerText;\n    document.getElementById('formNota').value = fila.querySelector('.col-nota').innerText.replace('-', '');\n    openModal('modalItem');\n  }\n\n  async function eliminarItem(btn) {\n    const fila = btn.closest('tr');\n    const nombre = fila.querySelector('.col-nombre').innerText;\n    if (confirm('¿Estás seguro de que deseas eliminar \"' + nombre + '\"?')) {\n      try {\n        await fetch('https://n8n.tailwind.es/webhook/eliminarItem-inventario-it', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ Nombre: nombre }) });\n        location.reload(); \n      } catch (error) { console.error(error); }\n    }\n  }\n\n  function toggleTipoManual() {\n    const sel = document.getElementById('selectTipo'), inp = document.getElementById('inputTipoManual');\n    esTipoManual = !esTipoManual;\n    sel.classList.toggle('hidden'); inp.classList.toggle('hidden');\n    document.querySelector('.btn-plus').innerText = esTipoManual ? 'x' : '+';\n  }\n\n  function filtrarPorTipo(t) {\n    filtroActualTipo = t;\n    document.getElementById('view-title').innerText = \"Filtrando: \" + t;\n    ejecutarFiltros();\n    if(navOpen) toggleNav();\n  }\n  \n  function mostrarTodo() {\n    filtroActualTipo = \"Todos\";\n    document.getElementById('view-title').innerText = \"Inventario General\";\n    ejecutarFiltros();\n    if(navOpen) toggleNav();\n  }\n\n  function ejecutarFiltros() {\n    const textoBuscado = document.getElementById('searchInput').value.toLowerCase();\n    const filas = document.querySelectorAll('.item-row');\n    filas.forEach(fila => {\n      const contenidoFila = fila.innerText.toLowerCase();\n      const tipoFila = fila.getAttribute('data-tipo');\n      const coincideTexto = contenidoFila.includes(textoBuscado);\n      const coincideTipo = (filtroActualTipo === \"Todos\" || tipoFila === filtroActualTipo);\n      fila.style.display = (coincideTexto && coincideTipo) ? '' : 'none';\n    });\n  }\n  \n  document.getElementById('formItem').onsubmit = async (e) => {\n    e.preventDefault();\n    document.getElementById('formNombre').disabled = false;\n    const data = Object.fromEntries(new FormData(e.target));\n    if(esTipoManual) data.Tipo = data.TipoManual;\n    delete data.TipoManual;\n    try {\n      await fetch('https://n8n.tailwind.es/webhook/crearItem-inventario-it', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(data) });\n      location.reload(); \n    } catch (error) { document.getElementById('formNombre').disabled = true; }\n  };\n${cerrarScript}\n</body>\n</html>\n`;\n\nreturn { html: htmlContent };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -288
        ],
        "id": "f44dceba-883b-43cc-9460-e122cbfdc4a9",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "crearItem-inventario-it",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -432,
          -80
        ],
        "id": "f35a48f2-9202-4e62-941f-6fe5bca79cc7",
        "name": "crearItem-inventario-it",
        "webhookId": "194d754c-66ca-4b4e-b4ff-83ed23b2b4f2"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "Inventario-IT",
            "mode": "list",
            "cachedResultName": "Inventario-IT"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Numero": "={{ $json.body.Numero }}",
              "Nombre": "={{ $json.body.Nombre }}",
              "Tipo": "={{ $json.body.Tipo }}",
              "Medio": "={{ $json.body.Medio }}",
              "Longitud": "={{ $json.body.Longitud }}",
              "Nota": "={{ $json.body.Nota }}"
            },
            "matchingColumns": [
              "Nombre"
            ],
            "schema": [
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "Tipo",
                "displayName": "Tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Medio",
                "displayName": "Medio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "Longitud",
                "displayName": "Longitud",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "Nota",
                "displayName": "Nota",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "Numero",
                "displayName": "Numero",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -176,
          -80
        ],
        "id": "48380056-3905-4eee-bbc0-25c51da7bb6a",
        "name": "Insert or update rows in a table",
        "credentials": {
          "postgres": {
            "id": "UPETCYNZNCReuZu8",
            "name": "Postgres Supabase"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "eliminarItem-inventario-it",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -432,
          112
        ],
        "id": "01b8323c-dd9a-492f-8006-1cbc75ee91b2",
        "name": "eliminarItem-inventario-it",
        "webhookId": "3022aaf3-4b6d-41a8-bab9-a01bcb11da0f"
      },
      {
        "parameters": {
          "operation": "deleteTable",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "Inventario-IT",
            "mode": "list",
            "cachedResultName": "Inventario-IT"
          },
          "deleteCommand": "delete",
          "where": {
            "values": [
              {
                "column": "Nombre",
                "value": "={{ $json.body.Nombre }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -176,
          112
        ],
        "id": "766fc3b0-ed02-452c-ba79-0ba9f39b5248",
        "name": "Delete table or rows",
        "credentials": {
          "postgres": {
            "id": "UPETCYNZNCReuZu8",
            "name": "Postgres Supabase"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "crearItem-inventario-it": {
        "main": [
          [
            {
              "node": "Insert or update rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "eliminarItem-inventario-it": {
        "main": [
          [
            {
              "node": "Delete table or rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tailwind Media",
    "name": "Version 7068a26a",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "7068a26a-dba0-4c22-8585-0b1d178466d0",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crearItem-inventario-it": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminarItem-inventario-it": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-19T11:38:38.246Z",
  "id": "xUuWwV0vmLgLOv5xwQq7_",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Inventario_IT",
  "nodes": [
    {
      "parameters": {
        "path": "inventario-it",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -288
      ],
      "id": "f1929844-48eb-424d-bdee-a542b76d5bbd",
      "name": "Webhook",
      "webhookId": "bbb77bde-dfb1-4dae-94fc-b092ed138ecb",
      "credentials": {
        "httpBasicAuth": {
          "id": "UQG5XVMP0FjbI8jG",
          "name": "Inventario-IT"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        -288
      ],
      "id": "2738ea99-6412-40df-90ed-e2c8aa10fd83",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Inventario-IT",
          "mode": "list",
          "cachedResultName": "Inventario-IT"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -288
      ],
      "id": "ff2f01c0-b783-4c71-9994-01719c16915a",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "UPETCYNZNCReuZu8",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet rows = \"\";\nconst tiposSet = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  const tipo = data.Tipo || 'Sin Tipo';\n  tiposSet.add(tipo);\n  \n  rows += `\n    <tr class=\"item-row\" data-tipo=\"${tipo}\">\n      <td class=\"bold col-nombre\" data-label=\"Nombre\">${data.Nombre || 'Sin nombre'}</td>\n      <td class=\"col-tipo\" data-label=\"Tipo\"><span class=\"tag\">${tipo}</span></td>\n      <td class=\"col-medio\" data-label=\"Medio\">${data.Medio || '-'}</td>\n      <td class=\"col-longitud\" data-label=\"Longitud\">${data.Longitud || '-'}</td>\n      <td class=\"notas col-nota\" data-label=\"Notas\">${data.Nota || '-'}</td>\n      <td style=\"text-align: center;\" class=\"col-numero\" data-label=\"Cant.\">${data.Numero || '0'}</td>\n      <td style=\"text-align: center; white-space: nowrap;\" data-label=\"Acciones\">\n        <button class=\"btn-action\" onclick=\"prepararEdicion(this)\" title=\"Editar\">✏️</button>\n        <button class=\"btn-action btn-delete\" onclick=\"eliminarItem(this)\" title=\"Eliminar\">🗑️</button>\n      </td>\n    </tr>`;\n}\n\nconst tiposArr = Array.from(tiposSet);\nconst tiposOptions = tiposArr.map(t => `<option value=\"${t}\">${t}</option>`).join('');\nconst tiposMenu = tiposArr.map(t => `<a onclick=\"filtrarPorTipo('${t}')\">📦 ${t}</a>`).join('');\n\nconst abrirScript = \"<\" + \"script>\";\nconst cerrarScript = \"<\" + \"/script>\";\nconst jsPdfLib = \"<\" + \"script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js'>\" + cerrarScript;\nconst jsPdfAutoLib = \"<\" + \"script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js'>\" + cerrarScript;\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black-translucent\">\n  <meta name=\"theme-color\" content=\"#1a1a1a\">\n  \n  ${jsPdfLib}\n  ${jsPdfAutoLib}\n  \n  <style>\n    /* VARIABLES Y ESTILOS BASE */\n    body { font-family: 'Inter', sans-serif; background-color: #f8f9fa; margin: 0; display: flex; transition: background-color 0.3s, color 0.3s; }\n    \n    #sidebar { height: 100vh; width: 0; position: fixed; z-index: 1000; top: 0; left: 0; background-color: #1a1a1a; overflow-x: hidden; transition: 0.3s; padding-top: 60px; box-shadow: 2px 0 5px rgba(0,0,0,0.5); }\n    #sidebar a { padding: 15px 25px; text-decoration: none; font-size: 14px; color: #818181; display: block; border-bottom: 1px solid #333; cursor: pointer; transition: 0.2s; }\n    #sidebar a:hover { color: #fff; background: #333; }\n    .section-title { color: #fff; padding: 15px 25px; font-weight: bold; background: #000; font-size: 11px; letter-spacing: 1px; }\n    \n    #main { transition: margin-left .3s; padding: 20px; width: 100%; box-sizing: border-box; }\n    .nav-bar { display: flex; align-items: center; background: #fff; padding: 10px 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.05); margin-bottom: 20px; border-radius: 8px; transition: 0.3s; }\n    .menu-btn { font-size: 24px; cursor: pointer; background: none; border: none; margin-right: 20px; color: inherit; }\n    \n    .action-bar { display: flex; gap: 10px; margin-bottom: 20px; flex-wrap: wrap; }\n    #searchInput { flex-grow: 1; padding: 14px 20px; font-size: 15px; border: 1px solid #ddd; border-radius: 8px; box-sizing: border-box; box-shadow: 0 2px 5px rgba(0,0,0,0.02); transition: 0.3s; min-width: 200px; font-family: inherit; }\n    #searchInput:focus { outline: none; border-color: #1a1a1a; box-shadow: 0 0 0 2px rgba(26,26,26,0.1); }\n    \n    .btn-secondary { background: #fff; border: 1px solid #ddd; padding: 14px 20px; font-size: 15px; border-radius: 8px; cursor: pointer; font-weight: 600; color: #1a1a1a; box-shadow: 0 2px 5px rgba(0,0,0,0.02); transition: 0.3s; white-space: nowrap; height: 100%; }\n    .btn-secondary:hover { background: #f0f0f0; }\n\n    .dropdown { position: relative; display: inline-block; }\n    .dropdown-content { display: none; position: absolute; right: 0; background-color: #fff; min-width: 140px; box-shadow: 0px 8px 16px rgba(0,0,0,0.1); border-radius: 8px; z-index: 10; overflow: hidden; border: 1px solid #eee; margin-top: 5px; transition: 0.3s; }\n    .dropdown-content a { color: #333; padding: 12px 16px; text-decoration: none; display: block; cursor: pointer; font-size: 14px; font-weight: 500; transition: 0.2s; }\n    .dropdown-content a:hover { background-color: #f8f9fa; color: #1a73e8; }\n    .show-dropdown { display: block; }\n\n    .container { background: white; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); overflow-x: hidden; transition: 0.3s; }\n    table { width: 100%; border-collapse: collapse; }\n    \n    thead th { background-color: #1a1a1a; color: white; text-align: left; padding: 15px; font-size: 13px; cursor: pointer; user-select: none; transition: background 0.2s; }\n    thead th:hover { background-color: #333; }\n    thead th.no-sort { cursor: default; }\n    thead th.no-sort:hover { background-color: #1a1a1a; }\n    .sort-icon { font-size: 11px; margin-left: 5px; opacity: 0.4; display: inline-block; width: 12px; }\n    .sort-active { opacity: 1; color: #4dabf7; font-weight: bold; }\n\n    td { padding: 12px 15px; border-bottom: 1px solid #edf2f7; font-size: 14px; transition: 0.3s; }\n    .bold { font-weight: 600; color: #1a1a1a; transition: 0.3s; }\n    .tag { background: #edf2f7; padding: 4px 8px; border-radius: 4px; font-size: 11px; color: #4a5568; transition: 0.3s; }\n    .btn-action { background: none; border: 1px solid #ddd; border-radius: 4px; cursor: pointer; padding: 6px 10px; transition: 0.2s; font-size: 14px; margin: 0 2px; color: inherit; }\n    .btn-action:hover { background: #f0f0f0; border-color: #bbb; }\n    .btn-delete:hover { background: #fee2e2; border-color: #f87171; }\n    \n    .modal { display: none; position: fixed; z-index: 2000; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); align-items: center; justify-content: center; }\n    .modal-content { background: white; padding: 30px; border-radius: 12px; width: 90%; max-width: 420px; box-sizing: border-box; box-shadow: 0 5px 20px rgba(0,0,0,0.2); max-height: 90vh; overflow-y: auto; transition: 0.3s; }\n    form label { font-size: 12px; font-weight: bold; color: #666; display: block; margin-bottom: 5px; transition: 0.3s; }\n    form input, form select, form textarea { width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 6px; box-sizing: border-box; font-family: inherit; transition: 0.3s; }\n    .tipo-container { display: flex; gap: 8px; align-items: flex-start; margin-bottom: 15px; }\n    .tipo-container input, .tipo-container select { margin-bottom: 0; }\n    .btn-plus { background: #eee; border: 1px solid #ddd; border-radius: 6px; padding: 8px 12px; cursor: pointer; height: 38px; color: inherit; transition: 0.3s; }\n    .btn-save { background: #1a1a1a; color: white; border: none; padding: 12px; width: 100%; border-radius: 6px; cursor: pointer; font-weight: bold; transition: 0.3s; }\n    .btn-close { background: none; border: none; float: right; font-size: 20px; cursor: pointer; color: inherit; }\n    .hidden { display: none !important; }\n    input:disabled { background-color: #f0f0f0; cursor: not-allowed; color: #888; }\n\n    /* SWITCH (INTERRUPTOR) PARA DARK MODE */\n    .switch-container { display: flex; align-items: center; justify-content: space-between; padding: 15px 25px; border-bottom: 1px solid #333; color: #818181; font-size: 14px; }\n    .switch { position: relative; display: inline-block; width: 40px; height: 20px; margin: 0; }\n    .switch input { opacity: 0; width: 0; height: 0; }\n    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #555; transition: .4s; border-radius: 20px; }\n    .slider:before { position: absolute; content: \"\"; height: 14px; width: 14px; left: 3px; bottom: 3px; background-color: white; transition: .4s; border-radius: 50%; }\n    input:checked + .slider { background-color: #4dabf7; }\n    input:checked + .slider:before { transform: translateX(20px); }\n\n    /* ========================================= */\n    /* ESTILOS DEL MODO OSCURO (DARK THEME)      */\n    /* ========================================= */\n    body.dark-theme { background-color: #121212; color: #e0e0e0; }\n    body.dark-theme .nav-bar { background-color: #1e1e1e; box-shadow: 0 2px 10px rgba(0,0,0,0.5); }\n    body.dark-theme .nav-bar h2 { color: #ffffff; }\n    body.dark-theme .container { background-color: #1e1e1e; box-shadow: 0 2px 10px rgba(0,0,0,0.5); }\n    body.dark-theme thead th { background-color: #2a2a2a; }\n    body.dark-theme thead th:hover { background-color: #3a3a3a; }\n    body.dark-theme td { border-bottom: 1px solid #333; color: #cccccc; }\n    body.dark-theme .bold { color: #ffffff; }\n    body.dark-theme .tag { background-color: #333333; color: #aaaaaa; }\n    body.dark-theme #searchInput, body.dark-theme .btn-secondary { background-color: #1e1e1e; color: #ffffff; border-color: #444; }\n    body.dark-theme #searchInput:focus { border-color: #4dabf7; box-shadow: 0 0 0 2px rgba(77, 171, 247, 0.2); }\n    body.dark-theme .btn-secondary:hover { background-color: #333; }\n    body.dark-theme .btn-action { border-color: #444; }\n    body.dark-theme .btn-action:hover { background-color: #333; border-color: #666; }\n    body.dark-theme .btn-delete:hover { background-color: #4a1919; border-color: #ef4444; }\n    \n    body.dark-theme .dropdown-content { background-color: #1e1e1e; border-color: #333; }\n    body.dark-theme .dropdown-content a { color: #cccccc; }\n    body.dark-theme .dropdown-content a:hover { background-color: #333333; color: #4dabf7; }\n    \n    body.dark-theme .modal-content { background-color: #1e1e1e; }\n    body.dark-theme form label { color: #aaaaaa; }\n    body.dark-theme form input, body.dark-theme form select, body.dark-theme form textarea { background-color: #2a2a2a; color: #ffffff; border-color: #444; }\n    body.dark-theme form input::placeholder, body.dark-theme form textarea::placeholder { color: #888; }\n    body.dark-theme input:disabled { background-color: #111; color: #666; }\n    body.dark-theme .btn-plus { background-color: #333; border-color: #555; }\n    body.dark-theme .btn-plus:hover { background-color: #444; }\n    body.dark-theme .btn-save { background-color: #4dabf7; color: #121212; }\n    body.dark-theme .btn-save:hover { background-color: #3ba0e6; }\n    body.dark-theme #modalTitle { color: #ffffff; border-bottom: 1px solid #333; padding-bottom: 10px; }\n\n    /* RESPONSIVE / MÓVILES */\n    @media screen and (min-width: 1025px) {\n      #btn-fullscreen { display: none !important; }\n    }\n\n    @media screen and (max-width: 768px) {\n      #main { margin-left: 0 !important; padding: 10px; }\n      #sidebar { box-shadow: 5px 0 15px rgba(0,0,0,0.3); }\n      .container { background: transparent; box-shadow: none; }\n      table, thead, tbody, th, td, tr { display: block; }\n      thead tr { display: none; } \n      tr { background: white; margin-bottom: 15px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.05); border: 1px solid #eee; overflow: hidden; transition: 0.3s; }\n      td { position: relative; padding-left: 45%; text-align: right !important; border-bottom: 1px solid #f8f9fa; }\n      td:before { content: attr(data-label); position: absolute; left: 15px; top: 12px; width: 40%; text-align: left; font-size: 12px; font-weight: 600; color: #888; text-transform: uppercase; }\n      td:last-child { border-bottom: none; }\n      .action-bar { flex-direction: column; }\n      .dropdown, .btn-secondary { width: 100%; }\n      .dropdown-content { width: 100%; }\n\n      /* Ajuste móvil para dark mode */\n      body.dark-theme tr { background-color: #1e1e1e; border-color: #333; }\n      body.dark-theme td { border-bottom-color: #2a2a2a; }\n    }\n  </style>\n</head>\n<body>\n<div id=\"sidebar\">\n  <div class=\"section-title\">GESTIÓN</div>\n  <a onclick=\"mostrarTodo()\">📋 INVENTARIO</a>\n  <a onclick=\"resetFormYAbrir()\">➕ CREAR ITEM</a>\n  <div class=\"section-title\">FILTRAR POR TIPO</div>\n  ${tiposMenu}\n  \n  <div class=\"section-title\" style=\"margin-top: 20px;\">AJUSTES</div>\n  <div class=\"switch-container\">\n    <span>🌙 Dark Mode</span>\n    <label class=\"switch\">\n      <input type=\"checkbox\" id=\"darkModeToggle\" onchange=\"toggleDarkMode()\">\n      <span class=\"slider\"></span>\n    </label>\n  </div>\n</div>\n<div id=\"main\">\n  <div class=\"nav-bar\">\n    <button class=\"menu-btn\" onclick=\"toggleNav()\">☰</button>\n    <h2 id=\"view-title\">Inventario General</h2>\n  </div>\n\n  <div class=\"action-bar\">\n    <input type=\"text\" id=\"searchInput\" placeholder=\"🔍 Buscar por nombre, tipo, notas...\" onkeyup=\"ejecutarFiltros()\">\n    \n    <button class=\"btn-secondary\" id=\"btn-fullscreen\" onclick=\"toggleFullScreen()\">🔲 Pantalla Completa</button>\n    \n    <div class=\"dropdown\">\n      <button class=\"btn-secondary btn-export\" onclick=\"toggleExportMenu()\">📥 Exportar ▼</button>\n      <div id=\"exportMenu\" class=\"dropdown-content\">\n        <a onclick=\"exportarCSV()\">📄 Descargar CSV</a>\n        <a onclick=\"exportarExcel()\">📊 Descargar Excel</a>\n        <a onclick=\"exportarPDF()\">📕 Descargar PDF</a>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"container\">\n    <table id=\"miTabla\">\n      <thead>\n        <tr>\n          <th onclick=\"sortTable(0, 'string')\">Nombre <span class=\"sort-icon\" id=\"icon-0\">↕</span></th>\n          <th onclick=\"sortTable(1, 'string')\">Tipo <span class=\"sort-icon\" id=\"icon-1\">↕</span></th>\n          <th onclick=\"sortTable(2, 'string')\">Medio <span class=\"sort-icon\" id=\"icon-2\">↕</span></th>\n          <th onclick=\"sortTable(3, 'string')\">Longitud <span class=\"sort-icon\" id=\"icon-3\">↕</span></th>\n          <th onclick=\"sortTable(4, 'string')\">Notas <span class=\"sort-icon\" id=\"icon-4\">↕</span></th>\n          <th style=\"text-align:center\" onclick=\"sortTable(5, 'number')\">Cant. <span class=\"sort-icon\" id=\"icon-5\">↕</span></th>\n          <th style=\"text-align:center\" class=\"no-sort\">Acciones</th>\n        </tr>\n      </thead>\n      <tbody>${rows}</tbody>\n    </table>\n  </div>\n</div>\n\n<div id=\"modalItem\" class=\"modal\">\n  <div class=\"modal-content\">\n    <button class=\"btn-close\" onclick=\"closeModal('modalItem')\">&times;</button>\n    <h3 id=\"modalTitle\">Nuevo Item</h3>\n    <form id=\"formItem\">\n      <input type=\"text\" id=\"formNombre\" name=\"Nombre\" required placeholder=\"Nombre del producto\">\n      <div class=\"tipo-container\">\n        <select id=\"selectTipo\" name=\"Tipo\">\n          <option value=\"\">Selecciona Tipo...</option>\n          ${tiposOptions}\n        </select>\n        <input id=\"inputTipoManual\" type=\"text\" name=\"TipoManual\" class=\"hidden\" placeholder=\"Nuevo tipo...\">\n        <button type=\"button\" class=\"btn-plus\" onclick=\"toggleTipoManual()\">+</button>\n      </div>\n      <input type=\"text\" id=\"formMedio\" name=\"Medio\" placeholder=\"Medio\">\n      <input type=\"text\" id=\"formLongitud\" name=\"Longitud\" placeholder=\"Longitud\">\n      <input type=\"number\" id=\"formNumero\" name=\"Numero\" required placeholder=\"Cantidad\">\n      <textarea id=\"formNota\" name=\"Nota\" placeholder=\"Notas\"></textarea>\n      <button type=\"submit\" class=\"btn-save\" id=\"btnSubmit\">GUARDAR</button>\n    </form>\n  </div>\n</div>\n\n${abrirScript}\n  let navOpen = false;\n  let esTipoManual = false;\n  let filtroActualTipo = \"Todos\";\n  let sortDirections = [0, 0, 0, 0, 0, 0];\n\n  // --- LÓGICA DARK MODE ---\n  function toggleDarkMode() {\n    const isDark = document.getElementById('darkModeToggle').checked;\n    if(isDark) {\n      document.body.classList.add('dark-theme');\n      localStorage.setItem('invDarkMode', 'true');\n    } else {\n      document.body.classList.remove('dark-theme');\n      localStorage.setItem('invDarkMode', 'false');\n    }\n  }\n\n  // Cargar preferencia al iniciar\n  if(localStorage.getItem('invDarkMode') === 'true') {\n    document.body.classList.add('dark-theme');\n    document.getElementById('darkModeToggle').checked = true;\n  }\n\n  function toggleFullScreen() {\n    const btn = document.getElementById('btn-fullscreen');\n    if (!document.fullscreenElement && !document.webkitFullscreenElement) {\n      const docElm = document.documentElement;\n      if (docElm.requestFullscreen) docElm.requestFullscreen();\n      else if (docElm.webkitRequestFullscreen) docElm.webkitRequestFullscreen();\n      btn.innerText = '🔳 Salir P. Completa';\n    } else {\n      if (document.exitFullscreen) document.exitFullscreen();\n      else if (document.webkitExitFullscreen) document.webkitExitFullscreen();\n      btn.innerText = '🔲 Pantalla Completa';\n    }\n  }\n\n  document.addEventListener('fullscreenchange', exitHandler);\n  document.addEventListener('webkitfullscreenchange', exitHandler);\n  function exitHandler() {\n    if (!document.fullscreenElement && !document.webkitIsFullScreen) {\n      document.getElementById('btn-fullscreen').innerText = '🔲 Pantalla Completa';\n    }\n  }\n\n  function sortTable(columnIndex, type) {\n    const tbody = document.querySelector(\"#miTabla tbody\");\n    const rows = Array.from(tbody.querySelectorAll(\".item-row\"));\n    let direction = sortDirections[columnIndex] === 1 ? -1 : 1;\n    sortDirections = [0, 0, 0, 0, 0, 0];\n    sortDirections[columnIndex] = direction;\n    \n    for(let i=0; i<6; i++) {\n      const icon = document.getElementById('icon-'+i);\n      if(icon) {\n        icon.innerText = i === columnIndex ? (direction === 1 ? '↓' : '↑') : '↕';\n        icon.className = i === columnIndex ? 'sort-icon sort-active' : 'sort-icon';\n      }\n    }\n\n    rows.sort((a, b) => {\n      let valA = a.querySelectorAll(\"td\")[columnIndex].innerText.trim();\n      let valB = b.querySelectorAll(\"td\")[columnIndex].innerText.trim();\n      if (type === 'number') {\n        valA = parseFloat(valA) || 0; valB = parseFloat(valB) || 0;\n        return (valA - valB) * direction;\n      } else {\n        return valA.localeCompare(valB, 'es', { numeric: true }) * direction;\n      }\n    });\n    rows.forEach(row => tbody.appendChild(row));\n  }\n\n  function toggleNav() {\n    const s = document.getElementById(\"sidebar\"), m = document.getElementById(\"main\");\n    s.style.width = navOpen ? \"0\" : \"250px\";\n    if(window.innerWidth > 768) { m.style.marginLeft = navOpen ? \"0\" : \"250px\"; }\n    navOpen = !navOpen;\n  }\n  \n  function openModal(id) { document.getElementById(id).style.display = 'flex'; if(navOpen) toggleNav(); }\n  function closeModal(id) { document.getElementById(id).style.display = 'none'; }\n\n  function toggleExportMenu() { document.getElementById(\"exportMenu\").classList.toggle(\"show-dropdown\"); }\n  window.onclick = function(event) {\n    if (!event.target.matches('.btn-export')) {\n      const dropdowns = document.getElementsByClassName(\"dropdown-content\");\n      for (let i = 0; i < dropdowns.length; i++) {\n        if (dropdowns[i].classList.contains('show-dropdown')) dropdowns[i].classList.remove('show-dropdown');\n      }\n    }\n  }\n\n  function obtenerDatosTabla() {\n    const data = [];\n    const cabeceras = [];\n    document.querySelectorAll('thead th').forEach((th, index) => {\n      if(index < 6) cabeceras.push(th.innerText.replace(/[↑↓↕]/g, '').trim()); \n    });\n    data.push(cabeceras);\n    document.querySelectorAll('.item-row').forEach(tr => {\n      if (tr.style.display !== 'none') {\n        const filaData = [];\n        tr.querySelectorAll('td').forEach((td, index) => { if(index < 6) filaData.push(td.innerText.trim()); });\n        data.push(filaData);\n      }\n    });\n    return data;\n  }\n\n  function exportarCSV() {\n    const data = obtenerDatosTabla();\n    let csvStr = \"\";\n    data.forEach(row => { csvStr += row.map(c => '\"' + c.replace(/\"/g, '\"\"') + '\"').join(\",\") + \"\\\\r\\\\n\"; });\n    const link = document.createElement(\"a\");\n    link.href = \"data:text/csv;charset=utf-8,\" + encodeURIComponent(csvStr); \n    link.download = \"Inventario_IT.csv\";\n    document.body.appendChild(link); link.click(); link.remove();\n  }\n\n  function exportarExcel() {\n    const data = obtenerDatosTabla();\n    let tableHTML = \"<table><thead><tr>\";\n    data[0].forEach(h => tableHTML += \"<th>\" + h + \"</th>\");\n    tableHTML += \"</tr></thead><tbody>\";\n    for(let i = 1; i < data.length; i++) {\n      tableHTML += \"<tr>\";\n      data[i].forEach(c => tableHTML += \"<td>\" + c + \"</td>\");\n      tableHTML += \"</tr>\";\n    }\n    tableHTML += \"</tbody></table>\";\n    const template = '<html xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:x=\"urn:schemas-microsoft-com:office:excel\"><head><meta charset=\"UTF-8\"></head><body>' + tableHTML + '</body></html>';\n    const blob = new Blob([template], { type: 'application/vnd.ms-excel' });\n    const link = document.createElement(\"a\");\n    link.href = URL.createObjectURL(blob); link.download = \"Inventario_IT.xls\";\n    document.body.appendChild(link); link.click(); link.remove();\n  }\n\n  function exportarPDF() {\n    const { jsPDF } = window.jspdf;\n    const doc = new jsPDF();\n    const data = obtenerDatosTabla();\n    doc.setFontSize(18);\n    doc.text(document.getElementById('view-title').innerText, 14, 20);\n    doc.autoTable({ head: [data[0]], body: data.slice(1), startY: 25, styles: { font: 'helvetica', fontSize: 9 }, headStyles: { fillColor: [26, 26, 26] }, alternateRowStyles: { fillColor: [248, 249, 250] } });\n    doc.save('Inventario_IT.pdf');\n  }\n\n  function resetFormYAbrir() {\n    document.getElementById('formItem').reset();\n    document.getElementById('formNombre').disabled = false;\n    document.getElementById('modalTitle').innerText = \"Nuevo Item\";\n    document.getElementById('btnSubmit').innerText = \"GUARDAR NUEVO\";\n    if(esTipoManual) toggleTipoManual();\n    openModal('modalItem');\n  }\n\n  function prepararEdicion(btn) {\n    const fila = btn.closest('tr');\n    document.getElementById('modalTitle').innerText = \"Editar Item\";\n    document.getElementById('btnSubmit').innerText = \"ACTUALIZAR DATOS\";\n    const nombre = fila.querySelector('.col-nombre').innerText;\n    document.getElementById('formNombre').value = nombre;\n    document.getElementById('formNombre').disabled = true;\n    document.getElementById('selectTipo').value = fila.querySelector('.col-tipo').innerText.trim();\n    document.getElementById('formMedio').value = fila.querySelector('.col-medio').innerText.replace('-', '');\n    document.getElementById('formLongitud').value = fila.querySelector('.col-longitud').innerText.replace('-', '');\n    document.getElementById('formNumero').value = fila.querySelector('.col-numero').innerText;\n    document.getElementById('formNota').value = fila.querySelector('.col-nota').innerText.replace('-', '');\n    openModal('modalItem');\n  }\n\n  async function eliminarItem(btn) {\n    const fila = btn.closest('tr');\n    const nombre = fila.querySelector('.col-nombre').innerText;\n    if (confirm('¿Estás seguro de que deseas eliminar \"' + nombre + '\"?')) {\n      try {\n        await fetch('https://n8n.tailwind.es/webhook/eliminarItem-inventario-it', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ Nombre: nombre }) });\n        location.reload(); \n      } catch (error) { console.error(error); }\n    }\n  }\n\n  function toggleTipoManual() {\n    const sel = document.getElementById('selectTipo'), inp = document.getElementById('inputTipoManual');\n    esTipoManual = !esTipoManual;\n    sel.classList.toggle('hidden'); inp.classList.toggle('hidden');\n    document.querySelector('.btn-plus').innerText = esTipoManual ? 'x' : '+';\n  }\n\n  function filtrarPorTipo(t) {\n    filtroActualTipo = t;\n    document.getElementById('view-title').innerText = \"Filtrando: \" + t;\n    ejecutarFiltros();\n    if(navOpen) toggleNav();\n  }\n  \n  function mostrarTodo() {\n    filtroActualTipo = \"Todos\";\n    document.getElementById('view-title').innerText = \"Inventario General\";\n    ejecutarFiltros();\n    if(navOpen) toggleNav();\n  }\n\n  function ejecutarFiltros() {\n    const textoBuscado = document.getElementById('searchInput').value.toLowerCase();\n    const filas = document.querySelectorAll('.item-row');\n    filas.forEach(fila => {\n      const contenidoFila = fila.innerText.toLowerCase();\n      const tipoFila = fila.getAttribute('data-tipo');\n      const coincideTexto = contenidoFila.includes(textoBuscado);\n      const coincideTipo = (filtroActualTipo === \"Todos\" || tipoFila === filtroActualTipo);\n      fila.style.display = (coincideTexto && coincideTipo) ? '' : 'none';\n    });\n  }\n  \n  document.getElementById('formItem').onsubmit = async (e) => {\n    e.preventDefault();\n    document.getElementById('formNombre').disabled = false;\n    const data = Object.fromEntries(new FormData(e.target));\n    if(esTipoManual) data.Tipo = data.TipoManual;\n    delete data.TipoManual;\n    try {\n      await fetch('https://n8n.tailwind.es/webhook/crearItem-inventario-it', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(data) });\n      location.reload(); \n    } catch (error) { document.getElementById('formNombre').disabled = true; }\n  };\n${cerrarScript}\n</body>\n</html>\n`;\n\nreturn { html: htmlContent };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -288
      ],
      "id": "f44dceba-883b-43cc-9460-e122cbfdc4a9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crearItem-inventario-it",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -80
      ],
      "id": "f35a48f2-9202-4e62-941f-6fe5bca79cc7",
      "name": "crearItem-inventario-it",
      "webhookId": "194d754c-66ca-4b4e-b4ff-83ed23b2b4f2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Inventario-IT",
          "mode": "list",
          "cachedResultName": "Inventario-IT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numero": "={{ $json.body.Numero }}",
            "Nombre": "={{ $json.body.Nombre }}",
            "Tipo": "={{ $json.body.Tipo }}",
            "Medio": "={{ $json.body.Medio }}",
            "Longitud": "={{ $json.body.Longitud }}",
            "Nota": "={{ $json.body.Nota }}"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Medio",
              "displayName": "Medio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nota",
              "displayName": "Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Numero",
              "displayName": "Numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -80
      ],
      "id": "48380056-3905-4eee-bbc0-25c51da7bb6a",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "UPETCYNZNCReuZu8",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eliminarItem-inventario-it",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        112
      ],
      "id": "01b8323c-dd9a-492f-8006-1cbc75ee91b2",
      "name": "eliminarItem-inventario-it",
      "webhookId": "3022aaf3-4b6d-41a8-bab9-a01bcb11da0f"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Inventario-IT",
          "mode": "list",
          "cachedResultName": "Inventario-IT"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "Nombre",
              "value": "={{ $json.body.Nombre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        112
      ],
      "id": "766fc3b0-ed02-452c-ba79-0ba9f39b5248",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "UPETCYNZNCReuZu8",
          "name": "Postgres Supabase"
        }
      }
    }
  ],
  "pinData": {
    "crearItem-inventario-it": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.tailwind.es",
            "x-forwarded-for": "2.136.43.122",
            "x-forwarded-proto": "https",
            "content-length": "89",
            "sec-ch-ua-platform": "\"Linux\"",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Brave\";v=\"144\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "es-ES,es;q=0.8",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd"
          },
          "params": {},
          "query": {},
          "body": {
            "Nombre": "VGA",
            "Tipo": "Cable",
            "Medio": "Video",
            "Longitud": "Media",
            "Numero": "1",
            "Nota": ""
          },
          "webhookUrl": "https://n8n.tailwind.es/webhook/crearItem-inventario-it",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "eliminarItem-inventario-it": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.tailwind.es",
            "x-forwarded-for": "2.136.43.122",
            "x-forwarded-proto": "https",
            "content-length": "19",
            "sec-ch-ua-platform": "\"Linux\"",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Brave\";v=\"144\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "es-ES,es;q=0.8",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd"
          },
          "params": {},
          "query": {},
          "body": {
            "Nombre": "PRUEBA"
          },
          "webhookUrl": "https://n8n.tailwind.es/webhook/eliminarItem-inventario-it",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-19T11:38:38.250Z",
      "createdAt": "2026-03-19T11:38:38.250Z",
      "role": "workflow:owner",
      "workflowId": "xUuWwV0vmLgLOv5xwQq7_",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2026-03-20T14:41:51.402Z",
  "versionId": "7068a26a-dba0-4c22-8585-0b1d178466d0"
}