workflows/ybyk5P0661JeWOCJ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "rules-shop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "surfin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "snowdivision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sierranevadagranada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "surfin": {
      "main": [
        [
          {
            "node": "Escribir Surfin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "snowdivision": {
      "main": [
        [
          {
            "node": "Escribir SnowDivision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rules-shop": {
      "main": [
        [
          {
            "node": "Escribir Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir Rules": {
      "main": [
        [
          {
            "node": "actualizar contador rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir Surfin": {
      "main": [
        [
          {
            "node": "actualizar contador surfin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir SnowDivision": {
      "main": [
        [
          {
            "node": "actualizar contador snowdivision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sierranevadagranada": {
      "main": [
        [
          {
            "node": "Escribir sierranevadagranada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir sierranevadagranada": {
      "main": [
        [
          {
            "node": "actualizar contador sierranevadagranada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-24T11:52:06.879Z",
  "id": "ybyk5P0661JeWOCJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Informe_Diario_Definitivo_PRUEBAS",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Correo').item.json.from.text }}",
                    "rightValue": "=reservas@rules-shop.es",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5702ef6b-4e43-4933-9af3-abf329de5e06"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1384d8f9-c75c-4be1-a293-98c0d102292b",
                    "leftValue": "={{ $('Correo').item.json.from.text }}",
                    "rightValue": "reservas@surfin.es",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fe1d90fc-f649-48e8-9f37-c58ef22f10c7",
                    "leftValue": "={{ $('Correo').item.json.from.text }}",
                    "rightValue": "reservas@snowdivision.es",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06d5176e-59be-4584-9efb-c8a5f233789c",
                    "leftValue": "={{ $('Correo').item.json.from.value[0].address }}",
                    "rightValue": "info@sierranevadagranada.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        336,
        32
      ],
      "id": "9198235c-f0ba-42c5-b0f4-9f99af253e82",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// 1. Accedemos a los datos del email original del nodo \"Correo\"\nconst correoOriginal = $('Correo').item.json;\nconst subject = correoOriginal.subject || \"\";\nconst bodyText = correoOriginal.text || \"\";\n\n// 2. Accedemos al contador base del nodo justo anterior ($input)\nconst datosPrevios = $input.first().json;\nconst contadorBase = parseInt(datosPrevios.contador_alquiler) || 2;\n\n// 3. Extraer Marca y Datos del Cliente\nconst marca = subject.includes(\"Surfin\") ? \"Surfin\" : (subject.includes(\"Snow Division\") ? \"Snow Division\" : \"Rules\");\nlet nombreCompleto = \"No encontrado\";\nconst partesAsunto = subject.split(\" - \");\nif (partesAsunto.length >= 3) {\n    nombreCompleto = partesAsunto[2].trim();\n}\nconst nombrePartes = nombreCompleto.split(\" \");\nconst nombre = nombrePartes[0];\nconst apellidos = nombrePartes.slice(1).join(\" \");\nconst clienteEmail = correoOriginal.to.value[0].address || \"No encontrado\";\n\n// 4. Totales e Identificador (Soporta PVRCA y SO)\nconst totalMatch = bodyText.match(/TOTAL:\\s*([\\d,.]+)/);\nconst precioTotal = totalMatch ? totalMatch[1].trim() : \"0.00\";\nconst orderMatch = bodyText.match(/Identificador:\\s*\\n*([A-Z0-9]+)/);\nconst idPedido = orderMatch ? orderMatch[1].trim() : \"No encontrado\";\n\n// 5. Canal y Método de Pago\nconst canalMatch = bodyText.match(/Canal:\\s*\\n*([^\\n]+)/);\nconst canalVenta = canalMatch ? canalMatch[1].trim() : \"Desconocido\";\nconst pagoMatch = bodyText.match(/Acción requerida\\s+[\\d,.]+€\\s+[\\d/]+\\s+([^\\n\\t]+)\\s+Efectuado/i);\nconst metodoPago = pagoMatch ? pagoMatch[1].trim() : \"No encontrado\";\n\n// 6. Extraer y AGRUPAR Productos\nconst productosMap = {};\nconst productRegex = /([A-Z0-9\\sÁÉÍÓÚÑ\\-]{5,})\\n\\n(\\d+)\\s+([\\d,.]+)€/g;\nlet match;\n\nwhile ((match = productRegex.exec(bodyText)) !== null) {\n    let nombreProd = match[1].trim();\n    if (nombreProd.includes(\"2X1\")) nombreProd = \"EQUIPO ESQUÍ 2X1\";\n    const cantidad = parseInt(match[2]);\n    const precioUnitario = match[3].replace(',', '.');\n\n    if (productosMap[nombreProd]) {\n        productosMap[nombreProd].cantidad += cantidad;\n    } else {\n        productosMap[nombreProd] = { nombre: nombreProd, cantidad, precio_unitario: precioUnitario };\n    }\n}\n\n// 7. Generar salida para Google Sheets (Fila 1 con datos, resto vacías)\nconst productosArray = Object.values(productosMap);\nconst resumenTexto = productosArray.map(p => `${p.nombre} x${p.cantidad}`).join(', ');\n\nreturn productosArray.map((prod, index) => {\n    if (index === 0) {\n        // Primera fila: Todos los datos comunes + el primer producto\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"marca\": marca,\n            \"cliente_nombre\": nombre,\n            \"cliente_apellidos\": apellidos,\n            \"cliente_email\": clienteEmail,\n            \"id_pedido\": idPedido,\n            \"canal\": canalVenta,\n            \"metodo_pago\": metodoPago,\n            \"total_compra\": precioTotal,\n            \"nombre_producto\": prod.nombre,\n            \"cantidad\": prod.cantidad,\n            \"precio_unitario\": prod.precio_unitario,\n            \"productos_resumen\": resumenTexto\n        };\n    } else {\n        // Filas siguientes: Solo datos del producto y el número de fila\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"marca\": \"\",\n            \"cliente_nombre\": \"\",\n            \"cliente_apellidos\": \"\",\n            \"cliente_email\": \"\",\n            \"id_pedido\": \"\",\n            \"canal\": \"\",\n            \"metodo_pago\": \"\",\n            \"total_compra\": \"\",\n            \"nombre_producto\": prod.nombre,\n            \"cantidad\": prod.cantidad,\n            \"precio_unitario\": prod.precio_unitario,\n            \"productos_resumen\": \"\"\n        };\n    }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -224
      ],
      "id": "988a5f2d-be0b-4fa1-80b3-62f5d7d2ee4f",
      "name": "rules-shop"
    },
    {
      "parameters": {
        "jsCode": "// 1. Accedemos a los datos del email original\nconst correoOriginal = $('Correo').item.json;\nconst subject = correoOriginal.subject || \"\";\nconst bodyText = correoOriginal.text || \"\";\n\n// 2. Accedemos al contador del nodo anterior\nconst datosPrevios = $input.first().json;\nconst contadorBase = parseInt(datosPrevios.contador_alquiler) || 2;\n\n// 3. Extraer Marca y Datos del Cliente\nconst marca = subject.includes(\"Surfin\") ? \"Surfin\" : (subject.includes(\"Snow Division\") ? \"Snow Division\" : \"Rules\");\nlet nombreCompleto = \"No encontrado\";\nconst partesAsunto = subject.split(\" - \");\nif (partesAsunto.length >= 3) {\n    nombreCompleto = partesAsunto[2].trim();\n}\nconst nombrePartes = nombreCompleto.split(\" \");\nconst nombre = nombrePartes[0];\nconst apellidos = nombrePartes.slice(1).join(\" \");\nconst clienteEmail = correoOriginal.to.value[0].address || \"No encontrado\";\n\n// 4. Totales e Identificador\nconst totalMatch = bodyText.match(/TOTAL:\\s*([\\d,.]+)/);\nconst precioTotal = totalMatch ? totalMatch[1].trim() : \"0.00\";\nconst orderMatch = bodyText.match(/Identificador:\\s*\\n*([A-Z0-9]+)/);\nconst idPedido = orderMatch ? orderMatch[1].trim() : \"No encontrado\";\n\n// 5. Canal y Método de Pago\nconst canalMatch = bodyText.match(/Canal:\\s*\\n*([^\\n]+)/);\nconst canalVenta = canalMatch ? canalMatch[1].trim() : \"Desconocido\";\nconst pagoMatch = bodyText.match(/Acción requerida\\s+[\\d,.]+€\\s+[\\d/]+\\s+([^\\n\\t]+)\\s+Efectuado/i);\nconst metodoPago = pagoMatch ? pagoMatch[1].trim() : \"No encontrado\";\n\n// 6. Extraer y AGRUPAR Productos\nconst productosMap = {};\nconst productRegex = /([A-Z0-9\\sÁÉÍÓÚÑ\\-]{5,})\\n\\n(\\d+)\\s+([\\d,.]+)€/g;\nlet match;\n\nwhile ((match = productRegex.exec(bodyText)) !== null) {\n    let nombreProd = match[1].trim();\n    if (nombreProd.includes(\"2X1\")) nombreProd = \"EQUIPOS AL PRECIO DE UNO\";\n    const cantidad = parseInt(match[2]);\n    const precioUnitario = match[3].replace(',', '.');\n\n    if (productosMap[nombreProd]) {\n        productosMap[nombreProd].cantidad += cantidad;\n    } else {\n        productosMap[nombreProd] = { nombre: nombreProd, cantidad, precio_unitario: precioUnitario };\n    }\n}\n\n// 7. CREAR SALIDA DIFERENCIADA (Primera fila vs Resto)\nconst productosArray = Object.values(productosMap);\nconst resumenTexto = productosArray.map(p => `${p.nombre} x${p.cantidad}`).join(', ');\n\nreturn productosArray.map((prod, index) => {\n    // Si es el primer producto (index 0), incluimos todos los datos\n    if (index === 0) {\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"MARCA\": marca,\n            \"NOMBRE CLIENTE\": nombre,\n            \"APELLIDOS\": apellidos,\n            \"ID PEDIDO\": idPedido,\n            \"EMAIL\": clienteEmail,\n            \"CANAL\": canalVenta,\n            \"MÉTODO DE PAGO\": metodoPago,\n            \"TOTAL COMPRA (+IVA)\": precioTotal,\n            \"NOMBRE PRODUCTO\": prod.nombre,\n            \"CANTIDAD\": prod.cantidad,\n            \"PRECIO UNITARIO\": prod.precio_unitario,\n            \"RESUMEN\": resumenTexto\n        };\n    } else {\n        // Para el resto de filas (index > 0), enviamos campos comunes vacíos o nulos\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"MARCA\": \"\", \n            \"NOMBRE CLIENTE\": \"\",\n            \"APELLIDOS\": \"\",\n            \"ID PEDIDO\": \"\",\n            \"EMAIL\": \"\",\n            \"CANAL\": \"\",\n            \"MÉTODO DE PAGO\": \"\",\n            \"TOTAL COMPRA (+IVA)\": \"\",\n            \"NOMBRE PRODUCTO\": prod.nombre,\n            \"CANTIDAD\": prod.cantidad,\n            \"PRECIO UNITARIO\": prod.precio_unitario,\n            \"RESUMEN\": \"\"\n        };\n    }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -32
      ],
      "id": "3642d410-a4e1-4c4b-9a81-4d9ab7c0b8c2",
      "name": "surfin"
    },
    {
      "parameters": {
        "jsCode": "// 1. Accedemos a los datos del email original\nconst correoOriginal = $('Correo').item.json;\nconst subject = correoOriginal.subject || \"\";\nconst bodyText = correoOriginal.text || \"\";\n\n// 2. Accedemos al contador base del nodo anterior\nconst datosPrevios = $input.first().json;\nconst contadorBase = parseInt(datosPrevios.contador_alquiler) || 2;\n\n// 3. Identificar Marca\nlet marca = \"Rules\";\nif (subject.toLowerCase().includes(\"surfin\")) marca = \"Surfin\";\nif (subject.toLowerCase().includes(\"snow division\")) marca = \"Snow Division\";\n\n// 4. Extraer Datos del Cliente\nlet nombreCompleto = \"No encontrado\";\nconst partesAsunto = subject.split(\" - \");\nif (partesAsunto.length >= 3) {\n    nombreCompleto = partesAsunto[2].trim();\n}\nconst nombrePartes = nombreCompleto.split(\" \");\nconst nombre = nombrePartes[0];\nconst apellidos = nombrePartes.slice(1).join(\" \");\nconst clienteEmail = correoOriginal.to.value[0].address || \"No encontrado\";\n\n// 5. Totales e Identificador\nconst totalMatch = bodyText.match(/TOTAL:\\s*([\\d,.]+)/);\nconst precioTotal = totalMatch ? totalMatch[1].trim() : \"0.00\";\nconst orderMatch = bodyText.match(/Identificador:\\s*\\n*([A-Z0-9]+)/);\nconst idPedido = orderMatch ? orderMatch[1].trim() : \"No encontrado\";\n\n// 6. Canal y Método de Pago\nconst canalMatch = bodyText.match(/Canal:\\s*\\n*([^\\n]+)/);\nconst canalVenta = canalMatch ? canalMatch[1].trim() : \"Desconocido\";\nconst pagoMatch = bodyText.match(/Acción requerida\\s+[\\d,.]+€\\s+[\\d/]+\\s+([^\\n\\t]+)\\s+Efectuado/i);\nconst metodoPago = pagoMatch ? pagoMatch[1].trim() : \"No encontrado\";\n\n// 7. Extraer y AGRUPAR Productos\nconst productosMap = {};\nconst productRegex = /([A-Z0-9\\sÁÉÍÓÚÑ\\-]{5,})\\n\\n(\\d+)\\s+([\\d,.]+)€/g;\nlet match;\n\nwhile ((match = productRegex.exec(bodyText)) !== null) {\n    let nombreProd = match[1].trim();\n    if (nombreProd.includes(\"2X1\")) nombreProd = \"EQUIPO ESQUÍ 2X1\";\n    const cantidad = parseInt(match[2]);\n    const precioUnitario = match[3].replace(',', '.');\n\n    if (productosMap[nombreProd]) {\n        productosMap[nombreProd].cantidad += cantidad;\n    } else {\n        productosMap[nombreProd] = { nombre: nombreProd, cantidad, precio_unitario: precioUnitario };\n    }\n}\n\n// 8. Generar salida plana para Google Sheets (Primera fila vs Resto)\nconst productosArray = Object.values(productosMap);\nconst resumenTexto = productosArray.map(p => `${p.nombre} x${p.cantidad}`).join(', ');\n\nreturn productosArray.map((prod, index) => {\n    if (index === 0) {\n        // Fila 1: Todos los datos\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"marca\": marca,\n            \"cliente_nombre\": nombre,\n            \"cliente_apellidos\": apellidos,\n            \"cliente_email\": clienteEmail,\n            \"id_pedido\": idPedido,\n            \"canal\": canalVenta,\n            \"metodo_pago\": metodoPago,\n            \"total_compra\": precioTotal,\n            \"nombre_producto\": prod.nombre,\n            \"cantidad\": prod.cantidad,\n            \"precio_unitario\": prod.precio_unitario,\n            \"productos_resumen\": resumenTexto\n        };\n    } else {\n        // Filas siguientes: Datos comunes vacíos\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"marca\": \"\",\n            \"cliente_nombre\": \"\",\n            \"cliente_apellidos\": \"\",\n            \"cliente_email\": \"\",\n            \"id_pedido\": \"\",\n            \"canal\": \"\",\n            \"metodo_pago\": \"\",\n            \"total_compra\": \"\",\n            \"nombre_producto\": prod.nombre,\n            \"cantidad\": prod.cantidad,\n            \"precio_unitario\": prod.precio_unitario,\n            \"productos_resumen\": \"\"\n        };\n    }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ],
      "id": "964a608d-a968-4cc7-88b6-5621f95b240f",
      "name": "snowdivision"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IUsdbRMmbgTdrVQp",
          "mode": "list",
          "cachedResultName": "informeDiarioPruebas",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/IUsdbRMmbgTdrVQp"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        176,
        64
      ],
      "id": "f6703e0e-c7af-4149-8412-5f77dc08a659",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "info@sierranevadagranada.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "519a9202-4f3e-43af-876d-4c46b9185575",
      "name": "Correo",
      "credentials": {
        "gmailOAuth2": {
          "id": "fha7KwAzrDSA7OXO",
          "name": "ventas@sierranevadagranada.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18Xh0rnGhJeT1huBmAjbQygLX4_Qsq4cstnC7iHcRz5I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alquiler",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.numero_fila }}",
            "MARCA": "={{ $json.marca }}",
            "NOMBRE CLIENTE": "={{ $json.cliente_nombre }}",
            "ID PEDIDO": "={{ $json.id_pedido }}",
            "EMAIL": "={{ $json.cliente_email }}",
            "CANAL": "={{ $json.canal }}",
            "MÉTODO DE PAGO": "={{ $json.metodo_pago }}",
            "TOTAL COMPRA (+IVA)": "={{ $json.total_compra }}",
            "NOMBRE PRODUCTO": "={{ $json.nombre_producto }}",
            "CANTIDAD": "={{ $json.cantidad }}",
            "PRECIO UNITARIO": "={{ $json.precio_unitario }}",
            "RESUMEN": "={{ $json.productos_resumen }}",
            "APELLIDOS CLIENTE": "={{ $json.cliente_apellidos }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "MARCA",
              "displayName": "MARCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE CLIENTE",
              "displayName": "NOMBRE CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "APELLIDOS CLIENTE",
              "displayName": "APELLIDOS CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID PEDIDO",
              "displayName": "ID PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANAL",
              "displayName": "CANAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL COMPRA (+IVA)",
              "displayName": "TOTAL COMPRA (+IVA)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANTIDAD",
              "displayName": "CANTIDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO UNITARIO",
              "displayName": "PRECIO UNITARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESUMEN",
              "displayName": "RESUMEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        160
      ],
      "id": "4744a505-57a2-4461-94b6-aff96b7b2e4c",
      "name": "Escribir SnowDivision",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18Xh0rnGhJeT1huBmAjbQygLX4_Qsq4cstnC7iHcRz5I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alquiler",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.numero_fila }}",
            "MARCA": "={{ $json.MARCA }}",
            "NOMBRE CLIENTE": "={{ $json['NOMBRE CLIENTE'] }}",
            "ID PEDIDO": "={{ $json['ID PEDIDO'] }}",
            "EMAIL": "={{ $json.EMAIL }}",
            "CANAL": "={{ $json.CANAL }}",
            "MÉTODO DE PAGO": "={{ $json['MÉTODO DE PAGO'] }}",
            "TOTAL COMPRA (+IVA)": "={{ $json['TOTAL COMPRA (+IVA)'] }}",
            "NOMBRE PRODUCTO": "={{ $json['NOMBRE PRODUCTO'] }}",
            "CANTIDAD": "={{ $json.CANTIDAD }}",
            "PRECIO UNITARIO": "={{ $json['PRECIO UNITARIO'] }}",
            "RESUMEN": "={{ $json.RESUMEN }}",
            "APELLIDOS CLIENTE": "={{ $json.APELLIDOS }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "MARCA",
              "displayName": "MARCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE CLIENTE",
              "displayName": "NOMBRE CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "APELLIDOS CLIENTE",
              "displayName": "APELLIDOS CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID PEDIDO",
              "displayName": "ID PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANAL",
              "displayName": "CANAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL COMPRA (+IVA)",
              "displayName": "TOTAL COMPRA (+IVA)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANTIDAD",
              "displayName": "CANTIDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO UNITARIO",
              "displayName": "PRECIO UNITARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESUMEN",
              "displayName": "RESUMEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -32
      ],
      "id": "6448b2b7-6959-4d3c-bbfa-c86970073e4c",
      "name": "Escribir Surfin",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18Xh0rnGhJeT1huBmAjbQygLX4_Qsq4cstnC7iHcRz5I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alquiler",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.numero_fila }}",
            "MARCA": "={{ $json.marca }}",
            "NOMBRE CLIENTE": "={{ $json.cliente_nombre }}",
            "ID PEDIDO": "={{ $json.id_pedido }}",
            "EMAIL": "={{ $json.cliente_email }}",
            "CANAL": "={{ $json.canal }}",
            "MÉTODO DE PAGO": "={{ $json.metodo_pago }}",
            "TOTAL COMPRA (+IVA)": "={{ $json.total_compra }}",
            "NOMBRE PRODUCTO": "={{ $json.nombre_producto }}",
            "CANTIDAD": "={{ $json.cantidad }}",
            "PRECIO UNITARIO": "={{ $json.precio_unitario }}",
            "RESUMEN": "={{ $json.productos_resumen }}",
            "APELLIDOS CLIENTE": "={{ $json.cliente_apellidos }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "MARCA",
              "displayName": "MARCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE CLIENTE",
              "displayName": "NOMBRE CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "APELLIDOS CLIENTE",
              "displayName": "APELLIDOS CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID PEDIDO",
              "displayName": "ID PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANAL",
              "displayName": "CANAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL COMPRA (+IVA)",
              "displayName": "TOTAL COMPRA (+IVA)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANTIDAD",
              "displayName": "CANTIDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO UNITARIO",
              "displayName": "PRECIO UNITARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESUMEN",
              "displayName": "RESUMEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -224
      ],
      "id": "385aafd8-a271-4aa2-bbcf-75ef64060aa1",
      "name": "Escribir Rules",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "IUsdbRMmbgTdrVQp",
          "mode": "list",
          "cachedResultName": "informeDiarioPruebas",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/IUsdbRMmbgTdrVQp"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador_alquiler": "={{ $json.row_number + 1}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_documento",
              "displayName": "id_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador_alquiler",
              "displayName": "contador_alquiler",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        944,
        -224
      ],
      "id": "126a90e8-2cba-4563-bb9d-18c621a6262b",
      "name": "actualizar contador rules"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "IUsdbRMmbgTdrVQp",
          "mode": "list",
          "cachedResultName": "informeDiarioPruebas",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/IUsdbRMmbgTdrVQp"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador_alquiler": "={{ $json.row_number + 1}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_documento",
              "displayName": "id_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador_alquiler",
              "displayName": "contador_alquiler",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        -32
      ],
      "id": "3e4453d3-c183-4b13-b069-f43cd68f630e",
      "name": "actualizar contador surfin"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "IUsdbRMmbgTdrVQp",
          "mode": "list",
          "cachedResultName": "informeDiarioPruebas",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/IUsdbRMmbgTdrVQp"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador_alquiler": "={{ $json.row_number + 1}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_documento",
              "displayName": "id_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador_alquiler",
              "displayName": "contador_alquiler",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        160
      ],
      "id": "c96325b9-2d6c-45ce-9568-597dd08a1705",
      "name": "actualizar contador snowdivision"
    },
    {
      "parameters": {
        "jsCode": "// 1. Accedemos a los datos del email original del nodo \"Correo\"\nconst correoOriginal = $('Correo').item.json;\nconst subject = correoOriginal.subject || \"\";\nconst bodyText = correoOriginal.text || \"\";\n\n// 2. Accedemos al contador base del nodo anterior ($input)\nconst datosPrevios = $input.first().json;\nconst contadorBase = parseInt(datosPrevios.contador_alquiler) || 2;\n\n// 3. Extraer Marca (Sierra Nevada Granada)\nlet marca = \"Sierra Nevada Granada\";\n\n// 4. Extraer Datos del Cliente del Subject\n// Formato: Localizador pedido - Noelia Ruiz - canal Reservas\nlet nombreCompleto = \"No encontrado\";\nconst partesAsunto = subject.split(\" - \");\nif (partesAsunto.length >= 2) {\n    nombreCompleto = partesAsunto[1].trim();\n}\nconst nombrePartes = nombreCompleto.split(\" \");\nconst nombre = nombrePartes[0];\nconst apellidos = nombrePartes.slice(1).join(\" \");\nconst clienteEmail = correoOriginal.from.value[0].address || \"No encontrado\";\n\n// 5. Identificador del Pedido (Número: SO...)\nconst orderMatch = bodyText.match(/N[úu]mero:\\s*(SO\\d+)/i);\nconst idPedido = orderMatch ? orderMatch[1].trim() : \"No encontrado\";\n\n// 6. Canal de Venta\nconst canalVenta = partesAsunto[2] ? partesAsunto[2].replace(\"canal \", \"\").trim() : \"Reservas\";\n\n// 7. Extraer y AGRUPAR Productos\nconst productosMap = {};\n\n/** * AJUSTE CLAVE: Nuevo Regex para el formato Sierra Nevada \n * Busca el nombre del producto y la cantidad que aparece después de \"Cant.\"\n */\nconst productRegex = /Descripci[óo]n\\s+Cant\\.\\s+([\\w\\sÁÉÍÓÚÑ\\-]+?)\\s+(\\d+[\\d,.]*)/g;\nlet match;\n\nwhile ((match = productRegex.exec(bodyText)) !== null) {\n    let nombreProd = match[1].trim();\n    // Limpiamos posibles fragmentos de texto basura o saltos de línea\n    nombreProd = nombreProd.split('\\n')[0].trim();\n    \n    // Convertimos cantidad \"1,000000\" a número 1\n    const cantidad = parseInt(match[2].split(',')[0]);\n\n    if (productosMap[nombreProd]) {\n        productosMap[nombreProd].cantidad += cantidad;\n    } else {\n        productosMap[nombreProd] = { \n            nombre: nombreProd, \n            cantidad: cantidad, \n            precio_unitario: \"Ver email\" \n        };\n    }\n}\n\n// 8. Si el Regex falló, intentamos una búsqueda de emergencia para Forfaits\nif (Object.keys(productosMap).length === 0) {\n    const forfaitMatch = bodyText.match(/Forfait\\s+D[íi]as\\s+Consecutivos/i);\n    if (forfaitMatch) {\n        productosMap[\"FORFAIT DÍAS CONSECUTIVOS\"] = { nombre: \"FORFAIT DÍAS CONSECUTIVOS\", cantidad: 1, precio_unitario: \"Ver email\" };\n    }\n}\n\n// 9. Generar salida para Google Sheets (Fila 1 con datos, resto vacías)\nconst productosArray = Object.values(productosMap);\nconst resumenTexto = productosArray.map(p => `${p.nombre} x${p.cantidad}`).join(', ');\n\nreturn productosArray.map((prod, index) => {\n    if (index === 0) {\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"marca\": marca,\n            \"cliente_nombre\": nombre,\n            \"cliente_apellidos\": apellidos,\n            \"cliente_email\": clienteEmail,\n            \"id_pedido\": idPedido,\n            \"canal\": canalVenta,\n            \"metodo_pago\": \"Tarjeta\",\n            \"total_compra\": \"Ver justificante\",\n            \"nombre_producto\": prod.nombre,\n            \"cantidad\": prod.cantidad,\n            \"precio_unitario\": prod.precio_unitario,\n            \"productos_resumen\": resumenTexto\n        };\n    } else {\n        return {\n            \"numero_fila\": contadorBase + index,\n            \"marca\": \"\",\n            \"cliente_nombre\": \"\",\n            \"cliente_apellidos\": \"\",\n            \"cliente_email\": \"\",\n            \"id_pedido\": \"\",\n            \"canal\": \"\",\n            \"metodo_pago\": \"\",\n            \"total_compra\": \"\",\n            \"nombre_producto\": prod.nombre,\n            \"cantidad\": prod.cantidad,\n            \"precio_unitario\": prod.precio_unitario,\n            \"productos_resumen\": \"\"\n        };\n    }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        384
      ],
      "id": "6cc8b144-5171-4889-b9ee-3e702a7447ad",
      "name": "sierranevadagranada"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18Xh0rnGhJeT1huBmAjbQygLX4_Qsq4cstnC7iHcRz5I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alquiler",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.numero_fila }}",
            "MARCA": "={{ $json.marca }}",
            "NOMBRE CLIENTE": "={{ $json.cliente_nombre }}",
            "ID PEDIDO": "={{ $json.id_pedido }}",
            "EMAIL": "={{ $json.cliente_email }}",
            "CANAL": "={{ $json.canal }}",
            "MÉTODO DE PAGO": "={{ $json.metodo_pago }}",
            "TOTAL COMPRA (+IVA)": "={{ $json.total_compra }}",
            "NOMBRE PRODUCTO": "={{ $json.nombre_producto }}",
            "CANTIDAD": "={{ $json.cantidad }}",
            "PRECIO UNITARIO": "={{ $json.precio_unitario }}",
            "RESUMEN": "={{ $json.productos_resumen }}",
            "APELLIDOS CLIENTE": "={{ $json.cliente_apellidos }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "MARCA",
              "displayName": "MARCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE CLIENTE",
              "displayName": "NOMBRE CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "APELLIDOS CLIENTE",
              "displayName": "APELLIDOS CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID PEDIDO",
              "displayName": "ID PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANAL",
              "displayName": "CANAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MÉTODO DE PAGO",
              "displayName": "MÉTODO DE PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL COMPRA (+IVA)",
              "displayName": "TOTAL COMPRA (+IVA)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE PRODUCTO",
              "displayName": "NOMBRE PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CANTIDAD",
              "displayName": "CANTIDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRECIO UNITARIO",
              "displayName": "PRECIO UNITARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESUMEN",
              "displayName": "RESUMEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        384
      ],
      "id": "af7b91aa-fb7d-4124-ac16-a5a7100787d1",
      "name": "Escribir sierranevadagranada",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCuKUCifcA4jENcY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "IUsdbRMmbgTdrVQp",
          "mode": "list",
          "cachedResultName": "informeDiarioPruebas",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/IUsdbRMmbgTdrVQp"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador_alquiler": "={{ $json.row_number + 1}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_documento",
              "displayName": "id_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contador_alquiler",
              "displayName": "contador_alquiler",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        384
      ],
      "id": "33b4250e-bb55-4a26-aabb-0d14b45da492",
      "name": "actualizar contador sierranevadagranada"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-24T11:52:06.883Z",
      "createdAt": "2026-01-24T11:52:06.883Z",
      "role": "workflow:owner",
      "workflowId": "ybyk5P0661JeWOCJ",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1769257415
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-26T12:55:14.232Z",
  "versionId": "ea372014-c957-48b4-8786-09147372c60c"
}