workflows/YUPMjmLvnBwe9nE5.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T07:57:47.380Z",
  "id": "YUPMjmLvnBwe9nE5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TRASFERENCIAS SHOPIFY",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transferenciasn8n",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -16
      ],
      "id": "83c0b732-698b-413f-b61b-7652706706cb",
      "name": "Webhook",
      "webhookId": "7929398a-230d-402b-8dcf-ffbcda973cea"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://nuance-store-spain.myshopify.com/admin/api/2025-10/graphql.json",
        "query": "query getTransferDetails($id: ID!) {\n  node(id: $id) {\n    ... on InventoryTransfer {\n      id\n      status\n      dateCreated\n      origin {\n        location {\n          name\n        }\n      }\n      destination {\n        location {\n          name\n        }\n      }\n      lineItems(first: 50) {\n        nodes {\n          totalQuantity\n          inventoryItem {\n            id\n            variant {\n              id\n              sku\n              title\n              product {\n                title\n                featuredImage {\n                  url\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}",
        "variables": "={\n  \"id\": \"{{ $json.body[0].data.node.id }}\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -48,
        -16
      ],
      "id": "57d023c1-61df-4dae-831e-be7d3425ceb2",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "36bBHEvkvYhxPhfA",
          "name": "Nuance"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "xPjOMLaJ5cFSqmvs",
          "mode": "list",
          "cachedResultName": "id_locations",
          "cachedResultUrl": "/projects/x5UZcmGQw2OWHuXb/datatables/xPjOMLaJ5cFSqmvs"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        160,
        -16
      ],
      "id": "d341950d-4eee-4e6f-81e6-cd0a659bc32b",
      "name": "Get row(s)"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T07:57:47.385Z",
      "createdAt": "2025-12-11T07:57:47.385Z",
      "role": "workflow:owner",
      "workflowId": "YUPMjmLvnBwe9nE5",
      "projectId": "x5UZcmGQw2OWHuXb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-29T08:27:45.000Z",
  "versionId": "ae3e8f93-2795-41b1-bbe8-f8c4b22e2b81"
}